.light-mode a:link {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
}
.light-mode a:visited {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
}
a:link {
    color: deepskyblue;
    background-color: transparent;
    text-decoration: underline;
}
a:visited {
    color: deepskyblue;
    background-color: transparent;
    text-decoration: underline;
}
body {
    padding: 25px;
/*    background-color: black; */
    background-color: #38444d;
    color: white;
}
li {
  margin-left: 0px;
}
textarea {
  resize: none;
  width: 400px;
  height: 50px;
}