*, *::before, *::after {
    box-sizing: border-box;
    border: none;
    margin: 0;
}

html {
    height: 100%;
    /*font-size: 62.5%; !* (62.5/100) * 16px = 10px *!*/
    -webkit-text-size-adjust: none; /* for iOS Safari */
    text-size-adjust: none; /* for other mobile browsers */
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

img {
    display: block;
    max-width: 100%;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
    /*list-style: none;*/
}

menu,
ol,
ul {
    padding-left: 0;
}

article ol,
article ul {
    list-style-position: inside;
}

a {
    /* Places underlines below the descenders */
    text-underline-position: under;


    /* Sets the thickness as a percentage of the font size */
    text-decoration-thickness: 8%;
}

:focus:not(:focus-visible) {
    outline: none;
}

label, button, select, summary,
[type=radio], [type=submit], [type=checkbox] {
    cursor: pointer;
}
