.light-mode a:link {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
}
.light-mode a:visited {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
}
a:link {
    color: deepskyblue;
    background-color: transparent;
    text-decoration: underline;
}
a:visited {
    color: deepskyblue;
    background-color: transparent;
    text-decoration: underline;
}
.content {
    padding: 25px;
    color: white;
}
body {
    background-color: #38444d;
    position: sticky;
    top: 0;
}
.sticky {
    position: sticky;
    top: 0;
}
.header {
    background-color: #38444d;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: solid grey 1px;
    display: flex;
    gap: 10px;
}
textarea {
  resize: none;
  width: 400px;
  height: 50px;
}
