@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --icon-light-on: url('../imgs/light-on.png');
    --icon-light-off: url('../imgs/light-off.png');
    --drawer-image-width: 30px;
    --drawer-image-height: 30px;
    --nav-padding: 15px;
    --nav-height: 30px;

}

nav, .nav-wrapper, nav ul {
    display: flex;
    flex-direction: row;
}

nav {
    position: sticky;
    top: 0;
    padding: var(--nav-padding);
    background-color: #303941;
    border-bottom: 1px solid grey;
    transition: all .5s ease-in-out;
}

.nav-wrapper {
    height: var(--nav-height);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-wrapper ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 5px;
    list-style-type: none;
    flex-grow: 2;
}

.nav-wrapper li {
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-wrapper ul > li > a {
    display: block;
    color: lightgray;
    text-decoration: none;
    font-size: 1.5rem;
}

.visuallyHidden {
    display: none;
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px; width: 1px;
    margin: -1px; padding: 0; border: 0;
}

.hamburger {
    margin: 0 auto;
    width: 30px;
    height: 30px;
    position: relative;
}

.hamburger .bar {
    padding: 0;
    width: 30px;
    height: 4px;
    background-color: yellow;
    display: block;
    border-radius: 4px;
    transition: all .5s ease-in-out;
    position: absolute;
}

.bar1 {
    top: 0;
}

.bar2,
.bar3 {
    top: 13.5px;
}

.bar3 {
    right: 0;
}

.bar4 {
    bottom: 0;
}

/* HAMBURGER */

.hamburger .bar1 {
    transform-origin: 5%;
}

.hamburger .bar4 {
    transform-origin: 5%;
}

#handle-image {
    position: fixed;
    left: var(--nav-padding);
    top: calc(((var(--nav-height) + var(--nav-padding) * 2) - var(--drawer-image-height)) / 2);
    width: var(--drawer-image-width);
    z-index: 999;
    display: flex;
    align-items: center;
}

#handle-image.sidebar-open {
    left: calc(var(--sidebar-width) - var(--drawer-image-width) - var(--nav-padding));
}

#handle-image, #handle-image.sidebar-open {
        transition: all .5s ease-out;
}

#drawer-handle:checked + label > .hamburger > .bar1{
    transform: rotate(45deg);
    height: 3px;
    width: 42px;
}

#drawer-handle:checked + label > .hamburger > .bar3{
    transform: rotate(45deg);
    height: 3px;
    background-color: transparent;
}

#drawer-handle:checked + label > .hamburger > .bar2{
    transform: rotate(-45deg);
    height: 3px;
    background-color: transparent;
}

#drawer-handle:checked + label > .hamburger > .bar4{
    transform: rotate(-45deg);
    height: 3px;
    width: 42px;
}

#light-switch {
    height: 40px;
    width: 40px;
    border-style: none;
}

#light-switch.on {
    background-color: transparent;
    background-image: var(--icon-light-off);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#light-switch.off {
    background-color: transparent;
    background-image: var(--icon-light-on);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#discord, #spreadsheet, #ko-fi {
    display: block;
    height: 34px;
    width: 150px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#discord {
    background-image: url(../imgs/discord-logo-blue.png);
}
#spreadsheet {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 175px;
    background-image: url(../imgs/Google_Sheets.svg);
    background-position: left;
    color: #8ed1b1;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
}
#ko-fi {
    background-image: url(https://storage.ko-fi.com/cdn/kofi4.png?v=3);
}
.light-mode #spreadsheet {
    color: #1da261;
    text-decoration: none;
}