@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');


@font-face {
    font-family: 'Idleon';
    src: url(../fonts/Idleon.woff2) format('woff2'), url(../fonts/Idleon.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Space Mono';
    src: url(../fonts/SpaceMono-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root,
:root.dark-mode {
    --fg: white;
    --bg: hsla(206deg, 16%, 26%, 1);

    --fg-em: hsla(0deg, 2%, 82%, 1);
    --fg-link: hsla(195deg, 100%, 50%, 1);
    --fg-link-visited: hsla(271deg, 100%, 77%, 1);
    --fg-title: goldenrod;

    --border: 1px solid gray;

    --fg-error: hsla(0deg, 81%, 26%, 1);
    --bg-error: hsla(0deg, 75%, 78%, 1);
    --border-error: 1px solid darkred;

    --fg-subheading: goldenrod;
    --fg-subheading-progress: lightgoldenrodyellow;
    --fg-subheading-finished: springgreen;
    --bg-subheading: hsla(0deg, 0%, 100%, 0.1);
    --border-subheading: hsla(0deg, 100%, 100%, 0.3);

    --bg-pinchy: linear-gradient(to right, hsla(34deg, 100%, 50%, 20%), hsla(52deg, 100%, 50%, 20%));
    --bg-pinchy-banner: linear-gradient(to right, hsla(0deg, 0%, 0%, 45%), hsla(0deg, 0%, 0%, 20%));
    --fg-pinchy-title: var(--fg-title);
    --bg-pinchy-group-odd: hsla(0deg, 0%, 100%, 5%);
    --bg-pinchy-group-even: hsla(0deg, 0%, 0%, 10%);
    --fg-pinchy-subheading: hsla(41deg, 98.23%, 90.3%, 100%);
    --fg-pinchy-subheading-accent: hsla(44deg, 100%, 50%, 100%);

    --bg-general: linear-gradient(to bottom, hsla(312deg, 95%, 7%, 1), hsla(326deg, 91%, 21%, 1), hsla(8deg, 69%, 45%, 1));
    --general-fg-subheading: hsla(15deg, 25%, 65%, 1);
    --general-bg-subheading: hsla(15deg, 100%, 87%, 0.1);

    --general-fg-advice-group: hsla(15deg, 100%, 96%, 1);
    --general-bg-advice-group-odd: hsla(15deg, 42%, 69%, 0.3);
    --general-bg-advice-group-even: hsla(15deg, 52%, 73%, 0.6);

    --w1-fg-subheading: darkseagreen;
    --w1-bg-subheading: hsla(122deg, 100%, 87%, 0.1);

    --w1-fg-advice-group: hsl(120deg, 100%, 96%);
    --w1-bg-advice-group-odd: hsla(151deg, 42%, 69%, 0.3);
    --w1-bg-advice-group-even: hsla(142deg, 52%, 73%, 0.6);

    --w2-fg-subheading: hsl(50, 25%, 65%);
    --w2-bg-subheading: hsla(50, 100%, 86%, 0.1);

    --w2-fg-advice-group: hsl(50, 100%, 96%);
    --w2-bg-advice-group-odd: hsla(50, 42%, 69%, 0.3);
    --w2-bg-advice-group-even: hsla(50, 52%, 73%, 0.5);

    --bg-scrollbar-thumb: gray;
}

:root.light-mode {
    --fg: black;
    --bg: hsla(0deg, 0%, 89%);

    --fg-em: black;
    --fg-link: hsla(221deg, 100%, 54%);
    --fg-link-visited: hsla(271deg, 100%, 54%);
    --fg-title: hsla(145deg, 49%, 31%);

    --bg-aside: white;
    --bg-link: transparent;
    --bg-link-visited: transparent;

    --fg-subheading: hsla(43deg, 94%, 19%);
    --fg-subheading-progress: hsla(42.66deg, 87.53%, 38.08%, 1);
    --fg-subheading-finished: hsla(134deg, 98%, 34%);
    --border-subheading: hsla(0deg, 100%, 0%, 0.3);

    --fg-pinchy-title: hsla(43.94deg 93.41% 59.54%);
    --fg-pinchy-subheading: hsla(42deg, 62%, 23%);
    --fg-pinchy-subheading-accent: hsla(44deg, 97%, 36%);

    --bg-pinchy-group-odd: hsla(0deg, 0%, 100%, 0.5);
    --bg-pinchy-group-even: hsla(0deg, 0%, 0%, 20%);

    --bg-general: linear-gradient(to bottom, hsla(0deg, 95%, 90%, 1), hsla(8deg, 95%, 90%, 1), hsla(16deg, 95%, 90%, 1));
    --general-fg-subheading: hsla(0deg, 25%, 15%, 1);
    --general-bg-subheading: hsla(0deg, 100%, 87%, 0.1);

    --general-fg-advice-group: black;
    --general-bg-advice-group-odd: hsla(15deg, 42%, 69%, 0.3);
    --general-bg-advice-group-even: hsla(15deg, 52%, 73%, 0.5);

    --w1-fg-subheading: hsla(145deg, 50%, 29%);

    --w1-fg-advice-group: black;
    --w1-bg-advice-group-odd: hsla(153deg, 52%, 53%, 0.28);
    --w1-bg-advice-group-even: hsla(151deg, 53%, 53%, 0.43);

    --w2-fg-subheading: hsl(50, 50%, 29%);
    --w2-bg-subheading: hsla(50, 100%, 86%, 0.1);

    --w2-fg-advice-group: black;
    --w2-bg-advice-group-odd: hsla(50, 52%, 53%, 0.28);
    --w2-bg-advice-group-even: hsla(50, 53%, 53%, 0.43);

    * {
        text-shadow: none;
    }
}

em {
    font-weight: normal;
    color: var(--fg-em);
}

a {
    color: var(--fg-link);
    background-color: var(--bg-link);
    text-decoration: underline;
}

a:visited {
    color: var(--fg-link-visited);
    background-color: var(--bg-link-visited);
}
.bar {
    background-color: #93781d;
}
body {
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
    color: var(--fg);
    height: 100%;
    max-height: 100vh;
    align-items: center;
}
nav,
h1,
strong,
em,
form,
input,
textarea,
a,
body,
.advice-section,
.advice-group,
.subheading > span,
.tier-progress,
.finished {
    transition: color .5s ease-in-out, background-color .5s ease-in-out;
    .light-mode & {
        transition: color .5s ease-in-out, background-color .5s ease-in-out;
    }
}
ul {
    padding-left: 22px;
}
li {
    margin-left: 0;
    padding: 0;
}
textarea {
  resize: none;
  width: 400px;
  height: 50px;
}
.world-content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
h1, strong {
    color: var(--fg-title);
}
section {
    display: flex;
    flex-direction: row;
    column-gap: 10px;

    &:not(.new) {
        padding: 0 20px;
    }
}
aside {
    padding-bottom: 10px;
}
header {
    padding: 25px;
    border-bottom: var(--border);
    display: flex;
    flex-direction: column;
    row-gap: 1em;

    span:first-child {
        display: flex;
        flex-direction: row;
    }
}
footer {
    width: 100%;
    margin-top: auto; /*always sticks to the bottom of the page*/
    padding: 20px;
    border-top: var(--border);
    display: flex;
    align-items: center;
    justify-content: center;
}
.error {
    display: flex;
    justify-content: center;
    padding: 20px;
    color: var(--fg-error);
    background-color: var(--bg-error);
    border: var(--border-error);
    width: 100%;
}
.banner img {
    width: 100%;
}
.subheading {
    display: block;
}
.subheading img {
    max-width: 80px;
    min-width: 80px;
    height: 80px;
    object-fit: contain;
}
.subheading img.folded {
    display: block !important;
    max-width: 80px;
    height: 1em;
    object-fit: contain;
}

.advice-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    ul.folded {
        display: none;
    }
}
.content-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 15px;

    & > em {
        padding: 0 20px;
    }
    &.folded {
        display: none;
    }
}
.container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.main-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 120em;  /*1920px*/
}
main {
    display: flex;
    flex-direction: column;
}
.indent-1 {
    margin-left: 17px;
}
h1:not(.no-collapse),
strong:not(.no-collapse),
.banner:not(.no-collapse),
.subheading:not(.no-collapse) {
    cursor: pointer;
}
h1:not(.no-collapse):hover,
strong:not(.no-collapse):hover,
.banner:not(.no-collapse):hover,
.subheading:not(.no-collapse):hover {
    filter: brightness(130%);
    transition: filter .2s ease-in;
    .light-mode & {
        filter: brightness(70%);
    }
}

#w1.new {
    .subheading {
        background:var(--w1-bg-subheading);
        & > span {
            color: var(--w1-fg-subheading);
            .tier-progress {
                color: var(--fg-subheading-progress);
                &.finished {
                    color: var(--fg-subheading-finished);
                }
            }

        }
    }
    .advice-group {
        color: var(--w1-fg-advice-group);
        &:nth-child(odd) {
            background-color: var(--w1-bg-advice-group-odd);
        }
        &:nth-child(even) {
            background-color: var(--w1-bg-advice-group-even);
        }
    }
}

#w2.new {
    .subheading {
        background:var(--w2-bg-subheading);
        & > span {
            color: var(--w2-fg-subheading);
            .tier-progress {
                color: var(--fg-subheading-progress);
                &.finished {
                    color: var(--fg-subheading-finished);
                }
            }

        }
    }
    .advice-group {
        color: var(--w2-fg-advice-group);
        &:nth-child(odd) {
            background-color: var(--w2-bg-advice-group-odd);
        }
        &:nth-child(even) {
            background-color: var(--w2-bg-advice-group-even);
        }
    }
}

#pinchy.new {
    background: var(--bg-pinchy);
    .banner {
        background: var(--bg-pinchy-banner);
        color: var(--fg-pinchy-title);
        padding: 20px;
    }
    .subheading {
        background-color: hsla(255deg, 100%, 100%, 0.1);
        & > span {
            color: var(--fg-pinchy-subheading);
            span {
                color: var(--fg-pinchy-subheading-accent);
            }
        }
    }
    .advice-group {
        &:nth-child(even) {
            background: var(--bg-pinchy-group-even);
        }
        &:nth-child(odd) {
            background: var(--bg-pinchy-group-odd);
        }
    }
}

#general.new {
    background: var(--bg-general);
    .subheading {
        background:var(--general-bg-subheading);
        & > span {
            color: var(--general-fg-subheading);
        }
    }
    .advice-group {
        color: var(--general-fg-advice-group);
        &:nth-child(odd) {
            background-color: var(--general-bg-advice-group-odd);
        }
        &:nth-child(even) {
            background-color: var(--general-bg-advice-group-even);
        }
    }
}

#w1.new {
    .subheading {
        background:var(--w1-bg-subheading);
        & > span {
            color: var(--w1-fg-subheading);
        }
    }
    .advice-group {
        color: var(--w1-fg-advice-group);
        &:nth-child(odd) {
            background-color: var(--w1-bg-advice-group-odd);
        }
        &:nth-child(even) {
            background-color: var(--w1-bg-advice-group-even);
        }
    }
}

.new {
    display: flex;
    flex-direction: column;

    font-family: 'Kode Mono', sans-serif;
    font-weight: 700;
    font-variant-ligatures: none;
    text-shadow: 1px 1px black;

    &.world-content, .content-wrapper {
        row-gap: 0;
    }
    .content-wrapper {
        &.folded {
            display: none;
        }
        & > em {
            padding: 0 5vw;
        }
    }

    .subheading {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 20px;
        padding: 20px;

        &.folded {
            border-bottom: 1px solid var(--border-subheading);
        }

        span {
            color: goldenrod;

            .tier-progress {
                color: var(--fg-subheading-progress);
                &.finished {
                    color: var(--fg-subheading-finished);
                }
            }
        }
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    .advice-section {
        &.folded {
            display: none;
        }

        & > li {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
            row-gap: 10px;
            column-gap: 10px;
            padding: 10px;

            .advice-group {
                width: 100%;
            }
        }
    }

    .advice-group {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        padding: 20px;
        border-radius: 20px;
        color: var(--fg);
    }
    .table {
        display: grid;
        grid-template-columns: repeat(4, minmax(min-content, max-content));
        gap: 10px;

        li, li a {
            display: flex;
            align-items: center;
            column-gap: 7px;

            &:not(.advice) {
                justify-content: center;
            }
            a {
                width: 100%;
                color: var(--fg);
            }
        }
    }
    .advice {
        display: flex;
        align-items: center;
        margin-right: 20px;

        &::before {
            display: block;
            content: '';
            height: 40px;
            min-width: 40px;

            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
    .arrow {
        height: 0;
        width: 0;
        border-top: 5px solid transparent;
        border-left: 10px solid white;
        border-bottom: 5px solid transparent;
        margin: auto 10px;
    }
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--bg-scrollbar-thumb);
    border-radius: 10px;
}

@media (max-width: 600px) {
    .main {
        padding: 0;
    }
    article.new {
        .banner {
            overflow-x: hidden;

            img {
                margin-left: -5vw;
                width: unset;
                max-width: unset;
                height: fit-content;
            }
        }

        section.new {
            .advice-section > li {
                grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
            }

            .subheading, .advice-group {
                padding-left: 5vw;
                padding-right: 5vw;
            }

            .subheading {
                font-size: 0.8em;

                img {
                    min-width: 60px;
                    height: 60px;
                }
            }

            .advice-group {
                width: 100%;
                font-size: 0.8em;
            }
        }
    }
    ::-webkit-scrollbar {
        width: 0.5vw;
    }
}

@media (max-width: 600px) {
    header {
        & > span:first-child {
            flex-direction: column;
        }
    }

}

@media (max-width: 400px) {
    footer {
        flex-direction: column;
    }
}
