@font-face {
    font-family: 'Idleon';
    src: url(../fonts/Idleon.woff2) format('woff2'), url(../fonts/Idleon.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*font-family: 'Idleon', sans-serif;*/
}
.light-mode {
    background-color: white !important;
    color: black !important;
}
.light-mode a:link {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
}
.light-mode a:visited {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
}
.light-mode nav,
.light-mode aside {
    background-color: white !important;
}
.light-mode nav {
}
.light-mode .hamburger .bar {
    background-color: #93781d;
}
.light-mode em {
    color: black;
}
a:link {
    color: deepskyblue;
    background-color: transparent;
    text-decoration: underline;
}
a:visited {
    color: deepskyblue;
    background-color: transparent;
    text-decoration: underline;
}
body {
    display: flex;
    flex-direction: column;
    background-color: #38444d;
    color: white;
    min-height: 100vh;
}
.light-mode,
.light-mode a:link,
.light-mode a:visited,
.light-mode nav,
.light-mode h1,
.light-mode strong,
a:link,
a:visited,
body {
    transition: color .5s ease-in-out, background-color .5s ease-in-out;
}
ul {
    padding-left: 22px;
}
li {
    margin-left: 0;
    padding: 0;
}
textarea {
  resize: none;
  width: 400px;
  height: 50px;
}
.banner {
    cursor: n-resize;
}
.folded {
    display: none !important;
    overflow: hidden;
}
.world-content {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
h1, strong {
    color: goldenrod;
    cursor: n-resize;
}
.light-mode h1,
.light-mode strong {
    color: #287649;
}
section {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}
aside {
    padding-bottom: 10px;
}
header {
    padding: 25px;
    border-bottom: 1px solid grey;
}
footer {
    margin-top: auto; /*always sticks to the bottom of the page*/
    padding: 20px;
    border-top: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
}
.error {
    display: flex;
    justify-content: center;
    padding: 20px;
    color: #7A0D0DFF;
    border: 1px solid darkred;
    background-color: #f19c9c;
    width: 100%;
}
.subheading {
    display: block;
    cursor: n-resize;
}
.subheading img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}
.subheading img.folded {
    display: block !important;
    width: 80px;
    height: 1em;
    object-fit: contain;
}

.advice-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.content-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
main {
    display: flex;
    flex-direction: column;
    padding: 0 25px;
    row-gap: 15px;
}
em {
    font-weight: normal;
    color: white;
}
.indent-1 {
    margin-left: 17px;
}
#stamps {
    display: flex;
    flex-direction: column;

    font-family: 'Idleon', sans-serif;
    text-shadow: 1px 1px black;

    ul {
        list-style-type: none;
        padding: 20px 0;
    }

    .subheading {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 20px;

        span {
            color: goldenrod;

            &.tier-progress {
                color: lightgoldenrodyellow;
            }
        }
    }

    .advice-section > li {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .advice-group {
        padding: 20px;
        flex-basis: calc(100% / 3);

        &:nth-child(odd) {
            background-color: rgba(142, 209, 177, 0.3);
        }
        &:nth-child(even) {
            background-color: rgba(151, 222, 177, 0.6);
        }
    }
    .table {
        display: grid;
        grid-template-columns: repeat(3, minmax(min-content, max-content));
        gap: 10px;

        li {
            display: flex;
            align-items: center;
            column-gap: 7px;
        }
    }
    .advice {
        display: flex;
        align-items: center;

        &::before {
            display: block;
            content: '';
            height: 30px;
            width: 30px;

            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}
