:root {
    --sidebar-width: 650px;
    --sidebar-width-mobile: 100vw;

    --sidebar-height-mobile: calc(100% - (var(--nav-height) + var(--nav-padding) * 2));

    --fg-sidebar: white;
    --bg-sidebar: hsl(208, 15%, 22%);

    --fg-submit: lightgray;
    --bg-submit: mediumseagreen;

    --fg-textbox: lightgray;
    --bg-textbox: hsl(0, 0%, 35%);

    --fg-text-placeholder: lightgray;
}

:root.light-mode {
    --fg-sidebar: black;
    --bg-sidebar: hsl(0, 0%, 73%);

    --fg-submit: white;
    --bg-submit: forestgreen;

    --fg-textbox: hsl(208, 15%, 22%);
    --bg-textbox: hsl(0, 0%, 89%);

    --fg-text-placeholder: hsl(208, 15%, 22%);
}

aside {
    position: fixed;
    padding: 20px;
    left: calc(var(--sidebar-width) * -1);
    top: 0;

    display: flex;
    flex-direction: column;
    gap: 20px;

    width: var(--sidebar-width);
    height: 100%;

    color: var(--fg-sidebar);
    background: var(--bg-sidebar);

    overflow-x: hidden;

    transition: all .5s ease-out;
    z-index: 1;

    /*font-size: 1.6rem;*/
    font-family: 'Chakra Petch', sans-serif;
    line-height: 1.6rem;
    letter-spacing: 1px;

    box-shadow: none;

    .light-mode & {
        transition: all .5s ease-out;
    }

    &.sidebar-open {
        left: 0;
        box-shadow: 9px 0 51px 21px hsla(0, 0%, 8%, .75);

        .light-mode & {
            box-shadow: 9px 0 51px 21px hsla(0, 0%, 39%, .75);
        }
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;

    #switchbox {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        row-gap: 10px;

        [type="checkbox"] {
            display: none;
        }
    }

    #form {
        display: flex;
        flex-direction: row;
        align-items: stretch;

        [type="submit"] {
            flex-grow: 1;
            border: none;
            border-radius: 0 10px 10px 0;
            color: var(--fg-submit);
            background: var(--bg-submit);
        }
        textarea {
            border: none;
            flex-grow: 4;
            padding: 5px;
            border-radius: 10px 0 0 10px;
            color: var(--fg-textbox);
            background: var(--bg-textbox);

            &::placeholder {
                padding-left: 5px;
                padding-top: 5px;
                color: var(--fg-text-placeholder);
            }
        }
    }
}

form input,
form textarea,
form textarea::placeholder,
.light-mode aside form input,
.light-mode aside form textarea,
.light-mode aside form textarea::placeholder {
    transition: background-color .5s ease-in-out, color .5s ease-in-out;
}

@media (max-width: 600px) {
    aside {
        height: var(--sidebar-height-mobile);
        width: var(--sidebar-width-mobile);
        /*padding-bottom: calc(var(--drawer-image-height) + var(--nav-padding) * 2);*/

        &.sidebar-open {
            box-shadow: none;
        }

        #form {
            flex-direction: column;
            textarea {
                width: 100%;
                height: 10em;
                border-radius: 10px 10px 0 0;
            }
            input[type="submit"] {
                border-radius: 0 0 10px 10px;
                height: 4em;
            }
        }
    }
}
