/.cache
/.ipython
/.local
/.virtualenvs
/__pycache__
.idea
venv
/venv
.bashrc
.gitconfig
.my.cnf
.profile
.pythonstartup.py
.python_history
.vimrc
id_rsa.pub
id_rsa.pub.pub
README.txt
/mysite/__pycache__
/mysite/logging
**/.DS_Store
/mysite/logs/
/mysite/logs
/mysite/static/styles/*.css
*.pyc
