**/.DS_Store
*.pyc
.bashrc
.gitconfig
.idea
.my.cnf
.profile
.python_history
.pythonstartup.py
.vimrc
/.cache
/.ipython
/.local
/.venv
/.virtualenvs
/__pycache__
/build
/idleonautoreviewbot.egg-info
/mysite/__pycache__
/mysite/logs
/mysite/static/styles/*.css
/venv
README.txt
id_rsa.pub
id_rsa.pub.pub
venv
