<div id="backgrounds">
    <div id="bg-pinchy">
        <div class="fg"></div>
    </div>
    <div id="bg-general">
        <div class="fg"></div>
    </div>
    <div id="bg-blunder-hills">
        <div class="sky"></div>
        <div class="fg"></div>
    </div>
    <div id="bg-yum-yum-desert">
        <div class="fg"></div>
    </div>
    <div id="bg-frostbite-tundra">
        <div class="sky"></div>
        <div class="fg"></div>
    </div>
    <div id="bg-hyperion-nebula">
        <div class="fg"></div>
    </div>
    <div id="bg-smolderin-plateau">
        <div class="fg"></div>
    </div>
    <div id="bg-spirited-valley">
        <div class="fg"></div>
    </div>
</div>
