<!DOCTYPE html>
<html lang="en">
    <head>
        <title>IE AutoReview Tool - By Scoli290</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main_page.css') }}">
        <link rel= "shortcut icon" href="/static/imgs/blank.png">
        <link rel= "icon" href="/static/imgs/blank.png">
        <link rel= "apple-touch-icon" href="/static/imgs/blank.png">
        <meta name="robots" content="noindex">
        <style>
            .light-mode {
                background-color: white;
                color: black;
            }
        </style>
    </head>
    <body>
        {% include 'sidebar.html' %}
    </body>
</html>