<!DOCTYPE html>
<html lang="en">
    <head>
        <title>IE AutoReview Bot - By Scoli290</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/beta_main_page.css') }}">
        <style>
            .light-mode {
                background-color: white;
                color: black;
            }
        </style>
    </head>
    <body>
        <!-- Toggle button <div><button onclick="lightMode()">Toggle Light/Dark mode</button></div><script>function lightMode() {var element = document.body; element.classList.toggle("light-mode");}</script> -->
        <br>
        <div>Welcome to IE AutoReview Bot - By Scoli290</div>
        <div>Most recent update: 2023-11-22 to add Pinchy Review</div>
        <div>Previous update: 2023-11-21 to add JSON imports</div>
        <br>
        <div>This bot will retrieve the PUBLIC profile from IdleOn Efficiency for evaluation.</div>
        <div>If you haven't uploaded your profile publicly before, head here: <a href="https://www.idleonefficiency.com/profile/upload"target="_blank">IdleonEfficiency</a></div>
        <br>
        <div>Alternatively, you can provide Raw JSON data.</div>
        <div><a href="https://www.idleonefficiency.com/raw-data"target="_blank">IdleonEfficiency</a>: Click on Copy Raw JSON button. Paste results below.</div>
        <div><a href="https://idleontoolbox.com/data"target="_blank">IdleonToolbox</a>: Click on Raw Game JSON button. Paste results below.</div>
        <br>
        <div>Heads up! You're on the beta-testing page. If you run into problems, try heading back to the <a href="http://ieautoreview-scoli.pythonanywhere.com/"target="_blank">Main Page</a></div>
        <div>Currently beta testing: 2023-11-22 Nada, atm.</div>
        <br>
        <div>
            <form action="/beta" method="POST">
                <textarea name="beta_characterInput" placeholder="Please enter your first IdleOn character's name, or Paste in your Raw Game JSON from IE/IT"></textarea><br><br>
                <input type="submit" value="submit">
            </form>
        </div>
    </body>
</html>