{% set header = htmlInput.pop() %}
<header>
<span>
    <span>Searching for character data from{{ header.direct_json }}:&nbsp;</span>
    <span>
    {% if header.json_error %}
        {{ header.json_error }}
    {% else %}
        {% if header.direct_json %}
        First character name found:&nbsp;{{ header.first_name }}&nbsp;
        {% endif %}
    {% endif %}
    </span>
    {% if not header.json_error %}
    <a href="{{ header.ie_link }}" target="_blank">{{ header.link_text }}</a>
    {% endif %}
</span>
<span>{{ header.last_update }}</span>
</header>
