<header class="{{ "json" if header.data_source == "JSON" else "public" }}">
    <span id="data-source">
        <span id="data-source-text">{{ header.data_source }}&nbsp;—&nbsp;</span>
        {% if header.data_source == "JSON" %}
        <span id="data-source-name">{{ header.json_error }}{{ header.first_name }}</span>
        {% else %}
        <a id="data-source-name" href="{{ header.ie_link }}" target="_blank">{{ header.link_text }}</a>
        {% endif %}
    </span>
    <span id="update-time"{% if header.is_stale %} class="stale"{% endif %}>
        <span id="elapsed">{{ header.elapsed }}</span>
        <span id="last-update">
            {% if header.is_stale %}
            Your data is old and stale, yuck! (over a day)<br>
            {% endif %}
            Data last updated:<br>{{ header.last_update }}</span>
    </span>
</header>
