<div class="div-wrapper">
    <canvas id="labCanvas" width="2000" height="500"
        data-characters='[
        {% for character in section.extra %}
            [{{ character.lab_position[0] }}, {{ character.lab_position[1] }}],
        {% endfor %}]'

        data-jewels='[
        {% for jewel in consts.labJewelsDict.values() %}
            [{{ jewel["Coordinates"][0] }},  {{ jewel["Coordinates"][1] }}],
        {% endfor %}
        ]'

        data-bonuses='[
        {% for bonus in consts.labBonusesDict.values() %}
            [{{ bonus["Coordinates"][0] }},  {{ bonus["Coordinates"][1] }}],
        {% endfor %}
        ]'

    ></canvas>
</div>