<!DOCTYPE html>
<html lang="en">
    <head>
        <title>IE AutoReview Bot - By Scoli290</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main_page.css') }}">
        <style>
            .light-mode {
                background-color: white;
                color: black;
            }
        </style>
    </head>
    <body>
        <!-- Toggle button <div><button onclick="lightMode()">Toggle Light/Dark mode</button></div><script>function lightMode() {var element = document.body; element.classList.toggle("light-mode");}</script> -->
        <br>
        <div>Welcome to IE AutoReview Bot - By Scoli290</div>
        <br>
        <div>Join the <a href="https://discord.gg/ZmEkqzfjmJ" target="_blank">Discord</a> for the detailed patch notes!</div>
        <div>Most recent update 2023-12-06: W3 Construction Death Note Review expanded with ZOW, CHOW, and Super CHOW stacks.</div>
        <div>Previous update 2023-12-05: W3 Construction Death Note Review</div>
        <br>
        <div>This bot will retrieve the PUBLIC profile from IdleOn Efficiency for evaluation.</div>
        <div>If you haven't uploaded your profile publicly before, head here: <a href="https://www.idleonefficiency.com/profile/upload"target="_blank">IdleonEfficiency</a></div>
        <br>
        <div>Alternatively, you can provide Raw JSON data.</div>
        <div><a href="https://www.idleonefficiency.com/raw-data"target="_blank">IdleonEfficiency</a>: Click on Copy Raw JSON button. Paste results below.</div>
        <div><a href="https://idleontoolbox.com/data"target="_blank">IdleonToolbox</a>: Click on Raw Game JSON button. Paste results below.</div>
        <br>
        <div>All tier requirements are listed in the <a href="https://docs.google.com/spreadsheets/d/16I-rURrVeyvltK2wxcQSiPgO07QY015RVNG4MAgUsGw/edit?usp=sharing" target="_blank">Spreadsheet</a> for reference!</div>
        <br>
        <div>
            <form action="." method="POST">
                <textarea name="characterInput" placeholder="Please enter your first IdleOn character's name, or Paste in your Raw Game JSON from IE/IT"></textarea><br><br>
                <input type="submit" value="submit">
            </form>
        </div>
        <div></div>
    </body>
</html>