<html>
    <head>
        <title>IE AutoReview Bot - By Scoli290</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main_page.css') }}">
    </head>
    <body>

        <div>Welcome to IE AutoReview Bot - By Scoli290</div>
        <div>Last updated on: 2023-11-11 to add the Inventory Bags and Storage Chests review</div>
        <br>
        <div>
            <form action="." method="POST">
                <textarea name="characterInput" placeholder="Please enter your first IdleOn character's name"></textarea><br><br>
                <input type="submit" value="submit">
            </form>
        </div>
    </body>
</html>