<section id="{{ section.css_class }}"
        {% for attr, val in section.dataset %}{% if val %} data-{{ attr }}="true"{% endif %}{% endfor %}>
    <h1 class="subheading{% if section %} toggler{% endif %}{% if section.collapse %} folded{% endif %}">
        {% if section.picture %}
            <img src="{{ section.picture | img }}" alt="{{ section.name }}" loading="lazy">
        {% endif %}
        <div class="heading-wrapper">
            <span>{{ section.header | safe }}</span>
            <span>{{ section.pinchy_placement }}</span>
        </div>
    </h1>
    <div class="collapse-wrapper">
        <ul class="advice-section{% if not section %} empty{% endif %}{% if section.collapse %} folded{% endif %}">
            {% if section.note %}
                <li class="note">{{ section.note | safe }}</li>
            {% endif %}
            <li id="{{ section.css_class }}-tier" class="groups">
                {% for group in section.groups %}
                    {% if group.tabbed_advices is defined %}
                        {% if group.tabbed_advices | length > 0 %}
                            {% include 'advice_group_tabbed.html' %}
                        {% endif %}
                    {% else %}
                        {% set advice_group = group %}
                        {% include 'advice_group.html' %}
                    {% endif %}
                {% endfor %}
            </li>
            <li class="show-more">Show Next Tier ▼</li>
        </ul>
    </div>
</section>
