<aside id="drawer">
    <p>
        Welcome to <a href="/">IE AutoReview Tool - By Scoli290</a><br>
        Join the <a href="{{ config["DISCORD"] }}" target="_blank">Discord</a> for detailed patch notes, links, and FAQs!
    </p>
    <p>
    {% if beta %}
        <strong>Heads up! You're on the beta-testing page. If you run into problems, try heading back to the <a href="{{ live_link }}" target="_blank">Live Page</a></strong>
        <br>
        Currently beta testing: 2024-12-05: Additional Farming progression tiers
    {% else %}
        <strong>To try out the beta site, head to the <a href="{{ beta_link }}" target="_blank">Beta Page</a></strong>
    {% endif %}
    </p>
    <p>
        Most recent update 2024-12-04: Added 8th tier to Library checkouts for ALL unmaxed books + VIP Star Talents
        <br>
        Previous update 2024-12-02: New Caverns Biome 2 section
    </p>
    <form action="/" method="POST">
        <div id="switchbox-wrapper">
            <div id="switchbox">
                {% for text, name, on, off, static, initial in switches %}
                    {% include "slider_button.html" %}
                {% endfor %}
            </div>
        </div>
        <div id="form">
            <label for="player"></label>
            <textarea id="player" name="player" placeholder="Please enter your first IdleOn character's name, or Paste in your Raw Game JSON from IE/IT"></textarea>
            <input type="submit" value="submit">
        </div>
    </form>

</aside>
