{% set world = htmlInput.pop() %}
<article id="w1" class="world-content">
    <h1 class="banner">
        <img src="{{ world.banner | img }}" alt="{{ world.name }}" title="{{ world.name }}">
    </h1>
    <div class="collapse-wrapper">
        <div class="sections{% if not world.sections %} no-collapse folded{% endif %}{% if world.collapse %} folded{% endif %}">
            {% for section in world.sections %}
                {% include 'section.html' %}
            {% endfor %}
        </div>
    </div>
</article>
