<article id="w1" class="world-content">
    <h1 class="banner">
        <img src="{{ img('w1banner.png') }}" alt="World 1 Banner" title="World 1 Banner">
    </h1>
    <div class="content-wrapper">
        <section>
            <h3 class="subheading">
                <img src="{{ img('Stamps_Mr_Pigibank.gif') }}" alt="Stamps and Bribes">
            </h3>

            <div class=".advice-wrapper">
                <strong>{{ htmlInput[1][0][0] }}</strong>
                <ul id="stamps-tier">
                    {% for line in htmlInput[1][0][1:] %}
                        {% if line %}
                            <li class="advice">{{ line }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </section>

        <section>
            <h3 class="subheading">
                <img src="{{ img('Stat_Graph_Stamp.png') }}" alt="Stat Graph Stamp">
            </h3>

            <div class="advice-wrapper">
                <strong>{{ htmlInput[1][1][0] }}</strong>
                <ul id="bribes-tier">
                {% for line in htmlInput[1][1][1:] %}
                    {% if line %}
                        <li class="advice">{{ line }}</li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
        </section>

        <section>
            <h3 class="subheading">
                <img src="{{ img('Smithing_Infinity_Hammer.png') }}" alt="Smithing Anvil">
            </h3>

            <div class="advice-wrapper">
                <strong>{{ htmlInput[1][2][0] }}</strong>
                <ul id="smithing-tier">
                {% for line in htmlInput[1][2][1:] %}
                    {% if line %}
                        <li class="advice">{{ line }}</li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
        </section>
    </div>
</article>