<article id="w2" class="world-content">
    <h1>
        <img src="{{ img('w2banner.png') }}" alt="World 2 Banner" title="World 2 Banner" onclick="toggle('w2-content')" class="banner">
    </h1>
    <div class="content-wrapper">
        <section>
            <h3 class="subheading">
                <img src="{{ img('Alchemy_BubbleOrange.gif') }}" alt="Alchemy Orange Bubbles">
                <img src="{{ img('Alchemy_BubbleGreen.gif')  }}" alt="Alchemy Green Bubbles" >
                <img src="{{ img('Alchemy_BubblePurple.gif') }}" alt="Alchemy Purple Bubbles">
                <img src="{{ img('Alchemy_BubbleYellow.gif') }}" alt="Alchemy Yellow Bubbles">
            </h3>

            <strong>{{ htmlInput[2][0][0] }}</strong>
            <ul id="alchemy-bubbles-tier">
            {% for line in htmlInput[2][0][1:] %}
                {% if line %}
                    <li class="advice">{{ line }}</li>
                {% endif %}
            {% endfor %}
            </ul>
        </section>

        <section>
            <h3 class="subheading">
                <img src="{{ img('Alchemy_Vial-level-1.png') }}" alt="Alchemy Unlocked Vials">
                <img src="{{ img('Virile_Vials.png') }}" alt="Shaman's Virile Vials talent">
                <img src="{{ img('Alchemy_Vial-level-13.png') }}" alt="Alchemy Maxed Vials">
            </h3>

            <strong>{{ htmlInput[2][1][0] }}</strong>
            <ul id="alchemy-vials-tier">
            {% for line in htmlInput[2][1][1:] %}
                {% if line %}
                    <li class="advice">{{ line }}</li>
                {% endif %}
            {% endfor %}
            </ul>
        </section>

        <section>
            <h3 class="subheading">
                <img src="" alt="Alchemy P2W Tier">
            </h3>

            <strong>{{ htmlInput[2][2][0] }}</strong>
            <ul id="alchemy-p2w-tier">
            {% for line in htmlInput[2][2][1:] %}
                {% if line %}
                    <li class="advice">{{ line }}</li>
                {% endif %}
            {% endfor %}
            </ul>
        </section>
    </div>
</article>