{% set world = htmlInput.pop() %}
<article id="w2" class="world-content new">
    <h1 class="banner">
        <img src="{{ img(world.banner) }}" alt="{{ world.name }}" title="{{ world.name }}">
    </h1>
    <div class="content-wrapper{% if not world.sections %} no-collapse folded{% endif %}{% if world.collapse %} folded{% endif %}">
        {% for section in world.sections %}
        <section id="{{ section.name.lower() }}" class="new">
            <h3 class="subheading{% if not section.groups %} no-collapse{% endif %}{% if section.collapse %} folded{% endif %}">
                <img src="{{ section.picture | img }}" alt="{{ section.name }}">
                <span>{{ section.header|safe }}</span>
            </h3>
            <ul class="advice-section{% if not section.groups %} no-collapse{% endif %}{% if section.collapse %} folded{% endif %}">
                <li id="{{ section.name.lower() }}-tier">
                    {% for group in section.groups %}
                        <div class="advice-group">
                            <span>{{ group.heading }}:</span>
                            <ul class="table {% if group.collapse %} folded{% endif %}">
                            {% if group.show_table_header %}
                              <li></li>
                              <li>{% if group.show_progression %}current{% endif %}</li>
                              <li>{% if group.show_goal %}goal{% endif %}</li>
                            {% endif %}
                            {% for advice in group.advices %}
                                <li class="advice {{ advice.css_class }}">{{ advice.label }}</li>
                                <li>{{ advice.progression }}</li>
                                <li>{{ advice.goal }}</li>
                            {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </li>
            </ul>
        </section>
        {% endfor %}
    </div>
</article>
