{% set world = htmlInput[-1] %}
<article id="w1" class="world-content">
    <h1 class="banner">
        <img src="{{ img(world.banner) }}" alt="{{ world.name }}" title="{{ world.name }}">
    </h1>
    <div class="content-wrapper{% if world.collapse %} folded{% endif %}">
        {% set section = world.sections[0] %}
        <section id="stamps">
            <h3 class="subheading">
                <img src="{{ img(section.picture) }}" alt="{{ section.name }}">
                <span>{{ section.header|safe }}</span>
            </h3>
            <ul class="advice-section{% if section.collapse %} folded{% endif %}">
                <li id="stamps-tier">
                    {% for group in section.groups %}
                        <div class="advice-group">
                            <span>Tier {{ group.tier }} - {{ group.pre_string }}:</span>
                            <ul class="table {% if group.collapse %} folded{% endif %}">
                            {% if group.show_table_header %}
                              <li></li>
                              <li>{% if group.show_progression %}current{% endif %}</li>
                              <li>{% if group.show_goal %}goal{% endif %}</li>
                            {% endif %}
                            {% for advice in group.advices %}
                                <li class="advice {{ advice.css_class }}">{{ advice.label }}</li>
                                <li>{{ advice.progression }}</li>
                                <li>{{ advice.goal }}</li>
                            {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </li>
            </ul>
        </section>

        <section>
            <h3 class="subheading">
                <img src="{{ img('Stat_Graph_Stamp.png') }}" alt="Stat Graph Stamp">
            </h3>

            <div class="advice-wrapper">
                <strong>{{ htmlInput[1][1][0] }}</strong>
                <ul id="bribes-tier">
                {% for line in htmlInput[1][1][1:] %}
                    {% if line %}
                        <li class="advice">{{ line }}</li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
        </section>

        <section>
            <h3 class="subheading">
                <img src="{{ img('Smithing_Infinity_Hammer.png') }}" alt="Smithing Anvil">
            </h3>

            <div class="advice-wrapper">
                <strong>{{ htmlInput[1][2][0] }}</strong>
                <ul id="smithing-tier">
                {% for line in htmlInput[1][2][1:] %}
                    {% if line %}
                        <li class="advice">{{ line }}</li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
        </section>
    </div>
</article>
