$boss-keys: (
    forest-villa-key: wiki('b/be/Forest_Villa_Key.png'),
    efaunts-tomb-key: wiki("9/95/Efaunt's_Tomb_Key.png"),
    chizoars-cavern-key: wiki("9/9c/Chizoar's_Cavern_Key.png"),
    trolls-enclave-key: wiki("0/0f/Troll's_Enclave_Key.png"),
    kruks-volcano-key: wiki("4/49/Kruk's_Volcano_Key.png"),
);