$bribes-map: (
    insider-trading: img('bribe_pigi.png'),
    tracking-chips: img('bribe_pigi.png'),
    mandatory-fire-sale: img('bribe_moneybag.png'),
    sleeping-on-the-job: img('bribe_pigi.png'),
    artificial-demand: img('bribe_moneybag.png'),
    the-art-of-the-deal: img('bribe_pigi.png'),
    overstock-regulations: img('bribe_moneybag.png'),
    double-exp-scheme: img('bribe_zzz.png'),
    tagged-indicators: img('bribe_pigi.png'),
    fossil-fuel-legislation: img('bribe_anvil.png'),
    five-aces-in-the-deck: img('bribe_zzz.png'),
    fake-teleport-tickets: img('bribe_pigi.png'),
    the-art-of-the-steal: img('bribe_pigi.png'),
    counterfeit-telepassports: img('bribe_pigi.png'),
    weighted-marbles: img('bribe_mountain.png'),
    changing-the-code: img('bribe_pigi.png'),
    taxidermied-cog-pouches: img('bribe_mountain.png'),
    guild-vip-fraud: img('bribe_zzz.png'),
    library-double-agent: img('bribe_mountain.png'),
    the-art-of-the-fail: img('bribe_pigi.png'),
    photoshopped-dmg-range: img('bribe_pigi.png'),
    glitched-acc-formula: img('bribe_pigi.png'),
    firewalled-defence: img('bribe_pigi.png'),
    bottomless-bags: img('bribe_pigi.png'),
    afkeylogging: img('bribe_zzz.png'),
    guild-gp-hack: img('bribe_zzz.png'),
    the-art-of-the-bail: img('bribe_trash_tuna.png'),
    random-garbage: img('bribe_trash_tuna.png'),
    godlier-creation: img('bribe_anvil.png'),
    fishermaster: img('bribe_trash_tuna.png'),
    muscles-on-muscles: img('bribe_pigi.png'),
    bottle-service: img('bribe_trash_tuna.png'),
    star-scraper: img('bribe_pigi.png'),
    the-art-of-the-grail: img('bribe_pigi.png'),
    artifact-pilfering: img('bribe_pigi.png'),
    forge-cap-smuggling: img('bribe_pigi.png'),
    gold-from-lead: img('bribe_pigi.png'),
    nugget-fabrication: img('bribe_pigi.png'),
    divine-pts-miscounting: img('bribe_pigi.png'),
    loot-table-tampering: img('bribe_pigi.png'),
    the-art-of-the-flail: img('bribe_pigi.png'),
);