$bubbles-map: (
    bubbles: wiki('archive/4/42/20230111134826%21OrangeBubble13.png'),
    cauldron-o: wiki('5/57/BubbleOrange.gif'),
    cauldron-g: wiki('b/b9/BubbleGreen.gif'),
    cauldron-p: wiki('5/5e/BubblePurple.gif'),
    cauldron-y: wiki('1/1d/BubbleYellow.gif'),
    cauldron-a: img('Alchemy_Bubble_all.gif'),

    // Power Cauldron

    roid-ragin: wiki('thumb/7/70/OrangeBubble1.png/48px-OrangeBubble1.png'),
    warriors-rule: wiki('thumb/e/e4/OrangeBubble2.png/48px-OrangeBubble2.png'),
    hearty-diggy: wiki('thumb/1/14/OrangeBubble3.png/48px-OrangeBubble3.png'),
    wyoming-blood: wiki('thumb/f/f3/OrangeBubble4.png/64px-OrangeBubble4.png'),
    reely-smart: wiki('thumb/a/a2/OrangeBubble5.png/48px-OrangeBubble5.png'),
    big-meaty-claws: wiki('thumb/d/df/OrangeBubble6.png/48px-OrangeBubble6.png'),
    sploosh-sploosh: wiki('thumb/6/63/OrangeBubble7.png/64px-OrangeBubble7.png'),
    stronk-tools: wiki('thumb/c/c6/OrangeBubble8.png/48px-OrangeBubble8.png'),
    fmj: wiki('thumb/5/52/OrangeBubble9.png/48px-OrangeBubble9.png'),
    bappity-boopity: wiki('thumb/0/0e/OrangeBubble10.png/48px-OrangeBubble10.png'),
    brittley-spears: wiki('thumb/e/e7/OrangeBubble11.png/48px-OrangeBubble11.png'),
    call-me-bob: wiki('thumb/1/16/OrangeBubble12.png/64px-OrangeBubble12.png'),
    carpenter: wiki('thumb/4/42/OrangeBubble13.png/48px-OrangeBubble13.png'),
    buff-boi-talent: wiki('thumb/4/41/OrangeBubble14.png/48px-OrangeBubble14.png'),
    orange-bargain: wiki('thumb/a/aa/OrangeBubble15.png/48px-OrangeBubble15.png'),
    penny-of-strength: wiki('thumb/9/91/OrangeBubble16.png/48px-OrangeBubble16.png'),
    multorange: wiki('thumb/8/89/OrangeBubble17.png/48px-OrangeBubble17.png'),
    dream-of-ironfish: wiki('thumb/4/44/OrangeBubble18.png/48px-OrangeBubble18.png'),
    shimmeron: wiki('thumb/8/89/OrangeBubble19.png/48px-OrangeBubble19.png'),
    bite-but-not-chew: wiki('thumb/2/27/OrangeBubble20.png/64px-OrangeBubble20.png'),
    spear-powah: wiki('thumb/e/e9/OrangeBubble21.png/48px-OrangeBubble21.png'),
    slabi-orefish: wiki('thumb/6/66/OrangeBubble22.png/48px-OrangeBubble22.png'),
    gamer-at-heart: wiki('thumb/b/b9/OrangeBubble23.png/64px-OrangeBubble23.png'),
    slabi-strength: wiki('thumb/7/78/OrangeBubble24.png/48px-OrangeBubble24.png'),
    power-trione: wiki('thumb/2/29/OrangeBubble25.png/48px-OrangeBubble25.png'),

    // Quicc Cauldron

    swift-steppin: wiki('thumb/f/f2/GreenBubble1.png/48px-GreenBubble1.png'),
    archer-or-bust: wiki('thumb/d/dd/GreenBubble2.png/48px-GreenBubble2.png'),
    hammer-hammer: wiki('thumb/9/9b/GreenBubble3.png/64px-GreenBubble3.png'),
    lil-big-damage: wiki('thumb/0/02/GreenBubble4.png/48px-GreenBubble4.png'),
    anvilnomics: wiki('thumb/5/58/GreenBubble5.png/48px-GreenBubble5.png'),
    quick-slap: wiki('thumb/a/ab/GreenBubble6.png/48px-GreenBubble6.png'),
    sanic-tools: wiki('thumb/f/fc/GreenBubble7.png/48px-GreenBubble7.png'),
    bug2: wiki('thumb/d/d2/GreenBubble8.png/64px-GreenBubble8.png'),
    shaquracy: wiki('thumb/2/2a/GreenBubble9.png/48px-GreenBubble9.png'),
    cheap-shot: wiki('thumb/5/5b/GreenBubble10.png/48px-GreenBubble10.png'),
    bow-jack: wiki('thumb/d/d5/GreenBubble11.png/48px-GreenBubble11.png'),
    call-me-ash: wiki('thumb/5/59/GreenBubble12.png/64px-GreenBubble12.png'),
    cuz-i-catch-em-all: wiki('thumb/4/4b/GreenBubble13.png/48px-GreenBubble13.png'),
    fast-boi-talent: wiki('thumb/c/cb/GreenBubble14.png/48px-GreenBubble14.png'),
    green-bargain: wiki('thumb/1/11/GreenBubble15.png/48px-GreenBubble15.png'),
    dollar-of-agility: wiki('thumb/e/ef/GreenBubble16.png/48px-GreenBubble16.png'),
    premigreen: wiki('thumb/4/4f/GreenBubble17.png/48px-GreenBubble17.png'),
    fly-in-mind: wiki('thumb/9/96/GreenBubble18.png/48px-GreenBubble18.png'),
    kill-per-kill: wiki('thumb/a/ab/GreenBubble19.png/64px-GreenBubble19.png'),
    afk-expexp: wiki('thumb/4/45/GreenBubble20.png/48px-GreenBubble20.png'),
    bow-power: wiki('thumb/f/fa/GreenBubble21.png/48px-GreenBubble21.png'),
    slabo-critterbug: wiki('thumb/b/b1/GreenBubble22.png/48px-GreenBubble22.png'),
    sailor-at-heart: wiki('thumb/f/f2/GreenBubble23.png/64px-GreenBubble23.png'),
    slabo-agility: wiki('thumb/3/3a/GreenBubble24.png/48px-GreenBubble24.png'),
    power-tritwo: wiki('thumb/1/14/GreenBubble25.png/48px-GreenBubble25.png'),

    // High-IQ Cauldron

    stable-jenius: wiki('thumb/7/7c/PurpleBubble1.png/48px-PurpleBubble1.png'),
    mage-is-best: wiki('thumb/9/95/PurpleBubble2.png/48px-PurpleBubble2.png'),
    hocus-choppus: wiki('thumb/9/9f/PurpleBubble3.png/48px-PurpleBubble3.png'),
    molto-loggo: wiki('thumb/d/d4/PurpleBubble4.png/64px-PurpleBubble4.png'),
    noodubble: wiki('thumb/7/75/PurpleBubble5.png/48px-PurpleBubble5.png'),
    name-i-guess: wiki('thumb/e/e6/PurpleBubble6.png/48px-PurpleBubble6.png'),
    le-brain-tools: wiki('thumb/c/ca/PurpleBubble7.png/48px-PurpleBubble7.png'),
    cookin-roadkill: wiki('thumb/3/34/PurpleBubble8.png/64px-PurpleBubble8.png'),
    brewstachio: wiki('thumb/9/9c/PurpleBubble9.png/48px-PurpleBubble9.png'),
    all-for-kill: wiki('thumb/5/51/PurpleBubble10.png/48px-PurpleBubble10.png'),
    matty-stafford: wiki('thumb/4/40/PurpleBubble11.png/48px-PurpleBubble11.png'),
    call-me-pope: wiki('thumb/1/16/PurpleBubble12.png/64px-PurpleBubble12.png'),
    gospel-leader: wiki('thumb/0/0d/PurpleBubble13.png/48px-PurpleBubble13.png'),
    smart-boi-talent: wiki('thumb/2/2b/PurpleBubble14.png/48px-PurpleBubble14.png'),
    purple-bargain: wiki('thumb/b/b3/PurpleBubble15.png/48px-PurpleBubble15.png'),
    nickel-of-wisdom: wiki('thumb/2/22/PurpleBubble16.png/48px-PurpleBubble16.png'),
    severapurple: wiki('thumb/a/a8/PurpleBubble17.png/48px-PurpleBubble17.png'),
    tree-sleeper: wiki('thumb/5/53/PurpleBubble18.png/48px-PurpleBubble18.png'),
    hyperswift: wiki('thumb/6/6a/PurpleBubble19.png/48px-PurpleBubble19.png'),
    matrix-evolved: wiki('thumb/4/45/PurpleBubble20.png/64px-PurpleBubble20.png'),
    wand-pawur: wiki('thumb/8/8d/PurpleBubble21.png/48px-PurpleBubble21.png'),
    slabe-logsoul: wiki('thumb/a/a7/PurpleBubble22.png/48px-PurpleBubble22.png'),
    pious-at-heart: wiki('thumb/a/ad/PurpleBubble23.png/64px-PurpleBubble23.png'),
    slabe-wisdom: wiki('thumb/9/9b/PurpleBubble24.png/48px-PurpleBubble24.png'),
    power-trithree: wiki('thumb/e/ee/PurpleBubble25.png/48px-PurpleBubble25.png'),

    // Kazam Cauldron

    lotto-skills: wiki('thumb/4/4a/YellowBubble1.png/48px-YellowBubble1.png'),
    droppin-loads: wiki('thumb/6/66/YellowBubble2.png/48px-YellowBubble2.png'),
    startue-exp: wiki('thumb/b/b9/YellowBubble3.png/48px-YellowBubble3.png'),
    level-up-gift: wiki('thumb/8/84/YellowBubble4.png/64px-YellowBubble4.png'),
    prowesessary: wiki('thumb/3/33/YellowBubble5.png/48px-YellowBubble5.png'),
    stamp-tramp: wiki('thumb/0/00/YellowBubble6.png/48px-YellowBubble6.png'),
    undeveloped-costs: wiki('thumb/7/76/YellowBubble7.png/48px-YellowBubble7.png'),
    da-daily-drip: wiki('thumb/3/32/YellowBubble8.png/48px-YellowBubble8.png'),
    grind-time: wiki('thumb/3/3d/YellowBubble9.png/64px-YellowBubble9.png'),
    laaarrrryyyy: wiki('thumb/8/81/YellowBubble10.png/48px-YellowBubble10.png'),
    cogs-for-hands: wiki('thumb/9/9d/YellowBubble11.png/48px-YellowBubble11.png'),
    sample-it: wiki('thumb/7/7a/YellowBubble12.png/48px-YellowBubble12.png'),
    big-game-hunter: wiki('thumb/1/11/YellowBubble13.png/64px-YellowBubble13.png'),
    ignore-overdues: wiki('thumb/5/55/YellowBubble14.png/48px-YellowBubble14.png'),
    yellow-bargain: wiki('thumb/0/0d/YellowBubble15.png/48px-YellowBubble15.png'),
    mr-massacre: wiki('thumb/d/db/YellowBubble16.png/64px-YellowBubble16.png'),
    egg-ink: wiki('thumb/4/41/YellowBubble17.png/48px-YellowBubble17.png'),
    diamond-chef: wiki('thumb/d/d7/YellowBubble18.png/48px-YellowBubble18.png'),
    card-champ: wiki('thumb/9/99/YellowBubble19.png/48px-YellowBubble19.png'),
    petting-the-rift: wiki('thumb/d/d6/YellowBubble20.png/48px-YellowBubble20.png'),
    boaty-bubble: wiki('thumb/8/89/YellowBubble21.png/48px-YellowBubble21.png'),
    big-p: wiki('thumb/6/6e/YellowBubble22.png/64px-YellowBubble22.png'),
    bit-by-bit: wiki('thumb/3/32/YellowBubble23.png/48px-YellowBubble23.png'),
    gifts-abound: wiki('thumb/2/2b/YellowBubble24.png/48px-YellowBubble24.png'),
    atom-split: wiki('thumb/a/a9/YellowBubble25.png/48px-YellowBubble25.png'),
);
