$blunder-hills: (
	green-mushroom-card: wiki("2/23/Green_Mushroom_Card.png"),
	red-mushroom-card: wiki("2/24/Red_Mushroom_Card.png"),
	frog-card: wiki("0/08/Frog_Card.png"),
	bored-bean-card: wiki("8/89/Bored_Bean_Card.png"),
	slime-card: wiki("f/f0/Slime_Card.png"),
	baby-boa-card: wiki("b/b3/Baby_Boa_Card.png"),
	carrotman-card: wiki("c/c7/Carrotman_Card.png"),
	glublin-card: wiki("4/4d/Glublin_Card.png"),
	wode-board-card: wiki("6/6c/Wode_Board_Card.png"),
	gigafrog-card: wiki("e/e5/Gigafrog_Card.png"),
	poop-card: wiki("f/f7/Poop_Card.png"),
	rat-card: wiki("c/c2/Rat_Card.png"),
	walking-stick-card: wiki("a/a9/Walking_Stick_Card.png"),
	nutto-card: wiki("5/5d/Nutto_Card.png"),
	crystal-carrot-card: wiki("1/1c/Crystal_Carrot_Card.png"),
	wood-mushroom-card: wiki("6/61/Wood_Mushroom_Card.png")
);
$yum-yum-desert: (
	sandy-pot-card: wiki("c/c6/Sandy_Pot_Card.png"),
	mimic-card: wiki("3/38/Mimic_Card.png"),
	crabcake-card: wiki("1/1f/Crabcake_Card.png"),
	mafioso-card: wiki("6/63/Mafioso_Card.png"),
	sand-castle-card: wiki("a/a6/Sand_Castle_Card.png"),
	pincermin-card: wiki("b/b6/Pincermin_Card.png"),
	mashed-potato-card: wiki("e/eb/Mashed_Potato_Card.png"),
	tyson-card: wiki("f/f5/Tyson_Card.png"),
	moonmoon-card: wiki("b/b6/Moonmoon_Card.png"),
	sand-giant-card: wiki("f/f3/Sand_Giant_Card.png"),
	snelbie-card: wiki("1/19/Snelbie_Card.png"),
	dig-doug-card: wiki("b/bc/Dig_Doug_Card.png"),
	crystal-crabal-card: wiki("a/a2/Crystal_Crabal_Card.png"),
	bandit-bob-card: wiki("a/ad/Bandit_Bob_Card.png")
);
$easy-resources: (
	copper-ore-card: wiki("0/0a/Copper_Ore_Card.png"),
	iron-ore-card: wiki("d/d4/Iron_Ore_Card.png"),
	gold-ore-card: wiki("8/81/Gold_Ore_Card.png"),
	fire-forge-card: wiki("e/e3/Fire_Forge_Card.png"),
	oak-logs-card: wiki("2/2f/Oak_Logs_Card.png"),
	bleach-logs-card: wiki("d/df/Bleach_Logs_Card.png"),
	jungle-logs-card: wiki("a/ab/Jungle_Logs_Card.png"),
	forest-fibres-card: wiki("0/03/Forest_Fibres_Card.png"),
	goldfish-card: wiki("a/ae/Goldfish_Card.png"),
	hermit-can-card: wiki("3/38/Hermit_Can_Card.png"),
	jellyfish-card: wiki("6/64/Jellyfish_Card.png"),
	fly-card: wiki("3/3b/Fly_Card.png"),
	butterfly-card: wiki("6/62/Butterfly_Card.png")
);
$medium-resources: (
	platinum-ore-card: wiki("f/fc/Platinum_Ore_Card.png"),
	dementia-ore-card: wiki("9/96/Dementia_Ore_Card.png"),
	void-ore-card: wiki("7/7f/Void_Ore_Card.png"),
	cinder-forge-card: wiki("8/8d/Cinder_Forge_Card.png"),
	tropilogs-card: wiki("2/23/Tropilogs_Card.png"),
	potty-rolls-card: wiki("b/b6/Potty_Rolls_Card.png"),
	veiny-logs-card: wiki("6/6e/Veiny_Logs_Card.png"),
	bloach-card: wiki("f/fb/Bloach_Card.png"),
	sentient-cereal-card: wiki("2/24/Sentient_Cereal_Card.png"),
	fruitfly-card: wiki("b/b8/Fruitfly_Card.png"),
	forest-soul-card: wiki("4/4b/Forest_Soul_Card.png"),
	dune-soul-card: wiki("a/a7/Dune_Soul_Card.png"),
	froge-card: wiki("2/2c/Froge_Card.png"),
	crabbo-card: wiki("6/61/Crabbo_Card.png"),
	scorpie-card: wiki("b/b6/Scorpie_Card.png")
);
$frostbite-tundra: (
	sheepie-card: wiki("f/f2/Sheepie_Card.png"),
	frost-flake-card: wiki("0/08/Frost_Flake_Card.png"),
	sir-stache-card: wiki("e/ef/Sir_Stache_Card.png"),
	bloque-card: wiki("1/13/Bloque_Card.png"),
	mamooth-card: wiki("a/af/Mamooth_Card.png"),
	snowman-card: wiki("3/34/Snowman_Card.png"),
	penguin-card: wiki("6/62/Penguin_Card.png"),
	thermister-card: wiki("2/20/Thermister_Card.png"),
	quenchie-card: wiki("3/36/Quenchie_Card.png"),
	cryosnake-card: wiki("b/ba/Cryosnake_Card.png"),
	bop-box-card: wiki("0/09/Bop_Box_Card.png"),
	neyeptune-card: wiki("f/f8/Neyeptune_Card.png"),
	dedotated-ram-card: wiki("f/fd/Dedotated_Ram_Card.png"),
	xylobone-card: wiki("3/3d/Xylobone_Card.png"),
	bloodbone-card: wiki("7/77/Bloodbone_Card.png"),
	crystal-cattle-card: wiki("b/bb/Crystal_Cattle_Card.png")
);
$hard-resources: (
	lustre-ore-card: wiki("5/5e/Lustre_Ore_Card.png"),
	starfire-ore-card: wiki("2/24/Starfire_Ore_Card.png"),
	dreadlo-ore-card: wiki("1/11/Dreadlo_Ore_Card.png"),
	godshard-ore-card: wiki("b/b5/Godshard_Ore_Card.png"),
	tundra-logs-card: wiki("f/f7/Tundra_Logs_Card.png"),
	wispy-lumber-card: wiki("4/44/Wispy_Lumber_Card.png"),
	alien-hive-chunk-card: wiki("c/cd/Alien_Hive_Chunk_Card.png"),
	cubed-logs-card: wiki("b/bd/Cubed_Logs_Card.png"),
	maple-logs-card: wiki("c/c7/Maple_Logs_Card.png"),
	dandielogs-card: wiki("4/45/Dandielogs_Card.png"),
	bamboo-logs-card: wiki("a/ae/Bamboo_Logs_Card.png"),
	effervescent-logs-card: wiki("d/d9/Effervescent_Logs_Card.png"),
	skelefish-card: wiki("4/43/Skelefish_Card.png"),
	sand-shark-card: wiki("c/cb/Sand_Shark_Card.png"),
	manta-ray-card: wiki("6/61/Manta_Ray_Card.png"),
	kraken-card: wiki("c/c8/Kraken_Card.png"),
	mosquisnow-card: wiki("f/f8/Mosquisnow_Card.png"),
	flycicle-card: wiki("1/18/Flycicle_Card.png"),
	worker-bee-card: wiki("9/91/Worker_Bee_Card.png"),
	fairy-card: wiki("6/68/Fairy_Card.png"),
	scarab-card: wiki("5/50/Scarab_Card.png"),
	dust-mote-card: wiki("2/28/Dust_Mote_Card.png"),
	ladybug-card: wiki("a/ab/Ladybug_Card.png"),
	firefly-card: wiki("e/ec/Firefly_Card.png"),
	mousey-card: wiki("f/fe/Mousey_Card.png"),
	owlio-card: wiki("4/4b/Owlio_Card.png"),
	pingy-card: wiki("6/6f/Pingy_Card.png"),
	bunny-card: wiki("5/55/Bunny_Card.png"),
	dung-beat-card: wiki("0/0c/Dung_Beat_Card.png"),
	honker-card: wiki("9/9f/Honker_Card.png"),
	blobfish-card: wiki("e/ed/Blobfish_Card.png"),
	rooted-soul-card: wiki("6/63/Rooted_Soul_Card.png"),
	frigid-soul-card: wiki("d/d3/Frigid_Soul_Card.png"),
	squishy-soul-card: wiki("f/f3/Squishy_Soul_Card.png"),
	oozie-soul-card: wiki("c/c7/Oozie_Soul_Card.png"),
	breezy-soul-card: wiki("6/6b/Breezy_Soul_Card.png"),
	icefish-card: wiki("e/ec/Icefish_Card.png"),
	shellfish-card: wiki("e/e4/Shellfish_Card.png"),
	jumbo-shrimp-card: wiki("e/ee/Jumbo_Shrimp_Card.png"),
	caulifish-card: wiki("0/02/Caulifish_Card.png")
);
$hyperion-nebula: (
	purp-mushroom-card: wiki("e/e4/Purp_Mushroom_Card.png"),
	tv-card: wiki("9/9a/TV_Card.png"),
	donut-card: wiki("e/ed/Donut_Card.png"),
	demon-genie-card: wiki("d/d1/Demon_Genie_Card.png"),
	soda-can-card: wiki("a/a4/Soda_Can_Card.png"),
	flying-worm-card: wiki("8/8c/Flying_Worm_Card.png"),
	gelatinous-cuboid-card: wiki("3/39/Gelatinous_Cuboid_Card.png"),
	choccie-card: wiki("0/0f/Choccie_Card.png"),
	biggole-wurm-card: wiki("7/7e/Biggole_Wurm_Card.png"),
	clammie-card: wiki("6/6f/Clammie_Card.png"),
	octodar-card: wiki("6/66/Octodar_Card.png"),
	flombeige-card: wiki("0/0d/Flombeige_Card.png"),
	stilted-seeker-card: wiki("6/60/Stilted_Seeker_Card.png"),
	crystal-custard-card: wiki("c/cd/Crystal_Custard_Card.png")
);
$smolderin-plateau: (
	suggma-card: wiki("6/6f/Suggma_Card.png"),
	maccie-card: wiki("6/61/Maccie_Card.png"),
	mister-brightside-card: wiki("2/2b/Mister_Brightside_Card.png"),
	cheese-nub-card: wiki("7/7a/Cheese_Nub_Card.png"),
	stiltmole-card: wiki("9/94/Stiltmole_Card.png"),
	molti-card: wiki("a/a3/Molti_Card.png"),
	purgatory-stalker-card: wiki("d/df/Purgatory_Stalker_Card.png"),
	citringe-card: wiki("4/40/Citringe_Card.png"),
	lampar-card: wiki("8/87/Lampar_Card.png"),
	fire-spirit-card: wiki("6/6c/Fire_Spirit_Card.png"),
	biggole-mole-card: wiki("6/67/Biggole_Mole_Card.png"),
	crawler-card: wiki("8/8d/Crawler_Card.png"),
	tremor-wurm-card: wiki("2/2e/Tremor_Wurm_Card.png"),
	crystal-capybara-card: wiki("d/db/Crystal_Capybara_Card.png")
);
$spirited-valley: (
	sprout-spirit-card: wiki("4/4c/Sprout_Spirit_Card.png"),
	ricecake-card: wiki("c/c5/Ricecake_Card.png"),
	river-spirit-card: wiki("f/f1/River_Spirit_Card.png"),
	baby-troll-card: wiki("9/97/Baby_Troll_Card.png"),
	woodlin-spirit-card: wiki("0/04/Woodlin_Spirit_Card.png"),
	bamboo-spirit-card: wiki("b/b8/Bamboo_Spirit_Card.png"),
	lantern-spirit-card: wiki("4/48/Lantern_Spirit_Card.png"),
	mama-troll-card: wiki("c/c0/Mama_Troll_Card.png"),
	leek-spirit-card: wiki("c/c6/Leek_Spirit_Card.png"),
	ceramic-spirit-card: wiki("b/b6/Ceramic_Spirit_Card.png"),
	skydoggie-spirit-card: wiki("4/47/Skydoggie_Spirit_Card.png"),
	royal-egg-card: wiki("0/0d/Royal_Egg_Card.png"),
	minichief-spirit-card: wiki("8/80/Minichief_Spirit_Card.png"),
	samurai-guardian-card: wiki("7/74/Samurai_Guardian_Card.png"),
	crystal-candalight-card: wiki("?/??/Crystal_Candalight_Card.png")  // FIXME
);
$dungeons: (
	poisonic-frog-card: wiki("8/81/Poisonic_Frog_Card.png"),
	globohopper-card: wiki("a/a5/Globohopper_Card.png"),
	king-frog-card: wiki("b/b5/King_Frog_Card.png"),
	lava-slimer-card: wiki("7/74/Lava_Slimer_Card.png"),
	chromatium-frog-card: wiki("3/3f/Chromatium_Frog_Card.png"),
	eldritch-croaker-card: wiki("4/48/Eldritch_Croaker_Card.png"),
	grandfrogger-card: wiki("b/bf/Grandfrogger_Card.png"),
	rotting-grandfrogger-card: wiki("3/39/Rotting_Grandfrogger_Card.png"),
	forlorn-grandfrogger-card: wiki("4/46/Forlorn_Grandfrogger_Card.png"),
	vengeful-grandfrogger-card: wiki("8/85/Vengeful_Grandfrogger_Card.png"),
	target-card: wiki("5/5e/Target_Card.png"),
	grumblo-card: wiki("5/5a/Grumblo_Card.png"),
	beefie-card: wiki("c/cd/Beefie_Card.png"),
	lazlo-card: wiki("1/17/Lazlo_Card.png"),
	cactopunk-card: wiki("b/b0/Cactopunk_Card.png"),
	crescent-spud-card: wiki("c/c2/Crescent_Spud_Card.png"),
	snakenhotep-card: wiki("4/43/Snakenhotep_Card.png"),
	enraged-snakenhotep-card: wiki("2/24/Enraged_Snakenhotep_Card.png"),
	inevitable-snakenhotep-card: wiki("1/11/Inevitable_Snakenhotep_Card.png"),
	ice-guard-card: wiki("f/fe/Ice_Guard_Card.png"),
	glaciaxus-card: wiki("1/17/Glaciaxus_Card.png"),
	golden-glaciaxus-card: wiki("c/c1/Golden_Glaciaxus_Card.png"),
	caustic-glaciaxus-card: wiki("9/98/Caustic_Glaciaxus_Card.png")
);
$bosses-n-nightmares: (
	baba-yaga-card: wiki("7/7e/Baba_Yaga_Card.png"),
	dr-defecaus-card: wiki("e/e3/Dr_Defecaus_Card.png"),
	boop-card: wiki("7/77/Boop_Card.png"),
	amarok-card: wiki("8/81/Amarok_Card.png"),
	chaotic-amarok-card: wiki("d/d2/Chaotic_Amarok_Card.png"),
	radiant-amarok-card: wiki("6/63/Radiant_Amarok_Card.png"),
	biggie-hours-card: wiki("d/d1/Biggie_Hours_Card.png"),
	king-doot-card: wiki("1/13/King_Doot_Card.png"),
	efaunt-card: wiki("a/ac/Efaunt_Card.png"),
	chaotic-efaunt-card: wiki("8/84/Chaotic_Efaunt_Card.png"),
	gilded-efaunt-card: wiki("d/d0/Gilded_Efaunt_Card.png"),
	dilapidated-slush-card: wiki("4/4e/Dilapidated_Slush_Card.png"),
	chizoar-card: wiki("5/50/Chizoar_Card.png"),
	chaotic-chizoar-card: wiki("5/52/Chaotic_Chizoar_Card.png"),
	blighted-chizoar-card: wiki("5/5b/Blighted_Chizoar_Card.png"),
	mutated-mush-card: wiki("a/a8/Mutated_Mush_Card.png"),
	massive-troll-card: wiki("9/99/Massive_Troll_Card.png"),
	chaotic-troll-card: wiki("9/95/Chaotic_Troll_Card.png"),
	blitzkrieg-troll-card: wiki("7/7c/Blitzkrieg_Troll_Card.png"),
	kattlekruk-card: wiki("2/2c/Kattlekruk_Card.png"),
	chaotic-kattlekruk-card: wiki("8/89/Chaotic_Kattlekruk_Card.png"),
	sacrilegious-kattlekruk-card: wiki("5/5d/Sacrilegious_Kattlekruk_Card.png"),
	emperor-card: wiki("5/5c/Emperor_Card.png"),
	chaotic-emperor-card: wiki("5/52/Chaotic_Emperor_Card.png"),
	sovereign-emperor-card: wiki("6/64/Sovereign_Emperor_Card.png")
);
$events: (
	ghost-event-card: wiki("a/ae/Ghost_%28Event%29_Card.png"),
	giftmas-blobulyte-card: wiki("b/bb/Giftmas_Blobulyte_Card.png"),
	meaning-of-giftmas-card: wiki("f/f3/Meaning_of_Giftmas_Card.png"),
	valentslime-card: wiki("e/e2/Valentslime_Card.png"),
	loveulyte-card: wiki("a/ae/Loveulyte_Card.png"),
	chocco-box-card: wiki("1/11/Chocco_Box_Card.png"),
	giant-rose-card: wiki("1/16/Giant_Rose_Card.png"),
	floofie-card: wiki("a/ab/Floofie_Card.png"),
	shell-snake-card: wiki("2/2a/Shell_Snake_Card.png"),
	egggulyte-card: wiki("1/1b/Egggulyte_Card.png"),
	egg-capsule-card: wiki("3/3f/Egg_Capsule_Card.png"),
	plasti-doug-card: wiki("d/d4/Plasti_Doug_Card.png"),
	mr-blueberry-card: wiki("b/ba/Mr_Blueberry_Card.png"),
	coastiolyte-card: wiki("d/da/Coastiolyte_Card.png"),
	summer-spirit-card: wiki("8/8a/Summer_Spirit_Card.png"),
	golden-giftmas-box-card: wiki("1/1d/Golden_Giftmas_Box_Card.png"),
	bubbulyte-card: wiki("5/54/Bubbulyte_Card.png"),
	spring-splendor-card: wiki("e/ec/Spring_Splendor_Card.png"),
	falloween-pumpkin-card: wiki("e/e7/Falloween_Pumpkin_Card.png")
);

$all-cards: map-merge($blunder-hills, $easy-resources);
$all-cards: map-merge($all-cards, $yum-yum-desert);
$all-cards: map-merge($all-cards, $easy-resources);
$all-cards: map-merge($all-cards, $medium-resources);
$all-cards: map-merge($all-cards, $frostbite-tundra);
$all-cards: map-merge($all-cards, $hard-resources);
$all-cards: map-merge($all-cards, $hyperion-nebula);
$all-cards: map-merge($all-cards, $smolderin-plateau);
$all-cards: map-merge($all-cards, $spirited-valley);
$all-cards: map-merge($all-cards, $dungeons);
$all-cards: map-merge($all-cards, $bosses-n-nightmares);
$all-cards: map-merge($all-cards, $events);
