$mining: wiki('2/2f/Mining_Skill_Icon.png');
$smithing: wiki('8/84/Smithing.png');
$choppin: wiki('9/99/Choppin_Skill_Icon.png');
$fishing: wiki('e/e7/Fishing_Skill_Icon.png');
$alchemy: wiki('a/a3/Alchemy_Skill_Icon.png');
$catching: wiki('7/7b/Catching_Skill_Icon.png');
$trapping: wiki('f/f2/Trapping_Skill_Icon.png');
$construction: wiki('6/62/Construction_Skill_Icon.png');
$worship: wiki('5/54/Worship_Skill_Icon.png');
$cooking: wiki('8/87/Cooking_Skill_Icon.png');
$breeding: wiki('2/27/Breeding_Skill_Icon.png');
$laboratory: wiki('b/b9/Laboratory_Skill_Icon.png');
$sailing: wiki('b/ba/Sailing_Skill_Icon.png');
$gaming: wiki('3/3d/Gaming_Skill_Icon.png');
$divinity: wiki('5/5d/Divinity_Skill_Icon.png');

$skill-icons: (
	mining: $mining,
	smithing: $smithing,
	choppin: $choppin,
	fishing: $fishing,
	alchemy: $alchemy,
	catching: $catching,
	trapping: $trapping,
	construction: $construction,
	worship: $worship,
	cooking: $cooking,
	breeding: $breeding,
	laboratory: $laboratory,
	sailing: $sailing,
	gaming: $gaming,
	divinity: $divinity,
)