$normal-skull: wiki('6/6d/Status_Skull0.png');
$copper-skull: wiki('3/3d/Status_Skull1.png');
$iron-skull: wiki('d/de/Status_Skull2.png');
$gold-skull: wiki('c/cb/Status_Skull3.png');
$platinum-skull: wiki('0/00/Status_Skull4.png');
$dementia-skull: wiki('8/8a/Status_Skull5.png');
$lava-skull: wiki('e/e5/Status_Skull6.png');
$eclipse-skull: wiki('8/82/Rift_Bonus_4.png');

$skulls: (
	normal-skull: $normal-skull,
	copper-skull: $copper-skull,
	iron-skull: $iron-skull,
	gold-skull: $gold-skull,
	platinum-skull: $platinum-skull,
	dementia-skull: $dementia-skull,
	lava-skull: $lava-skull,
	eclipse-skull: $eclipse-skull,
);