$storage-items: (
    cosmic-storage-chest: wiki("b/b8/Cosmic_Storage_Chest.png"),
    storage-chest-90: wiki('d/d1/Storage_Chest_90.png'),
    storage-chest-91: wiki('b/b3/Storage_Chest_91.png'),
    storage-chest-92: wiki('5/5d/Storage_Chest_92.png'),
    storage-chest-93: wiki('b/b2/Storage_Chest_93.png'),
    storage-chest-94: wiki('7/77/Storage_Chest_94.png'),
    storage-chest-95: wiki('9/97/Storage_Chest_95.png'),
    storage-chest-96: wiki('6/6f/Storage_Chest_96.png'),
    storage-chest-97: wiki('6/6a/Storage_Chest_97.png'),
    storage-chest-98: wiki('a/ab/Storage_Chest_98.png'),
    storage-chest-99: wiki('8/8f/Storage_Chest_99.png'),
    storage-chest-99b: wiki('a/a4/Storage_Chest_99B.png'),
    storage-chest-99c: wiki('d/da/Storage_Chest_99C.png'),
)
