$vials: (
	copper-corona: $copper-ore,
	sippy-splinters: $oak-logs,
	mushroom-soup: $spore-cap,
	spool-sprite: $thread,
	barium-mixture: $copper-bar,
	dieter-drink: $bean-slices,
	skinny-0-cal: $snake-skin,
	thumb-pow: $trusty-nails,
	jungle-juice: $jungle-logs,
	barley-brew: $iron-bar,
	anearful: $glublin-ear,
	tea-with-pea: $potty-rolls,
	gold-guzzle: $gold-ore,
	ramificoction: $bullfrog-horn,
	seawater: $goldfish,
	tail-time: $rats-tail,
	fly-in-my-drink: $fly,
	mimicraught: $megalodon-tooth,
	blue-flav: $platinum-ore,
	slug-slurp: $hermit-can,
	pickle-jar: $bobjoepickle,
	fur-refresher: $floof-ploof,
	sippy-soul: $forest-soul,
	crab-juice: $crabbo,
	void-vial: $void-ore,
	red-malt: $redox-salts,
	ew-gross-gross: $mosquisnow,
	the-spanish-sahara: $tundra-logs,
	poison-tincture: $poison-froge,
	etruscan-lager: $mamooth-tusk,
	chonker-chug: $dune-soul,
	bubonic-burp: $mousey,
	visible-ink: $pen,
	orange-malt: $explosive-salts,
	snow-slurry: $snow-ball,
	slowergy-drink: $frigid-soul,
	sippy-cup: $sippy-straw,
	bunny-brew: $bunny,
	x40-40-purity: $contact-lense,
	shaved-ice: $purple-salt,
	goosey-glug: $honker,
	ball-pickle-jar: $balljoepickle,
	capachino: $purple-mush-cap,
	donut-drink: $half-eaten-donut,
	long-island-tea: $sand-shark,
	spook-pint: $squishy-soul,
	calcium-carbonate: $tongue-bone,
	bloat-draft: $blobfish,
	choco-milkshake: $crumpled-wrapper,
	pearl-seltzer: $pearler-shell,
	krakenade: $kraken,
	electrolyte: $condensed-zap,
	ash-agua: $suggma-ashes,
	maple-syrup: $maple-logs,
	hampter-drippy: $hampter,
	dreadnog: $dreadlo-bar,
	dusted-drink: $dust-mote,
	oj-jooce: $orange-slice,
	oozie-ooblek: $oozie-soul,
	venison-malt: $mongo-worm-slices,
	marble-mocha: $marble-ore,
	willow-sippy: $willow-logs,
	shinyfin-stew: $equinox-fish,
	dreamy-drink: $dream-particulate,
	ricecakorade: $rice-cake,
	ladybug-serum: $ladybug,
	flavorgil: $caulifish,
	greenleaf-tea: $leafy-branch,
	firefly-grog: $firefly,
	dabar-special: $godshard-bar,
	refreshment: $breezy-soul,
	gibbed-drink: $eviscerated-chunk,
	ded-sap: $effervescent-logs,
	royale-cola: $royal-headpiece,
	turtle-tisane: $tuttle,
)
