$blunder-hills-achievements: (
	learn-2-forge: img('data/TaskAchA1.png'),
	sleepy-gamer: img('data/TaskAchA3.png'),
	another-me: img('data/TaskAchA2.png'),
	classy: img('data/TaskAchA4.png'),
	hitting-the-mark: img('data/TaskAchA5.png'),
	learn-2-entertain: img('data/TaskAchA6.png'),
	x5-hunned-copper: img('data/TaskAchA7.png'),
	heyo: img('data/TaskAchA55.png'),
	rookie-player: img('data/TaskAchA8.png'),
	x15-kiloggrams: img('data/TaskAchA9.png'),
	small-savings: img('data/TaskAchA10.png'),
	copper-quipment: img('data/TaskAchA11.png'),
	the-sculpture-within: img('data/TaskAchA12.png'),
	card-collector: img('data/TaskAchA13.png'),
	do-what-youre-told: img('data/TaskAchA14.png'),
	learn-2-translate: img('data/TaskAchA15.png'),
	wode-together: img('data/TaskAchA16.png'),
	x2-tons-of-iron: img('data/TaskAchA17.png'),
	dungeon-pinch: img('data/TaskAchA58.png'),
	big-frog-angry: img('data/TaskAchA59.png'),
	giga-decimation: img('data/TaskAchA18.png'),
	shut-it-poochy: img('data/TaskAchA19.png'),
	average-player: img('data/TaskAchA20.png'),
	slimeicidal-endeavor: img('data/TaskAchA21.png'),
	right-to-bear-iron: img('data/TaskAchA22.png'),
	x5-6-pick-up-sticks: img('data/TaskAchA23.png'),
	x20-bundles-of-jungle: img('data/TaskAchA24.png'),
	colosseum-contender: img('data/TaskAchA25.png'),
	crystal-beatdown: img('data/TaskAchA26.png'),
	ten-trips-of-gold: img('data/TaskAchA27.png'),
	minecart-maniac: img('data/TaskAchA28.png'),
	spike-minigame-master: img('data/TaskAchA29.png'),
	anvil-expansion: img('data/TaskAchA30.png'),
	steppin-on-the-rats: img('data/TaskAchA31.png'),
	tree-top-dropout: img('data/TaskAchA32.png'),
	naked-and-unafraid: img('data/TaskAchA33.png'),
	house-flipper: img('data/TaskAchA34.png'),
	platinum-200g: img('data/TaskAchA35.png'),
	based-roots: img('data/TaskAchA57.png'),
	guild-member: img('data/TaskAchA36.png'),
	boss-buster: img('data/TaskAchA37.png'),
	x2-minute-meal: img('data/TaskAchA62.png'),
	big-frog-furious: img('data/TaskAchA60.png'),
	nutty-crafter: img('data/TaskAchA38.png'),
	minecart-master: img('data/TaskAchA39.png'),
	choppin-to-the-beat: img('data/TaskAchA40.png'),
	decked-out-in-gold: img('data/TaskAchA41.png'),
	nice-fur-suit: img('data/TaskAchA42.png'),
	half-a-mill-log: img('data/TaskAchA43.png'),
	anothervil-expansion: img('data/TaskAchA56.png'),
	bad-doggy: img('data/TaskAchA44.png'),
	two-time-savior: img('data/TaskAchA45.png'),
	million-null-n-void: img('data/TaskAchA46.png'),
	big-frog-sad: img('data/TaskAchA61.png'),
	lucky-7s: img('data/TaskAchA47.png'),
	what-a-view: img('data/TaskAchA48.png'),
	cavernous-nook: img('data/TaskAchA49.png'),
	seriousleaf-ast: img('data/TaskAchA50.png'),
	peanut-pioneer: img('data/TaskAchA51.png'),
	meel-time: img('data/TaskAchA52.png'),
	pro-gamer-move: img('data/TaskAchA53.png'),
	meet-the-dev: img('data/TaskAchA54.png'),
	big-frog-big-mad: img('data/TaskAchA63.png')
);
$yum-yum-desert-achievements: (
	down-by-the-desert: img('data/TaskAchB1.png'),
	more-and-more-me: img('data/TaskAchB4.png'),
	elite-player: img('data/TaskAchB2.png'),
	retirement-fund: img('data/TaskAchB3.png'),
	golden-fly: img('data/TaskAchB5.png'),
	hammer-bub: img('data/TaskAchB6.png'),
	wassup-yo: img('data/TaskAchB7.png'),
	gold-school: img('data/TaskAchB8.png'),
	buzz-buzz: img('data/TaskAchB9.png'),
	careful-its-sharp: img('data/TaskAchB10.png'),
	hybernation: img('data/TaskAchB11.png'),
	vial-noob: img('data/TaskAchB12.png'),
	specializational: img('data/TaskAchB13.png'),
	obols-oh-boy: img('data/TaskAchB14.png'),
	well-learned: img('data/TaskAchB15.png'),
	tomb-raider: img('data/TaskAchB50.png'),
	just-passing-by: img('data/TaskAchB54.png'),
	b-o-b-to-help: img('data/TaskAchB16.png'),
	card-enthusiast: img('data/TaskAchB17.png'),
	efaunt-trumped: img('data/TaskAchB18.png'),
	fishing-finesse: img('data/TaskAchB19.png'),
	catching-coronation: img('data/TaskAchB20.png'),
	crystal-superslam: img('data/TaskAchB21.png'),
	slumbering-gamer: img('data/TaskAchB22.png'),
	my-first-trophy: img('data/TaskAchB23.png'),
	a-fish-too-far: img('data/TaskAchB24.png'),
	rat-a-tat-tat: img('data/TaskAchB25.png'),
	pillars-of-sand: img('data/TaskAchB26.png'),
	vial-connoisseur: img('data/TaskAchB27.png'),
	coarse-cards: img('data/TaskAchB28.png'),
	trial-by-time: img('data/TaskAchB29.png'),
	golden-obolden: img('data/TaskAchB30.png'),
	monocle-no-more: img('data/TaskAchB31.png'),
	jellyfish-jelly: img('data/TaskAchB32.png'),
	super-cereal: img('data/TaskAchB33.png'),
	sweet-victory: img('data/TaskAchB34.png'),
	ink-blot: img('data/TaskAchB35.png'),
	demon-demolisher: img('data/TaskAchB36.png'),
	tomb-defiler: img('data/TaskAchB51.png'),
	dungeon-slap: img('data/TaskAchB55.png'),
	wazzzzam: img('data/TaskAchB53.png'),
	dumbo-destroyer: img('data/TaskAchB37.png'),
	threadin-the-needle: img('data/TaskAchB38.png'),
	s-m-r-t: img('data/TaskAchB39.png'),
	two-desserts: img('data/TaskAchB40.png'),
	nuget-nightmare: img('data/TaskAchB41.png'),
	bigtime-bloacher: img('data/TaskAchB42.png'),
	vial-junkee: img('data/TaskAchB43.png'),
	fruit-salad: img('data/TaskAchB44.png'),
	your-skin-my-skin: img('data/TaskAchB45.png'),
	tomb-completionist: img('data/TaskAchB52.png'),
	waaaaaaahh: img('data/TaskAchB46.png'),
	bobjoepicklejar: img('data/TaskAchB47.png'),
	fish-aint-biting: img('data/TaskAchB48.png'),
	skill-master: img('data/TaskAchB49.png')
);
$frostbite-tundra-achievements: (
	snowy-wonderland: img('data/TaskAchC1.png'),
	sad-souls: img('data/TaskAchC5.png'),
	veteran-gamer: img('data/TaskAchC2.png'),
	checkout-takeout: img('data/TaskAchC6.png'),
	croakin-froge: img('data/TaskAchC4.png'),
	a-family-of-me: img('data/TaskAchC3.png'),
	yawning-cogs: img('data/TaskAchC7.png'),
	blunder-skull: img('data/TaskAchC8.png'),
	too-cute-to-live: img('data/TaskAchC9.png'),
	big-mobs-eek: img('data/TaskAchC10.png'),
	powdered-neutronium: img('data/TaskAchC11.png'),
	soulslike: img('data/TaskAchC12.png'),
	good-times-roll: img('data/TaskAchC13.png'),
	cog-in-the-system: img('data/TaskAchC14.png'),
	i-create: img('data/TaskAchC15.png'),
	boss-defeated: img('data/TaskAchC48.png'),
	i-sawed: img('data/TaskAchC16.png'),
	hairy-ice-comb: img('data/TaskAchC17.png'),
	giant-slayer: img('data/TaskAchC18.png'),
	saharan-skull: img('data/TaskAchC19.png'),
	fat-souls: img('data/TaskAchC20.png'),
	borrowed-pens: img('data/TaskAchC21.png'),
	large-fortune: img('data/TaskAchC22.png'),
	sqeakin-mousey: img('data/TaskAchC23.png'),
	geared-for-success: img('data/TaskAchC24.png'),
	guild-higher-up: img('data/TaskAchC25.png'),
	legendary-gamer: img('data/TaskAchC26.png'),
	entangled-compounds: img('data/TaskAchC27.png'),
	there-can-be-only-1: img('data/TaskAchC28.png'),
	manager-defeated: img('data/TaskAchC47.png'),
	blurple-skull: img('data/TaskAchC29.png'),
	souped-up-salts: img('data/TaskAchC30.png'),
	i-constructed: img('data/TaskAchC31.png'),
	cogs-be-waitin: img('data/TaskAchC32.png'),
	cool-score: img('data/TaskAchC44.png'),
	simpin-for-npcs: img('data/TaskAchC33.png'),
	top-cogs: img('data/TaskAchC34.png'),
	card-dude: img('data/TaskAchC35.png'),
	crystal-champ: img('data/TaskAchC36.png'),
	smirky-souls: img('data/TaskAchC37.png'),
	comatosed-gamer: img('data/TaskAchC38.png'),
	knock-on-wood: img('data/TaskAchC39.png'),
	the-goose-is-loose: img('data/TaskAchC40.png'),
	sepia-vision: img('data/TaskAchC41.png'),
	capitalist-win: img('data/TaskAchC49.png'),
	rattle-them-bones: img('data/TaskAchC42.png'),
	kingpin-defeated: img('data/TaskAchC46.png'),
	dungeon-wallop: img('data/TaskAchC45.png'),
	a-most-nice-sale: img('data/TaskAchC43.png'),
	equinox-visitor: img('data/TaskAchC50.png')
);
$hyperion-nebula-achievements: (
	milky-wayfarer: img('data/TaskAchD1.png'),
	channel-surfing: img('data/TaskAchD2.png'),
	i-like-this-pet: img('data/TaskAchD9.png'),
	shiny-shells: img('data/TaskAchD11.png'),
	barley-lost: img('data/TaskAchD13.png'),
	cabbage-patch: img('data/TaskAchD15.png'),
	good-plate: img('data/TaskAchD22.png'),
	space-party: img('data/TaskAchD25.png'),
	bottle-capital: img('data/TaskAchD3.png'),
	hunned-times-a-day: img('data/TaskAchD21.png'),
	mythical-gamer: img('data/TaskAchD5.png'),
	i-love-these-pets: img('data/TaskAchD10.png'),
	gilded-shells: img('data/TaskAchD12.png'),
	petless: img('data/TaskAchD14.png'),
	le-pretzel-bleu: img('data/TaskAchD16.png'),
	michelin-ranked: img('data/TaskAchD17.png'),
	woah-thats-fast: img('data/TaskAchD18.png'),
	chippin-away: img('data/TaskAchD20.png'),
	great-plate: img('data/TaskAchD23.png'),
	zero-g-scorin: img('data/TaskAchD26.png'),
	too-many-tentacles: img('data/TaskAchD4.png'),
	matrix-wickermen: img('data/TaskAchD6.png'),
	stars-among-stars: img('data/TaskAchD19.png'),
	best-plate: img('data/TaskAchD24.png'),
	hibernating-gamer: img('data/TaskAchD27.png'),
	lv-5-nothing: img('data/TaskAchD8.png'),
	mutant-massacrer: img('data/TaskAchD28.png'),
	bland-dish: img('data/TaskAchD7.png'),
	soda-poisoning: img('data/TaskAchD29.png'),
	the-true-king: img('data/TaskAchD30.png'),
	the-true-pirate: img('data/TaskAchD31.png'),
	the-true-emperor: img('data/TaskAchD32.png'),
	veritable-master: img('data/TaskAchD33.png')
);
$smoulderin-plateau-achievements: (
	the-plateauourist: img('data/TaskAchE6.png'),
	maple-logger: img('data/TaskAchE1.png'),
	artifact-finder: img('data/TaskAchE8.png'),
	bonsai-bonanza: img('data/TaskAchE20.png'),
	glory-to-nobisect: img('data/TaskAchE13.png'),
	supernatural-gamer: img('data/TaskAchE4.png'),
	artifact-enjoyer: img('data/TaskAchE9.png'),
	vitamin-d-licious: img('data/TaskAchE2.png'),
	poing-champion: img('data/TaskAchE16.png'),
	voraci-vantasia: img('data/TaskAchE19.png'),
	true-naval-captain: img('data/TaskAchE22.png'),
	legendary-orb: img('data/TaskAchE23.png'),
	legendary-flag: img('data/TaskAchE24.png'),
	legendary-wormhole: img('data/TaskAchE25.png'),
	lucky-harvest: img('data/TaskAchE17.png'),
	perfect-trade-deal: img('data/TaskAchE21.png'),
	grand-captain: img('data/TaskAchE31.png'),
	all-hail-purrmep: img('data/TaskAchE14.png'),
	gilded-vessel: img('data/TaskAchE11.png'),
	no-krakens: img('data/TaskAchE7.png'),
	smokin-stars: img('data/TaskAchE5.png'),
	maroon-warship: img('data/TaskAchE12.png'),
	long-live-bagur: img('data/TaskAchE15.png'),
	artifact-jones: img('data/TaskAchE10.png'),
	wurm-wumbo: img('data/TaskAchE3.png'),
	chemical-collector: img('data/TaskAchE18.png'),
	seaworthy-captain: img('data/TaskAchE30.png'),
	lavathian-skulls: img('data/TaskAchE29.png'),
	utter-disrespect: img('data/TaskAchE26.png'),
	sneaky-stealing: img('data/TaskAchE27.png'),
	broken-controller: img('data/TaskAchE28.png'),
	hug-from-timmy: img('data/TaskAchE32.png')
);
$spirited-valley-achievements: (
	valley-visitor: img('data/TaskAchF1.png'),
	scorin-the-ladies: img('data/TaskAchF2.png'),
	lil-overgrowth: img('data/TaskAchF6.png'),
	science-undergrad: img('data/TaskAchF11.png'),
	ceramic-sneaking: img('data/TaskAchF17.png'),
	summoning-cm: img('data/TaskAchF26.png'),
	beanstacker-trainee: img('data/TaskAchF31.png'),
	legumulucky: img('data/TaskAchF15.png'),
	best-bloomie: img('data/TaskAchF23.png'),
	doctor-repellant: img('data/TaskAchF9.png'),
	untying-extraordinaire: img('data/TaskAchF19.png'),
	science-graduate: img('data/TaskAchF12.png'),
	major-overgrowth: img('data/TaskAchF7.png'),
	yellow-belt: img('data/TaskAchF21.png'),
	this-is-summoning: img('data/TaskAchF25.png'),
	big-time-land-owner: img('data/TaskAchF16.png'),
	effervess-enthusiess: img('data/TaskAchF3.png'),
	summoning-im: img('data/TaskAchF27.png'),
	penta-defence: img('data/TaskAchF29.png'),
	beanstacker-prodigy: img('data/TaskAchF34.png'),
	lucky-stealy: img('data/TaskAchF20.png'),
	unreal-overgrowth: img('data/TaskAchF8.png'),
	spectre-stars: img('data/TaskAchF30.png'),
	top-floor-sneaking: img('data/TaskAchF18.png'),
	science-post-doc: img('data/TaskAchF13.png'),
	summoning-gm: img('data/TaskAchF28.png'),
	cob-enjoyer: img('data/TaskAchF10.png'),
	regalis-my-beloved: img('data/TaskAchF24.png'),
	thats-my-crown: img('data/TaskAchF4.png'),
	w6-is-donezo: img('data/TaskAchF35.png'),
	crop-flooding: img('data/TaskAchF14.png'),
	ghost-buster: img('data/TaskAchF33.png'),
	big-big-hampter: img('data/TaskAchF32.png'),
	leet-lanterns: img('data/TaskAchF5.png'),
	straw-hat-stacking: img('data/TaskAchF22.png')
);

$achievements: map-merge($blunder-hills-achievements, $yum-yum-desert-achievements);
$achievements: map-merge($achievements, $frostbite-tundra-achievements);
$achievements: map-merge($achievements, $hyperion-nebula-achievements);
$achievements: map-merge($achievements, $smoulderin-plateau-achievements);
$achievements: map-merge($achievements, $spirited-valley-achievements);
