$blunder-hills-achievements: (
	learn-2-forge: img('wiki/Learn_2_Forge_Achievement.png'),
	sleepy-gamer: img('wiki/Sleepy_Gamer_Achievement.png'),
	another-me: img('wiki/Another_Me%21_Achievement.png'),
	classy: img('wiki/Classy%21_Achievement.png'),
	hitting-the-mark: img('wiki/Hitting_the_Mark_Achievement.png'),
	learn-2-entertain: img('wiki/Learn_2_Entertain_Achievement.png'),
	x5-hunned-copper: img('wiki/5_%27hunned_Copper_Achievement.png'),
	heyo: img('wiki/Heyo%21_Achievement.png'),
	rookie-player: img('wiki/Rookie_Player_Achievement.png'),
	x15-kiloggrams: img('wiki/1.5_Ki%27log%27grams_Achievement.png'),
	small-savings: img('wiki/Small_Savings_Achievement.png'),
	copper-quipment: img('wiki/Copper_Quipment_Achievement.png'),
	the-sculpture-within: img('wiki/The_Sculpture_Within_Achievement.png'),
	card-collector: img('wiki/Card_Collector_Achievement.png'),
	do-what-youre-told: img('wiki/Do_What_You%27re_Told_Achievement.png'),
	learn-2-translate: img('wiki/Learn_2_Translate_Achievement.png'),
	wode-together: img('wiki/Wode_Together_Achievement.png'),
	x2-tons-of-iron: img('wiki/2_Tons_of_Iron_Achievement.png'),
	dungeon-pinch: img('wiki/Dungeon_Pinch_Achievement.png'),
	big-frog-angry: img('wiki/Big_Frog_Angry_Achievement.png'),
	giga-decimation: img('wiki/Giga_Decimation_Achievement.png'),
	shut-it-poochy: img('wiki/Shut_it_Poochy_Achievement.png'),
	average-player: img('wiki/Average_Player_Achievement.png'),
	slimeicidal-endeavor: img('wiki/Slimeicidal_Endeavor_Achievement.png'),
	right-to-bear-iron: img('wiki/Right_to_Bear_Iron_Achievement.png'),
	x5-6-pick-up-sticks: img('wiki/5-6_Pick_up_Sticks_Achievement.png'),
	x20-bundles-of-jungle: img('wiki/20_Bundles_of_Jungle_Achievement.png'),
	colosseum-contender: img('wiki/Colosseum_Contender_Achievement.png'),
	crystal-beatdown: img('wiki/Crystal_Beatdown_Achievement.png'),
	ten-trips-of-gold: img('wiki/Ten_Trips_of_Gold_Achievement.png'),
	minecart-maniac: img('wiki/Minecart_Maniac_Achievement.png'),
	spike-minigame-master: img('wiki/Spike_Minigame_Master_Achievement.png'),
	anvil-expansion: img('wiki/Anvil_Expansion_Achievement.png'),
	steppin-on-the-rats: img('wiki/Steppin%27_on_the_Rats_Achievement.png'),
	tree-top-dropout: img('wiki/Tree_Top_Dropout_Achievement.png'),
	naked-and-unafraid: img('wiki/Naked_and_Unafraid_Achievement.png'),
	house-flipper: img('wiki/House_Flipper_Achievement.png'),
	platinum-200g: img('wiki/Platinum_200G_Achievement.png'),
	based-roots: img('wiki/Based_Roots_Achievement.png'),
	guild-member: img('wiki/Guild_Member_Achievement.png'),
	boss-buster: img('wiki/Boss_Buster_Achievement.png'),
	x2-minute-meal: img('wiki/2_minute_meal_Achievement.png'),
	big-frog-furious: img('wiki/Big_Frog_Furious_Achievement.png'),
	nutty-crafter: img('wiki/Nutty_Crafter_Achievement.png'),
	minecart-master: img('wiki/Minecart_Master_Achievement.png'),
	choppin-to-the-beat: img('wiki/Choppin%27_to_the_Beat_Achievement.png'),
	decked-out-in-gold: img('wiki/Decked_Out_in_Gold_Achievement.png'),
	nice-fur-suit: img('wiki/Nice_Fur_Suit_Achievement.png'),
	half-a-mill-log: img('wiki/Half_a_Mill-log_Achievement.png'),
	anothervil-expansion: img('wiki/Anothervil_Expansion_Achievement.png'),
	bad-doggy: img('wiki/Bad_Doggy%21_Achievement.png'),
	two-time-savior: img('wiki/Two-Time_Savior_Achievement.png'),
	million-null-n-void: img('wiki/Million_Null_%27n_Void_Achievement.png'),
	big-frog-sad: img('wiki/Big_Frog_Sad_Achievement.png'),
	lucky-7s: img('wiki/Lucky_7s_Achievement.png'),
	what-a-view: img('wiki/What_a_View%21_Achievement.png'),
	seriousleaf-ast: img('wiki/Seriousleaf-ast%21_Achievement.png'),
	peanut-pioneer: img('wiki/Peanut_Pioneer_Achievement.png'),
	meel-time: img('wiki/Meel_Time%21_Achievement.png'),
	pro-gamer-move: img('wiki/Pro_Gamer_Move_Achievement.png'),
	meet-the-dev: img('wiki/Meet_the_Dev_Achievement.png'),
	big-frog-big-mad: img('wiki/Big_Frog_Big_Mad_Achievement.png')
);
$yum-yum-desert-achievements: (
	down-by-the-desert: img('wiki/Down_by_the_Desert_Achievement.png'),
	more-and-more-me: img('wiki/More_and_More_Me%21_Achievement.png'),
	elite-player: img('wiki/Elite_Player_Achievement.png'),
	retirement-fund: img('wiki/Retirement_Fund_Achievement.png'),
	golden-fly: img('wiki/Golden_Fly_Achievement.png'),
	hammer-bub: img('wiki/Hammer_Bub_Achievement.png'),
	wassup-yo: img('wiki/Wassup_Yo%21_Achievement.png'),
	gold-school: img('wiki/Gold_School_Achievement.png'),
	buzz-buzz: img('wiki/Buzz_Buzz_Achievement.png'),
	careful-its-sharp: img('wiki/Careful%2C_it%27s_Sharp%21_Achievement.png'),
	hybernation: img('wiki/Hybernation_Achievement.png'),
	vial-noob: img('wiki/Vial_Noob_Achievement.png'),
	specializational: img('wiki/Specializational%21_Achievement.png'),
	obols-oh-boy: img('wiki/Obols_Oh_Boy%21_Achievement.png'),
	well-learned: img('wiki/Well_Learned_Achievement.png'),
	tomb-raider: img('wiki/Tomb_Raider_Achievement.png'),
	just-passing-by: img('wiki/Just_Passing_By_Achievement.png'),
	b-o-b-to-help: img('wiki/B-o-B_to_Help_Achievement.png'),
	card-enthusiast: img('wiki/Card_Enthusiast_Achievement.png'),
	efaunt-trumped: img('wiki/Efaunt_Trumped_Achievement.png'),
	fishing-finesse: img('wiki/Fishing_Finesse_Achievement.png'),
	catching-coronation: img('wiki/Catching_Coronation_Achievement.png'),
	crystal-superslam: img('wiki/Crystal_Superslam_Achievement.png'),
	slumbering-gamer: img('wiki/Slumbering_Gamer_Achievement.png'),
	my-first-trophy: img('wiki/My_First_Trophy%21_Achievement.png'),
	a-fish-too-far: img('wiki/A_Fish_Too_Far_Achievement.png'),
	rat-a-tat-tat: img('wiki/Rat-a-tat-tat_Achievement.png'),
	pillars-of-sand: img('wiki/Pillars_of_Sand_Achievement.png'),
	vial-connoisseur: img('wiki/Vial_Connoisseur_Achievement.png'),
	coarse-cards: img('wiki/Coarse_Cards_Achievement.png'),
	trial-by-time: img('wiki/Trial_by_Time_Achievement.png'),
	golden-obolden: img('wiki/Golden_Obolden%21_Achievement.png'),
	monocle-no-more: img('wiki/Monocle_No_More_Achievement.png'),
	jellyfish-jelly: img('wiki/Jellyfish_Jelly_Achievement.png'),
	super-cereal: img('wiki/Super_Cereal_Achievement.png'),
	sweet-victory: img('wiki/Sweet_Victory_Achievement.png'),
	ink-blot: img('wiki/Ink_Blot_Achievement.png'),
	demon-demolisher: img('wiki/Demon_Demolisher_Achievement.png'),
	tomb-defiler: img('wiki/Tomb_Defiler_Achievement.png'),
	dungeon-slap: img('wiki/Dungeon_Slap_Achievement.png'),
	wazzzzam: img('wiki/Wazzzzam%21_Achievement.png'),
	dumbo-destroyer: img('wiki/Dumbo_Destroyer_Achievement.png'),
	threadin-the-needle: img('wiki/Threadin%27_the_Needle_Achievement.png'),
	s-m-r-t: img('wiki/S-M-R-T_Achievement.png'),
	two-desserts: img('wiki/Two_Desserts%21_Achievement.png'),
	nuget-nightmare: img('wiki/Nuget_Nightmare_Achievement.png'),
	bigtime-bloacher: img('wiki/Bigtime_Bloacher_Achievement.png'),
	vial-junkee: img('wiki/Vial_Junkee_Achievement.png'),
	fruit-salad: img('wiki/Fruit_Salad_Achievement.png'),
	your-skin-my-skin: img('wiki/Your_Skin%2C_My_Skin_Achievement.png'),
	tomb-completionist: img('wiki/Tomb_Completionist_Achievement.png'),
	waaaaaaahh: img('wiki/WAAAAAAAHH%21_Achievement.png'),
	bobjoepicklejar: img('wiki/Bobjoepicklejar_Achievement.png'),
	fish-aint-biting: img('wiki/Fish_Aint_Biting_Achievement.png'),
	skill-master: img('wiki/Skill_Master_Achievement.png')
);
$frostbite-tundra-achievements: (
	snowy-wonderland: img('wiki/Snowy_Wonderland_Achievement.png'),
	sad-souls: img('wiki/Sad_Souls_Achievement.png'),
	veteran-gamer: img('wiki/Veteran_Gamer_Achievement.png'),
	checkout-takeout: img('wiki/Checkout_Takeout_Achievement.png'),
	croakin-froge: img('wiki/Croakin%27_Froge_Achievement.png'),
	a-family-of-me: img('wiki/A_Family_of_Me%21_Achievement.png'),
	yawning-cogs: img('wiki/Yawning_Cogs_Achievement.png'),
	blunder-skull: img('wiki/Blunder_Skull_Achievement.png'),
	too-cute-to-live: img('wiki/Too_Cute_To_Live_Achievement.png'),
	big-mobs-eek: img('wiki/Big_Mobs_Eek_Achievement.png'),
	powdered-neutronium: img('wiki/Powdered_Neutronium_Achievement.png'),
	soulslike: img('wiki/Soulslike_Achievement.png'),
	good-times-roll: img('wiki/Good_Times_Roll_Achievement.png'),
	cog-in-the-system: img('wiki/Cog_in_the_System_Achievement.png'),
	i-create: img('wiki/I_Create..._Achievement.png'),
	boss-defeated: img('wiki/Boss_Defeated_Achievement.png'),
	i-sawed: img('wiki/I_Sawed..._Achievement.png'),
	hairy-ice-comb: img('wiki/Hairy_Ice_Comb_Achievement.png'),
	giant-slayer: img('wiki/Giant_Slayer_Achievement.png'),
	saharan-skull: img('wiki/Saharan_Skull_Achievement.png'),
	fat-souls: img('wiki/Fat_Souls_Achievement.png'),
	borrowed-pens: img('wiki/Borrowed_Pens_Achievement.png'),
	large-fortune: img('wiki/Large_Fortune_Achievement.png'),
	sqeakin-mousey: img('wiki/Sqeakin%27_Mousey_Achievement.png'),
	geared-for-success: img('wiki/Geared_for_Success_Achievement.png'),
	guild-higher-up: img('wiki/Guild_Higher-Up_Achievement.png'),
	legendary-gamer: img('wiki/Legendary_Gamer_Achievement.png'),
	entangled-compounds: img('wiki/Entangled_Compounds_Achievement.png'),
	there-can-be-only-1: img('wiki/There_Can_Be_Only_1_Achievement.png'),
	manager-defeated: img('wiki/Manager_Defeated_Achievement.png'),
	blurple-skull: img('wiki/Blurple_Skull_Achievement.png'),
	souped-up-salts: img('wiki/Souped_Up_Salts_Achievement.png'),
	i-constructed: img('wiki/I_Constructed%21_Achievement.png'),
	cogs-be-waitin: img('wiki/Cogs_Be_Waitin%27_Achievement.png'),
	cool-score: img('wiki/Cool_Score%21_Achievement.png'),
	simpin-for-npcs: img('wiki/Simpin%27_for_NPC%27s_Achievement.png'),
	top-cogs: img('wiki/Top_Cogs_Achievement.png'),
	card-dude: img('wiki/Card_Dude_Achievement.png'),
	crystal-champ: img('wiki/Crystal_Champ_Achievement.png'),
	smirky-souls: img('wiki/Smirky_Souls_Achievement.png'),
	comatosed-gamer: img('wiki/Comatosed_Gamer_Achievement.png'),
	knock-on-wood: img('wiki/Knock_on_Wood_Achievement.png'),
	the-goose-is-loose: img('wiki/The_Goose_is_Loose_Achievement.png'),
	sepia-vision: img('wiki/Sepia_Vision_Achievement.png'),
	capitalist-win: img('wiki/Capitalist_Win_Achievement.png'),
	rattle-them-bones: img('wiki/Rattle_them_Bones_Achievement.png'),
	kingpin-defeated: img('wiki/Kingpin_Defeated_Achievement.png'),
	dungeon-wallop: img('wiki/Dungeon_Wallop_Achievement.png'),
	a-most-nice-sale: img('wiki/A_Most_Nice_Sale_Achievement.png'),
	equinox-visitor: img('wiki/Equinox_Visitor_Achievement.png')
);
$hyperion-nebula-achievements: (
	milky-wayfarer: img('wiki/Milky_Wayfarer_Achievement.png'),
	channel-surfing: img('wiki/Channel_Surfing_Achievement.png'),
	i-like-this-pet: img('wiki/I_Like_This_Pet_Achievement.png'),
	shiny-shells: img('wiki/Shiny_Shells_Achievement.png'),
	barley-lost: img('wiki/Barley_Lost_Achievement.png'),
	cabbage-patch: img('wiki/Cabbage_Patch_Achievement.png'),
	good-plate: img('wiki/Good_Plate_Achievement.png'),
	space-party: img('wiki/Space_Party%21%21%21_Achievement.png'),
	bottle-capital: img('wiki/Bottle_Capital_Achievement.png'),
	hunned-times-a-day: img('wiki/Hunned_Times_a_Day_Achievement.png'),
	mythical-gamer: img('wiki/Mythical_Gamer_Achievement.png'),
	i-love-these-pets: img('wiki/I_LOVE_These_Pets_Achievement.png'),
	gilded-shells: img('wiki/Gilded_Shells_Achievement.png'),
	petless: img('wiki/Petless_Achievement.png'),
	le-pretzel-bleu: img('wiki/Le_Pretzel_Bleu_Achievement.png'),
	michelin-ranked: img('wiki/Michelin_Ranked_Achievement.png'),
	woah-thats-fast: img('wiki/WOAH_That%27s_Fast_Achievement.png'),
	chippin-away: img('wiki/Chippin%27_Away_Achievement.png'),
	great-plate: img('wiki/Great_Plate_Achievement.png'),
	zero-g-scorin: img('wiki/Zero_G_Scorin%27_Achievement.png'),
	too-many-tentacles: img('wiki/Too_Many_Tentacles_Achievement.png'),
	matrix-wickermen: img('wiki/Matrix_Wickermen_Achievement.png'),
	stars-among-stars: img('wiki/Stars_Among_Stars_Achievement.png'),
	best-plate: img('wiki/Best_Plate_Achievement.png'),
	hibernating-gamer: img('wiki/Hibernating_Gamer_Achievement.png'),
	lv-5-nothing: img('wiki/Lv._5_Nothing_Achievement.png'),
	mutant-massacrer: img('wiki/Mutant_Massacrer_Achievement.png'),
	bland-dish: img('wiki/Bland_Dish_Achievement.png'),
	soda-poisoning: img('wiki/Soda_Poisoning_Achievement.png'),
	the-true-king: img('wiki/The_True_King_Achievement.png'),
	the-true-pirate: img('wiki/The_True_Pirate_Achievement.png'),
	the-true-emperor: img('wiki/The_True_Emperor_Achievement.png'),
	veritable-master: img('wiki/Veritable_Master_Achievement.png')
);
$smoulderin-plateau-achievements: (
	the-plateauourist: img('wiki/The_Plateauourist_Achievement.png'),
	maple-logger: img('wiki/Maple_Logger_Achievement.png'),
	artifact-finder: img('wiki/Artifact_Finder_Achievement.png'),
	bonsai-bonanza: img('wiki/Bonsai_Bonanza_Achievement.png'),
	glory-to-nobisect: img('wiki/Glory_To_Nobisect_Achievement.png'),
	supernatural-gamer: img('wiki/Supernatural_Gamer_Achievement.png'),
	artifact-enjoyer: img('wiki/Artifact_Enjoyer_Achievement.png'),
	vitamin-d-licious: img('wiki/Vitamin_D-licious_Achievement.png'),
	poing-champion: img('wiki/POiNG_Champion_Achievement.png'),
	voraci-vantasia: img('wiki/Voraci_Vantasia_Achievement.png'),
	true-naval-captain: img('wiki/True_Naval_Captain_Achievement.png'),
	legendary-orb: img('wiki/Legendary_Orb_Achievement.png'),
	legendary-flag: img('wiki/Legendary_Flag_Achievement.png'),
	legendary-wormhole: img('wiki/Legendary_Wormhole_Achievement.png'),
	lucky-harvest: img('wiki/Lucky_Harvest_Achievement.png'),
	perfect-trade-deal: img('wiki/Perfect_Trade_Deal_Achievement.png'),
	grand-captain: img('wiki/Grand_Captain_Achievement.png'),
	all-hail-purrmep: img('wiki/All_Hail_Purrmep_Achievement.png'),
	gilded-vessel: img('wiki/Gilded_Vessel_Achievement.png'),
	no-krakens: img('wiki/No_Krakens%3F_Achievement.png'),
	smokin-stars: img('wiki/Smokin%27_Stars_Achievement.png'),
	maroon-warship: img('wiki/Maroon_Warship_Achievement.png'),
	long-live-bagur: img('wiki/Long_Live_Bagur_Achievement.png'),
	artifact-jones: img('wiki/Artifact_Jones_Achievement.png'),
	wurm-wumbo: img('wiki/Wurm_Wumbo_Achievement.png'),
	chemical-collector: img('wiki/Chemical_Collector_Achievement.png'),
	seaworthy-captain: img('wiki/Seaworthy_Captain_Achievement.png'),
	lavathian-skulls: img('wiki/Lavathian_Skulls_Achievement.png'),
	utter-disrespect: img('wiki/Utter_DISRESPECT_Achievement.png'),
	sneaky-stealing: img('wiki/Sneaky_Stealing_Achievement.png'),
	broken-controller: img('wiki/Broken_Controller_Achievement.png')
);
$spirited-valley-achievements: (
	valley-visitor: img('wiki/Valley_Visitor_Achievement.png'),
	scorin-the-ladies: img('wiki/Scorin%27_the_Ladies_Achievement.png'),
	effervess-enthusiess: img('wiki/Effervess_Enthusiess_Achievement.png'),
	thats-my-crown: img('wiki/That%27s_MY_Crown_Achievement.png'),
	leet-lanterns: img('wiki/Leet_Lanterns_Achievement.png'),
	lil-overgrowth: img('wiki/Lil%27_Overgrowth_Achievement.png'),
	major-overgrowth: img('wiki/Major_Overgrowth_Achievement.png'),
	unreal-overgrowth: img('wiki/Unreal_Overgrowth_Achievement.png'),
	doctor-repellant: img('wiki/Doctor_Repellant_Achievement.png'),
	cob-enjoyer: img('wiki/Cob_Enjoyer_Achievement.png'),
	science-undergrad: img('wiki/Science_Undergrad_Achievement.png'),
	science-graduate: img('wiki/Science_Graduate_Achievement.png'),
	science-post-doc: img('wiki/Science_Post_Doc_Achievement.png'),
	crop-flooding: img('wiki/Crop_Flooding_Achievement.png'),
	legumulucky: img('wiki/Legumulucky_Achievement.png'),
	big-time-land-owner: img('wiki/Big_Time_Land_Owner_Achievement.png'),
	ceramic-sneaking: img('wiki/Ceramic_Sneaking_Achievement.png'),
	top-floor-sneaking: img('wiki/Top_Floor_Sneaking_Achievement.png'),
	untying-extraordinaire: img('wiki/Untying_Extraordinaire_Achievement.png'),
	lucky-stealy: img('wiki/Lucky_Stealy_Achievement.png'),
	yellow-belt: img('wiki/Yellow_Belt_Achievement.png'),
	straw-hat-stacking: img('wiki/Straw_Hat_Stacking_Achievement.png'),
	best-bloomie: img('wiki/Best_Bloomie_Achievement.png'),
	regalis-my-beloved: img('wiki/Regalis_My_Beloved_Achievement.png'),
	this-is-summoning: img('wiki/This_is_Summoning%21_Achievement.png'),
	summoning-cm: img('wiki/Summoning_CM_Achievement.png'),
	summoning-im: img('wiki/Summoning_IM_Achievement.png'),
	summoning-gm: img('wiki/Summoning_GM_Achievement.png'),
	penta-defence: img('wiki/Penta_Defence_Achievement.png'),
	spectre-stars: img('wiki/Spectre_Stars_Achievement.png'),
	beanstacker-trainee: img('wiki/Beanstacker_Trainee_Achievement.png'),
	big-big-hampter: img('wiki/Big_Big_Hampter_Achievement.png'),
	ghost-buster: img('wiki/Ghost_Buster_Achievement.png'),
	beanstacker-prodigy: img('wiki/Beanstacker_Prodigy_Achievement.png'),
	w6-is-donezo: img('wiki/W6_is_Donezo_Achievement.png')
);

$achievements: map-merge($blunder-hills-achievements, $yum-yum-desert-achievements);
$achievements: map-merge($achievements, $frostbite-tundra-achievements);
$achievements: map-merge($achievements, $hyperion-nebula-achievements);
$achievements: map-merge($achievements, $smoulderin-plateau-achievements);
$achievements: map-merge($achievements, $spirited-valley-achievements);
