$blunder-hills-achievements: (
	learn-2-forge-achievement: wiki("7/77/Learn_2_Forge_Achievement.png"),
	sleepy-gamer-achievement: wiki("4/4b/Sleepy_Gamer_Achievement.png"),
	another-me-achievement: wiki("2/2b/Another_Me%21_Achievement.png"),
	classy-achievement: wiki("1/15/Classy%21_Achievement.png"),
	hitting-the-mark-achievement: wiki("b/b5/Hitting_the_Mark_Achievement.png"),
	learn-2-entertain-achievement: wiki("4/41/Learn_2_Entertain_Achievement.png"),
	x5-hunned-copper-achievement: wiki("a/a4/5_%27hunned_Copper_Achievement.png"),
	heyo-achievement: wiki("a/a6/Heyo%21_Achievement.png"),
	rookie-player-achievement: wiki("f/f4/Rookie_Player_Achievement.png"),
	x15-kiloggrams-achievement: wiki("/wiki/images/0/03/1.5_Ki%27log%27grams_Achievement.png"),
	small-savings-achievement: wiki("5/5c/Small_Savings_Achievement.png"),
	copper-quipment-achievement: wiki("d/d1/Copper_Quipment_Achievement.png"),
	the-sculpture-within-achievement: wiki("6/6f/The_Sculpture_Within_Achievement.png"),
	card-collector-achievement: wiki("c/c6/Card_Collector_Achievement.png"),
	do-what-youre-told-achievement: wiki("0/0e/Do_What_You%27re_Told_Achievement.png"),
	learn-2-translate-achievement: wiki("2/25/Learn_2_Translate_Achievement.png"),
	wode-together-achievement: wiki("0/03/Wode_Together_Achievement.png"),
	x2-tons-of-iron-achievement: wiki("7/72/2_Tons_of_Iron_Achievement.png"),
	dungeon-pinch-achievement: wiki("d/df/Dungeon_Pinch_Achievement.png"),
	big-frog-angry-achievement: wiki("2/25/Big_Frog_Angry_Achievement.png"),
	giga-decimation-achievement: wiki("0/0f/Giga_Decimation_Achievement.png"),
	shut-it-poochy-achievement: wiki("e/e6/Shut_it_Poochy_Achievement.png"),
	average-player-achievement: wiki("3/3d/Average_Player_Achievement.png"),
	slimeicidal-endeavor-achievement: wiki("0/07/Slimeicidal_Endeavor_Achievement.png"),
	right-to-bear-iron-achievement: wiki("7/7a/Right_to_Bear_Iron_Achievement.png"),
	x5-6-pick-up-sticks-achievement: wiki("/wiki/images/2/28/5-6_Pick_up_Sticks_Achievement.png"),
	x20-bundles-of-jungle-achievement: wiki("e/e9/20_Bundles_of_Jungle_Achievement.png"),
	colosseum-contender-achievement: wiki("8/80/Colosseum_Contender_Achievement.png"),
	crystal-beatdown-achievement: wiki("a/ae/Crystal_Beatdown_Achievement.png"),
	ten-trips-of-gold-achievement: wiki("1/19/Ten_Trips_of_Gold_Achievement.png"),
	minecart-maniac-achievement: wiki("5/57/Minecart_Maniac_Achievement.png"),
	spike-minigame-master-achievement: wiki("6/61/Spike_Minigame_Master_Achievement.png"),
	anvil-expansion-achievement: wiki("e/e6/Anvil_Expansion_Achievement.png"),
	steppin-on-the-rats-achievement: wiki("b/bc/Steppin%27_on_the_Rats_Achievement.png"),
	tree-top-dropout-achievement: wiki("f/fe/Tree_Top_Dropout_Achievement.png"),
	naked-and-unafraid-achievement: wiki("0/0f/Naked_and_Unafraid_Achievement.png"),
	house-flipper-achievement: wiki("a/a2/House_Flipper_Achievement.png"),
	platinum-200g-achievement: wiki("4/40/Platinum_200G_Achievement.png"),
	based-roots-achievement: wiki("6/67/Based_Roots_Achievement.png"),
	guild-member-achievement: wiki("2/25/Guild_Member_Achievement.png"),
	boss-buster-achievement: wiki("7/75/Boss_Buster_Achievement.png"),
	x2-minute-meal-achievement: wiki("8/85/2_minute_meal_Achievement.png"),
	big-frog-furious-achievement: wiki("0/09/Big_Frog_Furious_Achievement.png"),
	nutty-crafter-achievement: wiki("a/a1/Nutty_Crafter_Achievement.png"),
	minecart-master-achievement: wiki("f/fa/Minecart_Master_Achievement.png"),
	choppin-to-the-beat-achievement: wiki("a/af/Choppin%27_to_the_Beat_Achievement.png"),
	decked-out-in-gold-achievement: wiki("7/73/Decked_Out_in_Gold_Achievement.png"),
	nice-fur-suit-achievement: wiki("6/6d/Nice_Fur_Suit_Achievement.png"),
	half-a-mill-log-achievement: wiki("/wiki/images/0/06/Half_a_Mill-log_Achievement.png"),
	anothervil-expansion-achievement: wiki("4/43/Anothervil_Expansion_Achievement.png"),
	bad-doggy-achievement: wiki("0/08/Bad_Doggy%21_Achievement.png"),
	two-time-savior-achievement: wiki("/wiki/images/b/b3/Two-Time_Savior_Achievement.png"),
	million-null-n-void-achievement: wiki("d/d1/Million_Null_%27n_Void_Achievement.png"),
	big-frog-sad-achievement: wiki("7/76/Big_Frog_Sad_Achievement.png"),
	lucky-7s-achievement: wiki("6/66/Lucky_7s_Achievement.png"),
	what-a-view-achievement: wiki("1/19/What_a_View%21_Achievement.png"),
	seriousleaf-ast-achievement: wiki("/wiki/images/1/14/Seriousleaf-ast%21_Achievement.png"),
	peanut-pioneer-achievement: wiki("a/a0/Peanut_Pioneer_Achievement.png"),
	meel-time-achievement: wiki("4/44/Meel_Time%21_Achievement.png"),
	pro-gamer-move-achievement: wiki("1/1a/Pro_Gamer_Move_Achievement.png"),
	meet-the-dev-achievement: wiki("6/60/Meet_the_Dev_Achievement.png"),
	big-frog-big-mad-achievement: wiki("1/1a/Big_Frog_Big_Mad_Achievement.png")
);
$yum-yum-desert-achievements: (
	down-by-the-desert-achievement: wiki("b/ba/Down_by_the_Desert_Achievement.png"),
	more-and-more-me-achievement: wiki("1/19/More_and_More_Me%21_Achievement.png"),
	elite-player-achievement: wiki("a/a9/Elite_Player_Achievement.png"),
	retirement-fund-achievement: wiki("f/fc/Retirement_Fund_Achievement.png"),
	golden-fly-achievement: wiki("c/c3/Golden_Fly_Achievement.png"),
	hammer-bub-achievement: wiki("8/8f/Hammer_Bub_Achievement.png"),
	wassup-yo-achievement: wiki("0/0f/Wassup_Yo%21_Achievement.png"),
	gold-school-achievement: wiki("0/09/Gold_School_Achievement.png"),
	buzz-buzz-achievement: wiki("8/84/Buzz_Buzz_Achievement.png"),
	careful-its-sharp-achievement: wiki("5/57/Careful%2C_it%27s_Sharp%21_Achievement.png"),
	hybernation-achievement: wiki("1/16/Hybernation_Achievement.png"),
	vial-noob-achievement: wiki("1/15/Vial_Noob_Achievement.png"),
	specializational-achievement: wiki("7/7a/Specializational%21_Achievement.png"),
	obols-oh-boy-achievement: wiki("e/e2/Obols_Oh_Boy%21_Achievement.png"),
	well-learned-achievement: wiki("0/02/Well_Learned_Achievement.png"),
	tomb-raider-achievement: wiki("6/60/Tomb_Raider_Achievement.png"),
	just-passing-by-achievement: wiki("5/50/Just_Passing_By_Achievement.png"),
	b-o-b-to-help-achievement: wiki("/wiki/images/8/85/B-o-B_to_Help_Achievement.png"),
	card-enthusiast-achievement: wiki("4/41/Card_Enthusiast_Achievement.png"),
	efaunt-trumped-achievement: wiki("f/f6/Efaunt_Trumped_Achievement.png"),
	fishing-finesse-achievement: wiki("8/82/Fishing_Finesse_Achievement.png"),
	catching-coronation-achievement: wiki("3/35/Catching_Coronation_Achievement.png"),
	crystal-superslam-achievement: wiki("a/a6/Crystal_Superslam_Achievement.png"),
	slumbering-gamer-achievement: wiki("3/30/Slumbering_Gamer_Achievement.png"),
	my-first-trophy-achievement: wiki("8/83/My_First_Trophy%21_Achievement.png"),
	a-fish-too-far-achievement: wiki("2/2b/A_Fish_Too_Far_Achievement.png"),
	rat-a-tat-tat-achievement: wiki("/wiki/images/8/82/Rat-a-tat-tat_Achievement.png"),
	pillars-of-sand-achievement: wiki("e/e0/Pillars_of_Sand_Achievement.png"),
	vial-connoisseur-achievement: wiki("1/1d/Vial_Connoisseur_Achievement.png"),
	coarse-cards-achievement: wiki("7/7b/Coarse_Cards_Achievement.png"),
	trial-by-time-achievement: wiki("b/bf/Trial_by_Time_Achievement.png"),
	golden-obolden-achievement: wiki("7/7e/Golden_Obolden%21_Achievement.png"),
	monocle-no-more-achievement: wiki("b/b0/Monocle_No_More_Achievement.png"),
	jellyfish-jelly-achievement: wiki("8/8a/Jellyfish_Jelly_Achievement.png"),
	super-cereal-achievement: wiki("4/44/Super_Cereal_Achievement.png"),
	sweet-victory-achievement: wiki("1/1a/Sweet_Victory_Achievement.png"),
	ink-blot-achievement: wiki("4/4a/Ink_Blot_Achievement.png"),
	demon-demolisher-achievement: wiki("6/66/Demon_Demolisher_Achievement.png"),
	tomb-defiler-achievement: wiki("2/26/Tomb_Defiler_Achievement.png"),
	dungeon-slap-achievement: wiki("8/8f/Dungeon_Slap_Achievement.png"),
	wazzzzam-achievement: wiki("2/21/Wazzzzam%21_Achievement.png"),
	dumbo-destroyer-achievement: wiki("f/f4/Dumbo_Destroyer_Achievement.png"),
	threadin-the-needle-achievement: wiki("f/f2/Threadin%27_the_Needle_Achievement.png"),
	s-m-r-t-achievement: wiki("/wiki/images/0/0b/S-M-R-T_Achievement.png"),
	two-desserts-achievement: wiki("b/bb/Two_Desserts%21_Achievement.png"),
	nuget-nightmare-achievement: wiki("1/14/Nuget_Nightmare_Achievement.png"),
	bigtime-bloacher-achievement: wiki("f/fd/Bigtime_Bloacher_Achievement.png"),
	vial-junkee-achievement: wiki("a/af/Vial_Junkee_Achievement.png"),
	fruit-salad-achievement: wiki("e/ef/Fruit_Salad_Achievement.png"),
	your-skin-my-skin-achievement: wiki("f/f2/Your_Skin%2C_My_Skin_Achievement.png"),
	tomb-completionist-achievement: wiki("d/dc/Tomb_Completionist_Achievement.png"),
	waaaaaaahh-achievement: wiki("e/eb/WAAAAAAAHH%21_Achievement.png"),
	bobjoepicklejar-achievement: wiki("7/7c/Bobjoepicklejar_Achievement.png"),
	fish-aint-biting-achievement: wiki("5/51/Fish_Aint_Biting_Achievement.png"),
	skill-master-achievement: wiki("7/74/Skill_Master_Achievement.png")
);
$frostbite-tundra-achievements: (
	snowy-wonderland-achievement: wiki("b/ba/Snowy_Wonderland_Achievement.png"),
	sad-souls-achievement: wiki("4/47/Sad_Souls_Achievement.png"),
	veteran-gamer-achievement: wiki("3/37/Veteran_Gamer_Achievement.png"),
	checkout-takeout-achievement: wiki("d/df/Checkout_Takeout_Achievement.png"),
	croakin-froge-achievement: wiki("6/62/Croakin%27_Froge_Achievement.png"),
	a-family-of-me-achievement: wiki("d/d8/A_Family_of_Me%21_Achievement.png"),
	yawning-cogs-achievement: wiki("6/61/Yawning_Cogs_Achievement.png"),
	blunder-skull-achievement: wiki("9/9e/Blunder_Skull_Achievement.png"),
	too-cute-to-live-achievement: wiki("9/9a/Too_Cute_To_Live_Achievement.png"),
	big-mobs-eek-achievement: wiki("8/8f/Big_Mobs_Eek_Achievement.png"),
	powdered-neutronium-achievement: wiki("3/33/Powdered_Neutronium_Achievement.png"),
	soulslike-achievement: wiki("3/3b/Soulslike_Achievement.png"),
	good-times-roll-achievement: wiki("1/14/Good_Times_Roll_Achievement.png"),
	cog-in-the-system-achievement: wiki("1/1a/Cog_in_the_System_Achievement.png"),
	i-create-achievement: wiki("/wiki/images/a/ad/I_Create..._Achievement.png"),
	boss-defeated-achievement: wiki("3/30/Boss_Defeated_Achievement.png"),
	i-sawed-achievement: wiki("/wiki/images/5/5c/I_Sawed..._Achievement.png"),
	hairy-ice-comb-achievement: wiki("1/14/Hairy_Ice_Comb_Achievement.png"),
	giant-slayer-achievement: wiki("4/41/Giant_Slayer_Achievement.png"),
	saharan-skull-achievement: wiki("a/ad/Saharan_Skull_Achievement.png"),
	fat-souls-achievement: wiki("0/06/Fat_Souls_Achievement.png"),
	borrowed-pens-achievement: wiki("6/68/Borrowed_Pens_Achievement.png"),
	large-fortune-achievement: wiki("3/35/Large_Fortune_Achievement.png"),
	sqeakin-mousey-achievement: wiki("6/69/Sqeakin%27_Mousey_Achievement.png"),
	geared-for-success-achievement: wiki("3/3a/Geared_for_Success_Achievement.png"),
	guild-higher-up-achievement: wiki("/wiki/images/1/10/Guild_Higher-Up_Achievement.png"),
	legendary-gamer-achievement: wiki("b/b3/Legendary_Gamer_Achievement.png"),
	entangled-compounds-achievement: wiki("4/4f/Entangled_Compounds_Achievement.png"),
	there-can-be-only-1-achievement: wiki("2/23/There_Can_Be_Only_1_Achievement.png"),
	manager-defeated-achievement: wiki("4/48/Manager_Defeated_Achievement.png"),
	blurple-skull-achievement: wiki("6/66/Blurple_Skull_Achievement.png"),
	souped-up-salts-achievement: wiki("c/cc/Souped_Up_Salts_Achievement.png"),
	i-constructed-achievement: wiki("a/ac/I_Constructed%21_Achievement.png"),
	cogs-be-waitin-achievement: wiki("7/75/Cogs_Be_Waitin%27_Achievement.png"),
	cool-score-achievement: wiki("b/be/Cool_Score%21_Achievement.png"),
	simpin-for-npcs-achievement: wiki("e/e4/Simpin%27_for_NPC%27s_Achievement.png"),
	top-cogs-achievement: wiki("f/f4/Top_Cogs_Achievement.png"),
	card-dude-achievement: wiki("4/41/Card_Dude_Achievement.png"),
	crystal-champ-achievement: wiki("5/5d/Crystal_Champ_Achievement.png"),
	smirky-souls-achievement: wiki("6/63/Smirky_Souls_Achievement.png"),
	comatosed-gamer-achievement: wiki("1/1c/Comatosed_Gamer_Achievement.png"),
	knock-on-wood-achievement: wiki("7/7d/Knock_on_Wood_Achievement.png"),
	the-goose-is-loose-achievement: wiki("2/29/The_Goose_is_Loose_Achievement.png"),
	sepia-vision-achievement: wiki("7/78/Sepia_Vision_Achievement.png"),
	capitalist-win-achievement: wiki("7/79/Capitalist_Win_Achievement.png"),
	rattle-them-bones-achievement: wiki("1/1b/Rattle_them_Bones_Achievement.png"),
	kingpin-defeated-achievement: wiki("d/d2/Kingpin_Defeated_Achievement.png"),
	dungeon-wallop-achievement: wiki("7/71/Dungeon_Wallop_Achievement.png"),
	a-most-nice-sale-achievement: wiki("b/bd/A_Most_Nice_Sale_Achievement.png"),
	equinox-visitor-achievement: wiki("f/f5/Equinox_Visitor_Achievement.png")
);
$hyperion-nebula-achievements: (
	milky-wayfarer-achievement: wiki("6/6c/Milky_Wayfarer_Achievement.png"),
	channel-surfing-achievement: wiki("8/87/Channel_Surfing_Achievement.png"),
	i-like-this-pet-achievement: wiki("d/de/I_Like_This_Pet_Achievement.png"),
	shiny-shells-achievement: wiki("3/39/Shiny_Shells_Achievement.png"),
	barley-lost-achievement: wiki("f/f3/Barley_Lost_Achievement.png"),
	cabbage-patch-achievement: wiki("1/1f/Cabbage_Patch_Achievement.png"),
	good-plate-achievement: wiki("6/6a/Good_Plate_Achievement.png"),
	space-party-achievement: wiki("8/8c/Space_Party%21%21%21_Achievement.png"),
	bottle-capital-achievement: wiki("c/c8/Bottle_Capital_Achievement.png"),
	hunned-times-a-day-achievement: wiki("8/8b/Hunned_Times_a_Day_Achievement.png"),
	mythical-gamer-achievement: wiki("8/8e/Mythical_Gamer_Achievement.png"),
	i-love-these-pets-achievement: wiki("c/cd/I_LOVE_These_Pets_Achievement.png"),
	gilded-shells-achievement: wiki("c/c0/Gilded_Shells_Achievement.png"),
	petless-achievement: wiki("d/d0/Petless_Achievement.png"),
	le-pretzel-bleu-achievement: wiki("9/9f/Le_Pretzel_Bleu_Achievement.png"),
	michelin-ranked-achievement: wiki("3/3c/Michelin_Ranked_Achievement.png"),
	woah-thats-fast-achievement: wiki("c/c5/WOAH_That%27s_Fast_Achievement.png"),
	chippin-away-achievement: wiki("c/ca/Chippin%27_Away_Achievement.png"),
	great-plate-achievement: wiki("3/30/Great_Plate_Achievement.png"),
	zero-g-scorin-achievement: wiki("1/13/Zero_G_Scorin%27_Achievement.png"),
	too-many-tentacles-achievement: wiki("4/41/Too_Many_Tentacles_Achievement.png"),
	matrix-wickermen-achievement: wiki("6/6f/Matrix_Wickermen_Achievement.png"),
	stars-among-stars-achievement: wiki("5/5b/Stars_Among_Stars_Achievement.png"),
	best-plate-achievement: wiki("0/0c/Best_Plate_Achievement.png"),
	hibernating-gamer-achievement: wiki("c/c3/Hibernating_Gamer_Achievement.png"),
	lv-5-nothing-achievement: wiki("/wiki/images/c/c0/Lv._5_Nothing_Achievement.png"),
	mutant-massacrer-achievement: wiki("0/0e/Mutant_Massacrer_Achievement.png"),
	bland-dish-achievement: wiki("d/dd/Bland_Dish_Achievement.png"),
	soda-poisoning-achievement: wiki("7/7f/Soda_Poisoning_Achievement.png"),
	the-true-king-achievement: wiki("2/22/The_True_King_Achievement.png"),
	the-true-pirate-achievement: wiki("c/c6/The_True_Pirate_Achievement.png"),
	the-true-emperor-achievement: wiki("f/fa/The_True_Emperor_Achievement.png"),
	veritable-master-achievement: wiki("9/90/Veritable_Master_Achievement.png")
);
$smoulderin-plateau-achievements: (
	the-plateauourist-achievement: wiki("3/37/The_Plateauourist_Achievement.png"),
	maple-logger-achievement: wiki("c/ce/Maple_Logger_Achievement.png"),
	artifact-finder-achievement: wiki("e/e0/Artifact_Finder_Achievement.png"),
	bonsai-bonanza-achievement: wiki("c/ca/Bonsai_Bonanza_Achievement.png"),
	glory-to-nobisect-achievement: wiki("d/d3/Glory_To_Nobisect_Achievement.png"),
	supernatural-gamer-achievement: wiki("4/41/Supernatural_Gamer_Achievement.png"),
	artifact-enjoyer-achievement: wiki("f/fa/Artifact_Enjoyer_Achievement.png"),
	vitamin-d-licious-achievement: wiki("/wiki/images/b/b0/Vitamin_D-licious_Achievement.png"),
	poing-champion-achievement: wiki("b/bd/POiNG_Champion_Achievement.png"),
	voraci-vantasia-achievement: wiki("3/30/Voraci_Vantasia_Achievement.png"),
	true-naval-captain-achievement: wiki("a/af/True_Naval_Captain_Achievement.png"),
	legendary-orb-achievement: wiki("d/db/Legendary_Orb_Achievement.png"),
	legendary-flag-achievement: wiki("d/d5/Legendary_Flag_Achievement.png"),
	legendary-wormhole-achievement: wiki("8/86/Legendary_Wormhole_Achievement.png"),
	lucky-harvest-achievement: wiki("6/62/Lucky_Harvest_Achievement.png"),
	perfect-trade-deal-achievement: wiki("c/cd/Perfect_Trade_Deal_Achievement.png"),
	grand-captain-achievement: wiki("a/a9/Grand_Captain_Achievement.png"),
	all-hail-purrmep-achievement: wiki("1/19/All_Hail_Purrmep_Achievement.png"),
	gilded-vessel-achievement: wiki("2/21/Gilded_Vessel_Achievement.png"),
	no-krakens-achievement: wiki("9/9c/No_Krakens%3F_Achievement.png"),
	smokin-stars-achievement: wiki("2/2c/Smokin%27_Stars_Achievement.png"),
	maroon-warship-achievement: wiki("e/e4/Maroon_Warship_Achievement.png"),
	long-live-bagur-achievement: wiki("e/e1/Long_Live_Bagur_Achievement.png"),
	artifact-jones-achievement: wiki("7/79/Artifact_Jones_Achievement.png"),
	wurm-wumbo-achievement: wiki("6/67/Wurm_Wumbo_Achievement.png"),
	chemical-collector-achievement: wiki("6/67/Chemical_Collector_Achievement.png"),
	seaworthy-captain-achievement: wiki("d/d9/Seaworthy_Captain_Achievement.png"),
	lavathian-skulls-achievement: wiki("f/f3/Lavathian_Skulls_Achievement.png"),
	utter-disrespect-achievement: wiki("0/0c/Utter_DISRESPECT_Achievement.png"),
	sneaky-stealing-achievement: wiki("f/fa/Sneaky_Stealing_Achievement.png"),
	broken-controller-achievement: wiki("4/46/Broken_Controller_Achievement.png")
);
$spirited-valley-achievements: (
	valley-visitor-achievement: wiki("b/b2/Valley_Visitor_Achievement.png"),
	scorin-the-ladies-achievement: wiki("b/bb/Scorin%27_the_Ladies_Achievement.png"),
	effervess-enthusiess-achievement: wiki("e/e6/Effervess_Enthusiess_Achievement.png"),
	thats-my-crown-achievement: wiki("3/30/That%27s_MY_Crown_Achievement.png"),
	leet-lanterns-achievement: wiki("7/72/Leet_Lanterns_Achievement.png"),
	lil-overgrowth-achievement: wiki("0/04/Lil%27_Overgrowth_Achievement.png"),
	major-overgrowth-achievement: wiki("0/04/Major_Overgrowth_Achievement.png"),
	unreal-overgrowth-achievement: wiki("b/bc/Unreal_Overgrowth_Achievement.png"),
	doctor-repellant-achievement: wiki("5/52/Doctor_Repellant_Achievement.png"),
	cob-enjoyer-achievement: wiki("c/c5/Cob_Enjoyer_Achievement.png"),
	science-undergrad-achievement: wiki("d/db/Science_Undergrad_Achievement.png"),
	science-graduate-achievement: wiki("9/91/Science_Graduate_Achievement.png"),
	science-post-doc-achievement: wiki("e/ee/Science_Post_Doc_Achievement.png"),
	crop-flooding-achievement: wiki("0/0e/Crop_Flooding_Achievement.png"),
	legumulucky-achievement: wiki("c/ce/Legumulucky_Achievement.png"),
	big-time-land-owner-achievement: wiki("e/e9/Big_Time_Land_Owner_Achievement.png"),
	ceramic-sneaking-achievement: wiki("a/a2/Ceramic_Sneaking_Achievement.png"),
	top-floor-sneaking-achievement: wiki("c/c7/Top_Floor_Sneaking_Achievement.png"),
	untying-extraordinaire-achievement: wiki("2/2b/Untying_Extraordinaire_Achievement.png"),
	lucky-stealy-achievement: wiki("b/b6/Lucky_Stealy_Achievement.png"),
	yellow-belt-achievement: wiki("5/50/Yellow_Belt_Achievement.png"),
	straw-hat-stacking-achievement: wiki("a/a9/Straw_Hat_Stacking_Achievement.png"),
	best-bloomie-achievement: wiki("6/61/Best_Bloomie_Achievement.png"),
	regalis-my-beloved-achievement: wiki("0/0c/Regalis_My_Beloved_Achievement.png"),
	this-is-summoning-achievement: wiki("d/d2/This_is_Summoning%21_Achievement.png"),
	summoning-cm-achievement: wiki("8/82/Summoning_CM_Achievement.png"),
	summoning-im-achievement: wiki("c/c5/Summoning_IM_Achievement.png"),
	summoning-gm-achievement: wiki("e/e1/Summoning_GM_Achievement.png"),
	penta-defence-achievement: wiki("7/73/Penta_Defence_Achievement.png"),
	spectre-stars-achievement: wiki("5/50/Spectre_Stars_Achievement.png"),
	beanstacker-trainee-achievement: wiki("f/f1/Beanstacker_Trainee_Achievement.png"),
	big-big-hampter-achievement: wiki("5/51/Big_Big_Hampter_Achievement.png"),
	ghost-buster-achievement: wiki("c/cf/Ghost_Buster_Achievement.png"),
	beanstacker-prodigy-achievement: wiki("b/b7/Beanstacker_Prodigy_Achievement.png"),
	w6-is-donezo-achievement: wiki("d/d2/W6_is_Donezo_Achievement.png")
);

$achievements: map-merge($blunder-hills-achievements, $yum-yum-desert-achievements);
$achievements: map-merge($achievements, $frostbite-tundra-achievements);
$achievements: map-merge($achievements, $hyperion-nebula-achievements);
$achievements: map-merge($achievements, $smoulderin-plateau-achievements);
$achievements: map-merge($achievements, $spirited-valley-achievements);
