$advice-for-money: (
  advice-for-money: img('data/W7_fish.png'),
  advice-for-money-0: img('customized/advice_for_money_0.png'),
  advice-for-money-1: img('customized/advice_for_money_1.png'),
  advice-for-money-2: img('customized/advice_for_money_2.png'),
  advice-for-money-3: img('customized/advice_for_money_3.png'),
  advice-for-money-4: img('customized/advice_for_money_4.png'),
  advice-for-money-5: img('customized/advice_for_money_5.png'),
  advice-for-money-6: img('customized/advice_for_money_6.png'),
);

$all-advice-for-money: $advice-for-money;