$all-advice-fish: (
  advice-fish: img('data/W7_fish.png'),
  advice-fish-0: img('customized/advice_fish_0.png'),
  advice-fish-1: img('customized/advice_fish_1.png'),
  advice-fish-2: img('customized/advice_fish_2.png'),
  advice-fish-3: img('customized/advice_fish_3.png'),
  advice-fish-4: img('customized/advice_fish_4.png'),
  advice-fish-5: img('customized/advice_fish_5.png'),
  advice-fish-6: img('customized/advice_fish_6.png'),
);
