$bubbles: (
    cauldron-o: img('wiki/BubbleOrange.gif'),
    cauldron-g: img('wiki/BubbleGreen.gif'),
    cauldron-p: img('wiki/BubblePurple.gif'),
    cauldron-y: img('wiki/BubbleYellow.gif'),
    cauldron-a: img('wiki/Alchemy_Bubble_all.gif'),
    water-droplets: img('wiki/Water_Droplets.png'),
    liquid-nitrogen: img('wiki/Liquid_Nitrogen.png'),
    trench-seawater: img('wiki/Trench_Seawater.png'),
    toxic-mercury: img('wiki/Toxic_Mercury.png'),

    // Power Cauldron
    roid-ragin: img('data/aUpgradesO0.png'),
    warriors-rule: img('data/aUpgradesO1.png'),
    hearty-diggy: img('data/aUpgradesO2.png'),
    wyoming-blood: img('data/aUpgradesO3.png'),
    reely-smart: img('data/aUpgradesO4.png'),
    big-meaty-claws: img('data/aUpgradesO5.png'),
    sploosh-sploosh: img('data/aUpgradesO6.png'),
    stronk-tools: img('data/aUpgradesO7.png'),
    fmj: img('data/aUpgradesO8.png'),
    bappity-boopity: img('data/aUpgradesO9.png'),
    brittley-spears: img('data/aUpgradesO10.png'),
    call-me-bob: img('data/aUpgradesO11.png'),
    carpenter: img('data/aUpgradesO12.png'),
    buff-boi-talent: img('data/aUpgradesO13.png'),
    orange-bargain: img('data/aUpgradesO14.png'),
    penny-of-strength: img('data/aUpgradesO15.png'),
    multorange: img('data/aUpgradesO16.png'),
    dream-of-ironfish: img('data/aUpgradesO17.png'),
    shimmeron: img('data/aUpgradesO18.png'),
    bite-but-not-chew: img('data/aUpgradesO19.png'),
    spear-powah: img('data/aUpgradesO20.png'),
    slabi-orefish: img('data/aUpgradesO21.png'),
    gamer-at-heart: img('data/aUpgradesO22.png'),
    slabi-strength: img('data/aUpgradesO23.png'),
    power-trione: img('data/aUpgradesO24.png'),
    farquad-force: img('data/aUpgradesO25.png'),
    endgame-eff-i: img('data/aUpgradesO26.png'),
    tome-strength: img('data/aUpgradesO27.png'),
    essence-boost-orange: img('data/aUpgradesO28.png'),
    crop-chapter: img('data/aUpgradesO29.png'),

    // Quicc Cauldron
    swift-steppin: img('data/aUpgradesG0.png'),
    archer-or-bust: img('data/aUpgradesG1.png'),
    hammer-hammer: img('data/aUpgradesG2.png'),
    lil-big-damage: img('data/aUpgradesG3.png'),
    anvilnomics: img('data/aUpgradesG4.png'),
    quick-slap: img('data/aUpgradesG5.png'),
    sanic-tools: img('data/aUpgradesG6.png'),
    bug2: img('data/aUpgradesG7.png'),
    shaquracy: img('data/aUpgradesG8.png'),
    cheap-shot: img('data/aUpgradesG9.png'),
    bow-jack: img('data/aUpgradesG10.png'),
    call-me-ash: img('data/aUpgradesG11.png'),
    cuz-i-catch-em-all: img('data/aUpgradesG12.png'),
    fast-boi-talent: img('data/aUpgradesG13.png'),
    green-bargain: img('data/aUpgradesG14.png'),
    dollar-of-agility: img('data/aUpgradesG15.png'),
    premigreen: img('data/aUpgradesG16.png'),
    fly-in-mind: img('data/aUpgradesG17.png'),
    kill-per-kill: img('data/aUpgradesG18.png'),
    afk-expexp: img('data/aUpgradesG19.png'),
    bow-power: img('data/aUpgradesG20.png'),
    slabo-critterbug: img('data/aUpgradesG21.png'),
    sailor-at-heart: img('data/aUpgradesG22.png'),
    slabo-agility: img('data/aUpgradesG23.png'),
    power-tritwo: img('data/aUpgradesG24.png'),
    quickdraw-quiver: img('data/aUpgradesG25.png'),
    essence-boost-green: img('data/aUpgradesG26.png'),
    endgame-eff-ii: img('data/aUpgradesG27.png'),
    tome-agility: img('data/aUpgradesG28.png'),
    stealth-chapter: img('data/aUpgradesG29.png'),

    // High-IQ Cauldron
    stable-jenius: img('data/aUpgradesP0.png'),
    mage-is-best: img('data/aUpgradesP1.png'),
    hocus-choppus: img('data/aUpgradesP2.png'),
    molto-loggo: img('data/aUpgradesP3.png'),
    noodubble: img('data/aUpgradesP4.png'),
    name-i-guess: img('data/aUpgradesP5.png'),
    le-brain-tools: img('data/aUpgradesP6.png'),
    cookin-roadkill: img('data/aUpgradesP7.png'),
    brewstachio: img('data/aUpgradesP8.png'),
    all-for-kill: img('data/aUpgradesP9.png'),
    matty-stafford: img('data/aUpgradesP10.png'),
    call-me-pope: img('data/aUpgradesP11.png'),
    gospel-leader: img('data/aUpgradesP12.png'),
    smart-boi-talent: img('data/aUpgradesP13.png'),
    purple-bargain: img('data/aUpgradesP14.png'),
    nickel-of-wisdom: img('data/aUpgradesP15.png'),
    severapurple: img('data/aUpgradesP16.png'),
    tree-sleeper: img('data/aUpgradesP17.png'),
    hyperswift: img('data/aUpgradesP18.png'),
    matrix-evolved: img('data/aUpgradesP19.png'),
    wand-pawur: img('data/aUpgradesP20.png'),
    slabe-logsoul: img('data/aUpgradesP21.png'),
    pious-at-heart: img('data/aUpgradesP22.png'),
    slabe-wisdom: img('data/aUpgradesP23.png'),
    power-trithree: img('data/aUpgradesP24.png'),
    smarter-spells: img('data/aUpgradesP25.png'),
    endgame-eff-iii: img('data/aUpgradesP26.png'),
    essence-boost-purple: img('data/aUpgradesP27.png'),
    tome-wisdom: img('data/aUpgradesP28.png'),
    essence-chapter: img('data/aUpgradesP29.png'),

    // Kazam Cauldron
    lotto-skills: img('data/aUpgradesY0.png'),
    droppin-loads: img('data/aUpgradesY1.png'),
    startue-exp: img('data/aUpgradesY2.png'),
    level-up-gift: img('data/aUpgradesY3.png'),
    prowesessary: img('data/aUpgradesY4.png'),
    stamp-tramp: img('data/aUpgradesY5.png'),
    undeveloped-costs: img('data/aUpgradesY6.png'),
    da-daily-drip: img('data/aUpgradesY7.png'),
    grind-time: img('data/aUpgradesY8.png'),
    laaarrrryyyy: img('data/aUpgradesY9.png'),
    cogs-for-hands: img('data/aUpgradesY10.png'),
    sample-it: img('data/aUpgradesY11.png'),
    big-game-hunter: img('data/aUpgradesY12.png'),
    ignore-overdues: img('data/aUpgradesY13.png'),
    yellow-bargain: img('data/aUpgradesY14.png'),
    mr-massacre: img('data/aUpgradesY15.png'),
    egg-ink: img('data/aUpgradesY16.png'),
    diamond-chef: img('data/aUpgradesY17.png'),
    card-champ: img('data/aUpgradesY18.png'),
    petting-the-rift: img('data/aUpgradesY19.png'),
    boaty-bubble: img('data/aUpgradesY20.png'),
    big-p: img('data/aUpgradesY21.png'),
    bit-by-bit: img('data/aUpgradesY22.png'),
    gifts-abound: img('data/aUpgradesY23.png'),
    atom-split: img('data/aUpgradesY24.png'),
    cropius-mapper: img('data/aUpgradesY25.png'),
    essence-boost-yellow: img('data/aUpgradesY26.png'),
    hinge-buster: img('data/aUpgradesY27.png'),
    ninja-looter: img('data/aUpgradesY28.png'),
    lo-cost-mo-jade: img('data/aUpgradesY29.png'),
);

$vials: (
    vial-1: img('wiki/Vial-level-1.png'),
    vial-2: img('wiki/Vial-level-2.png'),
    vial-3: img('wiki/Vial-level-3.png'),
    vial-4: img('wiki/Vial-level-4.png'),
    vial-5: img('wiki/Vial-level-5.png'),
    vial-6: img('wiki/Vial-level-6.png'),
    vial-7: img('wiki/Vial-level-7.png'),
    vial-8: img('wiki/Vial-level-8.png'),
    vial-9: img('wiki/Vial-level-9.png'),
    vial-10: img('wiki/Vial-level-10.png'),
    vial-11: img('wiki/Vial-level-11.png'),
    vial-12: img('wiki/Vial-level-12.png'),
    vial-13: img('wiki/Vial-level-13.png'),
);

$p2w: (
    p2w-player: img('P2W_Player.png'),
);

$sigils: (
//Row 1
    big-muscle: img('data/aSiga0.png'),
    big-muscle-1: img('customized/Big_Muscle_Alchemy_Sigil-1.png'),
    big-muscle-2: img('customized/Big_Muscle_Alchemy_Sigil-2.png'),
    big-muscle-3: img('customized/Big_Muscle_Alchemy_Sigil-3.png'),

    pumped-kicks: img('data/aSiga1.png'),
    pumped-kicks-1: img('customized/Pumped_Kicks_Alchemy_Sigil-1.png'),
    pumped-kicks-2: img('customized/Pumped_Kicks_Alchemy_Sigil-2.png'),
    pumped-kicks-3: img('customized/Pumped_Kicks_Alchemy_Sigil-3.png'),

    odd-litearture: img('data/aSiga2.png'),
    odd-litearture-1: img('customized/Odd_Literature_Alchemy_Sigil-1.png'),
    odd-litearture-2: img('customized/Odd_Literature_Alchemy_Sigil-2.png'),
    odd-litearture-3: img('customized/Odd_Literature_Alchemy_Sigil-3.png'),

    good-fortune: img('data/aSiga3.png'),
    good-fortune-1: img('customized/Good_Fortune_Alchemy_Sigil-1.png'),
    good-fortune-2: img('customized/Good_Fortune_Alchemy_Sigil-2.png'),
    good-fortune-3: img('customized/Good_Fortune_Alchemy_Sigil-3.png'),

    plunging-sword: img('data/aSiga4.png'),
    plunging-sword-1: img('customized/Plunging_Sword_Alchemy_Sigil-1.png'),
    plunging-sword-2: img('customized/Plunging_Sword_Alchemy_Sigil-2.png'),
    plunging-sword-3: img('customized/Plunging_Sword_Alchemy_Sigil-3.png'),

    wizardly-hat: img('data/aSiga5.png'),
    wizardly-hat-1: img('customized/Wizardly_Hat_Alchemy_Sigil-1.png'),
    wizardly-hat-2: img('customized/Wizardly_Hat_Alchemy_Sigil-2.png'),
    wizardly-hat-3: img('customized/Wizardly_Hat_Alchemy_Sigil-3.png'),

    envelope-pile: img('data/aSiga6.png'),
    envelope-pile-1: img('customized/Envelope_Pile_Alchemy_Sigil-1.png'),
    envelope-pile-2: img('customized/Envelope_Pile_Alchemy_Sigil-2.png'),
    envelope-pile-3: img('customized/Envelope_Pile_Alchemy_Sigil-3.png'),

    shiny-beacon: img('data/aSiga7.png'),
    shiny-beacon-1: img('customized/Shiny_Beacon_Alchemy_Sigil-1.png'),
    shiny-beacon-2: img('customized/Shiny_Beacon_Alchemy_Sigil-2.png'),
    shiny-beacon-3: img('customized/Shiny_Beacon_Alchemy_Sigil-3.png'),

    metal-exterior: img('data/aSiga8.png'),
    metal-exterior-1: img('customized/Metal_Exterior_Alchemy_Sigil-1.png'),
    metal-exterior-2: img('customized/Metal_Exterior_Alchemy_Sigil-2.png'),
    metal-exterior-3: img('customized/Metal_Exterior_Alchemy_Sigil-3.png'),

    two-starz: img('data/aSiga9.png'),
    two-starz-1: img('customized/Two_Starz_Alchemy_Sigil-1.png'),
    two-starz-2: img('customized/Two_Starz_Alchemy_Sigil-2.png'),
    two-starz-3: img('customized/Two_Starz_Alchemy_Sigil-3.png'),

    pipe-gauge: img('data/aSiga10.png'),
    pipe-gauge-1: img('customized/Pipe_Gauge_Alchemy_Sigil-1.png'),
    pipe-gauge-2: img('customized/Pipe_Gauge_Alchemy_Sigil-2.png'),
    pipe-gauge-3: img('customized/Pipe_Gauge_Alchemy_Sigil-3.png'),

    trove: img('data/aSiga11.png'),
    trove-1: img('customized/Trove_Alchemy_Sigil-1.png'),
    trove-2: img('customized/Trove_Alchemy_Sigil-2.png'),
    trove-3: img('customized/Trove_Alchemy_Sigil-3.png'),
//Row 2
    pea-pod: img('data/aSiga12.png'),
    pea-pod-1: img('customized/Pea_Pod_Alchemy_Sigil-1.png'),
    pea-pod-2: img('customized/Pea_Pod_Alchemy_Sigil-2.png'),
    pea-pod-3: img('customized/Pea_Pod_Alchemy_Sigil-3.png'),

    tuft-of-hair: img('data/aSiga13.png'),
    tuft-of-hair-1: img('customized/Tuft_Of_Hair_Alchemy_Sigil-1.png'),
    tuft-of-hair-2: img('customized/Tuft_Of_Hair_Alchemy_Sigil-2.png'),
    tuft-of-hair-3: img('customized/Tuft_Of_Hair_Alchemy_Sigil-3.png'),

    emoji-veggie: img('data/aSiga14.png'),
    emoji-veggie-1: img('customized/Emoji_Veggie_Alchemy_Sigil-1.png'),
    emoji-veggie-2: img('customized/Emoji_Veggie_Alchemy_Sigil-2.png'),
    emoji-veggie-3: img('customized/Emoji_Veggie_Alchemy_Sigil-3.png'),

    vip-parchment: img('data/aSiga15.png'),
    vip-parchment-1: img('customized/Vip_Parchment_Alchemy_Sigil-1.png'),
    vip-parchment-2: img('customized/Vip_Parchment_Alchemy_Sigil-2.png'),
    vip-parchment-3: img('customized/Vip_Parchment_Alchemy_Sigil-3.png'),

    dream-catcher: img('data/aSiga16.png'),
    dream-catcher-1: img('customized/Dream_Catcher_Alchemy_Sigil-1.png'),
    dream-catcher-2: img('customized/Dream_Catcher_Alchemy_Sigil-2.png'),
    dream-catcher-3: img('customized/Dream_Catcher_Alchemy_Sigil-3.png'),

    duster-studs: img('data/aSiga17.png'),
    duster-studs-1: img('customized/Duster_Studs_Alchemy_Sigil-1.png'),
    duster-studs-2: img('customized/Duster_Studs_Alchemy_Sigil-2.png'),
    duster-studs-3: img('customized/Duster_Studs_Alchemy_Sigil-3.png'),

    garlic-glove: img('data/aSiga18.png'),
    garlic-glove-1: img('customized/Garlic_Glove_Alchemy_Sigil-1.png'),
    garlic-glove-2: img('customized/Garlic_Glove_Alchemy_Sigil-2.png'),
    garlic-glove-3: img('customized/Garlic_Glove_Alchemy_Sigil-3.png'),

    lab-tesstube: img('data/aSiga19.png'),
    lab-tesstube-1: img('customized/Lab_Tesstube_Alchemy_Sigil-1.png'),
    lab-tesstube-2: img('customized/Lab_Tesstube_Alchemy_Sigil-2.png'),
    lab-tesstube-3: img('customized/Lab_Tesstube_Alchemy_Sigil-3.png'),

    peculiar-vial: img('data/aSiga20.png'),
    peculiar-vial-1: img('customized/Peculiar_Vial_Alchemy_Sigil-1.png'),
    peculiar-vial-2: img('customized/Peculiar_Vial_Alchemy_Sigil-2.png'),
    peculiar-vial-3: img('customized/Peculiar_Vial_Alchemy_Sigil-3.png'),

    loot-pile: img('data/aSiga21.png'),
    loot-pile-1: img('customized/Loot_Pile_Alchemy_Sigil-1.png'),
    loot-pile-2: img('customized/Loot_Pile_Alchemy_Sigil-2.png'),
    loot-pile-3: img('customized/Loot_Pile_Alchemy_Sigil-3.png'),

    div-spiral: img('data/aSiga22.png'),
    div-spiral-1: img('customized/Div_Spiral_Alchemy_Sigil-1.png'),
    div-spiral-2: img('customized/Div_Spiral_Alchemy_Sigil-2.png'),
    div-spiral-3: img('customized/Div_Spiral_Alchemy_Sigil-3.png'),

    cool-coin: img('data/aSiga23.png'),
    cool-coin-1: img('customized/Cool_Coin_Alchemy_Sigil-1.png'),
    cool-coin-2: img('customized/Cool_Coin_Alchemy_Sigil-2.png'),
    cool-coin-3: img('customized/Cool_Coin_Alchemy_Sigil-3.png'),
);

$all-alchemy: map-merge($bubbles, $vials);
$all-alchemy: map-merge($all-alchemy, $p2w);
$all-alchemy: map-merge($all-alchemy, $sigils);