$bubbles: (
    bubbles: img('wiki/OrangeBubbleX.png'),
    cauldron-o: img('wiki/BubbleOrange.gif'),
    cauldron-g: img('wiki/BubbleGreen.gif'),
    cauldron-p: img('wiki/BubblePurple.gif'),
    cauldron-y: img('wiki/BubbleYellow.gif'),
    cauldron-a: img('wiki/Alchemy_Bubble_all.gif'),
    water-droplets: img('wiki/Water_Droplets.png'),
    liquid-nitrogen: img('wiki/Liquid_Nitrogen.png'),
    trench-seawater: img('wiki/Trench_Seawater.png'),
    toxic-mercury: img('wiki/Toxic_Mercury.png'),

    // Power Cauldron

    roid-ragin: img('wiki/OrangeBubble1.png'),
    warriors-rule: img('wiki/OrangeBubble2.png'),
    hearty-diggy: img('wiki/OrangeBubble3.png'),
    wyoming-blood: img('wiki/OrangeBubble4.png'),
    reely-smart: img('wiki/OrangeBubble5.png'),
    big-meaty-claws: img('wiki/OrangeBubble6.png'),
    sploosh-sploosh: img('wiki/OrangeBubble7.png'),
    stronk-tools: img('wiki/OrangeBubble8.png'),
    fmj: img('wiki/OrangeBubble9.png'),
    bappity-boopity: img('wiki/OrangeBubble10.png'),
    brittley-spears: img('wiki/OrangeBubble11.png'),
    call-me-bob: img('wiki/OrangeBubble12.png'),
    carpenter: img('wiki/OrangeBubble13.png'),
    buff-boi-talent: img('wiki/OrangeBubble14.png'),
    orange-bargain: img('wiki/OrangeBubble15.png'),
    penny-of-strength: img('wiki/OrangeBubble16.png'),
    multorange: img('wiki/OrangeBubble17.png'),
    dream-of-ironfish: img('wiki/OrangeBubble18.png'),
    shimmeron: img('wiki/OrangeBubble19.png'),
    bite-but-not-chew: img('wiki/OrangeBubble20.png'),
    spear-powah: img('wiki/OrangeBubble21.png'),
    slabi-orefish: img('wiki/OrangeBubble22.png'),
    gamer-at-heart: img('wiki/OrangeBubble23.png'),
    slabi-strength: img('wiki/OrangeBubble24.png'),
    power-trione: img('wiki/OrangeBubble25.png'),
    farquad-force: img('wiki/OrangeBubble26.png'),
    endgame-eff-i: img('wiki/OrangeBubble27.png'),
    tome-strength: img('wiki/OrangeBubble28.png'),
    essence-boost-orange: img('wiki/OrangeBubble29.png'),
    crop-chapter: img('wiki/OrangeBubble30.png'),

    // Quicc Cauldron

    swift-steppin: img('wiki/GreenBubble1.png'),
    archer-or-bust: img('wiki/GreenBubble2.png'),
    hammer-hammer: img('wiki/GreenBubble3.png'),
    lil-big-damage: img('wiki/GreenBubble4.png'),
    anvilnomics: img('wiki/GreenBubble5.png'),
    quick-slap: img('wiki/GreenBubble6.png'),
    sanic-tools: img('wiki/GreenBubble7.png'),
    bug2: img('wiki/GreenBubble8.png'),
    shaquracy: img('wiki/GreenBubble9.png'),
    cheap-shot: img('wiki/GreenBubble10.png'),
    bow-jack: img('wiki/GreenBubble11.png'),
    call-me-ash: img('wiki/GreenBubble12.png'),
    cuz-i-catch-em-all: img('wiki/GreenBubble13.png'),
    fast-boi-talent: img('wiki/GreenBubble14.png'),
    green-bargain: img('wiki/GreenBubble15.png'),
    dollar-of-agility: img('wiki/GreenBubble16.png'),
    premigreen: img('wiki/GreenBubble17.png'),
    fly-in-mind: img('wiki/GreenBubble18.png'),
    kill-per-kill: img('wiki/GreenBubble19.png'),
    afk-expexp: img('wiki/GreenBubble20.png'),
    bow-power: img('wiki/GreenBubble21.png'),
    slabo-critterbug: img('wiki/GreenBubble22.png'),
    sailor-at-heart: img('wiki/GreenBubble23.png'),
    slabo-agility: img('wiki/GreenBubble24.png'),
    power-tritwo: img('wiki/GreenBubble25.png'),
    quickdraw-quiver: img('wiki/GreenBubble26.png'),
    essence-boost-green: img('wiki/GreenBubble27.png'),
    endgame-eff-ii: img('wiki/GreenBubble28.png'),
    tome-agility: img('wiki/GreenBubble29.png'),
    stealth-chapter: img('wiki/GreenBubble30.png'),

    // High-IQ Cauldron

    stable-jenius: img('wiki/PurpleBubble1.png'),
    mage-is-best: img('wiki/PurpleBubble2.png'),
    hocus-choppus: img('wiki/PurpleBubble3.png'),
    molto-loggo: img('wiki/PurpleBubble4.png'),
    noodubble: img('wiki/PurpleBubble5.png'),
    name-i-guess: img('wiki/PurpleBubble6.png'),
    le-brain-tools: img('wiki/PurpleBubble7.png'),
    cookin-roadkill: img('wiki/PurpleBubble8.png'),
    brewstachio: img('wiki/PurpleBubble9.png'),
    all-for-kill: img('wiki/PurpleBubble10.png'),
    matty-stafford: img('wiki/PurpleBubble11.png'),
    call-me-pope: img('wiki/PurpleBubble12.png'),
    gospel-leader: img('wiki/PurpleBubble13.png'),
    smart-boi-talent: img('wiki/PurpleBubble14.png'),
    purple-bargain: img('wiki/PurpleBubble15.png'),
    nickel-of-wisdom: img('wiki/PurpleBubble16.png'),
    severapurple: img('wiki/PurpleBubble17.png'),
    tree-sleeper: img('wiki/PurpleBubble18.png'),
    hyperswift: img('wiki/PurpleBubble19.png'),
    matrix-evolved: img('wiki/PurpleBubble20.png'),
    wand-pawur: img('wiki/PurpleBubble21.png'),
    slabe-logsoul: img('wiki/PurpleBubble22.png'),
    pious-at-heart: img('wiki/PurpleBubble23.png'),
    slabe-wisdom: img('wiki/PurpleBubble24.png'),
    power-trithree: img('wiki/PurpleBubble25.png'),
    smarter-spells: img('wiki/PurpleBubble26.png'),
    endgame-eff-iii: img('wiki/PurpleBubble27.png'),
    essence-boost-purple: img('wiki/PurpleBubble28.png'),
    tome-wisdom: img('wiki/PurpleBubble29.png'),
    essence-chapter: img('wiki/PurpleBubble30.png'),

    // Kazam Cauldron

    lotto-skills: img('wiki/YellowBubble1.png'),
    droppin-loads: img('wiki/YellowBubble2.png'),
    startue-exp: img('wiki/YellowBubble3.png'),
    level-up-gift: img('wiki/YellowBubble4.png'),
    prowesessary: img('wiki/YellowBubble5.png'),
    stamp-tramp: img('wiki/YellowBubble6.png'),
    undeveloped-costs: img('wiki/YellowBubble7.png'),
    da-daily-drip: img('wiki/YellowBubble8.png'),
    grind-time: img('wiki/YellowBubble9.png'),
    laaarrrryyyy: img('wiki/YellowBubble10.png'),
    cogs-for-hands: img('wiki/YellowBubble11.png'),
    sample-it: img('wiki/YellowBubble12.png'),
    big-game-hunter: img('wiki/YellowBubble13.png'),
    ignore-overdues: img('wiki/YellowBubble14.png'),
    yellow-bargain: img('wiki/YellowBubble15.png'),
    mr-massacre: img('wiki/YellowBubble16.png'),
    egg-ink: img('wiki/YellowBubble17.png'),
    diamond-chef: img('wiki/YellowBubble18.png'),
    card-champ: img('wiki/YellowBubble19.png'),
    petting-the-rift: img('wiki/YellowBubble20.png'),
    boaty-bubble: img('wiki/YellowBubble21.png'),
    big-p: img('wiki/YellowBubble22.png'),
    bit-by-bit: img('wiki/YellowBubble23.png'),
    gifts-abound: img('wiki/YellowBubble24.png'),
    atom-split: img('wiki/YellowBubble25.png'),
    cropius-mapper: img('wiki/YellowBubble26.png'),
    essence-boost-yellow: img('wiki/YellowBubble27.png'),
    hinge-buster: img('wiki/YellowBubble28.png'),
    ninja-looter: img('wiki/YellowBubble29.png'),
    lo-cost-mo-jade: img('wiki/YellowBubble30.png'),
);

$vials: (
	copper-corona: $copper-ore,
	sippy-splinters: $oak-logs,
	mushroom-soup: $spore-cap,
	spool-sprite: $thread,
	barium-mixture: $copper-bar,
	dieter-drink: $bean-slices,
	skinny-0-cal: $snake-skin,
	thumb-pow: $trusty-nails,
	jungle-juice: $jungle-logs,
	barley-brew: $iron-bar,
	anearful: $glublin-ear,
	tea-with-pea: $potty-rolls,
	gold-guzzle: $gold-ore,
	ramificoction: $bullfrog-horn,
	seawater: $goldfish,
	tail-time: $rats-tail,
	fly-in-my-drink: $fly,
	mimicraught: $megalodon-tooth,
	blue-flav: $platinum-ore,
	slug-slurp: $hermit-can,
	pickle-jar: $bobjoepickle,
	fur-refresher: $floof-ploof,
	sippy-soul: $forest-soul,
	crab-juice: $crabbo,
	void-vial: $void-ore,
	red-malt: $redox-salts,
	ew-gross-gross: $mosquisnow,
	the-spanish-sahara: $tundra-logs,
	poison-tincture: $poison-froge,
	etruscan-lager: $mamooth-tusk,
	chonker-chug: $dune-soul,
	bubonic-burp: $mousey,
	visible-ink: $pen,
	orange-malt: $explosive-salts,
	snow-slurry: $snow-ball,
	slowergy-drink: $frigid-soul,
	sippy-cup: $sippy-straw,
	bunny-brew: $bunny,
	x40-40-purity: $contact-lense,
	shaved-ice: $purple-salt,
	goosey-glug: $honker,
	ball-pickle-jar: $balljoepickle,
	capachino: $purple-mush-cap,
	donut-drink: $half-eaten-donut,
	long-island-tea: $sand-shark,
	spook-pint: $squishy-soul,
	calcium-carbonate: $tongue-bone,
	bloat-draft: $blobfish,
	choco-milkshake: $crumpled-wrapper,
	pearl-seltzer: $pearler-shell,
	krakenade: $kraken,
	electrolyte: $condensed-zap,
	ash-agua: $suggma-ashes,
	maple-syrup: $maple-logs,
	hampter-drippy: $hampter,
	dreadnog: $dreadlo-bar,
	dusted-drink: $dust-mote,
	oj-jooce: $orange-slice,
	oozie-ooblek: $oozie-soul,
	venison-malt: $mongo-worm-slices,
	marble-mocha: $marble-ore,
	willow-sippy: $willow-logs,
	shinyfin-stew: $equinox-fish,
	dreamy-drink: $dream-particulate,
	ricecakorade: $rice-cake,
	ladybug-serum: $ladybug,
	flavorgil: $caulifish,
	greenleaf-tea: $leafy-branch,
	firefly-grog: $firefly,
	dabar-special: $godshard-bar,
	refreshment: $breezy-soul,
	gibbed-drink: $eviscerated-chunk,
	ded-sap: $effervescent-logs,
	royale-cola: $royal-headpiece,
	turtle-tisane: $tuttle,
);

$sigils: (
    big-muscle: img('wiki/Big_Muscle_Alchemy_Sigil.png'),
    pumped-kicks: img('wiki/Pumped_Kicks_Alchemy_Sigil.png'),
    odd-litearture: img('wiki/Odd_Literature_Alchemy_Sigil.png'),
    good-fortune: img('wiki/Good_Fortune_Alchemy_Sigil.png'),
    plunging-sword: img('wiki/Plunging_Sword_Alchemy_Sigil.png'),
    wizardly-hat: img('wiki/Wizardly_Hat_Alchemy_Sigil.png'),
    envelope-pile: img('wiki/Envelope_Pile_Alchemy_Sigil.png'),
    shiny-beacon: img('wiki/Shiny_Beacon_Alchemy_Sigil.png'),
    metal-exterior: img('wiki/Metal_Exterior_Alchemy_Sigil.png'),
    two-starz: img('wiki/Two_Starz_Alchemy_Sigil.png'),
    pipe-gauge: img('wiki/Pipe_Gauge_Alchemy_Sigil.png'),
    trove: img('wiki/Trove_Alchemy_Sigil.png'),
    pea-pod: img('wiki/Pea_Pod_Alchemy_Sigil.png'),
    tuft-of-hair: img('wiki/Tuft_Of_Hair_Alchemy_Sigil.png'),
    emoji-veggie: img('wiki/Emoji_Veggie_Alchemy_Sigil.png'),
    vip-parchment: img('wiki/Vip_Parchment_Alchemy_Sigil.png'),
    dream-catcher: img('wiki/Dream_Catcher_Alchemy_Sigil.png'),
    duster-studs: img('wiki/Duster_Studs_Alchemy_Sigil.png'),
    garlic-glove: img('wiki/Garlic_Glove_Alchemy_Sigil.png'),
    lab-tesstube: img('wiki/Lab_Tesstube_Alchemy_Sigil.png'),
    peculiar-vial: img('wiki/Peculiar_Vial_Alchemy_Sigil.png'),
    loot-pile: img('wiki/Loot_Pile_Alchemy_Sigil.png'),
    div-spiral: img('wiki/Div_Spiral_Alchemy_Sigil.png'),
    cool-coin: img('wiki/Cool_Coin_Alchemy_Sigil.png'),
);

$all-alchemy: map-merge($bubbles, $vials);
$all-alchemy: map-merge($all-alchemy, $sigils);