$bubbles: (
    bubbles: wiki('archive/4/42/20230111134826%21OrangeBubble13.png'),
    cauldron-o: wiki('5/57/BubbleOrange.gif'),
    cauldron-g: wiki('b/b9/BubbleGreen.gif'),
    cauldron-p: wiki('5/5e/BubblePurple.gif'),
    cauldron-y: wiki('1/1d/BubbleYellow.gif'),
    cauldron-a: img('Alchemy_Bubble_all.gif'),

    // Power Cauldron

    roid-ragin: wiki('7/70/OrangeBubble1.png'),
    warriors-rule: wiki('e/e4/OrangeBubble2.png'),
    hearty-diggy: wiki('1/14/OrangeBubble3.png'),
    wyoming-blood: wiki('f/f3/OrangeBubble4.png'),
    reely-smart: wiki('a/a2/OrangeBubble5.png'),
    big-meaty-claws: wiki('d/df/OrangeBubble6.png'),
    sploosh-sploosh: wiki('6/63/OrangeBubble7.png'),
    stronk-tools: wiki('c/c6/OrangeBubble8.png'),
    fmj: wiki('5/52/OrangeBubble9.png'),
    bappity-boopity: wiki('0/0e/OrangeBubble10.png'),
    brittley-spears: wiki('e/e7/OrangeBubble11.png'),
    call-me-bob: wiki('1/16/OrangeBubble12.png'),
    carpenter: wiki('4/42/OrangeBubble13.png'),
    buff-boi-talent: wiki('4/41/OrangeBubble14.png'),
    orange-bargain: wiki('a/aa/OrangeBubble15.png'),
    penny-of-strength: wiki('9/91/OrangeBubble16.png'),
    multorange: wiki('8/89/OrangeBubble17.png'),
    dream-of-ironfish: wiki('4/44/OrangeBubble18.png'),
    shimmeron: wiki('8/89/OrangeBubble19.png'),
    bite-but-not-chew: wiki('2/27/OrangeBubble20.png'),
    spear-powah: wiki('e/e9/OrangeBubble21.png'),
    slabi-orefish: wiki('6/66/OrangeBubble22.png'),
    gamer-at-heart: wiki('b/b9/OrangeBubble23.png'),
    slabi-strength: wiki('7/78/OrangeBubble24.png'),
    power-trione: wiki('2/29/OrangeBubble25.png'),
    farquad-force: wiki('9/91/OrangeBubble26.png'),
    endgame-eff-i: wiki('8/83/OrangeBubble27.png'),
    tome-strength: wiki('a/af/OrangeBubble28.png'),
    essence-boost-orange: wiki('1/1e/OrangeBubble29.png'),
    crop-chapter: wiki('7/77/OrangeBubble30.png'),

    // Quicc Cauldron

    swift-steppin: wiki('f/f2/GreenBubble1.png'),
    archer-or-bust: wiki('d/dd/GreenBubble2.png'),
    hammer-hammer: wiki('9/9b/GreenBubble3.png'),
    lil-big-damage: wiki('0/02/GreenBubble4.png'),
    anvilnomics: wiki('5/58/GreenBubble5.png'),
    quick-slap: wiki('a/ab/GreenBubble6.png'),
    sanic-tools: wiki('f/fc/GreenBubble7.png'),
    bug2: wiki('d/d2/GreenBubble8.png'),
    shaquracy: wiki('2/2a/GreenBubble9.png'),
    cheap-shot: wiki('5/5b/GreenBubble10.png'),
    bow-jack: wiki('d/d5/GreenBubble11.png'),
    call-me-ash: wiki('5/59/GreenBubble12.png'),
    cuz-i-catch-em-all: wiki('4/4b/GreenBubble13.png'),
    fast-boi-talent: wiki('c/cb/GreenBubble14.png'),
    green-bargain: wiki('1/11/GreenBubble15.png'),
    dollar-of-agility: wiki('e/ef/GreenBubble16.png'),
    premigreen: wiki('4/4f/GreenBubble17.png'),
    fly-in-mind: wiki('9/96/GreenBubble18.png'),
    kill-per-kill: wiki('a/ab/GreenBubble19.png'),
    afk-expexp: wiki('4/45/GreenBubble20.png'),
    bow-power: wiki('f/fa/GreenBubble21.png'),
    slabo-critterbug: wiki('b/b1/GreenBubble22.png'),
    sailor-at-heart: wiki('f/f2/GreenBubble23.png'),
    slabo-agility: wiki('3/3a/GreenBubble24.png'),
    power-tritwo: wiki('1/14/GreenBubble25.png'),
    quickdraw-quiver: wiki('3/3b/GreenBubble26.png'),
    essence-boost-green: wiki('5/59/GreenBubble27.png'),
    endgame-eff-ii: wiki('7/72/GreenBubble28.png'),
    tome-agility: wiki('a/ab/GreenBubble29.png'),
    stealth-chapter: wiki('a/ad/GreenBubble30.png'),

    // High-IQ Cauldron

    stable-jenius: wiki('7/7c/PurpleBubble1.png'),
    mage-is-best: wiki('9/95/PurpleBubble2.png'),
    hocus-choppus: wiki('9/9f/PurpleBubble3.png'),
    molto-loggo: wiki('d/d4/PurpleBubble4.png'),
    noodubble: wiki('7/75/PurpleBubble5.png'),
    name-i-guess: wiki('e/e6/PurpleBubble6.png'),
    le-brain-tools: wiki('c/ca/PurpleBubble7.png'),
    cookin-roadkill: wiki('3/34/PurpleBubble8.png'),
    brewstachio: wiki('9/9c/PurpleBubble9.png'),
    all-for-kill: wiki('5/51/PurpleBubble10.png'),
    matty-stafford: wiki('4/40/PurpleBubble11.png'),
    call-me-pope: wiki('1/16/PurpleBubble12.png'),
    gospel-leader: wiki('0/0d/PurpleBubble13.png'),
    smart-boi-talent: wiki('2/2b/PurpleBubble14.png'),
    purple-bargain: wiki('b/b3/PurpleBubble15.png'),
    nickel-of-wisdom: wiki('2/22/PurpleBubble16.png'),
    severapurple: wiki('a/a8/PurpleBubble17.png'),
    tree-sleeper: wiki('5/53/PurpleBubble18.png'),
    hyperswift: wiki('6/6a/PurpleBubble19.png'),
    matrix-evolved: wiki('4/45/PurpleBubble20.png'),
    wand-pawur: wiki('8/8d/PurpleBubble21.png'),
    slabe-logsoul: wiki('a/a7/PurpleBubble22.png'),
    pious-at-heart: wiki('a/ad/PurpleBubble23.png'),
    slabe-wisdom: wiki('9/9b/PurpleBubble24.png'),
    power-trithree: wiki('e/ee/PurpleBubble25.png'),
    smarter-spells: wiki('6/6c/PurpleBubble26.png'),
    endgame-eff-iii: wiki('1/1a/PurpleBubble27.png'),
    essence-boost-purple: wiki('2/2a/PurpleBubble28.png'),
    tome-wisdom: wiki('9/9d/PurpleBubble29.png'),
    essence-chapter: wiki('8/88/PurpleBubble30.png'),

    // Kazam Cauldron

    lotto-skills: wiki('4/4a/YellowBubble1.png'),
    droppin-loads: wiki('6/66/YellowBubble2.png'),
    startue-exp: wiki('b/b9/YellowBubble3.png'),
    level-up-gift: wiki('8/84/YellowBubble4.png'),
    prowesessary: wiki('3/33/YellowBubble5.png'),
    stamp-tramp: wiki('0/00/YellowBubble6.png'),
    undeveloped-costs: wiki('7/76/YellowBubble7.png'),
    da-daily-drip: wiki('3/32/YellowBubble8.png'),
    grind-time: wiki('3/3d/YellowBubble9.png'),
    laaarrrryyyy: wiki('8/81/YellowBubble10.png'),
    cogs-for-hands: wiki('9/9d/YellowBubble11.png'),
    sample-it: wiki('7/7a/YellowBubble12.png'),
    big-game-hunter: wiki('1/11/YellowBubble13.png'),
    ignore-overdues: wiki('5/55/YellowBubble14.png'),
    yellow-bargain: wiki('0/0d/YellowBubble15.png'),
    mr-massacre: wiki('d/db/YellowBubble16.png'),
    egg-ink: wiki('4/41/YellowBubble17.png'),
    diamond-chef: wiki('d/d7/YellowBubble18.png'),
    card-champ: wiki('9/99/YellowBubble19.png'),
    petting-the-rift: wiki('d/d6/YellowBubble20.png'),
    boaty-bubble: wiki('8/89/YellowBubble21.png'),
    big-p: wiki('6/6e/YellowBubble22.png'),
    bit-by-bit: wiki('3/32/YellowBubble23.png'),
    gifts-abound: wiki('2/2b/YellowBubble24.png'),
    atom-split: wiki('a/a9/YellowBubble25.png'),
    cropius-mapper: wiki('7/74/YellowBubble26.png'),
    essence-boost-yellow: wiki('a/a3/YellowBubble27.png'),
    hinge-buster: wiki('1/14/YellowBubble28.png'),
    ninja-looter: wiki('6/6f/YellowBubble29.png'),
    lo-cost-mo-jade: wiki('5/56/YellowBubble30.png'),
);

$vials: (
	copper-corona: $copper-ore,
	sippy-splinters: $oak-logs,
	mushroom-soup: $spore-cap,
	spool-sprite: $thread,
	barium-mixture: $copper-bar,
	dieter-drink: $bean-slices,
	skinny-0-cal: $snake-skin,
	thumb-pow: $trusty-nails,
	jungle-juice: $jungle-logs,
	barley-brew: $iron-bar,
	anearful: $glublin-ear,
	tea-with-pea: $potty-rolls,
	gold-guzzle: $gold-ore,
	ramificoction: $bullfrog-horn,
	seawater: $goldfish,
	tail-time: $rats-tail,
	fly-in-my-drink: $fly,
	mimicraught: $megalodon-tooth,
	blue-flav: $platinum-ore,
	slug-slurp: $hermit-can,
	pickle-jar: $bobjoepickle,
	fur-refresher: $floof-ploof,
	sippy-soul: $forest-soul,
	crab-juice: $crabbo,
	void-vial: $void-ore,
	red-malt: $redox-salts,
	ew-gross-gross: $mosquisnow,
	the-spanish-sahara: $tundra-logs,
	poison-tincture: $poison-froge,
	etruscan-lager: $mamooth-tusk,
	chonker-chug: $dune-soul,
	bubonic-burp: $mousey,
	visible-ink: $pen,
	orange-malt: $explosive-salts,
	snow-slurry: $snow-ball,
	slowergy-drink: $frigid-soul,
	sippy-cup: $sippy-straw,
	bunny-brew: $bunny,
	x40-40-purity: $contact-lense,
	shaved-ice: $purple-salt,
	goosey-glug: $honker,
	ball-pickle-jar: $balljoepickle,
	capachino: $purple-mush-cap,
	donut-drink: $half-eaten-donut,
	long-island-tea: $sand-shark,
	spook-pint: $squishy-soul,
	calcium-carbonate: $tongue-bone,
	bloat-draft: $blobfish,
	choco-milkshake: $crumpled-wrapper,
	pearl-seltzer: $pearler-shell,
	krakenade: $kraken,
	electrolyte: $condensed-zap,
	ash-agua: $suggma-ashes,
	maple-syrup: $maple-logs,
	hampter-drippy: $hampter,
	dreadnog: $dreadlo-bar,
	dusted-drink: $dust-mote,
	oj-jooce: $orange-slice,
	oozie-ooblek: $oozie-soul,
	venison-malt: $mongo-worm-slices,
	marble-mocha: $marble-ore,
	willow-sippy: $willow-logs,
	shinyfin-stew: $equinox-fish,
	dreamy-drink: $dream-particulate,
	ricecakorade: $rice-cake,
	ladybug-serum: $ladybug,
	flavorgil: $caulifish,
	greenleaf-tea: $leafy-branch,
	firefly-grog: $firefly,
	dabar-special: $godshard-bar,
	refreshment: $breezy-soul,
	gibbed-drink: $eviscerated-chunk,
	ded-sap: $effervescent-logs,
	royale-cola: $royal-headpiece,
	turtle-tisane: $tuttle,
);

$sigils: (
    big-muscle: wiki('8/8c/Big_Muscle_Alchemy_Sigil.png'),
    pumped-kicks: wiki('8/8e/Pumped_Kicks_Alchemy_Sigil.png'),
    odd-literarture: wiki('2/20/Odd_Literature_Alchemy_Sigil.png'),
    good-fortune: wiki('3/3c/Good_Fortune_Alchemy_Sigil.png'),
    plunging-sword: wiki('4/45/Plunging_Sword_Alchemy_Sigil.png'),
    wizardly-hat: wiki('a/ab/Wizardly_Hat_Alchemy_Sigil.png'),
    envelope-pile: wiki('e/e2/Envelope_Pile_Alchemy_Sigil.png'),
    shiny-beacon: wiki('a/aa/Shiny_Beacon_Alchemy_Sigil.png'),
    metal-exterior: wiki('e/ef/Metal_Exterior_Alchemy_Sigil.png'),
    two-starz: wiki('6/63/Two_Starz_Alchemy_Sigil.png'),
    pipe-gauge: wiki('4/40/Pipe_Gauge_Alchemy_Sigil.png'),
    trove: wiki('f/f9/Trove_Alchemy_Sigil.png'),
    pea-pod: wiki('6/65/Pea_Pod_Alchemy_Sigil.png'),
    tuft-of-hair: wiki('0/09/Tuft_Of_Hair_Alchemy_Sigil.png'),
    emoji-veggie: wiki('0/00/Emoji_Veggie_Alchemy_Sigil.png'),
    vip-parchment: wiki('b/b6/Vip_Parchment_Alchemy_Sigil.png'),
    dream-catcher: wiki('5/5e/Dream_Catcher_Alchemy_Sigil.png'),
    duster-studs: wiki('7/7a/Duster_Studs_Alchemy_Sigil.png'),
    garlic-glove: wiki('7/7c/Garlic_Glove_Alchemy_Sigil.png'),
    lab-tesstube: wiki('f/ff/Lab_Tesstube_Alchemy_Sigil.png'),
    peculiar-vial: wiki('2/2d/Peculiar_Vial_Alchemy_Sigil.png'),
    loot-pile: wiki('c/c7/Loot_Pile_Alchemy_Sigil.png'),
    div-spiral: wiki('4/4b/Div_Spiral_Alchemy_Sigil.png'),
    cool-coin: wiki('1/11/Cool_Coin_Alchemy_Sigil.png'),
);

$all-alchemy: map-merge($bubbles, $vials);
$all-alchemy: map-merge($all-alchemy, $sigils);