$arcade: (
    arcade-ball:        img('data/PachiBall0.png'),
    arcade-gold-ball:   img('wiki/Arcade_Gold_Ball.png'),
    arcade-cosmic-ball: img('customized/Arcade_Cosmic_Ball.png'),
    arcade-bonus-0:     img('data/PachiShopICON0.png'),
    arcade-bonus-1:     img('data/PachiShopICON1.png'),
    arcade-bonus-2:     img('data/PachiShopICON2.png'),
    arcade-bonus-3:     img('data/PachiShopICON3.png'),
    arcade-bonus-4:     img('data/PachiShopICON4.png'),
    arcade-bonus-5:     img('data/PachiShopICON5.png'),
    arcade-bonus-6:     img('data/PachiShopICON6.png'),
    arcade-bonus-7:     img('data/PachiShopICON7.png'),
    arcade-bonus-8:     img('data/PachiShopICON8.png'),
    arcade-bonus-9:     img('data/PachiShopICON9.png'),
    arcade-bonus-10:    img('data/PachiShopICON10.png'),
    arcade-bonus-11:    img('data/PachiShopICON11.png'),
    arcade-bonus-12:    img('data/PachiShopICON12.png'),
    arcade-bonus-13:    img('data/PachiShopICON13.png'),
    arcade-bonus-14:    img('data/PachiShopICON14.png'),
    arcade-bonus-15:    img('data/PachiShopICON15.png'),
    arcade-bonus-16:    img('data/PachiShopICON16.png'),
    arcade-bonus-17:    img('data/PachiShopICON17.png'),
    arcade-bonus-18:    img('data/PachiShopICON18.png'),
    arcade-bonus-19:    img('data/PachiShopICON19.png'),
    arcade-bonus-20:    img('data/PachiShopICON20.png'),
    arcade-bonus-21:    img('data/PachiShopICON21.png'),
    arcade-bonus-22:    img('data/PachiShopICON22.png'),
    arcade-bonus-23:    img('data/PachiShopICON23.png'),
    arcade-bonus-24:    img('data/PachiShopICON24.png'),
	arcade-bonus-25:    img('data/PachiShopICON25.png'),
    arcade-bonus-26:    img('data/PachiShopICON26.png'),
    arcade-bonus-27:    img('data/PachiShopICON27.png'),
    arcade-bonus-28:    img('data/PachiShopICON28.png'),
    arcade-bonus-29:    img('data/PachiShopICON29.png'),
    arcade-bonus-30:    img('data/PachiShopICON30.png'),
    arcade-bonus-31:    img('data/PachiShopICON31.png'),
    arcade-bonus-32:    img('data/PachiShopICON32.png'),
    arcade-bonus-33:    img('data/PachiShopICON33.png'),
    arcade-bonus-34:    img('data/PachiShopICON34.png'),
    arcade-bonus-35:    img('data/PachiShopICON35.png'),
    arcade-bonus-36:    img('data/PachiShopICON36.png'),
    arcade-bonus-37:    img('data/PachiShopICON37.png'),
    arcade-bonus-38:    img('data/PachiShopICON38.png'),
    arcade-bonus-39:    img('data/PachiShopICON39.png'),
    arcade-bonus-40:    img('data/PachiShopICON40.png'),
    arcade-bonus-41:    img('data/PachiShopICON41.png'),
    arcade-bonus-42:    img('data/PachiShopICON42.png'),
    arcade-bonus-43:    img('data/PachiShopICON43.png'),
    arcade-bonus-44:    img('data/PachiShopICON44.png'),
    arcade-bonus-45:    img('data/PachiShopICON45.png'),
    arcade-bonus-46:    img('data/PachiShopICON46.png'),
    arcade-bonus-47:    img('data/PachiShopICON47.png'),
    arcade-bonus-48:    img('data/PachiShopICON48.png'),
    arcade-bonus-49:    img('data/PachiShopICON49.png'),
    arcade-bonus-50:    img('data/PachiShopICON50.png'),
    arcade-bonus-51:    img('data/PachiShopICON51.png'),
    arcade-bonus-52:    img('data/PachiShopICON52.png'),
    arcade-bonus-53:    img('data/PachiShopICON53.png'),
    arcade-bonus-54:    img('data/PachiShopICON54.png'),
);