$arcade: (
    arcade-bonus-0:     img('wiki/Gold_Ball_Shop_1.png'),
    arcade-bonus-1:     img('wiki/Gold_Ball_Shop_2.png'),
    arcade-bonus-2:     img('wiki/Gold_Ball_Shop_3.png'),
    arcade-bonus-3:     img('wiki/Gold_Ball_Shop_4.png'),
    arcade-bonus-4:     img('wiki/Gold_Ball_Shop_5.png'),
    arcade-bonus-5:     img('wiki/Gold_Ball_Shop_6.png'),
    arcade-bonus-6:     img('wiki/Gold_Ball_Shop_7.png'),
    arcade-bonus-7:     img('wiki/Gold_Ball_Shop_8.png'),
    arcade-bonus-8:     img('wiki/Gold_Ball_Shop_9.png'),
    arcade-bonus-9:     img('wiki/Gold_Ball_Shop_10.png'),
    arcade-bonus-10:    img('wiki/Gold_Ball_Shop_11.png'),
    arcade-bonus-11:    img('wiki/Gold_Ball_Shop_12.png'),
    arcade-bonus-12:    img('wiki/Gold_Ball_Shop_13.png'),
    arcade-bonus-13:    img('wiki/Gold_Ball_Shop_14.png'),
    arcade-bonus-14:    img('wiki/Gold_Ball_Shop_15.png'),
    arcade-bonus-15:    img('wiki/Gold_Ball_Shop_16.png'),
    arcade-bonus-16:    img('wiki/Gold_Ball_Shop_17.png'),
    arcade-bonus-17:    img('wiki/Gold_Ball_Shop_18.png'),
    arcade-bonus-18:    img('wiki/Gold_Ball_Shop_19.png'),
    arcade-bonus-19:    img('wiki/Gold_Ball_Shop_20.png'),
    arcade-bonus-20:    img('wiki/Gold_Ball_Shop_21.png'),
    arcade-bonus-21:    img('wiki/Gold_Ball_Shop_22.png'),
    arcade-bonus-22:    img('wiki/Gold_Ball_Shop_23.png'),
    arcade-bonus-23:    img('wiki/Gold_Ball_Shop_24.png'),
    arcade-bonus-24:    img('wiki/Gold_Ball_Shop_25.png'),
	arcade-bonus-25:    img('wiki/Gold_Ball_Shop_26.png'),
    arcade-bonus-26:    img('wiki/Gold_Ball_Shop_27.png'),
    arcade-bonus-27:    img('wiki/Gold_Ball_Shop_28.png'),
    arcade-bonus-28:    img('wiki/Gold_Ball_Shop_29.png'),
    arcade-bonus-29:    img('wiki/Gold_Ball_Shop_30.png'),
    arcade-bonus-30:    img('wiki/Gold_Ball_Shop_31.png'),
    arcade-bonus-31:    img('wiki/Gold_Ball_Shop_32.png'),
    arcade-bonus-32:    img('wiki/Gold_Ball_Shop_33.png'),
    arcade-bonus-33:    img('wiki/Gold_Ball_Shop_34.png'),
    arcade-bonus-34:    img('wiki/Gold_Ball_Shop_35.png'),
    arcade-bonus-35:    img('wiki/Gold_Ball_Shop_36.png'),
    arcade-bonus-36:    img('wiki/Gold_Ball_Shop_37.png'),
    arcade-bonus-37:    img('wiki/Gold_Ball_Shop_38.png')
);