$ballot: (
    ballot-1:   wiki('a/a9/Vote_Bonus_1.png'),
    ballot-2:   wiki('1/1e/Vote_Bonus_2.png'),
    ballot-3:   wiki('f/f3/Vote_Bonus_3.png'),
    ballot-4:   wiki('c/cd/Vote_Bonus_4.png'),
    ballot-5:   wiki('3/3d/Vote_Bonus_5.png'),
    ballot-6:   wiki('7/7e/Vote_Bonus_6.png'),
    ballot-7:   wiki('9/96/Vote_Bonus_7.png'),
    ballot-8:   wiki('c/c7/Vote_Bonus_8.png'),
    ballot-9:   wiki('0/04/Vote_Bonus_9.png'),
    ballot-10:  wiki('9/95/Vote_Bonus_10.png'),
    ballot-11:  wiki('9/93/Vote_Bonus_11.png'),
    ballot-12:  wiki('4/42/Vote_Bonus_12.png'),
    ballot-13:  wiki('0/09/Vote_Bonus_13.png'),
    ballot-14:  wiki('1/11/Vote_Bonus_14.png'),
    ballot-15:  wiki('8/8d/Vote_Bonus_15.png'),
    ballot-16:  wiki('7/72/Vote_Bonus_16.png'),
    ballot-17:  wiki('8/88/Vote_Bonus_17.png'),
    ballot-18:  wiki('4/41/Vote_Bonus_18.png'),
    ballot-19:  wiki('4/4b/Vote_Bonus_19.png'),
    ballot-20:  wiki('a/aa/Vote_Bonus_20.png'),
    ballot-21:  wiki('1/11/Vote_Bonus_21.png'),
    ballot-22:  wiki('5/50/Vote_Bonus_22.png'),
    ballot-23:  wiki('a/ad/Vote_Bonus_23.png'),
    ballot-24:  wiki('f/f5/Vote_Bonus_24.png'),
    ballot-25:  wiki('b/b3/Vote_Bonus_25.png'),
    ballot-26:  wiki('d/d2/Vote_Bonus_26.png'),
    ballot-27:  wiki('0/05/Vote_Bonus_27.png'),
    ballot-28:  wiki('d/d7/Vote_Bonus_28.png'),
    ballot-29:  wiki('0/0f/Vote_Bonus_29.png'),
    ballot-30:  wiki('7/71/Vote_Bonus_30.png'),
    ballot-31:  wiki('0/0e/Vote_Bonus_31.png'),
    ballot-32:  wiki('f/ff/Vote_Bonus_32.png'),
    ballot-33:  wiki('a/ac/Vote_Bonus_33.png'),
    ballot-34:  wiki('d/d5/Vote_Bonus_34.png'),
);