$ballot: (
    ballot-1:   img('wiki/Vote_Bonus_1.png'),
    ballot-2:   img('wiki/Vote_Bonus_2.png'),
    ballot-3:   img('wiki/Vote_Bonus_3.png'),
    ballot-4:   img('wiki/Vote_Bonus_4.png'),
    ballot-5:   img('wiki/Vote_Bonus_5.png'),
    ballot-6:   img('wiki/Vote_Bonus_6.png'),
    ballot-7:   img('wiki/Vote_Bonus_7.png'),
    ballot-8:   img('wiki/Vote_Bonus_8.png'),
    ballot-9:   img('wiki/Vote_Bonus_9.png'),
    ballot-10:  img('wiki/Vote_Bonus_10.png'),
    ballot-11:  img('wiki/Vote_Bonus_11.png'),
    ballot-12:  img('wiki/Vote_Bonus_12.png'),
    ballot-13:  img('wiki/Vote_Bonus_13.png'),
    ballot-14:  img('wiki/Vote_Bonus_14.png'),
    ballot-15:  img('wiki/Vote_Bonus_15.png'),
    ballot-16:  img('wiki/Vote_Bonus_16.png'),
    ballot-17:  img('wiki/Vote_Bonus_17.png'),
    ballot-18:  img('wiki/Vote_Bonus_18.png'),
    ballot-19:  img('wiki/Vote_Bonus_19.png'),
    ballot-20:  img('wiki/Vote_Bonus_20.png'),
    ballot-21:  img('wiki/Vote_Bonus_21.png'),
    ballot-22:  img('wiki/Vote_Bonus_22.png'),
    ballot-23:  img('wiki/Vote_Bonus_23.png'),
    ballot-24:  img('wiki/Vote_Bonus_24.png'),
    ballot-25:  img('wiki/Vote_Bonus_25.png'),
    ballot-26:  img('wiki/Vote_Bonus_26.png'),
    ballot-27:  img('wiki/Vote_Bonus_27.png'),
    ballot-28:  img('wiki/Vote_Bonus_28.png'),
    ballot-29:  img('wiki/Vote_Bonus_29.png'),
    ballot-30:  img('wiki/Vote_Bonus_30.png'),
    ballot-31:  img('wiki/Vote_Bonus_31.png'),
    ballot-32:  img('wiki/Vote_Bonus_32.png'),
    ballot-33:  img('wiki/Vote_Bonus_33.png'),
    ballot-34:  img('wiki/Vote_Bonus_34.png'),
);