$ballot: (
    ballot-0:   img('data/VoteBon1.png'),
    ballot-1:   img('data/VoteBon1.png'),
    ballot-2:   img('data/VoteBon2.png'),
    ballot-3:   img('data/VoteBon3.png'),
    ballot-4:   img('data/VoteBon4.png'),
    ballot-5:   img('data/VoteBon5.png'),
    ballot-6:   img('data/VoteBon6.png'),
    ballot-7:   img('data/VoteBon7.png'),
    ballot-8:   img('data/VoteBon8.png'),
    ballot-9:   img('data/VoteBon9.png'),
    ballot-10:  img('data/VoteBon10.png'),
    ballot-11:  img('data/VoteBon11.png'),
    ballot-12:  img('data/VoteBon12.png'),
    ballot-13:  img('data/VoteBon13.png'),
    ballot-14:  img('data/VoteBon14.png'),
    ballot-15:  img('data/VoteBon15.png'),
    ballot-16:  img('data/VoteBon16.png'),
    ballot-17:  img('data/VoteBon17.png'),
    ballot-18:  img('data/VoteBon18.png'),
    ballot-19:  img('data/VoteBon19.png'),
    ballot-20:  img('data/VoteBon20.png'),
    ballot-21:  img('data/VoteBon21.png'),
    ballot-22:  img('data/VoteBon22.png'),
    ballot-23:  img('data/VoteBon23.png'),
    ballot-24:  img('data/VoteBon24.png'),
    ballot-25:  img('data/VoteBon25.png'),
    ballot-26:  img('data/VoteBon26.png'),
    ballot-27:  img('data/VoteBon27.png'),
    ballot-28:  img('data/VoteBon28.png'),
    ballot-29:  img('data/VoteBon29.png'),
    ballot-30:  img('data/VoteBon30.png'),
    ballot-31:  img('data/VoteBon31.png'),
    ballot-32:  img('data/VoteBon32.png'),
    ballot-33:  img('data/VoteBon33.png'),
    ballot-34:  img('data/VoteBon34.png'),
);