$boss-keys: (
    forest-villa-key: img("data/Key1.png"),
    efaunts-tomb-key: img("data/Key2.png"),
    chizoars-cavern-key: img("data/Key3.png"),
    trolls-enclave-key: img("data/Key4.png"),
    kruk-s-volcano-key: img("data/Key5.png"),
);