$boss-keys: (
    forest-villa-key: img("data/Bkey1.png"),
    efaunt-s-tomb-key: img("data/Bkey2.png"),
    chizoar-s-cavern-key: img("data/Bkey3.png"),
    troll-s-enclave-key: img("data/Bkey4.png"),
    kruk-s-volcano-key: img("data/Bkey5.png"),
);
