$boss-keys: (
    forest-villa-key: img("wiki/Forest_Villa_Key.png"),
    efaunts-tomb-key: img("wiki/Efaunt's_Tomb_Key.png"),
    chizoars-cavern-key: img("wiki/Chizoar's_Cavern_Key.png"),
    trolls-enclave-key: img("wiki/Troll's_Enclave_Key.png"),
    kruks-volcano-key: img("wiki/Kruk's_Volcano_Key.png"),
);