$breeding-map: (
// GENETICS
    fighter: img('data/GeneReady0.png'),
    defender: img('data/GeneReady1.png'),
	forager: img('data/GeneReady2.png'),
	fleeter: img('data/GeneReady3.png'),
	breeder: img('data/GeneReady4.png'),
	special: img('data/GeneReady5.png'),
	mercenary: img('data/GeneReady6.png'),
	boomer: img('data/GeneReady7.png'),
	sniper: img('data/GeneReady8.png'),
	amplifier: img('data/GeneReady9.png'),
	tsar: img('data/GeneReady10.png'),
	rattler: img('data/GeneReady11.png'),
	cursory: img('data/GeneReady12.png'),
	fastidious: img('data/GeneReady13.png'),
	flashy: img('data/GeneReady14.png'),
	opticular: img('data/GeneReady15.png'),
	monolithic: img('data/GeneReady16.png'),
	alchemic: img('data/GeneReady17.png'),
	badumdum: img('data/GeneReady18.png'),
	defstone: img('data/GeneReady19.png'),
	targeter: img('data/GeneReady20.png'),
	looter : img('data/GeneReady21.png'),
	refiller: img('data/GeneReady22.png'),
	eggshell: img('data/GeneReady23.png'),
	lazarus: img('data/GeneReady24.png'),
	trasher: img('data/GeneReady25.png'),
	miasma: img('data/GeneReady26.png'),
	converter: img('data/GeneReady27.png'),
	heavyweight: img('data/GeneReady28.png'),
	fastihoop: img('data/GeneReady29.png'),
	ninja: img('data/GeneReady30.png'),
	superboomer: img('data/GeneReady31.png'),
	peapeapod: img('data/GeneReady32.png'),
	borger: img('data/GeneReady33.png'),
	gene_question_mark: img('data/GeneReadyQMARK.png'),

// SPICES
	grasslands-spice: img('wiki/Grasslands_Spice.png'),
	jungle-spice: img('wiki/Jungle_Spice.png'),
	encroaching-forest-spice: img('wiki/Encroaching_Forest_Spice.png'),
	tree-interior-spice: img('wiki/Tree_Interior_Spice.png'),
	stinky-sewers-spice: img('wiki/Stinky_Sewers_Spice.png'),
	desert-oasis-spice: img('wiki/Desert_Oasis_Spice.png'),
	beach-docks-spice: img('wiki/Beach_Docks_Spice.png'),
	coarse-mountains-spice: img('wiki/Coarse_Mountains_Spice.png'),
	twilight-desert-spice: img('wiki/Twilight_Desert_Spice.png'),
	the-crypt-spice: img('wiki/The_Crypt_Spice.png'),
	frosty-peaks-spice: img('wiki/Frosty_Peaks_Spice.png'),
	tundra-outback-spice: img('wiki/Tundra_Outback_Spice.png'),
	crystal-caverns-spice: img('wiki/Crystal_Caverns_Spice.png'),
	pristalle-lake-spice: img('wiki/Pristalle_Lake_Spice.png'),
	nebulon-mantle-spice: img('wiki/Nebulon_Mantle_Spice.png'),
	starfield-skies-spice: img('wiki/Starfield_Skies_Spice.png'),
	shores-of-eternity-spice: img('wiki/Shores_of_Eternity_Spice.png'),
	molten-bay-spice: img('wiki/Molten_Bay_Spice.png'),
	smokey-lake-spice: img('wiki/Smokey_Lake_Spice.png'),
	wurm-catacombs-spice: img('wiki/Wurm_Catacombs_Spice.png'),
	spirit-fields-spice: img('wiki/Spirit_Fields_Spice.png'),
	bamboo-forest-spice: img('wiki/Bamboo_Forest_Spice.png'),
	lullaby-airways-spice: img('wiki/Lullaby_Airways_Spice.png'),
	dharma-mesa-spice: img('wiki/Dharma_Mesa_Spice.png'),

// UNIQUE PETS
    green-mushroom-shiny: img('wiki/Green_Mushroom_Shiny.gif'),
    squirrel: img('wiki/Squirrel_Idle.gif'),
    piggo: img('wiki/Piggo_Idle.gif'),
    mallay: img('wiki/Mallay_Idle.gif'),
    whale: img('wiki/Whale_Idle.gif'),
    dig-doug: img('wiki/Dig_Doug_Idle.gif'),
    beefie: img('wiki/Beefie_Idle.gif'),
    crescent-spud: img('wiki/Crescent_Spud_Idle.gif'),
    chippy: img('wiki/Chippy_Idle.gif'),
    xylobone: img('wiki/Xylobone_Idle.gif'),
    breeding-bunny: img('wiki/Bunny_Idle.gif'),
    mecho-mouse: img('wiki/Mecho_Mouse_Idle.gif'),
    panda: img('wiki/Panda_Idle.gif'),
    dog: img('wiki/Dog_Idle.gif'),
    cool-bird: img('wiki/Cool_Bird_Idle.gif'),
    hedgehog: img('wiki/Hedgehog_Idle.gif'),
    wild-boar: img('wiki/Wild_Boar_Idle.gif'),

// Breedability Hearts
    breedability-heart-all: img('wiki/PetBrdAll.gif'),
    breedability-heart-1: img('wiki/PetBrd0.png'),
    breedability-heart-2: img('wiki/PetBrd1.png'),
    breedability-heart-3: img('wiki/PetBrd2.png'),
    breedability-heart-4: img('wiki/PetBrd3.png'),
    breedability-heart-5: img('wiki/PetBrd4.png'),
    breedability-heart-6: img('wiki/PetBrd5.png'),
    breedability-heart-7: img('wiki/PetBrd6.png'),
    breedability-heart-8: img('wiki/PetBrd7.png'),
    breedability-heart-9: img('wiki/PetBrd8.png'),
    breedability-heart-10: img('wiki/PetBrd9.png'),

// bonuses
    breeding-bonus-0: img('wiki/PetUpg0.png'),
    breeding-bonus-1: img('wiki/PetUpg1.png'),
    breeding-bonus-2: img('wiki/PetUpg2.png'),
    breeding-bonus-3: img('wiki/PetUpg3.png'),
    breeding-bonus-4: img('wiki/PetUpg4.png'),
    breeding-bonus-5: img('wiki/PetUpg5.png'),
    breeding-bonus-6: img('wiki/PetUpg6.png'),
    breeding-bonus-7: img('wiki/PetUpg7.png'),
    breeding-bonus-8: img('wiki/PetUpg8.png'),
    breeding-bonus-9: img('wiki/PetUpg9.png'),
    breeding-bonus-10: img('wiki/PetUpg10.png'),
    breeding-bonus-11: img('wiki/PetUpg11.png'),
);
