$breeding-map: (
// GENETICS
    fighter: img('wiki/Fighter_Genetics.png'),
    cursory: img('wiki/Cursory_Genetics.png'),
    mercenary: img('wiki/Mercenary_Genetics.png'),
    refiller: img('wiki/Refiller_Genetics.png'),
    borger: img('wiki/Borger_Genetics.png'),
    monolithic: img('wiki/Monolithic_Genetics.png'),
    rattler: img('wiki/Rattler_Genetics.png'),
    badumdum: img('wiki/Badumdum_Genetics.png'),
    looter: img('wiki/Looter_Genetics.png'),
    lazarus: img('wiki/Lazarus_Genetics.png'),
    trasher: img('wiki/Trasher_Genetics.png'),
    peapeapod: img('wiki/Peapeapod_Genetics.png'),
    defender: img('wiki/Defender_Genetics.png'),

// SPICES
	grasslands-spice: img('wiki/Grasslands_Spice.png'),
	jungle-spice: img('wiki/Jungle_Spice.png'),
	encroaching-forest-spice: img('wiki/Encroaching_Forest_Spice.png'),
	tree-interior-spice: img('wiki/Tree_Interior_Spice.png'),
	stinky-sewers-spice: img('wiki/Stinky_Sewers_Spice.png'),
	desert-oasis-spice: img('wiki/Desert_Oasis_Spice.png'),
	beach-docks-spice: img('wiki/Beach_Docks_Spice.png'),
	coarse-mountains-spice: img('wiki/Coarse_Mountains_Spice.png'),
	twilight-desert-spice: img('wiki/Twilight_Desert_Spice.png'),
	the-crypt-spice: img('wiki/The_Crypt_Spice.png'),
	frosty-peaks-spice: img('wiki/Frosty_Peaks_Spice.png'),
	tundra-outback-spice: img('wiki/Tundra_Outback_Spice.png'),
	crystal-caverns-spice: img('wiki/Crystal_Caverns_Spice.png'),
	pristalle-lake-spice: img('wiki/Pristalle_Lake_Spice.png'),
	nebulon-mantle-spice: img('wiki/Nebulon_Mantle_Spice.png'),
	starfield-skies-spice: img('wiki/Starfield_Skies_Spice.png'),
	shores-of-eternity-spice: img('wiki/Shores_of_Eternity_Spice.png'),
	molten-bay-spice: img('wiki/Molten_Bay_Spice.png'),
	smokey-lake-spice: img('wiki/Smokey_Lake_Spice.png'),
	wurm-catacombs-spice: img('wiki/Wurm_Catacombs_Spice.png'),
	spirit-fields-spice: img('wiki/Spirit_Fields_Spice.png'),
	bamboo-forest-spice: img('wiki/Bamboo_Forest_Spice.png'),
	lullaby-airways-spice: img('wiki/Lullaby_Airways_Spice.png'),
	dharma-mesa-spice: img('wiki/Dharma_Mesa_Spice.png'),

// UNIQUE PETS
    green-mushroom-shiny: img('wiki/Green_Mushroom_Shiny.gif'),
    squirrel: img('wiki/Squirrel_Idle.gif'),
    piggo: img('wiki/Piggo_Idle.gif'),
    mallay: img('wiki/Mallay_Idle.gif'),
    whale: img('wiki/Whale_Idle.gif'),
    crescent-spud: img('wiki/Crescent_Spud_Idle.gif'),
    chippy: img('wiki/Chippy_Idle.gif'),
    xylobone: img('wiki/Xylobone_Idle.gif'),
    bunny: img('wiki/Bunny_Idle.gif'),
    mecho-mouse: img('wiki/Mecho_Mouse_Idle.gif'),
    panda: img('wiki/Panda_Idle.gif'),
    dog: img('wiki/Dog_Idle.gif'),
    cool-bird: img('wiki/Cool_Bird_Idle.gif'),
    hedgehog: img('wiki/Hedgehog_Idle.gif'),
    wild-boar: img('wiki/Wild_Boar_Idle.gif'),
);
