@import "world-contents";

$breeding-map: (
// GENETICS
    fighter: img('data/GeneReady0.png'),
    defender: img('data/GeneReady1.png'),
	forager: img('data/GeneReady2.png'),
	fleeter: img('data/GeneReady3.png'),
	breeder: img('data/GeneReady4.png'),
	special: img('data/GeneReady5.png'),
	mercenary: img('data/GeneReady6.png'),
	boomer: img('data/GeneReady7.png'),
	sniper: img('data/GeneReady8.png'),
	amplifier: img('data/GeneReady9.png'),
	tsar: img('data/GeneReady10.png'),
	rattler: img('data/GeneReady11.png'),
	cursory: img('data/GeneReady12.png'),
	fastidious: img('data/GeneReady13.png'),
	flashy: img('data/GeneReady14.png'),
	opticular: img('data/GeneReady15.png'),
	monolithic: img('data/GeneReady16.png'),
	alchemic: img('data/GeneReady17.png'),
	badumdum: img('data/GeneReady18.png'),
	defstone: img('data/GeneReady19.png'),
	targeter: img('data/GeneReady20.png'),
	looter : img('data/GeneReady21.png'),
	refiller: img('data/GeneReady22.png'),
	eggshell: img('data/GeneReady23.png'),
	lazarus: img('data/GeneReady24.png'),
	trasher: img('data/GeneReady25.png'),
	miasma: img('data/GeneReady26.png'),
	converter: img('data/GeneReady27.png'),
	heavyweight: img('data/GeneReady28.png'),
	fastihoop: img('data/GeneReady29.png'),
	ninja: img('data/GeneReady30.png'),
	superboomer: img('data/GeneReady31.png'),
	peapeapod: img('data/GeneReady32.png'),
	borger: img('data/GeneReady33.png'),
	gene_question_mark: img('data/GeneReadyQMARK.png'),

// SPICES
    grasslands-spice:           img('data/CookingSpiceB0.png'),
    jungle-spice:               img('data/CookingSpiceB1.png'),
    encroaching-forest-spice:   img('data/CookingSpiceB2.png'),
    tree-interior-spice:        img('data/CookingSpiceB3.png'),
    stinky-sewers-spice:        img('data/CookingSpiceB4.png'),
    desert-oasis-spice:         img('data/CookingSpiceB5.png'),
    beach-docks-spice:          img('data/CookingSpiceB6.png'),
    coarse-mountains-spice:     img('data/CookingSpiceB7.png'),
    twilight-desert-spice:      img('data/CookingSpiceB8.png'),
    the-crypt-spice:            img('data/CookingSpiceB9.png'),
    frosty-peaks-spice:         img('data/CookingSpiceB10.png'),
    tundra-outback-spice:       img('data/CookingSpiceB11.png'),
    crystal-caverns-spice:      img('data/CookingSpiceB12.png'),
    pristalle-lake-spice:       img('data/CookingSpiceB13.png'),
    nebulon-mantle-spice:       img('data/CookingSpiceB14.png'),
    starfield-skies-spice:      img('data/CookingSpiceB15.png'),
    shores-of-eternity-spice:   img('data/CookingSpiceB16.png'),
    molten-bay-spice:           img('data/CookingSpiceB17.png'),
    smokey-lake-spice:          img('data/CookingSpiceB18.png'),
    wurm-catacombs-spice:       img('data/CookingSpiceB19.png'),
    spirit-fields-spice:        img('data/CookingSpiceB20.png'),
    bamboo-forest-spice:        img('data/CookingSpiceB21.png'),
    lullaby-airways-spice:      img('data/CookingSpiceB22.png'),
    dharma-mesa-spice:          img('data/CookingSpiceB23.png'),
    the-doodling-school-spice:  img('data/CookingSpiceB24.png'),

// UNIQUE PETS
    green-mushroom-shiny: img('wiki/Green_Mushroom_Shiny.gif'),
    squirrel: img('wiki/Squirrel_Idle.gif'),
    piggo: img('wiki/Piggo_Idle.gif'),
    mr-pig: img('wiki/Piggo_Idle.gif'),  //Pet1 as an 'enemy'
    mallay: img('wiki/Mallay_Idle.gif'),
    whale: img('wiki/Whale_Idle.gif'),
    dig-doug: img('wiki/Dig_Doug_Idle.gif'),
    beefie: img('wiki/Beefie_Idle.gif'),
    crescent-spud: img('wiki/Crescent_Spud_Idle.gif'),
    chippy: img('wiki/Chippy_Idle.gif'),
    xylobone: map-get($world-monsters, xylobone),
    breeding-bunny: img('wiki/Bunny_Idle.gif'),
    mecho-mouse: img('wiki/Mecho_Mouse_Idle.gif'),
    panda: img('wiki/Panda_Idle.gif'),
    dog: map-get($world-contents, dog),
    cool-bird: img('wiki/Cool_Bird_Idle.gif'),
    hedgehog: img('wiki/Hedgehog_Idle.gif'),
    wild-boar: img('wiki/Wild_Boar_Idle.gif'),

// Breedability Hearts
    breedability-heart-all: img('wiki/PetBrdAll.gif'),
    breedability-heart-1: img('wiki/PetBrd0.png'),
    breedability-heart-2: img('wiki/PetBrd1.png'),
    breedability-heart-3: img('wiki/PetBrd2.png'),
    breedability-heart-4: img('wiki/PetBrd3.png'),
    breedability-heart-5: img('wiki/PetBrd4.png'),
    breedability-heart-6: img('wiki/PetBrd5.png'),
    breedability-heart-7: img('wiki/PetBrd6.png'),
    breedability-heart-8: img('wiki/PetBrd7.png'),
    breedability-heart-9: img('wiki/PetBrd8.png'),
    breedability-heart-10: img('wiki/PetBrd9.png'),

// bonuses
    breeding-bonus-0: img('wiki/PetUpg0.png'),
    breeding-bonus-1: img('wiki/PetUpg1.png'),
    breeding-bonus-2: img('wiki/PetUpg2.png'),
    breeding-bonus-3: img('wiki/PetUpg3.png'),
    breeding-bonus-4: img('wiki/PetUpg4.png'),
    breeding-bonus-5: img('wiki/PetUpg5.png'),
    breeding-bonus-6: img('wiki/PetUpg6.png'),
    breeding-bonus-7: img('wiki/PetUpg7.png'),
    breeding-bonus-8: img('wiki/PetUpg8.png'),
    breeding-bonus-9: img('wiki/PetUpg9.png'),
    breeding-bonus-10: img('wiki/PetUpg10.png'),
    breeding-bonus-11: img('wiki/PetUpg11.png'),
);
