$blunder-hills: (
    locked-card: img('cards/Locked_Card.png'),
	blunder-hills: img('data/CardSet0.png'),
	green-mushroom-card: img('data/2CardsA0.png'),
	red-mushroom-card: img('data/2CardsA1.png'),
	frog-card: img('data/2CardsA2.png'),
	bored-bean-card: img('data/2CardsA3.png'),
	slime-card: img('data/2CardsA4.png'),
	baby-boa-card: img('data/2CardsA5.png'),
	carrotman-card: img('data/2CardsA6.png'),
	glublin-card: img('data/2CardsA7.png'),
	wode-board-card: img('data/2CardsA8.png'),
	gigafrog-card: img('data/2CardsA9.png'),
	poop-card: img('data/2CardsA10.png'),
	rat-card: img('data/2CardsA11.png'),
	walking-stick-card: img('data/2CardsA12.png'),
	nutto-card: img('data/2CardsA13.png'),
	crystal-carrot-card: img('data/2CardsA14.png'),
	wood-mushroom-card: img('data/2CardsA16.png')
);
$yum-yum-desert: (
	yum-yum-desert: img('data/CardSet1.png'),
	sandy-pot-card: img('data/2CardsB1.png'),
	mimic-card: img('data/2CardsB2.png'),
	crabcake-card: img('data/2CardsB3.png'),
	mafioso-card: img('data/2CardsB4.png'),
	sand-castle-card: img('data/2CardsB5.png'),
	pincermin-card: img('data/2CardsB6.png'),
	mashed-potato-card: img('data/2CardsB7.png'),
	tyson-card: img('data/2CardsB8.png'),
	moonmoon-card: img('data/2CardsB9.png'),
	sand-giant-card: img('data/2CardsB10.png'),
	snelbie-card: img('data/2CardsB11.png'),
	dig-doug-card: img('data/2CardsB12.png'),
	crystal-crabal-card: img('data/2CardsB13.png'),
	bandit-bob-card: img('data/2CardsB14.png')
);
$easy-resources: (
	easy-resources: img('data/CardSet2.png'),
	copper-ore-card: img('data/2CardsC1.png'),
	iron-ore-card: img('data/2CardsC2.png'),
	gold-ore-card: img('data/2CardsC3.png'),
	oak-logs-card: img('data/2CardsC4.png'),
	bleach-logs-card: img('data/2CardsC5.png'),
	jungle-logs-card: img('data/2CardsC6.png'),
	forest-fibres-card: img('data/2CardsC7.png'),
	goldfish-card: img('data/2CardsC8.png'),
	hermit-can-card: img('data/2CardsC9.png'),
	jellyfish-card: img('data/2CardsC10.png'),
	fly-card: img('data/2CardsC11.png'),
	butterfly-card: img('data/2CardsC12.png'),
	copper-bar-card: img('data/2CardsC13.png'),
	iron-bar-card: img('data/2CardsC14.png'),
	gold-bar-card: img('data/2CardsC15.png'),
	fire-forge-card: img('data/2CardsC16.png'),
);
$medium-resources: (
	medium-resources: img('data/CardSet3.png'),
	dementia-ore-card: img('data/2CardsD1.png'),
	platinum-ore-card: img('data/2CardsD2.png'),
	void-ore-card: img('data/2CardsD3.png'),
	lustre-ore-card: img('data/2CardsD4.png'),
	potty-rolls-card: img('data/2CardsD5.png'),
	veiny-logs-card: img('data/2CardsD6.png'),
	tropilogs-card: img('data/2CardsD7.png'),
	tundra-logs-card: img('data/2CardsD8.png'),
	fruitfly-card: img('data/2CardsD9.png'),
	sentient-cereal-card: img('data/2CardsD10.png'),
	bloach-card: img('data/2CardsD11.png'),
	platinum-bar-card: img('data/2CardsD12.png'),
	dementia-bar-card: img('data/2CardsD13.png'),
	void-bar-card: img('data/2CardsD14.png'),
	lustre-bar-card: img('data/2CardsD15.png'),
	cinder-forge-card: img('data/2CardsD16.png'),
	forest-soul-card: img('data/2CardsD17.png'),
	dune-soul-card: img('data/2CardsD18.png'),
	froge-card: img('data/2CardsD19.png'),
	crabbo-card: img('data/2CardsD20.png'),
	scorpie-card: img('data/2CardsD21.png'),
	//During W7 launch, many cards moved from Hard Resources to Medium and are still labeled F
	//lustre-ore-card: img('data/2CardsF1.png'),  //Lustre Ore is duplicated in D15 and F1
	wispy-lumber-card: img('data/2CardsF2.png'),
	rooted-soul-card: img('data/2CardsF3.png'),
	mousey-card: img('data/2CardsF4.png'),
	owlio-card: img('data/2CardsF5.png'),
	mosquisnow-card: img('data/2CardsF8.png'),
	flycicle-card: img('data/2CardsF9.png'),
	frigid-soul-card: img('data/2CardsF10.png'),
	squishy-soul-card: img('data/2CardsF11.png'),
	cubed-logs-card: img('data/2CardsF12.png'),
	alien-hive-chunk-card: img('data/2CardsF13.png'),
	worker-bee-card: img('data/2CardsF14.png'),
	skelefish-card: img('data/2CardsF20.png'),
	sand-shark-card: img('data/2CardsF21.png'),
	manta-ray-card: img('data/2CardsF22.png'),
	kraken-card: img('data/2CardsF23.png'),
);
$frostbite-tundra: (
	frostbite-tundra: img('data/CardSet4.png'),
	sheepie-card: img('data/2CardsE0.png'),
	frost-flake-card: img('data/2CardsE1.png'),
	sir-stache-card: img('data/2CardsE2.png'),
	bloque-card: img('data/2CardsE3.png'),
	mamooth-card: img('data/2CardsE4.png'),
	snowman-card: img('data/2CardsE5.png'),
	penguin-card: img('data/2CardsE6.png'),
	thermister-card: img('data/2CardsE7.png'),
	quenchie-card: img('data/2CardsE8.png'),
	cryosnake-card: img('data/2CardsE9.png'),
	bop-box-card: img('data/2CardsE10.png'),
	neyeptune-card: img('data/2CardsE11.png'),
	xylobone-card: img('data/2CardsE12.png'),
	bloodbone-card: img('data/2CardsE13.png'),
	dedotated-ram-card: img('data/2CardsE14.png'),
	crystal-cattle-card: img('data/2CardsE15.png')
);
$hard-resources: (
	hard-resources: img('data/CardSet5.png'),
	pingy-card: img('data/2CardsF6.png'),
	bunny-card: img('data/2CardsF7.png'),
	fairy-card: img('data/2CardsF15.png'),
	starfire-ore-card: img('data/2CardsF16.png'),
	dung-beat-card: img('data/2CardsF17.png'),
	honker-card: img('data/2CardsF18.png'),
	blobfish-card: img('data/2CardsF19.png'),
	maple-logs-card: img('data/2CardsF24.png'),
	dandielogs-card: img('data/2CardsF25.png'),
	scarab-card: img('data/2CardsF26.png'),
	dust-mote-card: img('data/2CardsF27.png'),
	oozie-soul-card: img('data/2CardsF28.png'),
	dreadlo-ore-card: img('data/2CardsF29.png'),
	icefish-card: img('data/2CardsF30.png'),
	shellfish-card: img('data/2CardsF31.png'),
	jumbo-shrimp-card: img('data/2CardsF32.png'),
	caulifish-card: img('data/2CardsF33.png'),
	bamboo-logs-card: img('data/2CardsF34.png'),
	effervescent-logs-card: img('data/2CardsF35.png'),
	breezy-soul-card: img('data/2CardsF36.png'),
	ladybug-card: img('data/2CardsF37.png'),
	firefly-card: img('data/2CardsF38.png'),
	godshard-ore-card: img('data/2CardsF39.png'),
	ancient-seaweed-card: img('data/2CardsF40.png'),
	fearful-tunnel-card: img('data/2CardsF41.png'),
	decaying-crevasse-card: img('data/2CardsF42.png'),
	buried-church-card: img('data/2CardsF43.png'),
	prehistrium-ore-card: img('data/2CardsF44.png'),
	deepsea-soul-card: img('data/2CardsF45.png'),
	litterbug-card: img('data/2CardsF46.png'),
	tuttle-card: img('data/2CardsF47.png'),
	one-way-opening-card: img('data/2CardsF48.png'),
);
$hyperion-nebula: (
	hyperion-nebula: img('data/CardSet6.png'),
	purp-mushroom-card: img('data/2CardsG1.png'),
	tv-card: img('data/2CardsG2.png'),
	donut-card: img('data/2CardsG3.png'),
	demon-genie-card: img('data/2CardsG4.png'),
	flying-worm-card: img('data/2CardsG5.png'),
	soda-can-card: img('data/2CardsG6.png'),
	gelatinous-cuboid-card: img('data/2CardsG7.png'),
	choccie-card: img('data/2CardsG8.png'),
	biggole-wurm-card: img('data/2CardsG9.png'),
	clammie-card: img('data/2CardsG10.png'),
	octodar-card: img('data/2CardsG11.png'),
	flombeige-card: img('data/2CardsG12.png'),
	stilted-seeker-card: img('data/2CardsG13.png'),
	crystal-custard-card: img('data/2CardsG14.png')
);
$smolderin-plateau: (
	smolderin-plateau: img('data/CardSet8.png'),
	suggma-card: img('data/2CardsH1.png'),
	maccie-card: img('data/2CardsH2.png'),
	mister-brightside-card: img('data/2CardsH3.png'),
	cheese-nub-card: img('data/2CardsH4.png'),
	stiltmole-card: img('data/2CardsH5.png'),
	molti-card: img('data/2CardsH6.png'),
	purgatory-stalker-card: img('data/2CardsH7.png'),
	citringe-card: img('data/2CardsH8.png'),
	lampar-card: img('data/2CardsH9.png'),
	fire-spirit-card: img('data/2CardsH10.png'),
	biggole-mole-card: img('data/2CardsH11.png'),
	crawler-card: img('data/2CardsH12.png'),
	tremor-wurm-card: img('data/2CardsH13.png'),
	crystal-capybara-card: img('data/2CardsH14.png'),
	gloomie-mushroom-card: img('data/2CardsH15.png'),
	ancient-golem-card: img('data/2CardsH16.png')
);
$spirited-valley: (
	spirited-valley: img('data/CardSet9.png'),
	sprout-spirit-card: img('data/2CardsI1.png'),
	ricecake-card: img('data/2CardsI2.png'),
	river-spirit-card: img('data/2CardsI3.png'),
	baby-troll-card: img('data/2CardsI4.png'),
	woodlin-spirit-card: img('data/2CardsI5.png'),
	bamboo-spirit-card: img('data/2CardsI6.png'),
	lantern-spirit-card: img('data/2CardsI7.png'),
	mama-troll-card: img('data/2CardsI8.png'),
	leek-spirit-card: img('data/2CardsI9.png'),
	ceramic-spirit-card: img('data/2CardsI10.png'),
	skydoggie-spirit-card: img('data/2CardsI11.png'),
	royal-egg-card: img('data/2CardsI12.png'),
	minichief-spirit-card: img('data/2CardsI13.png'),
	samurai-guardian-card: img('data/2CardsI14.png'),
	crystal-candalight-card: img('data/2CardsI15.png')
);
$shimmerfin-deep: (
    shimmerfin-deep: img('data/CardSet10.png'),
    equinox-broadbass-card: img('data/2CardsJ1.png'),
    doodlefish-card: img('data/2CardsJ2.png'),
    eamsy-earl-card: img('data/2CardsJ3.png'),
    shellslug-card: img('data/2CardsJ4.png'),
    balloonfish-card: img('data/2CardsJ5.png'),
    noble-clam-card: img('data/2CardsJ6.png'),
    litterfish-card: img('data/2CardsJ7.png'),
    pufferblob-card: img('data/2CardsJ8.png'),
    demonblub-card: img('data/2CardsJ9.png'),
    spearfish-card: img('data/2CardsJ10.png'),
    coralcave-crab-card: img('data/2CardsJ11.png'),
    coralcave-guardian-card: img('data/2CardsJ12.png'),
    crystal-cuttlefish-card: img('data/2CardsJ99.png'),
);
$dungeons: (
	dungeons: img("data/CardSet7.png"),
	poisonic-frog-card: img('data/2CardsX0.png'),
	globohopper-card: img('data/2CardsX1.png'),
	king-frog-card: img('data/2CardsX2.png'),
	grandfrogger-card: img('data/2CardsX3.png'),
	rotting-grandfrogger-card: img('data/2CardsX4.png'),
	forlorn-grandfrogger-card: img('data/2CardsX5.png'),
	target-card: img('data/2CardsX6.png'),
	grumblo-card: img('data/2CardsX7.png'),
	cactopunk-card: img('data/2CardsX8.png'),
	beefie-card: img('data/2CardsX9.png'),
	crescent-spud-card: img('data/2CardsX10.png'),
	snakenhotep-card: img('data/2CardsX11.png'),
	enraged-snakenhotep-card: img('data/2CardsX12.png'),
	inevitable-snakenhotep-card: img('data/2CardsX13.png'),
	lava-slimer-card: img('data/2CardsX14.png'),
	chromatium-frog-card: img('data/2CardsX15.png'),
	lazlo-card: img('data/2CardsX16.png'),
	ice-guard-card: img('data/2CardsX17.png'),
	glaciaxus-card: img('data/2CardsX18.png'),
	golden-glaciaxus-card: img('data/2CardsX19.png'),
	caustic-glaciaxus-card: img('data/2CardsX20.png'),
	vengeful-grandfrogger-card: img('data/2CardsX21.png'),
	eldritch-croaker-card: img('data/2CardsX22.png'),
);
$bosses-n-nightmares: (
	bosses-n-nightmares: img("data/CardSet26.png"),
	boop-card: img('data/2CardsA15.png'),
	baba-yaga-card: img('data/2CardsZ0.png'),
	dr-defecaus-card: img('data/2CardsZ1.png'),
	amarok-card: img('data/2CardsZ2.png'),
	efaunt-card: img('data/2CardsZ3.png'),
	chaotic-amarok-card: img('data/2CardsZ4.png'),
	biggie-hours-card: img('data/2CardsZ5.png'),
	king-doot-card: img('data/2CardsZ6.png'),
	chaotic-efaunt-card: img('data/2CardsZ7.png'),
	chizoar-card: img('data/2CardsZ8.png'),
	chaotic-chizoar-card: img('data/2CardsZ9.png'),
	massive-troll-card: img('data/2CardsZ10.png'),
	chaotic-troll-card: img('data/2CardsZ11.png'),
	dilapidated-slush-card: img('data/2CardsZ12.png'),
	mutated-mush-card: img('data/2CardsZ13.png'),
	radiant-amarok-card: img('data/2CardsZ14.png'),
	gilded-efaunt-card: img('data/2CardsZ15.png'),
	blighted-chizoar-card: img('data/2CardsZ16.png'),
	blitzkrieg-troll-card: img('data/2CardsZ17.png'),
	kattlekruk-card: img('data/2CardsZ18.png'),
	chaotic-kattlekruk-card: img('data/2CardsZ19.png'),
	sacrilegious-kattlekruk-card: img('data/2CardsZ20.png'),
	emperor-card: img('data/2CardsZ21.png'),
	chaotic-emperor-card: img('data/2CardsZ22.png'),
	sovereign-emperor-card: img('data/2CardsZ23.png'),
	domeo-magmus-card: img('data/2CardsZ24.png'),
	demented-spiritlord-card: img('data/2CardsZ25.png'),
	glunko-the-massive-card: img('data/2CardsZ26.png')
);
$events: (
	events: img("data/CardSet25.png"),
	ghost-event-card: img('data/2CardsY0.png'),
	giftmas-blobulyte-card: img('data/2CardsY1.png'),
	meaning-of-giftmas-card: img('data/2CardsY2.png'),
	valentslime-card: img('data/2CardsY3.png'),
	loveulyte-card: img('data/2CardsY4.png'),
	chocco-box-card: img('data/2CardsY5.png'),
	floofie-card: img('data/2CardsY6.png'),
	shell-snake-card: img('data/2CardsY7.png'),
	egggulyte-card: img('data/2CardsY8.png'),
	egg-capsule-card: img('data/2CardsY9.png'),
	mr-blueberry-card: img('data/2CardsY10.png'),
	coastiolyte-card: img('data/2CardsY11.png'),
	summer-spirit-card: img('data/2CardsY12.png'),
	plasti-doug-card: img('data/2CardsY13.png'),
	golden-giftmas-box-card: img('data/2CardsY14.png'),
	giant-rose-card: img('data/2CardsY15.png'),
	bubbulyte-card: img('data/2CardsY16.png'),
	spring-splendor-card: img('data/2CardsY17.png'),
	falloween-pumpkin-card: img('data/2CardsY18.png'),
	idleon-4th-anniversary-card: img('data/2CardsY19.png'),
	bort-the-cornhusk-card: img('data/2CardsY20.png'),
);

$all-cards: map-merge($blunder-hills, $easy-resources);
$all-cards: map-merge($all-cards, $yum-yum-desert);
$all-cards: map-merge($all-cards, $easy-resources);
$all-cards: map-merge($all-cards, $medium-resources);
$all-cards: map-merge($all-cards, $frostbite-tundra);
$all-cards: map-merge($all-cards, $hard-resources);
$all-cards: map-merge($all-cards, $hyperion-nebula);
$all-cards: map-merge($all-cards, $smolderin-plateau);
$all-cards: map-merge($all-cards, $spirited-valley);
$all-cards: map-merge($all-cards, $shimmerfin-deep);
$all-cards: map-merge($all-cards, $dungeons);
$all-cards: map-merge($all-cards, $bosses-n-nightmares);
$all-cards: map-merge($all-cards, $events);
