$blunder-hills: (
    locked-card: img("cards/Locked_Card.png"),
	blunder-hills: img("cards/Blunder Hills.png"),
	green-mushroom-card: img('wiki/Green_Mushroom_Card.png'),
	red-mushroom-card: img('wiki/Red_Mushroom_Card.png'),
	frog-card: img('wiki/Frog_Card.png'),
	bored-bean-card: img('wiki/Bored_Bean_Card.png'),
	slime-card: img('wiki/Slime_Card.png'),
	baby-boa-card: img('wiki/Baby_Boa_Card.png'),
	carrotman-card: img('wiki/Carrotman_Card.png'),
	glublin-card: img('wiki/Glublin_Card.png'),
	wode-board-card: img('wiki/Wode_Board_Card.png'),
	gigafrog-card: img('wiki/Gigafrog_Card.png'),
	poop-card: img('wiki/Poop_Card.png'),
	rat-card: img('wiki/Rat_Card.png'),
	walking-stick-card: img('wiki/Walking_Stick_Card.png'),
	nutto-card: img('wiki/Nutto_Card.png'),
	crystal-carrot-card: img('wiki/Crystal_Carrot_Card.png'),
	wood-mushroom-card: img('wiki/Wood_Mushroom_Card.png')
);
$yum-yum-desert: (
	yum-yum-desert: img("cards/Yum-Yum Desert.png"),
	sandy-pot-card: img('wiki/Sandy_Pot_Card.png'),
	mimic-card: img('wiki/Mimic_Card.png'),
	crabcake-card: img('wiki/Crabcake_Card.png'),
	mafioso-card: img('wiki/Mafioso_Card.png'),
	sand-castle-card: img('wiki/Sand_Castle_Card.png'),
	pincermin-card: img('wiki/Pincermin_Card.png'),
	mashed-potato-card: img('wiki/Mashed_Potato_Card.png'),
	tyson-card: img('wiki/Tyson_Card.png'),
	moonmoon-card: img('wiki/Moonmoon_Card.png'),
	sand-giant-card: img('wiki/Sand_Giant_Card.png'),
	snelbie-card: img('wiki/Snelbie_Card.png'),
	dig-doug-card: img('wiki/Dig_Doug_Card.png'),
	crystal-crabal-card: img('wiki/Crystal_Crabal_Card.png'),
	bandit-bob-card: img('wiki/Bandit_Bob_Card.png')
);
$easy-resources: (
	easy-resources: img("cards/Easy Resources.png"),
	copper-ore-card: img('wiki/Copper_Ore_Card.png'),
	iron-ore-card: img('wiki/Iron_Ore_Card.png'),
	gold-ore-card: img('wiki/Gold_Ore_Card.png'),
	fire-forge-card: img('wiki/Fire_Forge_Card.png'),
	oak-logs-card: img('wiki/Oak_Logs_Card.png'),
	bleach-logs-card: img('wiki/Bleach_Logs_Card.png'),
	jungle-logs-card: img('wiki/Jungle_Logs_Card.png'),
	forest-fibres-card: img('wiki/Forest_Fibres_Card.png'),
	goldfish-card: img('wiki/Goldfish_Card.png'),
	hermit-can-card: img('wiki/Hermit_Can_Card.png'),
	jellyfish-card: img('wiki/Jellyfish_Card.png'),
	fly-card: img('wiki/Fly_Card.png'),
	butterfly-card: img('wiki/Butterfly_Card.png')
);
$medium-resources: (
	medium-resources: img("cards/Medium Resources.png"),
	platinum-ore-card: img('wiki/Platinum_Ore_Card.png'),
	dementia-ore-card: img('wiki/Dementia_Ore_Card.png'),
	void-ore-card: img('wiki/Void_Ore_Card.png'),
	cinder-forge-card: img('wiki/Cinder_Forge_Card.png'),
	tropilogs-card: img('wiki/Tropilogs_Card.png'),
	potty-rolls-card: img('wiki/Potty_Rolls_Card.png'),
	veiny-logs-card: img('wiki/Veiny_Logs_Card.png'),
	bloach-card: img('wiki/Bloach_Card.png'),
	sentient-cereal-card: img('wiki/Sentient_Cereal_Card.png'),
	fruitfly-card: img('wiki/Fruitfly_Card.png'),
	forest-soul-card: img('wiki/Forest_Soul_Card.png'),
	dune-soul-card: img('wiki/Dune_Soul_Card.png'),
	froge-card: img('wiki/Froge_Card.png'),
	crabbo-card: img('wiki/Crabbo_Card.png'),
	scorpie-card: img('wiki/Scorpie_Card.png')
);
$frostbite-tundra: (
	frostbite-tundra: img("cards/Frostbite Tundra.png"),
	sheepie-card: img('wiki/Sheepie_Card.png'),
	frost-flake-card: img('wiki/Frost_Flake_Card.png'),
	sir-stache-card: img('wiki/Sir_Stache_Card.png'),
	bloque-card: img('wiki/Bloque_Card.png'),
	mamooth-card: img('wiki/Mamooth_Card.png'),
	snowman-card: img('wiki/Snowman_Card.png'),
	penguin-card: img('wiki/Penguin_Card.png'),
	thermister-card: img('wiki/Thermister_Card.png'),
	quenchie-card: img('wiki/Quenchie_Card.png'),
	cryosnake-card: img('wiki/Cryosnake_Card.png'),
	bop-box-card: img('wiki/Bop_Box_Card.png'),
	neyeptune-card: img('wiki/Neyeptune_Card.png'),
	dedotated-ram-card: img('wiki/Dedotated_Ram_Card.png'),
	xylobone-card: img('wiki/Xylobone_Card.png'),
	bloodbone-card: img('wiki/Bloodbone_Card.png'),
	crystal-cattle-card: img('wiki/Crystal_Cattle_Card.png')
);
$hard-resources: (
	hard-resources: img("cards/Hard Resources.png"),
	lustre-ore-card: img('wiki/Lustre_Ore_Card.png'),
	starfire-ore-card: img('wiki/Starfire_Ore_Card.png'),
	dreadlo-ore-card: img('wiki/Dreadlo_Ore_Card.png'),
	godshard-ore-card: img('wiki/Godshard_Ore_Card.png'),
	tundra-logs-card: img('wiki/Tundra_Logs_Card.png'),
	wispy-lumber-card: img('wiki/Wispy_Lumber_Card.png'),
	alien-hive-chunk-card: img('wiki/Alien_Hive_Chunk_Card.png'),
	cubed-logs-card: img('wiki/Cubed_Logs_Card.png'),
	maple-logs-card: img('wiki/Maple_Logs_Card.png'),
	dandielogs-card: img('wiki/Dandielogs_Card.png'),
	bamboo-logs-card: img('wiki/Bamboo_Logs_Card.png'),
	effervescent-logs-card: img('wiki/Effervescent_Logs_Card.png'),
	skelefish-card: img('wiki/Skelefish_Card.png'),
	sand-shark-card: img('wiki/Sand_Shark_Card.png'),
	manta-ray-card: img('wiki/Manta_Ray_Card.png'),
	kraken-card: img('wiki/Kraken_Card.png'),
	mosquisnow-card: img('wiki/Mosquisnow_Card.png'),
	flycicle-card: img('wiki/Flycicle_Card.png'),
	worker-bee-card: img('wiki/Worker_Bee_Card.png'),
	fairy-card: img('wiki/Fairy_Card.png'),
	scarab-card: img('wiki/Scarab_Card.png'),
	dust-mote-card: img('wiki/Dust_Mote_Card.png'),
	ladybug-card: img('wiki/Ladybug_Card.png'),
	firefly-card: img('wiki/Firefly_Card.png'),
	mousey-card: img('wiki/Mousey_Card.png'),
	owlio-card: img('wiki/Owlio_Card.png'),
	pingy-card: img('wiki/Pingy_Card.png'),
	bunny-card: img('wiki/Bunny_Card.png'),
	dung-beat-card: img('wiki/Dung_Beat_Card.png'),
	honker-card: img('wiki/Honker_Card.png'),
	blobfish-card: img('wiki/Blobfish_Card.png'),
	rooted-soul-card: img('wiki/Rooted_Soul_Card.png'),
	frigid-soul-card: img('wiki/Frigid_Soul_Card.png'),
	squishy-soul-card: img('wiki/Squishy_Soul_Card.png'),
	oozie-soul-card: img('wiki/Oozie_Soul_Card.png'),
	breezy-soul-card: img('wiki/Breezy_Soul_Card.png'),
	icefish-card: img('wiki/Icefish_Card.png'),
	shellfish-card: img('wiki/Shellfish_Card.png'),
	jumbo-shrimp-card: img('wiki/Jumbo_Shrimp_Card.png'),
	caulifish-card: img('wiki/Caulifish_Card.png')
);
$hyperion-nebula: (
	hyperion-nebula: img("cards/Hyperion Nebula.png"),
	purp-mushroom-card: img('wiki/Purp_Mushroom_Card.png'),
	tv-card: img('wiki/TV_Card.png'),
	donut-card: img('wiki/Donut_Card.png'),
	demon-genie-card: img('wiki/Demon_Genie_Card.png'),
	soda-can-card: img('wiki/Soda_Can_Card.png'),
	flying-worm-card: img('wiki/Flying_Worm_Card.png'),
	gelatinous-cuboid-card: img('wiki/Gelatinous_Cuboid_Card.png'),
	choccie-card: img('wiki/Choccie_Card.png'),
	biggole-wurm-card: img('wiki/Biggole_Wurm_Card.png'),
	clammie-card: img('wiki/Clammie_Card.png'),
	octodar-card: img('wiki/Octodar_Card.png'),
	flombeige-card: img('wiki/Flombeige_Card.png'),
	stilted-seeker-card: img('wiki/Stilted_Seeker_Card.png'),
	crystal-custard-card: img('wiki/Crystal_Custard_Card.png')
);
$smolderin-plateau: (
	smolderin-plateau: img("cards/Smolderin' Plateau.png"),
	suggma-card: img('wiki/Suggma_Card.png'),
	maccie-card: img('wiki/Maccie_Card.png'),
	mister-brightside-card: img('wiki/Mister_Brightside_Card.png'),
	cheese-nub-card: img('wiki/Cheese_Nub_Card.png'),
	stiltmole-card: img('wiki/Stiltmole_Card.png'),
	molti-card: img('wiki/Molti_Card.png'),
	purgatory-stalker-card: img('wiki/Purgatory_Stalker_Card.png'),
	citringe-card: img('wiki/Citringe_Card.png'),
	lampar-card: img('wiki/Lampar_Card.png'),
	fire-spirit-card: img('wiki/Fire_Spirit_Card.png'),
	biggole-mole-card: img('wiki/Biggole_Mole_Card.png'),
	crawler-card: img('wiki/Crawler_Card.png'),
	tremor-wurm-card: img('wiki/Tremor_Wurm_Card.png'),
	crystal-capybara-card: img('wiki/Crystal_Capybara_Card.png')
);
$spirited-valley: (
	spirited-valley: img("cards/Spirited Valley.png"),
	sprout-spirit-card: img('wiki/Sprout_Spirit_Card.png'),
	ricecake-card: img('wiki/Ricecake_Card.png'),
	river-spirit-card: img('wiki/River_Spirit_Card.png'),
	baby-troll-card: img('wiki/Baby_Troll_Card.png'),
	woodlin-spirit-card: img('wiki/Woodlin_Spirit_Card.png'),
	bamboo-spirit-card: img('wiki/Bamboo_Spirit_Card.png'),
	lantern-spirit-card: img('wiki/Lantern_Spirit_Card.png'),
	mama-troll-card: img('wiki/Mama_Troll_Card.png'),
	leek-spirit-card: img('wiki/Leek_Spirit_Card.png'),
	ceramic-spirit-card: img('wiki/Ceramic_Spirit_Card.png'),
	skydoggie-spirit-card: img('wiki/Skydoggie_Spirit_Card.png'),
	royal-egg-card: img('wiki/Royal_Egg_Card.png'),
	minichief-spirit-card: img('wiki/Minichief_Spirit_Card.png'),
	samurai-guardian-card: img('wiki/Samurai_Guardian_Card.png'),
	crystal-candalight-card: img('wiki/Crystal_Candalight_Card.png')
);
$dungeons: (
	dungeons: img("cards/Dungeons.png"),
	poisonic-frog-card: img('wiki/Poisonic_Frog_Card.png'),
	globohopper-card: img('wiki/Globohopper_Card.png'),
	king-frog-card: img('wiki/King_Frog_Card.png'),
	lava-slimer-card: img('wiki/Lava_Slimer_Card.png'),
	chromatium-frog-card: img('wiki/Chromatium_Frog_Card.png'),
	eldritch-croaker-card: img('wiki/Eldritch_Croaker_Card.png'),
	grandfrogger-card: img('wiki/Grandfrogger_Card.png'),
	rotting-grandfrogger-card: img('wiki/Rotting_Grandfrogger_Card.png'),
	forlorn-grandfrogger-card: img('wiki/Forlorn_Grandfrogger_Card.png'),
	vengeful-grandfrogger-card: img('wiki/Vengeful_Grandfrogger_Card.png'),
	target-card: img('wiki/Target_Card.png'),
	grumblo-card: img('wiki/Grumblo_Card.png'),
	beefie-card: img('wiki/Beefie_Card.png'),
	lazlo-card: img('wiki/Lazlo_Card.png'),
	cactopunk-card: img('wiki/Cactopunk_Card.png'),
	crescent-spud-card: img('wiki/Crescent_Spud_Card.png'),
	snakenhotep-card: img('wiki/Snakenhotep_Card.png'),
	enraged-snakenhotep-card: img('wiki/Enraged_Snakenhotep_Card.png'),
	inevitable-snakenhotep-card: img('wiki/Inevitable_Snakenhotep_Card.png'),
	ice-guard-card: img('wiki/Ice_Guard_Card.png'),
	glaciaxus-card: img('wiki/Glaciaxus_Card.png'),
	golden-glaciaxus-card: img('wiki/Golden_Glaciaxus_Card.png'),
	caustic-glaciaxus-card: img('wiki/Caustic_Glaciaxus_Card.png')
);
$bosses-n-nightmares: (
	bosses-n-nightmares: img("cards/Bosses n Nightmares.png"),
	baba-yaga-card: img('wiki/Baba_Yaga_Card.png'),
	dr-defecaus-card: img('wiki/Dr_Defecaus_Card.png'),
	boop-card: img('wiki/Boop_Card.png'),
	amarok-card: img('wiki/Amarok_Card.png'),
	chaotic-amarok-card: img('wiki/Chaotic_Amarok_Card.png'),
	radiant-amarok-card: img('wiki/Radiant_Amarok_Card.png'),
	biggie-hours-card: img('wiki/Biggie_Hours_Card.png'),
	king-doot-card: img('wiki/King_Doot_Card.png'),
	efaunt-card: img('wiki/Efaunt_Card.png'),
	chaotic-efaunt-card: img('wiki/Chaotic_Efaunt_Card.png'),
	gilded-efaunt-card: img('wiki/Gilded_Efaunt_Card.png'),
	dilapidated-slush-card: img('wiki/Dilapidated_Slush_Card.png'),
	chizoar-card: img('wiki/Chizoar_Card.png'),
	chaotic-chizoar-card: img('wiki/Chaotic_Chizoar_Card.png'),
	blighted-chizoar-card: img('wiki/Blighted_Chizoar_Card.png'),
	mutated-mush-card: img('wiki/Mutated_Mush_Card.png'),
	massive-troll-card: img('wiki/Massive_Troll_Card.png'),
	chaotic-troll-card: img('wiki/Chaotic_Troll_Card.png'),
	blitzkrieg-troll-card: img('wiki/Blitzkrieg_Troll_Card.png'),
	domeo-magmus-card: img('wiki/Domeo_Magmus_Card.png'),
	kattlekruk-card: img('wiki/Kattlekruk_Card.png'),
	chaotic-kattlekruk-card: img('wiki/Chaotic_Kattlekruk_Card.png'),
	sacrilegious-kattlekruk-card: img('wiki/Sacrilegious_Kattlekruk_Card.png'),
    demented-spiritlord-card: img('wiki/Demented_Spiritlord_Card.png'),
	emperor-card: img('wiki/Emperor_Card.png'),
	chaotic-emperor-card: img('wiki/Chaotic_Emperor_Card.png'),
	sovereign-emperor-card: img('wiki/Sovereign_Emperor_Card.png')
);
$events: (
	events: img("cards/Events.png"),
	ghost-event-card: img('wiki/Ghost_%28Event%29_Card.png'),
	giftmas-blobulyte-card: img('wiki/Giftmas_Blobulyte_Card.png'),
	meaning-of-giftmas-card: img('wiki/Meaning_of_Giftmas_Card.png'),
	valentslime-card: img('wiki/Valentslime_Card.png'),
	loveulyte-card: img('wiki/Loveulyte_Card.png'),
	chocco-box-card: img('wiki/Chocco_Box_Card.png'),
	giant-rose-card: img('wiki/Giant_Rose_Card.png'),
	floofie-card: img('wiki/Floofie_Card.png'),
	shell-snake-card: img('wiki/Shell_Snake_Card.png'),
	egggulyte-card: img('wiki/Egggulyte_Card.png'),
	egg-capsule-card: img('wiki/Egg_Capsule_Card.png'),
	plasti-doug-card: img('wiki/Plasti_Doug_Card.png'),
	mr-blueberry-card: img('wiki/Mr_Blueberry_Card.png'),
	coastiolyte-card: img('wiki/Coastiolyte_Card.png'),
	summer-spirit-card: img('wiki/Summer_Spirit_Card.png'),
	golden-giftmas-box-card: img('wiki/Golden_Giftmas_Box_Card.png'),
	bubbulyte-card: img('wiki/Bubbulyte_Card.png'),
	spring-splendor-card: img('wiki/Spring_Splendor_Card.png'),
	falloween-pumpkin-card: img('wiki/Falloween_Pumpkin_Card.png')
);

$all-cards: map-merge($blunder-hills, $easy-resources);
$all-cards: map-merge($all-cards, $yum-yum-desert);
$all-cards: map-merge($all-cards, $easy-resources);
$all-cards: map-merge($all-cards, $medium-resources);
$all-cards: map-merge($all-cards, $frostbite-tundra);
$all-cards: map-merge($all-cards, $hard-resources);
$all-cards: map-merge($all-cards, $hyperion-nebula);
$all-cards: map-merge($all-cards, $smolderin-plateau);
$all-cards: map-merge($all-cards, $spirited-valley);
$all-cards: map-merge($all-cards, $dungeons);
$all-cards: map-merge($all-cards, $bosses-n-nightmares);
$all-cards: map-merge($all-cards, $events);
