$villagers: (
    //Cropped from 1x/sprite-673-0.png
    polonai: img('wiki/Polonai.gif'),
    kaipu: img('wiki/Kaipu.gif'),
    kaipu-undiscovered: img('wiki/Kaipu_Undiscovered.png'),
    cosmos: img('wiki/Cosmos.gif'),
    cosmos-undiscovered: img('wiki/Cosmos_Undiscovered.png'),
    minau: img('wiki/Minau.gif'),
    minau-undiscovered: img('wiki/Minau_Undiscovered.png'),
    bolaia: img('customized/Bolaia.gif'),
    bolaia-undiscovered: img('customized/Bolaia_Undiscovered.png'),
);

$villager-banners: (
    villager-explore: img('data/HoleUItab0.png'),
    villager-engineer: img('data/HoleUItab1.png'),
    villager-bonuses: img('data/HoleUItab2.png'),
    villager-measure: img('data/HoleUItab3.png'),
    villager-studies: img('data/HoleUItab4.png'),
    villager-legacy: img('data/HoleUItab5.png'),
);

$schematics: (
    empty-schematic: img('wiki/Empty_Schematic.png'),
    engineer-schematic-0: img('data/HoleUIbuildUpg0.png'),
    engineer-schematic-1: img('data/HoleUIbuildUpg1.png'),
    engineer-schematic-2: img('data/HoleUIbuildUpg2.png'),
    engineer-schematic-3: img('data/HoleUIbuildUpg3.png'),
    engineer-schematic-4: img('data/HoleUIbuildUpg4.png'),
    engineer-schematic-5: img('data/HoleUIbuildUpg5.png'),
    engineer-schematic-6: img('data/HoleUIbuildUpg6.png'),
    engineer-schematic-7: img('data/HoleUIbuildUpg7.png'),
    engineer-schematic-8: img('data/HoleUIbuildUpg8.png'),
    engineer-schematic-9: img('data/HoleUIbuildUpg9.png'),
    engineer-schematic-10: img('data/HoleUIbuildUpg10.png'),
    engineer-schematic-11: img('data/HoleUIbuildUpg11.png'),
    engineer-schematic-12: img('data/HoleUIbuildUpg12.png'),
    engineer-schematic-13: img('data/HoleUIbuildUpg13.png'),
    engineer-schematic-14: img('data/HoleUIbuildUpg14.png'),
    engineer-schematic-15: img('data/HoleUIbuildUpg15.png'),
    engineer-schematic-16: img('data/HoleUIbuildUpg16.png'),
    engineer-schematic-17: img('data/HoleUIbuildUpg17.png'),
    engineer-schematic-18: img('data/HoleUIbuildUpg18.png'),
    engineer-schematic-19: img('data/HoleUIbuildUpg19.png'),
    engineer-schematic-20: img('data/HoleUIbuildUpg20.png'),
    engineer-schematic-21: img('data/HoleUIbuildUpg21.png'),
    engineer-schematic-22: img('data/HoleUIbuildUpg22.png'),
    engineer-schematic-23: img('data/HoleUIbuildUpg23.png'),
    engineer-schematic-24: img('data/HoleUIbuildUpg24.png'),
    engineer-schematic-25: img('data/HoleUIbuildUpg25.png'),
    engineer-schematic-26: img('data/HoleUIbuildUpg26.png'),
    engineer-schematic-27: img('data/HoleUIbuildUpg27.png'),
    engineer-schematic-28: img('data/HoleUIbuildUpg28.png'),
    engineer-schematic-29: img('data/HoleUIbuildUpg29.png'),
    engineer-schematic-30: img('data/HoleUIbuildUpg30.png'),
    engineer-schematic-31: img('data/HoleUIbuildUpg31.png'),
    engineer-schematic-32: img('data/HoleUIbuildUpg32.png'),
    engineer-schematic-33: img('data/HoleUIbuildUpg33.png'),
    engineer-schematic-34: img('data/HoleUIbuildUpg34.png'),
    engineer-schematic-35: img('data/HoleUIbuildUpg35.png'),
    engineer-schematic-36: img('data/HoleUIbuildUpg36.png'),
    engineer-schematic-37: img('data/HoleUIbuildUpg37.png'),
    engineer-schematic-38: img('data/HoleUIbuildUpg38.png'),
    engineer-schematic-39: img('data/HoleUIbuildUpg39.png'),
    engineer-schematic-40: img('data/HoleUIbuildUpg40.png'),
    engineer-schematic-41: img('data/HoleUIbuildUpg41.png'),
    engineer-schematic-42: img('data/HoleUIbuildUpg42.png'),
    engineer-schematic-43: img('data/HoleUIbuildUpg43.png'),
    engineer-schematic-44: img('data/HoleUIbuildUpg44.png'),
    engineer-schematic-45: img('data/HoleUIbuildUpg45.png'),
    engineer-schematic-46: img('data/HoleUIbuildUpg46.png'),
    engineer-schematic-47: img('data/HoleUIbuildUpg47.png'),
    engineer-schematic-48: img('data/HoleUIbuildUpg48.png'),
    engineer-schematic-49: img('data/HoleUIbuildUpg49.png'),
    engineer-schematic-50: img('data/HoleUIbuildUpg50.png'),
    engineer-schematic-51: img('data/HoleUIbuildUpg51.png'),
    engineer-schematic-52: img('data/HoleUIbuildUpg52.png'),
    engineer-schematic-53: img('data/HoleUIbuildUpg53.png'),
    engineer-schematic-54: img('data/HoleUIbuildUpg54.png'),
    engineer-schematic-55: img('data/HoleUIbuildUpg55.png'),
    engineer-schematic-56: img('data/HoleUIbuildUpg56.png'),
    engineer-schematic-57: img('data/HoleUIbuildUpg57.png'),
    engineer-schematic-58: img('data/HoleUIbuildUpg58.png'),
    engineer-schematic-59: img('data/HoleUIbuildUpg59.png'),
    engineer-schematic-60: img('data/HoleUIbuildUpg60.png'),
    engineer-schematic-61: img('data/HoleUIbuildUpg61.png'),
    engineer-schematic-62: img('data/HoleUIbuildUpg62.png'),
    engineer-schematic-63: img('data/HoleUIbuildUpg63.png'),
    engineer-schematic-64: img('data/HoleUIbuildUpg64.png'),
    engineer-schematic-65: img('data/HoleUIbuildUpg65.png'),
    engineer-schematic-66: img('data/HoleUIbuildUpg66.png'),
    engineer-schematic-67: img('data/HoleUIbuildUpg67.png'),
    engineer-schematic-68: img('data/HoleUIbuildUpg68.png'),
    engineer-schematic-69: img('data/HoleUIbuildUpg69.png'),
    engineer-schematic-70: img('data/HoleUIbuildUpg70.png'),
    engineer-schematic-71: img('data/HoleUIbuildUpg71.png'),
    engineer-schematic-72: img('data/HoleUIbuildUpg72.png'),
    engineer-schematic-73: img('data/HoleUIbuildUpg73.png'),
    engineer-schematic-74: img('data/HoleUIbuildUpg74.png'),
    engineer-schematic-75: img('data/HoleUIbuildUpg75.png'),
    engineer-schematic-76: img('data/HoleUIbuildUpg76.png'),
    engineer-schematic-77: img('data/HoleUIbuildUpg77.png'),
    engineer-schematic-78: img('data/HoleUIbuildUpg78.png'),
    engineer-schematic-79: img('data/HoleUIbuildUpg79.png'),
    engineer-schematic-80: img('data/HoleUIbuildUpg80.png'),
    engineer-schematic-81: img('data/HoleUIbuildUpg81.png'),
    engineer-schematic-82: img('data/HoleUIbuildUpg82.png'),
    engineer-schematic-83: img('data/HoleUIbuildUpg83.png'),
    engineer-schematic-84: img('data/HoleUIbuildUpg84.png'),
    engineer-schematic-85: img('data/HoleUIbuildUpg85.png'),
    engineer-schematic-86: img('data/HoleUIbuildUpg86.png'),
    engineer-schematic-87: img('data/HoleUIbuildUpg87.png'),
    engineer-schematic-88: img('data/HoleUIbuildUpg88.png'),
    engineer-schematic-89: img('data/HoleUIbuildUpg89.png'),
    engineer-schematic-90: img('data/HoleUIbuildUpg90.png'),
    engineer-schematic-91: img('data/HoleUIbuildUpg91.png'),
    engineer-schematic-92: img('data/HoleUIbuildUpg92.png'),
    engineer-schematic-93: img('data/HoleUIbuildUpg93.png'),
    engineer-schematic-94: img('data/HoleUIbuildUpg94.png'),
    engineer-schematic-95: img('data/HoleUIbuildUpg95.png'),
    engineer-schematic-96: img('data/HoleUIbuildUpg96.png'),
    engineer-schematic-97: img('data/HoleUIbuildUpg97.png'),
);

$cosmos-majiks: (
    hole-majik-unpurchased: img('wiki/Cavern_Majik_Unpurchased.png'),
    hole-majik-purchased: img('wiki/Cavern_Majik_Purchased.png'),
    village-majik-unpurchased: img('wiki/Village_Majik_Unpurchased.png'),
    village-majik-purchased: img('wiki/Village_Majik_Purchased.png'),
    idleon-majik-unpurchased: img('wiki/IdleOn_Majik_Unpurchased.png'),
    idleon-majik-purchased: img('wiki/IdleOn_Majik_Purchased.png'),
);

$caverns: (
    cavern-1: img('customized/HolePOI0.png'), //Well
    cavern-2: img('customized/HolePOI1.png'), //Motherlode Mining
    cavern-3: img('customized/HolePOI2.png'), //Dawg Den
    cavern-4: img('customized/HolePOI3.png'), //Bravery Monument
    cavern-5: img('customized/HolePOI4.png'), //Bell
    cavern-6: img('customized/HolePOI5.png'), //Harp
    cavern-7: img('customized/HolePOI6.png'), //Lamp
    cavern-8: img('customized/HolePOI7.png'), //Motherlode Catching
    cavern-9: img('customized/HolePOI8.png'), //Grotto
    cavern-10: img('customized/HolePOI9.png'), //Justice Monument
    cavern-11: img('customized/HolePOI10.png'),  //Jar
    cavern-12: img('customized/HolePOI11.png'),  //Evertree
    cavern-13: img('customized/HolePOI12.png'),  //Wisdom Monument
    cavern-14: img('customized/HolePOI13.png'),  //Gambit
    cavern-15: img('customized/HolePOI14.png'),  //Temple
);

$well-sediment: (
    well-bucket: img('wiki/HoleWellBucket0.png'),
    //Cropped from 1x/font-675.png
    well-sediment-rock-layer: img('customized/HoleWellFill0.png'),
    well-sediment-0: img('customized/HoleWellFill1.png'),
    well-sediment-1: img('customized/HoleWellFill2.png'),
    well-sediment-2: img('customized/HoleWellFill3.png'),
    well-sediment-3: img('customized/HoleWellFill4.png'),
    well-sediment-4: img('customized/HoleWellFill5.png'),
    well-sediment-5: img('customized/HoleWellFill6.png'),
    well-sediment-6: img('customized/HoleWellFill7.png'),
    well-sediment-7: img('customized/HoleWellFill8.png'),
    well-sediment-8: img('customized/HoleWellFill9.png'),
    well-sediment-9: img('customized/HoleWellFill10.png'),
);

$motherlode-resources: (
    motherlode-ore: img('wiki/Motherlode_Ore.png'), //Technically a duplicate in slab-items
    motherlode-bugs: img('wiki/Fractal_Fly.png'),
    motherlode-logs: img('data/MotherlodeTREE_x1.png'),
    motherlode-fish: img('data/MotherlodeFISH.png'),
);

$den-amplifiers: (
    den-amplifier-0: img('wiki/HoleFightAmp0.png'),
    den-amplifier-1: img('wiki/HoleFightAmp1.png'),
    den-amplifier-2: img('wiki/HoleFightAmp2.png'),
    den-amplifier-3: img('wiki/HoleFightAmp3.png'),
    den-amplifier-4: img('wiki/HoleFightAmp4.png'),
    den-amplifier-5: img('wiki/HoleFightAmp5.png'),
    den-amplifier-6: img('wiki/HoleFightAmp6.png'),
    den-amplifier-7: img('wiki/HoleFightAmp7.png'),
);

$monuments: (
    monument-basic-chest: img('wiki/HoleBraveryChest.png'),
    monument-special-chest: img('wiki/HoleBraveryChestB.png'),
    //Bravery
    monument-basic-sword: img('wiki/HoleBraverySword.png'),
    monument-special-sword: img('wiki/HoleBraverySwordb.png'),
    bravery-bonus-0: img('wiki/Mining_Skill_Icon.png'),
    bravery-bonus-1: img('wiki/HoleWellBucket0.png'),
    bravery-bonus-2: img('wiki/Cooking_Skill_Icon.png'),
    bravery-bonus-3: img('wiki/Opal.png'),
    bravery-bonus-4: img('wiki/Gaming_Skill_Icon.png'),
    bravery-bonus-5: img('wiki/HoleBraveryChest.png'),
    bravery-bonus-6: img('wiki/Attack_Icon.png'),
    bravery-bonus-7: img('customized/measimg2.png'),
    bravery-bonus-8: img('wiki/Monument_AFK.png'),
    bravery-bonus-9: img('data/Bravery_Monument_x1.png'),
    //Justice
    justice-coin-1: img('data/HoleJusticeObj0.png'),
    justice-coin-2: img('data/HoleJusticeObj1.png'),
    justice-coin-3: img('data/HoleJusticeObj2.png'),
    // Justice stat currency cropped from 1x/font-675.png
    justice-currency-1: img('customized/Justice_Currency_1.png'),  //Case Number
    justice-currency-2: img('customized/Justice_Currency_2.png'),  //Mental Health
    justice-currency-3: img('customized/Justice_Currency_3.png'),  //Coin
    justice-currency-4: img('customized/Justice_Currency_4.png'),  //Popularity
    justice-currency-5: img('customized/Justice_Currency_5.png'),  //Dismissal
    justice-currency-6: img('customized/Justice_Currency_MH_D.png'),  // Custom Mental Health + Dismissal by Trialpears
    justice-bonus-10: img('wiki/Catching_Skill_Icon.png'),
    justice-bonus-11: img('customized/HolePOI5.png'),
    justice-bonus-12: img('wiki/Captain_Effect_3.png'),
    justice-bonus-13: img('wiki/Opal.png'),
    justice-bonus-14: img('wiki/Summoning_Skill_Icon.png'),
    justice-bonus-15: img('wiki/HoleBraveryChest.png'),
    justice-bonus-16: img('customized/weekly_bosses_Req_Icon_s.png'),  //Class exp
    justice-bonus-17: img('customized/HolePOI6.png'),
    justice-bonus-18: img('wiki/Monument_AFK.png'),
    justice-bonus-19: img('data/Justice_Monument_x1.png'),
    // Wisdom
    wisdom-round: img('customized/Wisdom_Round.png'),
    wisdom-attempts: img('customized/Wisdom_Attempts.png'),
    wisdom-instamatch: img('customized/Wisdom_Instamatch.png'),
    wisdom-row: img('customized/Wisdom_Row.png'),  //Credit to Listix
    wisdom-square: img('customized/Wisdom_Square.png'),  //Credit to Listix
    wisdom-icon: img('data/Wisdom_Monument_x1.png'),
    wisdom-bonus-20: img('wiki/Choppin_Skill_Icon.png'),
    wisdom-bonus-21: img('customized/HolePOI10.png'),
    wisdom-bonus-22: img('wiki/Jade_Coin.png'),
    wisdom-bonus-23: img('wiki/Opal.png'),
    wisdom-bonus-24: img('wiki/Farming_Skill_Icon.png'),
    wisdom-bonus-25: img('wiki/HoleBraveryChest.png'),
    wisdom-bonus-26: img('wiki/Orion_DR.png'),
    wisdom-bonus-27: img('customized/measimg13.png'),
    wisdom-bonus-28: img('wiki/Monument_AFK.png'),
    wisdom-bonus-29: img('data/Wisdom_Monument_x1.png'),
);

$bell: (
    bell-ring:  img('customized/HoleBellCover0.png'),
    bell-ping:  img('customized/HoleBellCover1.png'),
    bell-clean: img('customized/HoleBellCover2.png'),
    bell-renew: img('customized/HoleBellCover3.png'),
);

$harp: (
    //Cropped from 1x/font-675.png
    harp-chord-a: img('customized/HarpChordA.png'),
    harp-chord-b: img('customized/HarpChordB.png'),
    harp-chord-c: img('customized/HarpChordC.png'),
    harp-chord-d: img('customized/HarpChordD.png'),
    harp-chord-e: img('customized/HarpChordE.png'),
    harp-chord-f: img('customized/HarpChordF.png'),
    harp-chord-g: img('customized/HarpChordG.png'),
    harp-note-0: img('customized/HoleHarpNote0.png'),
    harp-note-1: img('customized/HoleHarpNote1.png'),
    harp-note-2: img('customized/HoleHarpNote2.png'),
    harp-note-3: img('customized/HoleHarpNote3.png'),
    harp-note-4: img('customized/HoleHarpNote4.png'),
    harp-note-5: img('customized/HoleHarpNote5.png'),
    harp-note-6: img('customized/HoleHarpNote6.png'),
    harp-note-7: img('customized/HoleHarpNote7.png'),
    harp-note-8: img('customized/HoleHarpNote8.png'),
    harp-note-9: img('customized/HoleHarpNote9.png'),
);

$lamp-wishes: (
    lamp-wish-button: img('data/HoleLampWish.png'),
    lamp-wish-0: img('data/HoleLampUpg0.png'),
    lamp-wish-1: img('data/HoleLampUpg1.png'),
    lamp-wish-2: img('data/HoleLampUpg2.png'),
    lamp-wish-3: img('data/HoleLampUpg3.png'),
    lamp-wish-4: img('data/HoleLampUpg4.png'),
    lamp-wish-5: img('data/HoleLampUpg5.png'),
    lamp-wish-6: img('data/HoleLampUpg6.png'),
    lamp-wish-7: img('data/HoleLampUpg7.png'),
    lamp-wish-8: img('data/HoleLampUpg8.png'),
    lamp-wish-9: img('data/HoleLampUpg9.png'),
    lamp-wish-10: img('data/HoleLampUpg10.png'),
    lamp-wish-11: img('data/HoleLampUpg11.png'),
);

$measurements: (
    measurement-0: img('customized/measimg0.png'),
    measurement-1: img('customized/measimg1.png'),
    measurement-2: img('customized/measimg2.png'),
    measurement-3: img('customized/measimg3.png'),
    measurement-4: img('customized/measimg4.png'),
    measurement-5: img('customized/measimg5.png'),
    measurement-6: img('customized/measimg6.png'),
    measurement-7: img('customized/measimg7.png'),
    measurement-8: img('customized/measimg8.png'),
    measurement-9: img('customized/measimg9.png'),
    measurement-10: img('customized/measimg10.png'),
    measurement-11: img('customized/measimg11.png'),
    measurement-12: img('customized/measimg12.png'),
    measurement-13: img('customized/measimg13.png'),
    measurement-14: img('customized/measimg14.png'),
    measurement-15: img('customized/measimg15.png'),
);

$jars-rupees-collectibles: (
    jar-all-types: img('customized/All_Jars.gif'),
    jar-type-0: img('data/HoleJar0.png'),
    jar-type-1: img('data/HoleJar1.png'),
    jar-type-2: img('data/HoleJar2.png'),
    jar-type-3: img('data/HoleJar3.png'),
    jar-type-4: img('data/HoleJar4.png'),
    jar-type-5: img('data/HoleJar5.png'),
    jar-type-6: img('data/HoleJar6.png'),
    jar-type-7: img('data/HoleJar7.png'),
    jar-type-8: img('data/HoleJar8.png'),
    jar-type-9: img('data/HoleJar9.png'),
    jar-rupie-0: img('data/HoleJarR0.png'),
    jar-rupie-1: img('data/HoleJarR1.png'),
    jar-rupie-2: img('data/HoleJarR2.png'),
    jar-rupie-3: img('data/HoleJarR3.png'),
    jar-rupie-4: img('data/HoleJarR4.png'),
    jar-rupie-5: img('data/HoleJarR5.png'),
    jar-rupie-6: img('data/HoleJarR6.png'),
    jar-rupie-7: img('data/HoleJarR7.png'),
    jar-rupie-8: img('data/HoleJarR8.png'),
    jar-rupie-9: img('data/HoleJarR9.png'),
    jar-rupie-10: img('data/HoleJarR10.png'),
    jar-rupie-11: img('data/HoleJarR11.png'),
    jar-collectible-0: img('data/HoleJarC0.png'),
    jar-collectible-1: img('data/HoleJarC1.png'),
    jar-collectible-2: img('data/HoleJarC2.png'),
    jar-collectible-3: img('data/HoleJarC3.png'),
    jar-collectible-4: img('data/HoleJarC4.png'),
    jar-collectible-5: img('data/HoleJarC5.png'),
    jar-collectible-6: img('data/HoleJarC6.png'),
    jar-collectible-7: img('data/HoleJarC7.png'),
    jar-collectible-8: img('data/HoleJarC8.png'),
    jar-collectible-9: img('data/HoleJarC9.png'),
    jar-collectible-10: img('data/HoleJarC10.png'),
    jar-collectible-11: img('data/HoleJarC11.png'),
    jar-collectible-12: img('data/HoleJarC12.png'),
    jar-collectible-13: img('data/HoleJarC13.png'),
    jar-collectible-14: img('data/HoleJarC14.png'),
    jar-collectible-15: img('data/HoleJarC15.png'),
    jar-collectible-16: img('data/HoleJarC16.png'),
    jar-collectible-17: img('data/HoleJarC17.png'),
    jar-collectible-18: img('data/HoleJarC18.png'),
    jar-collectible-19: img('data/HoleJarC19.png'),
    jar-collectible-20: img('data/HoleJarC20.png'),
    jar-collectible-21: img('data/HoleJarC21.png'),
    jar-collectible-22: img('data/HoleJarC22.png'),
    jar-collectible-23: img('data/HoleJarC23.png'),
    jar-collectible-24: img('data/HoleJarC24.png'),
    jar-collectible-25: img('data/HoleJarC25.png'),
    jar-collectible-26: img('data/HoleJarC26.png'),
    jar-collectible-27: img('data/HoleJarC27.png'),
    jar-collectible-28: img('data/HoleJarC28.png'),
    jar-collectible-29: img('data/HoleJarC29.png'),
    jar-collectible-30: img('data/HoleJarC30.png'),
    jar-collectible-31: img('data/HoleJarC31.png'),
    jar-collectible-32: img('data/HoleJarC32.png'),
    jar-collectible-33: img('data/HoleJarC33.png'),
    jar-collectible-34: img('data/HoleJarC34.png'),
    jar-collectible-35: img('data/HoleJarC35.png'),
    jar-collectible-36: img('data/HoleJarC36.png'),
    jar-collectible-37: img('data/HoleJarC37.png'),
    jar-collectible-38: img('data/HoleJarC38.png'),
    jar-collectible-39: img('data/HoleJarC39.png'),
);

$gambit: (
    gambit-king-stone: img('customized/Gambit_King_Stone.png'),  //Credit to Listix
    gambit-king-gold: img('customized/Gambit_King_Gold.png'),  //Credit to Listix
    gambit-bonus-0:  img('UI/printer-yellow.png'),
    gambit-bonus-1:  img('wiki/Opal.png'),
    gambit-bonus-2:  img('wiki/Dungeon_Credits_Flurbo_Edition.png'),
    gambit-bonus-3:  img('customized/All_Cavern_Resources.gif'),
    gambit-bonus-4:  img('data/StoneA7.png'),
    gambit-bonus-5:  img('wiki/Summoning_Skill_Icon.png'),
    gambit-bonus-6:  img('data/Ribbon19.png'),
    gambit-bonus-7:  img('wiki/Coins.gif'),
    gambit-bonus-8:  img('wiki/Orion.gif'),
    gambit-bonus-9:  img('Construction_Table.gif'),
    gambit-bonus-10: img('customized/Gaming_Envelope.png'),
    gambit-bonus-11: img('wiki/Sneaking_Skill_Icon.png'),
    gambit-bonus-12: img('data/Bone0_x1.png'),
    gambit-bonus-13: img('wiki/Atoms.png'),
    gambit-bonus-14: img('customized/Rift_Guy.png'),
    gambit-bonus-15: img('customized/Rift_Guy.png'),
    gambit-bonus-16: img('customized/Rift_Guy.png'),
    gambit-bonus-17: img('customized/Rift_Guy.png'),
    gambit-bonus-18: img('customized/Rift_Guy.png'),
);

$etc: (
    hole-campfire: img('wiki/Hole_Campfire.gif'),
);

$all-caverns: map-merge($villagers, $villager-banners);
$all-caverns: map-merge($all-caverns, $schematics);
$all-caverns: map-merge($all-caverns, $cosmos-majiks);
$all-caverns: map-merge($all-caverns, $caverns);
$all-caverns: map-merge($all-caverns, $well-sediment);
$all-caverns: map-merge($all-caverns, $motherlode-resources);
$all-caverns: map-merge($all-caverns, $den-amplifiers);
$all-caverns: map-merge($all-caverns, $monuments);
$all-caverns: map-merge($all-caverns, $bell);
$all-caverns: map-merge($all-caverns, $harp);
$all-caverns: map-merge($all-caverns, $lamp-wishes);
$all-caverns: map-merge($all-caverns, $measurements);
$all-caverns: map-merge($all-caverns, $jars-rupees-collectibles);
$all-caverns: map-merge($all-caverns, $gambit);
$all-caverns: map-merge($all-caverns, $etc);
