$character-classes: (
    beginner-icon: img('data/ClassIcons1.png'),
    journeyman-icon: img('data/ClassIcons2.png'),
    maestro-icon: img('data/ClassIcons3.png'),
    voidwalker-icon: img('data/ClassIcons4.png'),
    infinilyte-icon: img('data/ClassIcons5.png'),
    rage-icon: img('data/ClassIcons6.png'),
    warrior-icon: img('data/ClassIcons7.png'),
    barbarian-icon: img('data/ClassIcons8.png'),
    squire-icon: img('data/ClassIcons9.png'),
    blood-berserker-icon: img('data/ClassIcons10.png'),
    divine-knight-icon: img('data/ClassIcons12.png'),
    death-bringer-icon: img('data/ClassIcons14.png'),
    royal-guardian-icon: img('data/ClassIcons16.png'),
    calm-icon: img('data/ClassIcons18.png'),
    archer-icon: img('data/ClassIcons19.png'),
    bowman-icon: img('data/ClassIcons20.png'),
    hunter-icon: img('data/ClassIcons21.png'),
    siege-breaker-icon: img('data/ClassIcons22.png'),
    beast-master-icon: img('data/ClassIcons25.png'),
    wind-walker-icon: img('data/ClassIcons29.png'),
    savvy-icon: img('data/ClassIcons30.png'),
    mage-icon: img('data/ClassIcons31.png'),
    wizard-icon: img('data/ClassIcons32.png'),
    shaman-icon: img('data/ClassIcons33.png'),
    elemental-sorcerer-icon: img('data/ClassIcons34.png'),
    bubonic-conjuror-icon: img('data/ClassIcons36.png'),
    arcane-cultist-icon: img('data/ClassIcons40.png'),

    beginner-picture: img('wiki/Beginner.png'),
    warrior-picture: img('wiki/Warrior.png'),
    barbarian-picture: img('wiki/Barbarian.png'),
    squire-picture: img('wiki/Squire.png'),
    blood-berserker-picture: img('wiki/Blood_Berserker.png'),
    divine-knight-picture: img('wiki/Divine_Knight.png'),
    archer-picture: img('wiki/Archer.png'),
    bowman-picture: img('wiki/Bowman.png'),
    hunter-picture: img('wiki/Hunter.png'),
    siege-breaker-picture: img('wiki/Siege_Breaker.png'),
    beast-master-picture: img('wiki/Beast_Master.png'),
    mage-picture: img('wiki/Mage.png'),
    shaman-picture: img('wiki/Shaman.png'),
    wizard-picture: img('wiki/Wizard.png'),
    bubonic-conjuror-picture: img('wiki/Bubonic_Conjuror.png'),
    elemental-sorcerer-picture: img('wiki/Elemental_Sorcerer.png'),
    journeyman-picture: img('wiki/Journeyman.png'),
    maestro-picture: img('wiki/Maestro.png'),
    voidwalker-picture: img('wiki/Voidwalker.png'),
);
