$character-classes: (
    beginner-icon: img('wiki/Beginner_Class_Icon.png'),
    journeyman-icon: img('wiki/Journeyman_Class_Icon.png'),
    maestro-icon: img('wiki/Maestro_Class_Icon.png'),
    voidwalker-icon: img('wiki/Voidwalker_Class_Icon.png'),
    infinilyte-icon: img('wiki/Infinilyte_Class_Icon.png'),
    rage-icon: img('wiki/Rage_Class_Icon.png'),
    warrior-icon: img('wiki/Warrior_Class_Icon.png'),
    barbarian-icon: img('wiki/Barbarian_Class_Icon.png'),
    blood-berserker-icon: img('wiki/Blood_Berserker_Class_Icon.png'),
    squire-icon: img('wiki/Squire_Class_Icon.png'),
    divine-knight-icon: img('wiki/Divine_Knight_Class_Icon.png'),
    death-bringer-icon: img('wiki/Death_Bringer_Class_Icon.png'),
    royal-guardian-icon: img('wiki/Royal_Guardian_Class_Icon.png'),
    calm-icon: img('wiki/Calm_Class_Icon.png'),
    archer-icon: img('wiki/Archer_Class_Icon.png'),
    bowman-icon: img('wiki/Bowman_Class_Icon.png'),
    siege-breaker-icon: img('wiki/Siege_Breaker_Class_Icon.png'),
    hunter-icon: img('wiki/Hunter_Class_Icon.png'),
    beast-master-icon: img('wiki/Beast_Master_Class_Icon.png'),
    mayheim-icon: img('wiki/c0/Coming_Soon.png/38px-Coming_Soon.png'),
    arcane-cultist-icon: img('wiki/Arcane_Cultist_Class_Icon.png'),
    savvy-icon: img('wiki/Savvy_Class_Icon.png'),
    mage-icon: img('wiki/Mage_Class_Icon.png'),
    wizard-icon: img('wiki/Wizard_Class_Icon.png'),
    elemental-sorcerer-icon: img('wiki/Elemental_Sorcerer_Class_Icon.png'),
    shaman-icon: img('wiki/Shaman_Class_Icon.png'),
    bubonic-conjuror-icon: img('wiki/Bubonic_Conjuror_Class_Icon.png'),
    wind-walker-icon: img('wiki/Wind_Walker_Class_Icon.png'),
    spiritual-monk-icon: img('wiki/c0/Coming_Soon.png/38px-Coming_Soon.png'),
    beginner-picture: img('wiki/Beginner.png'),
    warrior-picture: img('wiki/Warrior.png'),
    barbarian-picture: img('wiki/Barbarian.png'),
    squire-picture: img('wiki/Squire.png'),
    blood-berserker-picture: img('wiki/Blood_Berserker.png'),
    divine-knight-picture: img('wiki/Divine_Knight.png'),
    archer-picture: img('wiki/Archer.png'),
    bowman-picture: img('wiki/Bowman.png'),
    hunter-picture: img('wiki/Hunter.png'),
    siege-breaker-picture: img('wiki/Siege_Breaker.png'),
    beast-master-picture: img('wiki/Beast_Master.png'),
    mage-picture: img('wiki/Mage.png'),
    shaman-picture: img('wiki/Shaman.png'),
    wizard-picture: img('wiki/Wizard.png'),
    bubonic-conjuror-picture: img('wiki/Bubonic_Conjuror.png'),
    elemental-sorcerer-picture: img('wiki/Elemental_Sorcerer.png'),
    journeyman-picture: img('wiki/Journeyman.png'),
    maestro-picture: img('wiki/Maestro.png'),
    voidwalker-picture: img('wiki/Voidwalker.png'),
);
