$character-classes: (
    beginner-icon: wiki('0/0f/Beginner_Class_Icon.png'),
    journeyman-icon: wiki('7/7e/Journeyman_Class_Icon.png'),
    maestro-icon: wiki('6/63/Maestro_Class_Icon.png'),
    voidwalker-icon: wiki('2/21/Voidwalker_Class_Icon.png'),
    infinilyte-icon: wiki('1/14/Infinilyte_Class_Icon.png'),
    rage-icon: wiki('0/08/Rage_Class_Icon.png'),
    warrior-icon: wiki('e/ea/Warrior_Class_Icon.png'),
    barbarian-icon: wiki('a/a8/Barbarian_Class_Icon.png'),
    blood-berserker-icon: wiki('d/d2/Blood_Berserker_Class_Icon.png'),
    squire-icon: wiki('5/55/Squire_Class_Icon.png'),
    divine-knight-icon: wiki('1/16/Divine_Knight_Class_Icon.png'),
    death-bringer-icon: wiki('a/a9/Death_Bringer_Class_Icon.png'),
    royal-guardian-icon: wiki('0/0c/Royal_Guardian_Class_Icon.png'),
    calm-icon: wiki('8/89/Calm_Class_Icon.png'),
    archer-icon: wiki('b/b6/Archer_Class_Icon.png'),
    bowman-icon: wiki('8/87/Bowman_Class_Icon.png'),
    siege-breaker-icon: wiki('a/ab/Siege_Breaker_Class_Icon.png'),
    hunter-icon: wiki('a/ab/Hunter_Class_Icon.png'),
    beast-master-icon: wiki('6/64/Beast_Master_Class_Icon.png'),
    mayheim-icon: wiki('thumb/c/c0/Coming_Soon.png/38px-Coming_Soon.png'),
    arcane-cultist-icon: wiki('4/4f/Arcane_Cultist_Class_Icon.png'),
    savvy-icon: wiki('5/58/Savvy_Class_Icon.png'),
    mage-icon: wiki('5/5e/Mage_Class_Icon.png'),
    wizard-icon: wiki('f/f9/Wizard_Class_Icon.png'),
    elemental-sorcerer-icon: wiki('7/75/Elemental_Sorcerer_Class_Icon.png'),
    shaman-icon: wiki('b/b4/Shaman_Class_Icon.png'),
    bubonic-conjuror-icon: wiki('b/b3/Bubonic_Conjuror_Class_Icon.png'),
    wind-walker-icon: wiki('2/2a/Wind_Walker_Class_Icon.png'),
    spiritual-monk-icon: wiki('thumb/c/c0/Coming_Soon.png/38px-Coming_Soon.png'),
    beginner-picture: wiki('0/09/Beginner.png'),
    warrior-picture: wiki('9/97/Warrior.png'),
    barbarian-picture: wiki('b/b6/Barbarian.png'),
    squire-picture: wiki('0/00/Squire.png'),
    blood-berserker-picture: wiki('f/f9/Blood_Berserker.png'),
    divine-knight-picture: wiki('d/d4/Divine_Knight.png'),
    archer-picture: wiki('2/29/Archer.png'),
    bowman-picture: wiki('3/30/Bowman.png'),
    hunter-picture: wiki('4/4b/Hunter.png'),
    siege-breaker-picture: wiki('4/4f/Siege_Breaker.png'),
    beast-master-picture: wiki('0/04/Beast_Master.png'),
    mage-picture: wiki('2/20/Mage.png'),
    shaman-picture: wiki('5/56/Shaman.png'),
    wizard-picture: wiki('c/c7/Wizard.png'),
    bubonic-conjuror-picture: wiki('c/cc/Bubonic_Conjuror.png'),
    elemental-sorcerer-picture: wiki('e/e6/Elemental_Sorcerer.png'),
    journeyman-picture: wiki('a/a4/Journeyman.png'),
    maestro-picture: wiki('f/fa/Maestro.png'),
    voidwalker-picture: wiki('b/b1/Voidwalker.png'),
);
