$compass-upgrades: (
    compass-upgrade--1: img('customized/Blank.png'),
    compass-upgrade-0: img('data/CompassUpg0.png'),
    compass-upgrade-1: img('data/CompassUpg1.png'),
    compass-upgrade-2: img('data/CompassUpg2.png'),
    compass-upgrade-3: img('data/CompassUpg3.png'),
    compass-upgrade-4: img('data/CompassUpg4.png'),
    compass-upgrade-5: img('data/CompassUpg5.png'),
    compass-upgrade-6: img('data/CompassUpg6.png'),
    compass-upgrade-7: img('data/CompassUpg7.png'),
    compass-upgrade-8: img('data/CompassUpg8.png'),
    compass-upgrade-9: img('data/CompassUpg9.png'),
    compass-upgrade-10: img('data/CompassUpg10.png'),
    compass-upgrade-11: img('data/CompassUpg11.png'),
    compass-upgrade-12: img('data/CompassUpg12.png'),
    compass-upgrade-13: img('data/CompassUpg13.png'),
    compass-upgrade-14: img('data/CompassUpg14.png'),
    compass-upgrade-15: img('data/CompassUpg15.png'),
    compass-upgrade-16: img('data/CompassUpg16.png'),
    compass-upgrade-17: img('data/CompassUpg17.png'),
    compass-upgrade-18: img('data/CompassUpg18.png'),
    compass-upgrade-19: img('data/CompassUpg19.png'),
    compass-upgrade-20: img('data/CompassUpg20.png'),
    compass-upgrade-21: img('data/CompassUpg21.png'),
    compass-upgrade-22: img('data/CompassUpg22.png'),
    compass-upgrade-23: img('data/CompassUpg23.png'),
    compass-upgrade-24: img('data/CompassUpg24.png'),
    compass-upgrade-25: img('data/CompassUpg25.png'),
    compass-upgrade-26: img('data/CompassUpg26.png'),
    compass-upgrade-27: img('data/CompassUpg27.png'),
    compass-upgrade-28: img('data/CompassUpg28.png'),
    compass-upgrade-29: img('data/CompassUpg29.png'),
    compass-upgrade-30: img('data/CompassUpg30.png'),
    compass-upgrade-31: img('data/CompassUpg31.png'),
    compass-upgrade-32: img('data/CompassUpg32.png'),
    compass-upgrade-33: img('data/CompassUpg33.png'),
    compass-upgrade-34: img('data/CompassUpg34.png'),
    compass-upgrade-35: img('data/CompassUpg35.png'),
    compass-upgrade-36: img('data/CompassUpg36.png'),
    compass-upgrade-37: img('data/CompassUpg37.png'),
    compass-upgrade-38: img('data/CompassUpg38.png'),
    compass-upgrade-39: img('data/CompassUpg39.png'),
    compass-upgrade-40: img('data/CompassUpg40.png'),
    compass-upgrade-41: img('data/CompassUpg41.png'),
    compass-upgrade-42: img('data/CompassUpg42.png'),
    compass-upgrade-43: img('data/CompassUpg43.png'),
    compass-upgrade-44: img('data/CompassUpg44.png'),
    compass-upgrade-45: img('data/CompassUpg45.png'),
    compass-upgrade-46: img('data/CompassUpg46.png'),
    compass-upgrade-47: img('data/CompassUpg47.png'),
    compass-upgrade-48: img('data/CompassUpg48.png'),
    compass-upgrade-49: img('data/CompassUpg49.png'),
    compass-upgrade-50: img('data/CompassUpg50.png'),
    compass-upgrade-51: img('data/CompassUpg51.png'),
    compass-upgrade-52: img('data/CompassUpg52.png'),
    compass-upgrade-53: img('data/CompassUpg53.png'),
    compass-upgrade-54: img('data/CompassUpg54.png'),
    compass-upgrade-55: img('data/CompassUpg55.png'),
    compass-upgrade-56: img('data/CompassUpg56.png'),
    compass-upgrade-57: img('data/CompassUpg57.png'),
    compass-upgrade-58: img('data/CompassUpg58.png'),
    compass-upgrade-59: img('data/CompassUpg59.png'),
    compass-upgrade-60: img('data/CompassUpg60.png'),
    compass-upgrade-61: img('data/CompassUpg61.png'),
    compass-upgrade-62: img('data/CompassUpg62.png'),
    compass-upgrade-63: img('data/CompassUpg63.png'),
    compass-upgrade-64: img('data/CompassUpg64.png'),
    compass-upgrade-65: img('data/CompassUpg65.png'),
    compass-upgrade-66: img('data/CompassUpg66.png'),
    compass-upgrade-67: img('data/CompassUpg67.png'),
    compass-upgrade-68: img('data/CompassUpg68.png'),
    compass-upgrade-69: img('data/CompassUpg69.png'),
    compass-upgrade-70: img('data/CompassUpg70.png'),
    compass-upgrade-71: img('data/CompassUpg71.png'),
    compass-upgrade-72: img('data/CompassUpg72.png'),
    compass-upgrade-73: img('data/CompassUpg73.png'),
    compass-upgrade-74: img('data/CompassUpg74.png'),
    compass-upgrade-75: img('data/CompassUpg75.png'),
    compass-upgrade-76: img('data/CompassUpg76.png'),
    compass-upgrade-77: img('data/CompassUpg77.png'),
    compass-upgrade-78: img('data/CompassUpg78.png'),
    compass-upgrade-79: img('data/CompassUpg79.png'),
    compass-upgrade-80: img('data/CompassUpg80.png'),
    compass-upgrade-81: img('data/CompassUpg81.png'),
    compass-upgrade-82: img('data/CompassUpg82.png'),
    compass-upgrade-83: img('data/CompassUpg83.png'),
    compass-upgrade-84: img('data/CompassUpg84.png'),
    compass-upgrade-85: img('data/CompassUpg85.png'),
    compass-upgrade-86: img('data/CompassUpg86.png'),
    compass-upgrade-87: img('data/CompassUpg87.png'),
    compass-upgrade-88: img('data/CompassUpg88.png'),
    compass-upgrade-89: img('data/CompassUpg89.png'),
    compass-upgrade-90: img('data/CompassUpg90.png'),
    compass-upgrade-91: img('data/CompassUpg91.png'),
    compass-upgrade-92: img('data/CompassUpg92.png'),
    compass-upgrade-93: img('data/CompassUpg93.png'),
    compass-upgrade-94: img('data/CompassUpg94.png'),
    compass-upgrade-95: img('data/CompassUpg95.png'),
    compass-upgrade-96: img('data/CompassUpg96.png'),
    compass-upgrade-97: img('data/CompassUpg97.png'),
    compass-upgrade-98: img('data/CompassUpg98.png'),
    compass-upgrade-99: img('data/CompassUpg99.png'),
    compass-upgrade-100: img('data/CompassUpg100.png'),
    compass-upgrade-101: img('data/CompassUpg101.png'),
    compass-upgrade-102: img('data/CompassUpg102.png'),
    compass-upgrade-103: img('data/CompassUpg103.png'),
    compass-upgrade-104: img('data/CompassUpg104.png'),
    compass-upgrade-105: img('data/CompassUpg105.png'),
    //Custom 106-116 thanks to Trialpears
    compass-upgrade-106: img('customized/CompassUpg108.png'),
    compass-upgrade-107: img('customized/CompassUpg108.png'),
    compass-upgrade-108: img('customized/CompassUpg108.png'),
    compass-upgrade-109: img('customized/CompassUpg108.png'),
    compass-upgrade-110: img('customized/CompassUpg108.png'),
    compass-upgrade-111: img('customized/CompassUpg108.png'),
    compass-upgrade-112: img('customized/CompassUpg108.png'),
    compass-upgrade-113: img('customized/CompassUpg108.png'),
    compass-upgrade-114: img('customized/CompassUpg108.png'),
    compass-upgrade-115: img('customized/CompassUpg108.png'),
    compass-upgrade-116: img('customized/CompassUpg108.png'),
    compass-upgrade-117: img('customized/CompassUpg108.png'),
    compass-upgrade-118: img('customized/CompassUpg108.png'),
    compass-upgrade-119: img('customized/CompassUpg109.png'),
    compass-upgrade-120: img('customized/CompassUpg110.png'),
    compass-upgrade-121: img('customized/CompassUpg109.png'),
    compass-upgrade-122: img('customized/CompassUpg109.png'),
    compass-upgrade-123: img('customized/CompassUpg109.png'),
    compass-upgrade-124: img('customized/CompassUpg110.png'),
    compass-upgrade-125: img('customized/CompassUpg110.png'),
    compass-upgrade-126: img('customized/CompassUpg109.png'),
    compass-upgrade-127: img('customized/CompassUpg109.png'),
    compass-upgrade-128: img('customized/CompassUpg110.png'),
    compass-upgrade-129: img('customized/CompassUpg109.png'),
    compass-upgrade-130: img('customized/CompassUpg109.png'),
    compass-upgrade-131: img('customized/CompassUpg110.png'),
    compass-upgrade-132: img('customized/CompassUpg109.png'),
    compass-upgrade-133: img('customized/CompassUpg110.png'),
    compass-upgrade-134: img('customized/CompassUpg110.png'),
    compass-upgrade-135: img('customized/CompassUpg109.png'),
    compass-upgrade-136: img('customized/CompassUpg110.png'),
    compass-upgrade-137: img('customized/CompassUpg107.png'),
    compass-upgrade-138: img('customized/CompassUpg107.png'),
    compass-upgrade-139: img('customized/CompassUpg106.png'),
    compass-upgrade-140: img('customized/CompassUpg111.png'),
    compass-upgrade-141: img('customized/CompassUpg107.png'),
    compass-upgrade-142: img('customized/CompassUpg106.png'),
    compass-upgrade-143: img('customized/CompassUpg107.png'),
    compass-upgrade-144: img('customized/CompassUpg107.png'),
    compass-upgrade-145: img('customized/CompassUpg106.png'),
    compass-upgrade-146: img('customized/CompassUpg111.png'),
    compass-upgrade-147: img('customized/CompassUpg110.png'),
    compass-upgrade-148: img('customized/CompassUpg106.png'),
    compass-upgrade-149: img('customized/CompassUpg107.png'),
    compass-upgrade-150: img('customized/CompassUpg106.png'),
    compass-upgrade-151: img('customized/CompassUpg112.png'),
    compass-upgrade-152: img('customized/CompassUpg112.png'),
    compass-upgrade-153: img('customized/CompassUpg112.png'),
    compass-upgrade-154: img('customized/CompassUpg113.png'),
    compass-upgrade-155: img('customized/CompassUpg115.png'),
    compass-upgrade-156: img('customized/CompassUpg113.png'),
    compass-upgrade-157: img('customized/CompassUpg115.png'),
    compass-upgrade-158: img('customized/CompassUpg115.png'),
    compass-upgrade-159: img('customized/CompassUpg116.png'),
    compass-upgrade-160: img('customized/CompassUpg116.png'),
    compass-upgrade-161: img('customized/CompassUpg116.png'),
    compass-upgrade-162: img('customized/CompassUpg114.png'),
    compass-upgrade-163: img('customized/CompassUpg114.png'),
    compass-upgrade-164: img('customized/CompassUpg114.png'),
    compass-upgrade-165: img('customized/CompassUpg116.png'),
    compass-upgrade-166: img('customized/CompassUpg114.png'),
    compass-upgrade-167: img('customized/CompassUpg114.png'),
    compass-upgrade-168: img('customized/CompassUpg116.png'),
    compass-upgrade-169: img('customized/CompassUpg116.png'),
    compass-upgrade-170: img('data/CompassUpg117.png')
);

$compass-abominations: (
    titan-0: img('data/Titan0.png'),
    titan-1: img('data/Titan1.png'),
    titan-2: img('data/Titan2.png'),
    titan-3: img('data/Titan3.png'),
    titan-4: img('data/Titan4.png'),
    titan-5: img('data/Titan5.png'),
    titan-6: img('data/Titan6.png'),
    titan-7: img('data/Titan7.png'),
    titan-8: img('data/Titan8.png'),
    titan-9: img('data/Titan9.png'),
    titan-10: img('data/Titan10.png'),
    titan-11: img('data/Titan11.png'),
    titan-12: img('data/Titan12.png'),
    titan-13: img('data/Titan13.png'),
    titan-14: img('data/Titan14.png'),
    titan-15: img('data/Titan15.png'),
    titan-16: img('data/Titan16.png'),
    titan-17: img('data/Titan17.png'),
    titan-18: img('data/Titan18.png'),
    titan-19: img('data/Titan19.png'),
    titan-20: img('data/Titan20.png'),
    titan-21: img('data/Titan21.png'),
    titan-22: img('data/Titan22.png'),
    titan-23: img('data/Titan23.png'),
    titan-24: img('data/Titan24.png'),
    titan-25: img('data/Titan25.png'),
    titan-26: img('data/Titan26.png'),
    titan-27: img('data/Titan27.png'),
    titan-28: img('data/Titan28.png'),
    titan-29: img('data/Titan29.png'),
    titan-30: img('data/Titan30.png'),
    titan-31: img('data/Titan31.png'),
    titan-32: img('data/Titan32.png'),
    titan-33: img('data/Titan33.png'),
    titan-34: img('data/Titan34.png'),
);

$compass-dusts: (
    compass-dust-0: img('data/Dust0_x1.png'),
    stardust:       img('data/Dust0_x1.png'),
    compass-dust-1: img('data/Dust1_x1.png'),
    moondust:       img('data/Dust1_x1.png'),
    compass-dust-2: img('data/Dust2_x1.png'),
    solardust:      img('data/Dust2_x1.png'),
    compass-dust-3: img('data/Dust3_x1.png'),
    cooldust:       img('data/Dust3_x1.png'),
    compass-dust-4: img('data/Dust4_x1.png'),
    novadust:       img('data/Dust4_x1.png'),
);

$compass-etc: (
    wind-walker-medallion: img('data/WWcoin.png'),
    the-compass: img('customized/Compass_NoBG.png'), //Provided by Trialpears
    spirit-reindeer: img('customized/spirit-reindeer.png'), //Scoli did it for once
    eternal-hunt-grave: img('customized/Eternal_Hunt_Grave.png') //Frame 0 of 1x/sprite-576-26.png
);

$all-compass: map-merge($compass-upgrades, $compass-abominations);
$all-compass: map-merge($all-compass, $compass-dusts);
$all-compass: map-merge($all-compass, $compass-etc);