@import "world-contents";

$shrines: (
    woodular-shrine: img('data/ConTower18.png'),
    isaccian-shrine: img('data/ConTower19.png'),
    crystal-shrine: img('data/ConTower20.png'),
    pantheon-shrine: img('data/ConTower21.png'),
    clover-shrine: img('data/ConTower22.png'),
    summereading-shrine: img('data/ConTower23.png'),
    crescent-shrine: img('data/ConTower24.png'),
    undead-shrine: img('data/ConTower25.png'),
    primordial-shrine: img('data/ConTower26.png'),

    shrine-box: img('customized/shrine-box.png'),
    shrine-box2: img('customized/shrine-box2.png')
);

$towers: (
    pulse-mage: img('data/ConTower9.png'),
    fireball-lobber: img('data/ConTower10.png'),
    boulder-roller: img('data/ConTower11.png'),
    frozone-malone: img('data/ConTower12.png'),
    stormcaller: img('data/ConTower13.png'),
    party-starter: img('data/ConTower14.png'),
    kraken-cosplayer: img('data/ConTower15.png'),
    poisonic-elder: img('data/ConTower16.png'),
    voidinator: img('data/ConTower17.png'),
);

$utilities: (
    three-d-printer: map-get($world-contents, three-d-printer),
    x3d-printer: map-get($world-contents, three-d-printer),
    talent-book-library: map-get($world-contents, talent-book-library),
    death-note: map-get($world-contents, death-note),
    salt-lick: map-get($world-contents, salt-lick),
    chest-space: img('data/ConTower4.png'),
    cost-cruncher: img('data/ConTower5.png'),
    critter-drone: map-get($world-contents, critter-drone),
    automation-arm: map-get($world-contents, automation-arm),
    ez-totem: map-get($world-contents, ez-totem),
    atom-collider: img('data/ConTower8.png'),
    refinery: map-get($world-contents, refinery),
    construction-table: map-get($world-contents, construction-table),
    prayer-stone: map-get($world-contents,prayer-stone )
);

$atoms: (
    particles:  img('wiki/Atoms.png'),
    hydrogen:   img('data/Atom0.png'),
    helium:     img('data/Atom1.png'),
    lithium:    img('data/Atom2.png'),
    beryllium:  img('data/Atom3.png'),
    boron:      img('data/Atom4.png'),
    carbon:     img('data/Atom5.png'),
    nitrogen:   img('data/Atom6.png'),
    oxygen:     img('data/Atom7.png'),
    fluoride:   img('data/Atom8.png'),
    neon:       img('data/Atom9.png'),
    sodium:     img('data/Atom10.png'),
    magnesium:  img('data/Atom11.png'),
    aluminium:  img('data/Atom12.png'),
    silicon:    img('data/Atom13.png')
);

$all-construction: map-merge($shrines, $towers);
$all-construction: map-merge($all-construction, $utilities);
$all-construction: map-merge($all-construction, $atoms);
