$shrines: (
    woodular-shrine: img('wiki/Woodular_Shrine.png'),
    isaccian-shrine: img('wiki/Isaccian_Shrine.png'),
    crystal-shrine: img('wiki/Crystal_Shrine.png'),
    pantheon-shrine: img('wiki/Pantheon_Shrine.png'),
    clover-shrine: img('wiki/Clover_Shrine.png'),
    summereading-shrine: img('wiki/Summereading_Shrine.png'),
    crescent-shrine: img('wiki/Crescent_Shrine.png'),
    shrine-box: img('shrine-box.png'),
    shrine-box2: img('shrine-box2.png'),
    undead-shrine: img('wiki/Undead_Shrine.png'),
    primordial-shrine: img('wiki/Primordial_Shrine.png')
);

$towers: (
    pulse-mage: img('wiki/Pulse_Mage.png'),
    fireball-lobber: img('wiki/Fireball_Lobber.png'),
    boulder-roller: img('wiki/Boulder_Roller.png'),
    frozone-malone: img('wiki/Frozone_Malone.png'),
    stormcaller: img('wiki/Stormcaller.png'),
    party-starter: img('wiki/Party_Starter.png'),
    kraken-cosplayer: img('wiki/Kraken_Cosplayer.png'),
    poisonic-elder: img('wiki/Poisonic_Elder.png'),
    voidinator: img('wiki/Voidinator.png'),
);

$utilities: (
    three-d-printer: img('wiki/3D_Printer.png'),
    talent-book-library: img('wiki/Talent_Book_Library.png'),
    death-note: img('wiki/Death_Note.png'),
    salt-lick: img('wiki/Salt_Lick.png'),
    chest-space: img('wiki/Chest_Space.png'),
    cost-cruncher: img('wiki/Cost_Cruncher.png'),
    critter-drone: img('wiki/Critter_Drone.gif'),
    automation-arm: img('wiki/Auto_Arm.gif'),
    ez-totem: img('wiki/EZ_Totem.gif'),
    atom-collider: img('wiki/Atom_Collider.png'),
    refinery: img('wiki/Refinery.gif'),
    construction-table: img('wiki/Construction_Table.gif'),
    prayer-stone: img('wiki/Prayer_Stone.gif')
);

$atoms: (
    particles: img('wiki/Atoms.png'),
    hydrogen: img('wiki/Hydrogen_-_Stamp_Decreaser.png'),
    helium: img('wiki/Helium_-_Talent_Power_Stacker.png'),
    lithium: img('wiki/Lithium_-_Bubble_Insta_Expander.png'),
    beryllium: img('wiki/Beryllium_-_Post_Office_Penner.png'),
    boron: img('wiki/Boron_-_Particle_Upgrader.png'),
    carbon: img('wiki/Carbon_-_Wizard_Maximizer.png'),
    nitrogen: img('wiki/Nitrogen_-_Construction_Trimmer.png'),
    oxygen: img('wiki/Oxygen_-_Library_Booker.png'),
    fluoride: img('wiki/Fluoride_-_Void_Plate_Chef.png'),
    neon: img('wiki/Neon_-_Damage_N%27_Cheapener.png'),
    sodium: img('wiki/Sodium_-_Snail_Kryptonite.png')
);

$all-construction: map-merge($shrines, $towers);
$all-construction: map-merge($all-construction, $utilities);
$all-construction: map-merge($all-construction, $atoms);
