$coral-resources: (
    coral:              img('data/Coral0.png'),
    vibrant-coral:      img('data/Coral1.png'),
    glowing-coral:      img('data/Coral2.png'),
    neon-coral:         img('data/Coral3.png'),
);

$coral-reef: (
    coral-0: img('data/Reefz1.png'),
    coral-1: img('data/ReefA1.png'),
    coral-2: img('data/ReefB1.png'),
    coral-3: img('data/ReefC1.png'),
    coral-4: img('data/ReefD1.png'),
    coral-5: img('data/ReefE1.png'),
);

$coral-misc: (

);

$all-coral: map-merge($coral-resources, $coral-reef);
$all-coral: map-merge($all-coral, $coral-misc);

