$divinity-map: (
// Offerings
    offering-1:   wiki('7/70/Divine_Summoning_Low_1.png'),
    offering-5:   wiki('c/cc/Divine_Summoning_Low_2.png'),
    offering-10:  wiki('f/f8/Divine_Summoning_Low_3.png'),
    offering-25:  wiki('5/52/Divine_Summoning_High_1.png'),
    offering-50:  wiki('0/09/Divine_Summoning_High_2.png'),
    offering-100: wiki('0/08/Divine_Summoning_High_3.png'),

// Styles
    kinesis: wiki('5/56/Divinity_Style_Kinesis.png'),
    chakra: wiki('b/b2/Divinity_Style_Chakra.png'),
    focus: wiki('8/82/Divinity_Style_Focus.png'),
    mantra: wiki('6/6c/Divinity_Style_Mantra.png'),
    vitalic: wiki('f/fb/Divinity_Style_Vitalic.png'),
    tranqi: wiki('5/5b/Divinity_Style_TranQi.png'),
    zen: wiki('8/86/Divinity_Style_Zen.png'),
    mindful: wiki('3/3b/Divinity_Style_Mindful.png'),

// Divinities
    snehebatu: img('divinity/snehebatu.png'),
    arctis: img('divinity/arctis.png'),
    nobisect: img('divinity/nobisect.png'),
    harriep: img('divinity/harriep.png'),
    goharut: img('divinity/goharut.png'),
    omniphau: img('divinity/omniphau.png'),
    purrmep: img('divinity/purrmep.png'),
    flutterbis: img('divinity/flutterbis.png'),
    kattlekruk: img('divinity/kattlekruk.png'),
    bagur: img('divinity/bagur.png'),
);