$divinity-map: (
// Offerings
    offering-1:     img('wiki/Divine_Summoning_Low_1.png'),
    offering-5:     img('wiki/Divine_Summoning_Low_2.png'),
    offering-10:    img('wiki/Divine_Summoning_Low_3.png'),
    offering-25:    img('wiki/Divine_Summoning_High_1.png'),
    offering-50:    img('wiki/Divine_Summoning_High_2.png'),
    offering-100:   img('wiki/Divine_Summoning_High_3.png'),

// Styles
    kinesis:    img('wiki/Divinity_Style_Kinesis.png'),
    chakra:     img('wiki/Divinity_Style_Chakra.png'),
    focus:      img('wiki/Divinity_Style_Focus.png'),
    mantra:     img('wiki/Divinity_Style_Mantra.png'),
    vitalic:    img('wiki/Divinity_Style_Vitalic.png'),
    tranqi:     img('wiki/Divinity_Style_TranQi.png'),
    zen:        img('wiki/Divinity_Style_Zen.png'),
    mindful:    img('wiki/Divinity_Style_Mindful.png'),

// Divinities
    snehebatu:  img('divinity/snehebatu.png'),
    arctis:     img('divinity/arctis.png'),
    nobisect:   img('divinity/nobisect.png'),
    harriep:    img('divinity/harriep.png'),
    goharut:    img('divinity/goharut.png'),
    omniphau:   img('divinity/omniphau.png'),
    purrmep:    img('divinity/purrmep.png'),
    flutterbis: img('divinity/flutterbis.png'),
    kattlekruk: img('divinity/kattlekruk.png'),
    bagur:      img('divinity/bagur.png'),
);