$equipment-weapons: (
    // Fisticuffs
    boxing-gloves:              img('data/EquipmentPunching1.png'),
    the-stingers:               img('data/EquipmentPunching2.png'),
    bandage-wraps:              img('data/EquipmentPunching3.png'),
    uninflated-glove:           img('data/EquipmentPunching4.png'),
    eclectic-ordeal:            img('data/EquipmentPunching5.png'),
    knuckle-sabers:             img('data/EquipmentPunching6.png'),
    diabolical-gauntlet:        img('data/EquipmentPunching7.png'),
    molten-core-knucklers:      img('data/EquipmentPunching8.png'),
    crackled-skull-destroyer:   img('data/EquipmentPunching9.png'),
    pentastud-slapper:          img('data/EquipmentPunching10.png'),
    mittens-of-the-gods:        img('data/EquipmentPunching11.png'),
    talon-of-the-hawk:          img('data/EquipmentPunching12.png'),

    // Spears
    wooden-spear:               img('data/TestObj1.png'),
    steel-spear:                img('data/TestObj2.png'),
    royal-bayonet:              img('data/TestObj3.png'),
    frozen-impaler:             img('data/TestObj4.png'),
    blood-screamer:             img('data/TestObj5.png'),
                                //TestObj6 is unused, not a typo
    steel-axe:                  img('data/TestObj7.png'),
    flaming-katana:             img('data/TestObj8.png'),
    emerald-eizon:              img('data/TestObj9.png'),
    stalagmite:                 img('data/TestObj10.png'),
    iron-sword:                 img('data/EquipmentWeapons1.png'),
    enforced-slasher:           img('data/EquipmentSword1.png'),
    the-ice-breaker:            img('data/EquipmentSword2.png'),
    deuscythe:                  img('data/EquipmentSword3.png'),
    slimsharp-fin:              img('data/EquipmentSword4.png'),
    diabolical-flesh-ripper:    img('data/EquipmentSword5.png'),
    magma-maul:                 img('data/EquipmentSword6.png'),
    skull-lance:                img('data/EquipmentSword7.png'),
    elegant-spear:              img('data/EquipmentSword8.png'),
    massive-godbreaker:         img('data/EquipmentSword9.png'),
    sabertoothed-gorehacker:    img('data/EquipmentSword10.png'),

    // Bows
    wooden-bow:                 img('data/EquipmentBows1.png'),
                                //EquipmentBows2 is unused, not a typo
    birch-longbow:              img('data/EquipmentBows3.png'),
    carrot-launcher:            img('data/EquipmentBows4.png'),
    spiked-menace:              img('data/EquipmentBows5.png'),
    pharaoh-bow:                img('data/EquipmentBows6.png'),
    blizzard-bow:               img('data/EquipmentBows7.png'),
    blackhole-bow:              img('data/EquipmentBows8.png'),
    shardsure-leif:             img('data/EquipmentBows9.png'),
    diabolical-continuit:       img('data/EquipmentBows10.png'),
    sediment-core-grunkler:     img('data/EquipmentBows11.png'),
    spine-tingler-sniper:       img('data/EquipmentBows12.png'),
    pristine-longbow:           img('data/EquipmentBows13.png'),
    doublestring-godshooter:    img('data/EquipmentBows14.png'),
    raptor-shardslinger:        img('data/EquipmentBows15.png'),
    
    // Tempest Bows
    tempest-bow-of-dust:        img('data/EquipmentBowsTempest0.png'),
    tempest-bow-of-ice:         img('data/EquipmentBowsTempest1.png'),
    tempest-bow-of-fire:        img('data/EquipmentBowsTempest2.png'),
    tempest-bow-of-wind:        img('data/EquipmentBowsTempest3.png'),
    tempest-bow-of-grass:       img('data/EquipmentBowsTempest4.png'),

    // Wands
    gnarled-wand:                   img('data/EquipmentWands1.png'),
    quarterstaff:                   img('data/EquipmentWands2.png'),
    spriggly-storm:                 img('data/EquipmentWands3.png'),
    microphone:                     img('data/EquipmentWands4.png'),
    starlight:                      img('data/EquipmentWands5.png'),
    crows-nest:                     img('data/EquipmentWands6.png'),
    grey-gatsby:                    img('data/EquipmentWands7.png'),
    skullslip-hallow:               img('data/EquipmentWands8.png'),
    diabolical-opticule:            img('data/EquipmentWands9.png'),
    cattle-core-soothsayer-staff:   img('data/EquipmentWands10.png'),
    staff-of-the-undead-plague:     img('data/EquipmentWands11.png'),
    sparky-marble-staff:            img('data/EquipmentWands12.png'),
    magnifique-godcaster:           img('data/EquipmentWands13.png'),
    beastly-orblauncher:            img('data/EquipmentWands14.png'),

    // Arcanist Wands
    arcanist-staff: img('data/EquipmentWandsArc0.png'),
);

$equipment-hats: (
    farmer-brim:                        img('data/EquipmentHats1.png'),
    royal-turban:                       img('data/EquipmentHats2.png'),
    thief-hood:                         img('data/EquipmentHats3.png'),
    stump-prop:                         img('data/EquipmentHats4.png'),
    white-headband:                     img('data/EquipmentHats5.png'),
    green-headband:                     img('data/EquipmentHats6.png'),
    red-headband:                       img('data/EquipmentHats7.png'),
    purple-tupacband:                   img('data/EquipmentHats8.png'),
    yellow-headband:                    img('data/EquipmentHats9.png'),
    pink-headband:                      img('data/EquipmentHats10.png'),
    grey-beret:                         img('data/EquipmentHats11.png'),
    traffic-cone:                       img('data/EquipmentHats12.png'),
    propeller-cap:                      img('data/EquipmentHats13.png'),
    baseball-hat:                       img('data/EquipmentHats14.png'),
    leather-cap:                        img('data/EquipmentHats15.png'),
    top-hat:                            img('data/EquipmentHats16.png'),
    copper-helmet:                      img('data/EquipmentHats17.png'),
    iron-helmet:                        img('data/EquipmentHats18.png'),
    platinum-helmet:                    img('data/EquipmentHats19.png'),
    militia-helm:                       img('data/EquipmentHats20.png'),
    birthday-hat:                       img('data/EquipmentHats21.png'),
    amarok-helmet:                      img('data/EquipmentHats22.png'),
    farmer-brimer:                      img('data/EquipmentHats23.png'),
    farmer-brimest:                     img('data/EquipmentHats24.png'),
    bored-beanie:                       img('data/EquipmentHats25.png'),
    witch-hat:                          img('data/EquipmentHats26.png'),
    paper-boat:                         img('data/EquipmentHats27.png'),
    gold-helmet:                        img('data/EquipmentHats28.png'),
    alien-headband:                     img('data/EquipmentHats29.png'),
    cowbo-galloneer:                    img('data/EquipmentHats30.png'),
    smitty-s-bubble-blowing-hat:        img('data/EquipmentHats31.png'),
    bandit-bob-mask:                    img('data/EquipmentHats32.png'),
    paper-bag:                          img('data/EquipmentHats33.png'),
    parasite:                           img('data/EquipmentHats34.png'),
    diamond-horns:                      img('data/EquipmentHats35.png'),
    halloween-pumpkin:                  img('data/EquipmentHats36.png'),
    hotdog-hero:                        img('data/EquipmentHats37.png'),
    invisible-hat:                      img('data/EquipmentHats38.png'),
    grandma-disguise:                   img('data/EquipmentHats39.png'),
    pardoned-turkey:                    img('data/EquipmentHats40.png'),
    sleek-coif:                         img('data/EquipmentHats41.png'),
    santa-hat:                          img('data/EquipmentHats42.png'),
    snowman:                            img('data/EquipmentHats43.png'),
    jar:                                img('data/EquipmentHats44.png'),
    giftmas-tree:                       img('data/EquipmentHats45.png'),
    strawbiggy:                         img('data/EquipmentHats46.png'),
    pop-cat:                            img('data/EquipmentHats47.png'),
    dairy-dunk:                         img('data/EquipmentHats48.png'),
    the-classic:                        img('data/EquipmentHats49.png'),
    green-beanie:                       img('data/EquipmentHats50.png'),
    big-pretty-bow:                     img('data/EquipmentHats51.png'),
    efaunt-helmet:                      img('data/EquipmentHats52.png'),
    dementia-helmet:                    img('data/EquipmentHats53.png'),
    void-imperium-helmet:               img('data/EquipmentHats54.png'),
    steam-cap:                          img('data/EquipmentHats55.png'),
    bunny-ears:                         img('data/EquipmentHats56.png'),
    big-bunny:                          img('data/EquipmentHats57.png'),
    murmillo-helm:                      img('data/EquipmentHats58.png'),
    conquistador-plume:                 img('data/EquipmentHats59.png'),
    adornment-of-the-high-priest:       img('data/EquipmentHats60.png'),
    mark-of-member:                     img('data/EquipmentHats61.png'),
    fluffy-ramsy:                       img('data/EquipmentHats62.png'),
    summer-shell:                       img('data/EquipmentHats63.png'),
    nuget-cake-fedora:                  img('data/EquipmentHats64.png'),
    the-red-boaty:                      img('data/EquipmentHats65.png'),
    honker-hat:                         img('data/EquipmentHats66.png'),
    acorn-topper:                       img('data/EquipmentHats67.png'),
    chizoar-helmet:                     img('data/EquipmentHats68.png'),
    giftmas-snoozy-cap:                 img('data/EquipmentHats69.png'),
    lustre-veil:                        img('data/EquipmentHats70.png'),
    diabolical-headcase:                img('data/EquipmentHats71.png'),
    nondescript-game-show-host-hair:    img('data/EquipmentHats72.png'),
    real-civil-engineer-helmet:         img('data/EquipmentHats73.png'),
    thin-veil-of-the-troll:             img('data/EquipmentHats74.png'),
    apple-launch-hat:                   img('data/EquipmentHats75.png'),
    funny-hat:                          img('data/EquipmentHats76.png'),
    magma-core-headdress:               img('data/EquipmentHats77.png'),
    meteorhead:                         img('data/EquipmentHats78.png'),
    ice-guard-helmet:                   img('data/EquipmentHats79.png'),
    corgi-topper:                       img('data/EquipmentHats80.png'),
    siege-captain-cap:                  img('data/EquipmentHats81.png'),
    ele-sorcerer-pointed-hat:           img('data/EquipmentHats82.png'),
    skulled-helmet-of-the-divine:       img('data/EquipmentHats83.png'),
    the-crow-perch:                     img('data/EquipmentHats84.png'),
    bedsheet-with-holes:                img('data/EquipmentHats85.png'),
    carrotman-mask:                     img('data/EquipmentHats86.png'),
    glublin-mask:                       img('data/EquipmentHats87.png'),
    bloque-mask:                        img('data/EquipmentHats88.png'),
    borzoi-topper:                      img('data/EquipmentHats89.png'),
    straw-hat:                          img('data/EquipmentHats90.png'),
    wig-bandana:                        img('data/EquipmentHats91.png'),
    funky-hat:                          img('data/EquipmentHats92.png'),
    reinforced-headband:                img('data/EquipmentHats93.png'),
    shogun-helmet:                      img('data/EquipmentHats94.png'),
    gilded-headband:                    img('data/EquipmentHats95.png'),
    bamboo-hat:                         img('data/EquipmentHats96.png'),
    festive-beast-mask:                 img('data/EquipmentHats97.png'),
    heiress-headdress:                  img('data/EquipmentHats98.png'),
    spirited-mane:                      img('data/EquipmentHats99.png'),
    fiery-mane:                         img('data/EquipmentHats100.png'),
    guardian-mane:                      img('data/EquipmentHats101.png'),
    fanned-blossomage:                  img('data/EquipmentHats102.png'),
    dainty-brim:                        img('data/EquipmentHats103.png'),
    charcoal-hat:                       img('data/EquipmentHats104.png'),
    marbiglass-headdress:               img('data/EquipmentHats105.png'),
    crown-of-the-gods:                  img('data/EquipmentHats106.png'),
    shiny-bored-beanie:                 img('data/EquipmentHats107.png'),
    x3rd-anniversary-ice-cream-topper:  img('data/EquipmentHats108.png'),
    husky-hat:                          img('data/EquipmentHats109.png'),
    yellow-beanie:                      img('data/EquipmentHats110.png'),
    epic-santa-hat:                     img('data/EquipmentHats111.png'),
    deathbringer-hood-of-death:         img('data/EquipmentHats112.png'),
    pink-beanie:                        img('data/EquipmentHats113.png'),
    true-crown:                         img('data/EquipmentHats114.png'),
    celebration-mane:                   img('data/EquipmentHats115.png'),
    goldberry:                          img('data/EquipmentHats116.png'),
    orange-beanie:                      img('data/EquipmentHats117.png'),
    windwalker-hood:                    img('data/EquipmentHats118.png'),
    emperor-kabuto:                     img('data/EquipmentHats119.png'),
    umbrella-brim:                      img('data/EquipmentHats120.png'),
    bloo-creamer:                       img('data/EquipmentHats121.png'),
    arcanist-crown:                     img('data/EquipmentHats122.png'),
    prehistoric-battlehair:             img('data/EquipmentHats123.png'),
    ice-cream-sundae:                   img('data/EquipmentHatsBeg1.png'),
    viking-cap:                         img('data/TestObj13.png'),
    trojan-helmet:                      img('data/TestObj14.png'),
    slime-cap:                          img('data/TestObj15.png'),
    demon-horns:                        img('data/TestObj16.png'),
);

$equipment-shirts: (
    orange-tee:                     img('data/EquipmentShirts1.png'),
    blue-tee:                       img('data/EquipmentShirts2.png'),
    black-tee:                      img('data/EquipmentShirts3.png'),
    tanned-hide:                    img('data/EquipmentShirts4.png'),
    studded-hide:                   img('data/EquipmentShirts5.png'),
    chizoar-bodyplate:              img('data/EquipmentShirts6.png'),
    molten-chest:                   img('data/EquipmentShirts7.png'),
                                    //EquipmentShirts8 is unused, not a typo
                                    //EquipmentShirts9 is unused, not a typo
    fur-shirt:                      img('data/EquipmentShirts10.png'),
    copper-platebody:               img('data/EquipmentShirts11.png'),
    iron-platebody:                 img('data/EquipmentShirts12.png'),
    gold-platebody:                 img('data/EquipmentShirts13.png'),
    platinum-platbody:              img('data/EquipmentShirts14.png'),
    dementia-body:                  img('data/EquipmentShirts15.png'),
    spore-tee:                      img('data/EquipmentShirts16.png'),
    mcr-tshirt:                     img('data/EquipmentShirts17.png'),
    amarok-bodyplate:               img('data/EquipmentShirts18.png'),
    planktop:                       img('data/EquipmentShirts19.png'),
    hide-shirt:                     img('data/EquipmentShirts20.png'),
    tattered-cloth:                 img('data/EquipmentShirts21.png'),
    furled-robes:                   img('data/EquipmentShirts22.png'),
    feral-leathering:               img('data/EquipmentShirts23.png'),
    green-tee:                      img('data/EquipmentShirts24.png'),
    purple-tee:                     img('data/EquipmentShirts25.png'),
    efaunt-ribcage:                 img('data/EquipmentShirts26.png'),
    void-imperium-platebody:        img('data/EquipmentShirts27.png'),
    damascus-plates:                img('data/EquipmentShirts28.png'),
    evergreen-wraps:                img('data/EquipmentShirts29.png'),
    elegantine-robes:               img('data/EquipmentShirts30.png'),
    member-hoodie:                  img('data/EquipmentShirts31.png'),
    lustre-chestplate:              img('data/EquipmentShirts32.png'),
    diabolical-abdomen:             img('data/EquipmentShirts33.png'),
    trollish-garb:                  img('data/EquipmentShirts34.png'),
    magma-core-wavemaille:          img('data/EquipmentShirts35.png'),
    serrated-chest-of-the-divine:   img('data/EquipmentShirts36.png'),
    marbiglass-tunic:               img('data/EquipmentShirts37.png'),
    robe-of-the-gods:               img('data/EquipmentShirts38.png'),
    emperor-sokutai-ho:             img('data/EquipmentShirts39.png'),
    mining-overalls:                img('data/EquipmentShirts40.png'),
    prehistoric-parka:              img('data/EquipmentShirts41.png'),
);

$equipment-pants: (
    torn-jeans:                         img('data/EquipmentPants1.png'),
    copper-platelegs:                   img('data/EquipmentPants2.png'),
    iron-platelegs:                     img('data/EquipmentPants3.png'),
    gold-platelegs:                     img('data/EquipmentPants4.png'),
    platinum-shins:                     img('data/EquipmentPants5.png'),
    dementia-shins:                     img('data/EquipmentPants6.png'),
    gilded-pilates:                     img('data/EquipmentPants7.png'),
    twisted-scales:                     img('data/EquipmentPants8.png'),
    chizoar-scaled-leggings:            img('data/EquipmentPants9.png'),
    give-up-on-life-pants:              img('data/EquipmentPants10.png'),
    yellow-belt-ninja-pants:            img('data/EquipmentPants11.png'),
    merchantile-pants:                  img('data/EquipmentPants12.png'),
    ancient-leggings:                   img('data/EquipmentPants13.png'),
    forensic-leggings:                  img('data/EquipmentPants14.png'),
    bleached-designer-wode-patch-pants: img('data/EquipmentPants15.png'),
    adam-s-leaf:                        img('data/EquipmentPants16.png'),
    amarok-hinds:                       img('data/EquipmentPants17.png'),
    dirty-coal-miner-baggy-soot-pants:  img('data/EquipmentPants18.png'),
    trimmed-rune-platelegs:             img('data/EquipmentPants19.png'),
    efaunt-hipilium:                    img('data/EquipmentPants20.png'),
    void-imperium-shardshins:           img('data/EquipmentPants21.png'),
    fishing-overalls:                   img('data/EquipmentPants22.png'),
    bandito-pantaloon:                  img('data/EquipmentPants23.png'),
    lustre-scales:                      img('data/EquipmentPants24.png'),
    diabolical-trimed-leg-guards:       img('data/EquipmentPants25.png'),
    magma-core-battleskirt:             img('data/EquipmentPants26.png'),
    spiked-leggings-of-the-divine:      img('data/EquipmentPants27.png'),
    marbiglass-legplates:               img('data/EquipmentPants29.png'),
    tatters-of-the-gods:                img('data/EquipmentPants30.png'),
    emperor-zubon:                      img('data/EquipmentPants31.png'),
    prehistoric-pantaloons:             img('data/EquipmentPants32.png'),
);

$equipment-boots: (
    copper-boots:                   img('data/EquipmentShoes1.png'),
    eyern-boots:                    img('data/EquipmentShoes2.png'),
    gold-boots:                     img('data/EquipmentShoes3.png'),
    platinum-boots:                 img('data/EquipmentShoes4.png'),
    dementia-boots:                 img('data/EquipmentShoes5.png'),
    hermes-boots:                   img('data/EquipmentShoes6.png'),
    goo-galoshes:                   img('data/EquipmentShoes7.png'),
    yeti-walkers:                   img('data/EquipmentShoes8.png'),
    flip-flops:                     img('data/EquipmentShoes9.png'),
    flap-flops:                     img('data/EquipmentShoes10.png'),
    floop-flops:                    img('data/EquipmentShoes11.png'),
    flux-flops:                     img('data/EquipmentShoes12.png'),
    gaia-shoes:                     img('data/EquipmentShoes13.png'),
    cauldrunners:                   img('data/EquipmentShoes14.png'),
    iron-boots:                     img('data/EquipmentShoes15.png'),
    cavern-trekkers:                img('data/EquipmentShoes16.png'),
    logger-heels:                   img('data/EquipmentShoes17.png'),
    angler-boots:                   img('data/EquipmentShoes18.png'),
    bandito-boots:                  img('data/EquipmentShoes19.png'),
    amarok-paws:                    img('data/EquipmentShoes20.png'),
    efaunts-broken-ankles:          img('data/EquipmentShoes21.png'),
    void-imperium-kicks:            img('data/EquipmentShoes22.png'),
    chizoar-walkers:                img('data/EquipmentShoes23.png'),
    lustre-shieldshoe:              img('data/EquipmentShoes24.png'),
    diabolical-toe-tips:            img('data/EquipmentShoes25.png'),
    rough-rockers:                  img('data/EquipmentShoes26.png'),
    fiberous-footings:              img('data/EquipmentShoes27.png'),
    deep-sea-galoshes:              img('data/EquipmentShoes28.png'),
    spaggy-westerados:              img('data/EquipmentShoes29.png'),
    cooking-clogs:                  img('data/EquipmentShoes30.png'),
    chef-hat-shoes:                 img('data/EquipmentShoes31.png'),
    laboratory-scrubs:              img('data/EquipmentShoes32.png'),
    sheek-scrubs:                   img('data/EquipmentShoes33.png'),
    soles-of-the-troll:             img('data/EquipmentShoes34.png'),
    magma-core-lavarunners:         img('data/EquipmentShoes35.png'),
    devious-slippers-of-the-divine: img('data/EquipmentShoes36.png'),
    marbiglass-soles:               img('data/EquipmentShoes37.png'),
    drip-of-the-gods:               img('data/EquipmentShoes38.png'),
    divvy-slippers:                 img('data/EquipmentShoes39.png'),
    emperor-geta:                   img('data/EquipmentShoes40.png'),
    prehistoric-bracers:            img('data/EquipmentShoes41.png'),
);

$equipment-jewelry: (
    // Pendants
    mint-icey:                  img('data/EquipmentPendant1.png'),
    strawbu-icey:               img('data/EquipmentPendant2.png'),
    rok-road-icey:              img('data/EquipmentPendant3.png'),
    rainbo-icey:                img('data/EquipmentPendant4.png'),
    chocotastic-icey:           img('data/EquipmentPendant5.png'),
    blubbery-icey:              img('data/EquipmentPendant6.png'),
    lava-icey:                  img('data/EquipmentPendant7.png'),
    legends-icey:               img('data/EquipmentPendant8.png'),
    little-wooden-katana:       img('data/EquipmentPendant9.png'),
    sleek-shank:                img('data/EquipmentPendant10.png'),
    carrot-horror:              img('data/EquipmentPendant11.png'),
    tarantulight:               img('data/EquipmentPendant12.png'),
    quartz-pendant:             img('data/EquipmentPendant13.png'),
    fuscismatia:                img('data/EquipmentPendant14.png'),
    lucky-fish-head:            img('data/EquipmentPendant15.png'),
    strung-bludgeon:            img('data/EquipmentPendant16.png'),
    chaotic-amarok-pendant:     img('data/EquipmentPendant17.png'),
    strung-steamy:              img('data/EquipmentPendant18.png'),
    cedar-pendant:              img('data/EquipmentPendant19.png'),
    fishhead-pendant:           img('data/EquipmentPendant20.png'),
    deathly-cluster-pendant:    img('data/EquipmentPendant21.png'),
    hallowed-tail-pendant:      img('data/EquipmentPendant22.png'),
    persephones-bouquet:        img('data/EquipmentPendant23.png'),
    chizoars-blankie:           img('data/EquipmentPendant24.png'),
    chizoars-caustic-scarf:     img('data/EquipmentPendant25.png'),
    polished-bludgeon:          img('data/EquipmentPendant26.png'),
    skullfish-pendant:          img('data/EquipmentPendant27.png'),
    crescent-moon-pendant:      img('data/EquipmentPendant28.png'),
    strung-tooth-of-the-divine: img('data/EquipmentPendant29.png'),
    the-divine-scarf:           img('data/EquipmentPendant30.png'),
    deathbloom-flower-pendant:  img('data/EquipmentPendant31.png'),
    slimy-necklace:             img('data/EquipmentPendant32.png'),
    emerald-bling-pendant:      img('data/EquipmentPendant33.png'),
    charred-pendant:            img('data/EquipmentPendant34.png'),
    bramble-of-the-emperor:     img('data/EquipmentPendant35.png'),
    butterfly-pendant:          img('data/EquipmentPendant36.png'),

    // Rings
    gold-ring:                  img('data/EquipmentRings1.png'),
    copper-band:                img('data/EquipmentRings2.png'),
    steel-band:                 img('data/EquipmentRings3.png'),
    molden-crust:               img('data/EquipmentRings4.png'),
    toxic-bubbles-band:         img('data/EquipmentRings5.png'),
    death-wish:                 img('data/EquipmentRings6.png'),
    pugilist-demise:            img('data/EquipmentRings7.png'),
    the-used-bandaid:           img('data/EquipmentRings8.png'),
    chat-ring:                  img('data/EquipmentRings9.png'),
    spikeweed-ring:             img('data/EquipmentRings10.png'),
    defenders-dignity:          img('data/EquipmentRings11.png'),
    frisbee-ring:               img('data/EquipmentRings12.png'),
    silver-stopwatch:           img('data/EquipmentRings13.png'),
    dooble-goopi:               img('data/EquipmentRings14.png'),
    sanic-ring:                 img('data/EquipmentRings15.png'),
    efaunt-trunculus:           img('data/EquipmentRings16.png'),
                                //EquipmentRings17 is unused, not a typo
    the-emperor-s-opal:         img('data/EquipmentRings18.png'),
    bejeweled-ring:             img('data/EquipmentRings19.png'),
    rex-ring:                   img('data/EquipmentRings20.png'),
    elf-twist-ring:             img('data/EquipmentRings21.png'),
    tenacity-ring:              img('data/EquipmentRings22.png'),
    neutron-ice-ring:           img('data/EquipmentRings23.png'),
    lab-ring:                   img('data/EquipmentRings24.png'),
    chef-ring:                  img('data/EquipmentRings25.png'),
    serrated-rex-ring:          img('data/EquipmentRings26.png'),
    protectors-pride:           img('data/EquipmentRings27.png'),
    midnight-stopwatch:         img('data/EquipmentRings28.png'),
    dawn-stopwatch:             img('data/EquipmentRings29.png'),
    souped-lab-ring:            img('data/EquipmentRings30.png'),
    tundra-killer-ring:         img('data/EquipmentRings31.png'),
    nebula-killer-ring:         img('data/EquipmentRings32.png'),
    dune-killer-ring:           img('data/EquipmentRings33.png'),
    magma-killer-ring:          img('data/EquipmentRings34.png'),
    zero-point-stopwatch:       img('data/EquipmentRings35.png'),
    demented-emperor-opal:      img('data/EquipmentRings36.png'),
    spirit-killer-ring:         img('data/EquipmentRings37.png'),
    starstrut-ring:             img('data/EquipmentRings38.png'),

    //Chat Rings
    love-ring:                  img('data/EquipmentRingsChat1.png'),
    leafy-ring:                 img('data/EquipmentRingsChat2.png'),
    wealth-ring:                img('data/EquipmentRingsChat3.png'),
    bob-ring:                   img('data/EquipmentRingsChat4.png'),
    bubble-ring:                img('data/EquipmentRingsChat5.png'),
    cthulu-s-ring:              img('data/EquipmentRingsChat6.png'),
                                //EquipmentRingsChat7 is unused, not a typo
    lava-sez-buy-more-gems:     img('data/EquipmentRingsChat8.png'),
    honk-ring:                  img('data/EquipmentRingsChat9.png'),
    meteorite-ring:             img('data/EquipmentRingsChat10.png'),
    equinox-ring:               img('data/EquipmentRingsChat11.png'),

    //Fishing Rings
    shallow-watering:           img('data/EquipmentRingsFishing1.png'),
    oceanic-ring:               img('data/EquipmentRingsFishing2.png'),
    deepwater-trench-ring:      img('data/EquipmentRingsFishing3.png'),
    
    //Tempest Rings
    tempest-ring-of-leef:       img('data/EquipmentRingsTempest0.png'),
    tempest-ring-of-ice:        img('data/EquipmentRingsTempest1.png'),
    tempest-ring-of-lava:       img('data/EquipmentRingsTempest2.png'),
    tempest-ring-of-carbon:     img('data/EquipmentRingsTempest3.png'),
    tempest-ring-of-power:      img('data/EquipmentRingsTempest4.png'),
    tempest-ring-of-defense:    img('data/EquipmentRingsTempest5.png'),
    tempest-ring-of-gold:       img('data/EquipmentRingsTempest6.png'),
    tempest-ring-of-death:      img('data/EquipmentRingsTempest7.png'),
    tempest-ring-of-punchies:   img('data/EquipmentRingsTempest8.png'),

    // Arcanist Rings
    arcanist-cultist-ring:      img('data/EquipmentRingsArc0.png'),
);

$equipment-capes: (
    // Capes
    angel-wings:                        img('data/EquipmentCape0.png'),
    lava-wings:                         img('data/EquipmentCape1.png'),
    easter-egg-backpack:                img('data/EquipmentCape2.png'),
    radiant-amarok-backstabber:         img('data/EquipmentCape3.png'),
    gilded-efaunt-dislodged-tusks:      img('data/EquipmentCape4.png'),
    blighted-chizoar-shard-cape:        img('data/EquipmentCape5.png'),
    cascading-scaled-cape-of-krieg:     img('data/EquipmentCape6.png'),
    molten-cloak:                       img('data/EquipmentCape7.png'),
    giant-rose:                         img('data/EquipmentCape8.png'),
    giant-violet:                       img('data/EquipmentCape9.png'),
    giant-starflower:                   img('data/EquipmentCape10.png'),
    riftwalker-wings:                   img('data/EquipmentCape11.png'),
    blooming-vine:                      img('data/EquipmentCape12.png'),
    eternal-flames-of-the-divine:       img('data/EquipmentCape13.png'),
    phoenix-wings:                      img('data/EquipmentCape14.png'),
    giant-nightshade:                   img('data/EquipmentCape15.png'),
    timeless-watch:                     img('data/EquipmentCape16.png'),
    gilded-emperor-wings:               img('data/EquipmentCape17.png'),
    chains-of-the-gilded-vaultguard:    img('data/EquipmentCape18.png'),
);

$equipment-gowns: (
    // Robes / Gowns
    pyromancer-robes:   img('data/EquipmentGown0.png'),
    cobalt-robe:        img('data/EquipmentGown1.png'),
    abyssal-robe:       img('data/EquipmentGown2.png'),
    evergreen-robe:     img('data/EquipmentGown3.png'),
    silkshard-robe:     img('data/EquipmentGown4.png'),
    corsair-uniform:    img('data/EquipmentGown5.png'),
);

$equipment-keychains: (
    // Dungeon Chains
    simple-key-chain:               img('data/EquipmentKeychain0.png'),
    leafy-chain:                    img('data/EquipmentKeychain1.png'),
    red-sneaker-chain:              img('data/EquipmentKeychain2.png'),
    wartooth-chain:                 img('data/EquipmentKeychain3.png'),
    8-ball-chain:                   img('data/EquipmentKeychain4.png'),
    piggy-chain:                    img('data/EquipmentKeychain5.png'),
    dumbphone-chain:                img('data/EquipmentKeychain6.png'),
    horn-chain:                     img('data/EquipmentKeychain7.png'),
    rustic-key-chain:               img('data/EquipmentKeychain8.png'),
    taco-chain:                     img('data/EquipmentKeychain9.png'),
    cactus-chain:                   img('data/EquipmentKeychain10.png'),
    relic-chain:                    img('data/EquipmentKeychain11.png'),
    balloon-dog-chain:              img('data/EquipmentKeychain12.png'),
    frozen-tart-chain:              img('data/EquipmentKeychain13.png'),
    whatamelon-chain:               img('data/EquipmentKeychain14.png'),
    9-ball-chain:                   img('data/EquipmentKeychain15.png'),
    pincer-hand-chain:              img('data/EquipmentKeychain16.png'),
    gilded-key-chain:               img('data/EquipmentKeychain17.png'),
    sushi-chain:                    img('data/EquipmentKeychain18.png'),
    time-candy-chain:               img('data/EquipmentKeychain19.png'),
    star-blobulyte-galaxy-chain:    img('data/EquipmentKeychain20.png'),
    mmm-donut-chain:                img('data/EquipmentKeychain21.png'),
    negative-7-chain:               img('data/EquipmentKeychain22.png'),
    diamond-honker-chain:           img('data/EquipmentKeychain23.png'),
    bobgoldpickle-chain:            img('data/EquipmentKeychain24.png'),
    eye-owe-ess-chain:              img('data/EquipmentKeychain25.png'),
    key-to-desert-chain:            img('data/EquipmentKeychain26.png'),
    key-to-mountains-chain:         img('data/EquipmentKeychain27.png'),
    key-to-purgatory-chain:         img('data/EquipmentKeychain28.png'),
    spiritlord-horn-chain:          img('data/EquipmentKeychain29.png'),
);

$equipment-trophies: (
    //Originals
    king-of-food:       img('data/Trophy1.png'),
    lucky-lad:          img('data/Trophy2.png'),
    club-member:        img('data/Trophy3.png'),
    dice-dynamo:        img('data/Trophy4.png'),
    i-made-this-game:   img('data/Trophy5.png'),
    blunder-hero:       img('data/Trophy6.png'),
    original-gamer:     img('data/Trophy7.png'),
    trailblazer:        img('data/Trophy8.png'),
    ultra-unboxer:      img('data/Trophy9.png'),
    critter-baron:      img('data/Trophy10.png'),
    yumyum-sheriff:     img('data/Trophy11.png'),
    megalodon:          img('data/Trophy12.png'),
    club-maestro:       img('data/Trophy13.png'),
    beach-bro:          img('data/Trophy14.png'),
    frost-prince:       img('data/Trophy15.png'),
    idle-skiller:       img('data/Trophy16.png'),
    one-of-the-divine:  img('data/Trophy17.png'),
    master-of-nothing:  img('data/Trophy18.png'),
    nebula-royal:       img('data/Trophy19.png'),
    luckier-lad:        img('data/Trophy20.png'),
    baller:             img('data/Trophy21.png'),
    gladiator:          img('data/Trophy22.png'),
    heroic-spirit:      img('data/Trophy23.png'),
    nine-dart-finish:   img('data/Trophy24.png'),
    luckiest-lad:       img('data/Trophy25.png'),

    //Replicas with different names only.
    replica-trophy:     img('data/TrophyReplica0.png'),
);

$equipment-nametags: (
    riftwalker-nametag:                 img('data/EquipmentNametag1.png'),
    lava-s-awesome-nametag:             img('data/EquipmentNametag2.png'),
    balling-nametag:                    img('data/EquipmentNametag3.png'),
    vman-nametag:                       img('data/EquipmentNametag4.png'),
    spring-flowers-nametag:             img('data/EquipmentNametag5.png'),
    trash-tuna-nametag:                 img('data/EquipmentNametag6b.png'),
    island-adventurer-nametag:          img('data/EquipmentNametag7.png'),
    summer-shovel-nametag:              img('data/EquipmentNametag8.png'),
    falloween-nametag:                  img('data/EquipmentNametag9.png'),
    x3rd-anniversary-idleon-nametag:    img('data/EquipmentNametag10.png'),
    nightshade-nametag:                 img('data/EquipmentNametag11.png'),
    megafeather-nametag:                img('data/EquipmentNametag12.png'),
    timeless-nametag:                   img('data/EquipmentNametag13.png'),
    snowflake-nametag:                  img('data/EquipmentNametag14.png'),
    frostyman-nametag:                  img('data/EquipmentNametag15.png'),
    lovely-day-nametag:                 img('data/EquipmentNametag16.png'),
    spectacular-4th-year-nametag:       img('data/EquipmentNametag17.png'),
    x4th-anniversary-idleon-nametag:    img('data/EquipmentNametag18.png'),
    aethermoon-nametag:                 img('data/EquipmentNametag19.png'),
    deadbones-nametag:                  img('data/EquipmentNametag20.png'),
    treasure-nametag:                   img('data/EquipmentNametag21.png'),
    tome-apprentice-nametag:            img('data/EquipmentNametag22.png'),
    tome-journeyman-nametag:            img('data/EquipmentNametag23.png'),
    tome-expert-nametag:                img('data/EquipmentNametag24.png'),
    tome-elite-nametag:                 img('data/EquipmentNametag25.png'),
    tome-pro-nametag:                   img('data/EquipmentNametag26.png'),
    tome-master-nametag:                img('data/EquipmentNametag27.png'),
    tome-legend-nametag:                img('data/EquipmentNametag28.png'),
    reliquarium-nametag:                img('data/EquipmentNametag29.png'),
    cropfall-nametag:                   img('data/EquipmentNametag30.png'),

    //Replicas with different names only.
    replica-nametag:                    img('data/EquipmentNametagReplica0.png'),
);

$equipment-tools: (
    // Mining Pickaxes
    junk-pickaxe:                   img('data/EquipmentTools1.png'),
    copper-pickaxe:                 img('data/EquipmentTools2.png'),
    iron-pickaxe:                   img('data/EquipmentTools3.png'),
                                    //EquipmentTools4 is unused, not a typo
    gold-pickaxe:                   img('data/EquipmentTools5.png'),
    platinum-pickaxe:               img('data/EquipmentTools6.png'),
    dementia-pickaxe:               img('data/EquipmentTools7.png'),
    lustre-pickaxe:                 img('data/EquipmentTools8.png'),
    dreadlo-pickolo:                img('data/EquipmentTools9.png'),
    poopy-pickaxe:                  img('data/EquipmentTools10.png'),
    void-imperium-pik:              img('data/EquipmentTools11.png'),
    starfire-pickaxe:               img('data/EquipmentTools12.png'),
    skewered-snek:                  img('data/EquipmentTools13.png'),
    marbiglass-pickaxe:             img('data/EquipmentTools14.png'),
    destroyer-of-the-mollo-gomme:   img('data/EquipmentTools15.png'),
    prehistoric-pixckaxe:           img('data/EquipmentTools16.png'),

    // Woodcutting Axes
    old-hatchet:                    img('data/EquipmentToolsHatchet0.png'),
    iron-hatchet:                   img('data/EquipmentToolsHatchet1.png'),
    golden-axe:                     img('data/EquipmentToolsHatchet2.png'),
    stinky-axe:                     img('data/EquipmentToolsHatchet2b.png'),
    copper-chopper:                 img('data/EquipmentToolsHatchet3.png'),
    plat-hatchet:                   img('data/EquipmentToolsHatchet4.png'),
    dementia-dicer:                 img('data/EquipmentToolsHatchet5.png'),
    lustre-logger:                  img('data/EquipmentToolsHatchet6.png'),
    void-imperium-axe:              img('data/EquipmentToolsHatchet7.png'),
    starfire-hatchet:               img('data/EquipmentToolsHatchet8.png'),
    dreadlo-hatchet:                img('data/EquipmentToolsHatchet9.png'),
    annihilator-of-the-yggdrasil:   img('data/EquipmentToolsHatchet10.png'),
    grumbie-the-hatchet-hammer:     img('data/EquipmentToolsHatchet11.png'),
    marbiglass-hatchet:             img('data/EquipmentToolsHatchet12.png'),
    prehistoric-choppah:            img('data/EquipmentToolsHatchet13.png'),

    // Fishing Rods
    wood-fishing-rod:               img('data/FishingRod1.png'),
    copper-fish-rod:                img('data/FishingRod2.png'),
    iron-fishing-rod:               img('data/FishingRod3.png'),
    gold-fishing-rod:               img('data/FishingRod4.png'),
    plat-fishing-rod:               img('data/FishingRod5.png'),
    dementia-rod-for-fishing:       img('data/FishingRod6.png'),
    void-imperium-rod:              img('data/FishingRod7.png'),
    lustre-rod:                     img('data/FishingRod8.png'),
    starfire-rod:                   img('data/FishingRod9.png'),
    dreadlo-rod:                    img('data/FishingRod10.png'),
    marbiglass-rod:                 img('data/FishingRod11.png'),
    angler-of-the-iliunne:          img('data/FishingRod12.png'),
    prehistoric-rod:                img('data/FishingRod13.png'),

    // Catching Nets
    bug-net:                        img('data/CatchingNet1.png'),
    copper-netted-net:              img('data/CatchingNet2.png'),
    reinforced-net:                 img('data/CatchingNet3.png'),
    golden-net:                     img('data/CatchingNet4.png'),
    platinet:                       img('data/CatchingNet5.png'),
    dementia-net:                   img('data/CatchingNet6.png'),
    void-imperium-net:              img('data/CatchingNet7.png'),
    lustre-netting:                 img('data/CatchingNet8.png'),
    starfire-trim-netting:          img('data/CatchingNet9.png'),
    dreadlo-matted-netting:         img('data/CatchingNet10.png'),
    marbiglass-netting:             img('data/CatchingNet11.png'),
    wrangler-of-the-qoxzul:         img('data/CatchingNet12.png'),
    prehistoric-net:                img('data/CatchingNet13.png'),

    // Trapping Traps
    cardboard-traps:                img('data/TrapBoxSet1.png'),
    silkskin-traps:                 img('data/TrapBoxSet2.png'),
    wooden-traps:                   img('data/TrapBoxSet3.png'),
    natural-traps:                  img('data/TrapBoxSet4.png'),
    steel-traps:                    img('data/TrapBoxSet5.png'),
    meaty-traps:                    img('data/TrapBoxSet6.png'),
    royal-traps:                    img('data/TrapBoxSet7.png'),
    egalitarian-traps:              img('data/TrapBoxSet8.png'),
    forbidden-traps:                img('data/TrapBoxSet9.png'),
    containment-of-the-zrgyios:     img('data/TrapBoxSet10.png'),
    prehistoric-traps:              img('data/TrapBoxSet11.png'),

    // Worship Skulls
    wax-skull:                      img('data/WorshipSkull1.png'),
    ceramic-skull:                  img('data/WorshipSkull2.png'),
    horned-skull:                   img('data/WorshipSkull3.png'),
    prickle-skull:                  img('data/WorshipSkull4.png'),
    manifested-skull:               img('data/WorshipSkull5.png'),
    glauss-skull:                   img('data/WorshipSkull6.png'),
    luciferian-skull:               img('data/WorshipSkull7.png'),
    slush-skull:                    img('data/WorshipSkull8.png'),
    dreadnaught-skull:              img('data/WorshipSkull9.png'),
    cultist-skull:                  img('data/WorshipSkull10.png'),
    crystal-skull-of-esquire-vnoze: img('data/WorshipSkull11.png'),
    prehistoric-skull:              img('data/WorshipSkull12.png'),

    // Splicers
    sappy-dna-splicer:              img('data/DNAgun0.png'),
    bolstered-dna-splicer:          img('data/DNAgun1.png'),
    double-barreled-dna-splicer:    img('data/DNAgun2.png'),
    ergonomic-dna-splicer:          img('data/DNAgun3.png'),
);

$equipment-foods: (
    // Regular Foods
    nomwich:                        img('data/FoodHealth1.png'),
    cheezy-pizza:                   img('data/FoodHealth2.png'),
    hot-dog:                        img('data/FoodHealth3.png'),
    saucy-weiner:                   img('data/FoodHealth4.png'),
    cranberry-jam:                  img('data/FoodHealth5.png'),
    kebab-sticks:                   img('data/FoodHealth6.png'),
    meat-pie:                       img('data/FoodHealth7.png'),
    yeti-ham:                       img('data/FoodHealth9.png'),
    mountain-bread:                 img('data/FoodHealth10.png'),
    sheepie-dairy:                  img('data/FoodHealth11.png'),
    cupcake:                        img('data/FoodHealth13.png'),
    spicy-space-ribs:               img('data/FoodHealth12.png'),
    lemon-slice:                    img('data/FoodHealth14.png'),
    grilled-cheese-nomwich:         img('data/FoodHealth15.png'),
    raw-nigiri:                     img('data/FoodHealth16.png'),
    dumpling:                       img('data/FoodHealth17.png'),
    saltwater-taffy:                img('data/FoodHealth18.png'),
    sugar-cookie:                   img('data/FoodHealth19.png'),

    // Special Foods
    peanut:                         img('data/Peanut.png'),
    magic-meatloaf:                 img('data/Meatloaf.png'),

    // Potions
    small-speed-potion:             img('data/FoodPotGr1.png'),
    average-speed-potion:           img('data/FoodPotGr2.png'),
    decent-speed-potion:            img('data/FoodPotGr3.png'),
    potent-speed-potion:            img('data/FoodPotGr4.png'),
    small-mana-potion:              img('data/FoodPotMana1.png'),
    average-mana-potion:            img('data/FoodPotMana2.png'),
    decent-mana-potion:             img('data/FoodPotMana3.png'),
    potent-mana-potion:             img('data/FoodPotMana4.png'),
    small-strength-potion:          img('data/FoodPotOr1.png'),
    average-strength-potion:        img('data/FoodPotOr2.png'),
    decent-strength-potion:         img('data/FoodPotOr3.png'),
    potent-strength-potion:         img('data/FoodPotOr4.png'),
    small-life-potion:              img('data/FoodPotRe1.png'),
    average-life-potion:            img('data/FoodPotRe2.png'),
    decent-life-potion:             img('data/FoodPotRe3.png'),
    potent-life-potion:             img('data/FoodPotRe4.png'),
    small-exp-potion:               img('data/FoodPotYe1.png'),
    average-exp-potion:             img('data/FoodPotYe2.png'),
    decent-exp-potion:              img('data/FoodPotYe3.png'),
    potent-exp-potion:              img('data/FoodPotYe4.png'),
    quotient-exp-potion:            img('data/FoodPotYe5.png'),

    // Skilling Foods
    icing-ironbite:                 img('data/FoodMining1.png'),
    saucy-logfries:                 img('data/FoodChoppin1.png'),
    slurpin-herm:                   img('data/FoodFish1.png'),
    buttered-toasted-butter:        img('data/FoodCatch1.png'),
    critter-numnums:                img('data/FoodTrapping1.png'),
    soulble-gum:                    img('data/FoodWorship1.png'),

    // Event Foods
    giftybread-man:                 img('data/FoodEvent1.png'),
    chogg-nog:                      img('data/FoodEvent2.png'),
    candy-canes:                    img('data/FoodEvent3.png'),
    mistleberries:                  img('data/FoodEvent4.png'),
    cherry-choco:                   img('data/FoodEvent5.png'),
    lemony-choco:                   img('data/FoodEvent6.png'),
    minto-choco:                    img('data/FoodEvent7.png'),
    milk-choco:                     img('data/FoodEvent8.png'),

    // Pearls
    aqua-pearl:                     img('data/Pearl1.png'),
    stained-pearl:                  img('data/Pearl2.png'),
    shiny-pearl:                    img('data/Pearl3.png'),

    // Boost Foods
    bullet:                         img('data/Bullet.png'),
    fmj-bullet:                     img('data/BulletB.png'),
    coldseeker-bullet:              img('data/Bullet3.png'),
    midnight-cookie:                img('data/MidnightCookie.png'),

    // Golden Foods
    golden-peanut:                  img('data/PeanutG.png'),
    butter-bar:                     img('data/ButterBar.png'),
    golden-jam:                     img('data/FoodG1.png'),
    golden-kebabs:                  img('data/FoodG2.png'),
    golden-meat-pie:                img('data/FoodG3.png'),
    golden-nomwich:                 img('data/FoodG4.png'),
    golden-ham:                     img('data/FoodG5.png'),
    golden-bread:                   img('data/FoodG6.png'),
    golden-ribs:                    img('data/FoodG7.png'),
    golden-cheese:                  img('data/FoodG8.png'),
    golden-grilled-cheese-nomwich:  img('data/FoodG9.png'),
    golden-hampter-gummy-candy:     img('data/FoodG10.png'),
    golden-nigiri:                  img('data/FoodG11.png'),
    golden-dumpling:                img('data/FoodG12.png'),
    golden-cake:                    img('data/FoodG13.png'),
    golden-saltwater-taffy:         img('data/FoodG14.png'),
    golden-sugar-cookie:            img('data/FoodG15.png'),
);

$equipment-stones: (
    // Weapon
    easter-weapon-stone:            img('data/StoneWe.png'),
    summer-weapon-stone:            img('data/StoneWeb.png'),
    weapon-upgrade-stone-i:         img('data/StoneW1.png'),
    weapon-upgrade-stone-ii:        img('data/StoneW2.png'),
    weapon-upgrade-stone-iii:       img('data/StoneW3.png'),
    weapon-upgrade-stone-c:         img('data/StoneW3b.png'),
    warped-weapon-upgrade-stone:    img('data/StoneW6.png'),
    weapon-upgrade-stone-iv:        img('data/StoneW4.png'),
    weapon-upgrade-stone-v:         img('data/StoneW5.png'),
    weapon-upgrade-stone-sk:        img('data/StoneW7.png'),
    weapon-upgrade-stone-vi:        img('data/StoneW8.png'),
    weapon-upgrade-stone-vii:       img('data/StoneW9.png'),

    // Armor
    easter-armor-stone:             img('data/StoneAe.png'),
    summer-armor-stone:             img('data/StoneAeB.png'),
    armor-upgrade-stone-i:          img('data/StoneA1.png'),
    armor-upgrade-stone-g:          img('data/StoneA1b.png'),
    armor-upgrade-stone-ii:         img('data/StoneA2.png'),
    armor-upgrade-stone-b:          img('data/StoneA2b.png'),
    armor-upgrade-stone-iii:        img('data/StoneA3.png'),
    armor-upgrade-stone-c:          img('data/StoneA3b.png'),
    armor-upgrade-stone-iv:         img('data/StoneA4.png'),
    armor-upgrade-stone-v:          img('data/StoneA5.png'),
    armor-upgrade-stone-sk:         img('data/StoneA6.png'),
    armor-upgrade-stone-vi:         img('data/StoneA7.png'),
    armor-upgrade-stone-vii:        img('data/StoneA8.png'),

    // Tool
    easter-tool-upgrade-stone:      img('data/StoneTe.png'),
    tool-upgrade-stone-i:           img('data/StoneT1.png'),
    giftmas-tool-upgrade-stone:     img('data/StoneT1e.png'),
    summer-tool-upgrade-stone:      img('data/StoneT1eb.png'),
    tool-upgrade-stone-ii:          img('data/StoneT2.png'),
    tool-upgrade-stone-iii:         img('data/StoneT3.png'),
    tool-upgrade-stone-iv:          img('data/StoneT4.png'),
    tool-upgrade-stone-v:           img('data/StoneT5.png'),
    tool-upgrade-stone-sk:          img('data/StoneT6.png'),
    tool-upgrade-stone-vi:          img('data/StoneT7.png'),
    tool-upgrade-stone-vii:         img('data/StoneT8.png'),

    // Helmet
    helmet-upgrade-stone-i:         img('data/StoneHelm1.png'),
    warped-helmet-upgrade-stone:    img('data/StoneHelm6.png'),
    giftmas-helmet-upgrade-stone:   img('data/StoneHelm1b.png'),
    helmet-upgrade-stone-sk:        img('data/StoneHelm7.png'),

    // Mystery
    mystery-upgrade-stone-i:        img('data/StoneZ1.png'),
    mystery-upgrade-stone-ii:       img('data/StoneZ2.png'),
    mystery-upgrade-stone-iii:      img('data/StoneZ3.png'),
    mystery-upgrade-stone-iv:       img('data/StoneZ4.png'),

    // Premium
    premium-agi-stone:              img('data/StonePremAGI.png'),
    premium-luk-stone:              img('data/StonePremLUK.png'),
    premium-restore-stone:          img('data/StonePremRestore.png'),
    premium-star-stone:             img('data/StonePremSTAR.png'),
    premium-statswap-stone:         img('data/StonePremStatswap.png'),
    premium-str-stone:              img('data/StonePremSTR.png'),
    premium-wis-stone:              img('data/StonePremWIS.png'),

    // Tempest
    tempest-bow-stone-60-pct:       img('data/StoneTempestB0.png'),
    tempest-bow-stone-30-pct:       img('data/StoneTempestB1.png'),
    tempest-bow-stone-10-pct:       img('data/StoneTempestB2.png'),
    tempest-ring-stone-60-pct:      img('data/StoneTempestR0.png'),
    tempest-ring-stone-30-pct:      img('data/StoneTempestR1.png'),
    tempest-ring-stone-10-pct:      img('data/StoneTempestR2.png'),
);

$all-equipment: map-merge($equipment-weapons, $equipment-hats);
$all-equipment: map-merge($all-equipment, $equipment-shirts);
$all-equipment: map-merge($all-equipment, $equipment-pants);
$all-equipment: map-merge($all-equipment, $equipment-boots);
$all-equipment: map-merge($all-equipment, $equipment-jewelry);
$all-equipment: map-merge($all-equipment, $equipment-capes);
$all-equipment: map-merge($all-equipment, $equipment-gowns);
$all-equipment: map-merge($all-equipment, $equipment-keychains);
$all-equipment: map-merge($all-equipment, $equipment-trophies);
$all-equipment: map-merge($all-equipment, $equipment-nametags);
$all-equipment: map-merge($all-equipment, $equipment-tools);
$all-equipment: map-merge($all-equipment, $equipment-foods);
$all-equipment: map-merge($all-equipment, $equipment-stones);
