$equinox: (
    equinox-mirror: wiki("4/48/Equinox_Valley_Mirror.gif"),
    equinox-dreams: wiki('8/88/Dream_Upgrade_1.png'),
    equinox-resources: wiki("3/32/Dream_Upgrade_2.png"),
    shades-of-k: wiki("0/09/Dream_Upgrade_3.png"),
    liquidvestment: wiki("e/e5/Dream_Upgrade_4.png"),
    matching-scims: wiki("a/a9/Dream_Upgrade_5.png"),
    slow-roast-wiz: wiki("7/78/Dream_Upgrade_6.png"),
    laboratory-fuse: wiki("/7/71/Dream_Upgrade_7.png"),
    metal-detector: wiki("2/2e/Dream_Upgrade_8.png"),
    faux-jewels: wiki("6/68/Dream_Upgrade_9.png"),
    food-lust: wiki("0/0b/Dream_Upgrade_10.png"),
    equinox-symbols: wiki("3/3b/Dream_Upgrade_11.png"),
    voter-rights: wiki("5/51/Dream_Upgrade_12.png"),
);
