$equinox: (
    equinox-mirror: img('wiki/Equinox_Valley_Mirror.gif'),
    equinox-dreams: img('wiki/Dream_Upgrade_1.png'),
    equinox-resources: img('wiki/Dream_Upgrade_2.png'),
    shades-of-k: img('wiki/Dream_Upgrade_3.png'),
    liquidvestment: img('wiki/Dream_Upgrade_4.png'),
    matching-scims: img('wiki/Dream_Upgrade_5.png'),
    slow-roast-wiz: img('wiki/Dream_Upgrade_6.png'),
    laboratory-fuse: img('wiki/Dream_Upgrade_7.png'),
    metal-detector: img('wiki/Dream_Upgrade_8.png'),
    faux-jewels: img('wiki/Dream_Upgrade_9.png'),
    food-lust: img('wiki/Dream_Upgrade_10.png'),
    equinox-symbols: img('wiki/Dream_Upgrade_11.png'),
    voter-rights: img('wiki/Dream_Upgrade_12.png'),
);
