$event-shop: (
    event-shop-0: img('data/EventShopBuy0.png'),
    event-shop-1: img('data/EventShopBuy1.png'),
    event-shop-2: img('data/EventShopBuy2.png'),
    event-shop-3: img('data/EventShopBuy3.png'),
    event-shop-4: img('data/EventShopBuy4.png'),
    event-shop-5: img('data/EventShopBuy5.png'),
    event-shop-6: img('data/EventShopBuy6.png'),
    event-shop-7: img('data/EventShopBuy7.png'),
    event-shop-8: img('data/EventShopBuy8.png'),
    event-shop-9: img('data/EventShopBuy9.png'),
    event-shop-10: img('data/EventShopBuy10.png'),
    event-shop-11: img('data/EventShopBuy11.png'),
    event-shop-12: img('data/EventShopBuy12.png'),
    event-shop-13: img('data/EventShopBuy13.png'),
    event-shop-14: img('data/EventShopBuy14.png'),
    event-shop-15: img('data/EventShopBuy15.png'),
    event-shop-16: img('data/EventShopBuy16.png'),
    event-shop-17: img('data/EventShopBuy17.png'),
    event-shop-18: img('data/EventShopBuy18.png'),
    event-shop-19: img('data/EventShopBuy19.png'),
    event-shop-20: img('data/EventShopBuy20.png'),
    event-shop-21: img('data/EventShopBuy21.png'),
);
