$seed-gifs: (
    basic-seed-gif: wiki('9/9f/Farm_Seed_Basic.gif'),
    earthy-seed-gif: wiki(''),
    bulbo-seed-gif: wiki(''),
    sushi-seed-gif: wiki(''),
    mushie-seed-gif: wiki(''),
    glassy-seed-gif: wiki(''),
);

$all-crops: (
    apple: wiki(''),
    orange: wiki(''),
    lemon: wiki(''),
    pear: wiki(''),
    strawberry: wiki('1/14/FarmCrop4.png'),
    bananas: wiki(''),
    blueberry: wiki(''),
    red-grapes: wiki(''),
    red-pear: wiki(''),
    pineapple: wiki(''),
    lime: wiki(''),
    raspberry: wiki(''),
    fig: wiki(''),
    peach: wiki(''),
    purple-grapes: wiki(''),
    yellow-pear: wiki(''),
    watermelon: wiki(''),
    green-grapes: wiki(''),
    dragon-fruit: wiki(''),
    mango: wiki(''),
    gold-blueberry: wiki(''),
    carrot: wiki(''),
    potato: wiki(''),
    beat: wiki(''),
    tomato: wiki(''),
    artichoke: wiki(''),
    roma-tomato: wiki(''),
    butternut-squash: wiki(''),
    avocado: wiki(''),
    red-pepper: wiki(''),
    broccoli: wiki('f/fa/FarmCrop30.png'),
    radish: wiki(''),
    coconut: wiki(''),
    sliced-tomato: wiki(''),
    cashew: wiki(''),
    turnip: wiki(''),
    coffee-bean: wiki(''),
    pumpkin: wiki(''),
    sliced-cucumber: wiki(''),
    eggplant: wiki(''),
    lettuce: wiki(''),
    garlic: wiki(''),
    green-beans: wiki(''),
    bell-pepper: wiki(''),
    corn: wiki(''),
    gold-sliced-tomato: wiki(''),
    daisy: wiki('c/cc/FarmCrop46.png'),
    flour: wiki(''),
    stargazer-lily: wiki(''),
    rose: wiki(''),
    sunflower: wiki(''),
    blue-daisy: wiki(''),
    red-rose: wiki(''),
    tulip: wiki(''),
    pink-daisy: wiki(''),
    cauliflower: wiki(''),
    cape-marguerite-daisy: wiki(''),
    papua-black-orchid: wiki(''),
    muffin: wiki(''),
    black-rose: wiki(''),
    golden-tulip: wiki(''),
    sake-maki: wiki(''),
    salmon-nigiri: wiki(''),
    temaki: wiki(''),
    hamaguri: wiki(''),
    onigiri: wiki(''),
    ama-ebi: wiki(''),
    cup-ramen: wiki(''),
    dalkon-maki: wiki(''),
    sushi-crop-8: wiki(''),
    sushi-crop-9: wiki(''),
    ikura: wiki(''),
    sushi-crop-11: wiki('f/f6/FarmCrop72.png'),
    sushi-crop-12: wiki(''),
    sushi-crop-13: wiki(''),
    abocado-maki: wiki(''),
    ebi-nigiri: wiki(''),
    sushi-crop-16: wiki(''),
    sushi-crop-17: wiki(''),
    tako-nigiri: wiki(''),
    soy-sauce: wiki(''),
    sushi-crop-20: wiki(''),
    neko-rice: wiki(''),
    shrimp: wiki(''),
    mushroom-1: wiki(''),
    mushroom-2: wiki(''),
    mushroom-3: wiki(''),
    mushroom-4: wiki(''),
    mushroom-5: wiki(''),
    mushroom-6: wiki(''),
    mushroom-7: wiki(''),
    mushroom-8: wiki(''),
    mushroom-9: wiki(''),
    mushroom-10: wiki(''),
    mushroom-11: wiki(''),
    mushroom-12: wiki(''),
    mushroom-13: wiki(''),
    mushroom-14: wiki(''),
    mushroom-15: wiki('1/12/FarmCrop99.png'),
    mushroom-16: wiki(''),
    mushroom-17: wiki(''),
    mushroom-18: wiki(''),
    mushroom-19: wiki(''),
    mushroom-20: wiki(''),
    mushroom-21: wiki(''),
    mushroom-22: wiki(''),
    mushroom-23: wiki(''),
    glassy-bananas: wiki(''),
    glassy-mango: wiki(''),
    glassy-mushroom-1: wiki(''),
    glassy-maki: wiki(''),
    glassy-mushroom-2: wiki(''),
    glassy-carrot: wiki(''),
    glassy-tomato: wiki(''),
    glassy-watermellon: wiki(''),
    glassy-shrimp: wiki(''),
    glassy-rose: wiki(''),
    glassy-corn: wiki(''),
    glassy-lettuce: wiki(''),
    glassy-onigiri: wiki(''),
);

$all-farming: map-merge($seed-gifs, $all-crops);