$seed-gifs: (
    basic-seed-gif: img('wiki/Farm_Seed_Basic.gif'),
    earthy-seed-gif: img('wiki/Farm_Seed_Earthy.gif'),
    bulbo-seed-gif: img('wiki/Farm_Seed_Bulbo.gif'),
    sushi-seed-gif: img('wiki/Farm_Seed_Sushi.gif'),
    mushie-seed-gif: img('wiki/Farm_Seed_Mushie.gif'),
    glassy-seed-gif: img('wiki/Farm_Seed_Glassy.gif'),
);

$all-crops: (
    apple: img('wiki/FarmCrop0.png'),
    orange: img('wiki/FarmCrop1.png'),
    lemon: img('wiki/FarmCrop2.png'),
    pear: img('wiki/FarmCrop3.png'),
    strawberry: img('wiki/FarmCrop4.png'),
    bananas: img('wiki/FarmCrop5.png'),
    blueberry: img('wiki/FarmCrop6.png'),
    red-grapes: img('wiki/FarmCrop7.png'),
    red-pear: img('wiki/FarmCrop8.png'),
    pineapple: img('wiki/FarmCrop9.png'),
    lime: img('wiki/FarmCrop10.png'),
    raspberry: img('wiki/FarmCrop11.png'),
    fig: img('wiki/FarmCrop12.png'),
    peach: img('wiki/FarmCrop13.png'),
    purple-grapes: img('wiki/FarmCrop14.png'),
    yellow-pear: img('wiki/FarmCrop15.png'),
    watermelon: img('wiki/FarmCrop16.png'),
    green-grapes: img('wiki/FarmCrop17.png'),
    dragon-fruit: img('wiki/FarmCrop18.png'),
    mango: img('wiki/FarmCrop19.png'),
    gold-blueberry: img('wiki/FarmCrop20.png'),
    carrot: img('wiki/FarmCrop21.png'),
    potato: img('wiki/FarmCrop22.png'),
    beat: img('wiki/FarmCrop23.png'),
    tomato: img('wiki/FarmCrop24.png'),
    artichoke: img('wiki/FarmCrop25.png'),
    roma-tomato: img('wiki/FarmCrop26.png'),
    butternut-squash: img('wiki/FarmCrop27.png'),
    avocado: img('wiki/FarmCrop28.png'),
    red-pepper: img('wiki/FarmCrop29.png'),
    broccoli: img('wiki/FarmCrop30.png'),
    radish: img('wiki/FarmCrop31.png'),
    coconut: img('wiki/FarmCrop32.png'),
    sliced-tomato: img('wiki/FarmCrop33.png'),
    cashew: img('wiki/FarmCrop34.png'),
    turnip: img('wiki/FarmCrop35.png'),
    coffee-bean: img('wiki/FarmCrop36.png'),
    pumpkin: img('wiki/FarmCrop37.png'),
    sliced-cucumber: img('wiki/FarmCrop38.png'),
    eggplant: img('wiki/FarmCrop39.png'),
    lettuce: img('wiki/FarmCrop40.png'),
    garlic: img('wiki/FarmCrop41.png'),
    green-beans: img('wiki/FarmCrop42.png'),
    bell-pepper: img('wiki/FarmCrop43.png'),
    corn: img('wiki/FarmCrop44.png'),
    gold-sliced-tomato: img('wiki/FarmCrop45.png'),
    daisy: img('wiki/FarmCrop46.png'),
    flour: img('wiki/FarmCrop47.png'),
    stargazer-lily: img('wiki/FarmCrop48.png'),
    rose: img('wiki/FarmCrop49.png'),
    sunflower: img('wiki/FarmCrop50.png'),
    blue-daisy: img('wiki/FarmCrop51.png'),
    red-rose: img('wiki/FarmCrop52.png'),
    tulip: img('wiki/FarmCrop53.png'),
    pink-daisy: img('wiki/FarmCrop54.png'),
    cauliflower: img('wiki/FarmCrop55.png'),
    cape-marguerite-daisy: img('wiki/FarmCrop56.png'),
    papua-black-orchid: img('wiki/FarmCrop57.png'),
    muffin: img('wiki/FarmCrop58.png'),
    black-rose: img('wiki/FarmCrop59.png'),
    golden-tulip: img('wiki/FarmCrop60.png'),
    sushi-crop-1: img('wiki/FarmCrop61.png'),
    sushi-crop-2: img('wiki/FarmCrop62.png'),
    sushi-crop-3: img('wiki/FarmCrop63.png'),
    sushi-crop-4: img('wiki/FarmCrop64.png'),
    sushi-crop-5: img('wiki/FarmCrop65.png'),
    sushi-crop-6: img('wiki/FarmCrop66.png'),
    sushi-crop-7: img('wiki/FarmCrop67.png'),
    sushi-crop-8: img('wiki/FarmCrop68.png'),
    sushi-crop-9: img('wiki/FarmCrop69.png'),
    sushi-crop-10: img('wiki/FarmCrop70.png'),
    sushi-crop-11: img('wiki/FarmCrop71.png'),
    sushi-crop-12: img('wiki/FarmCrop72.png'),
    sushi-crop-13: img('wiki/FarmCrop73.png'),
    sushi-crop-14: img('wiki/FarmCrop74.png'),
    sushi-crop-15: img('wiki/FarmCrop75.png'),
    sushi-crop-16: img('wiki/FarmCrop76.png'),
    sushi-crop-17: img('wiki/FarmCrop77.png'),
    sushi-crop-18: img('wiki/FarmCrop78.png'),
    sushi-crop-19: img('wiki/FarmCrop79.png'),
    sushi-crop-20: img('wiki/FarmCrop80.png'),
    sushi-crop-21: img('wiki/FarmCrop81.png'),
    sushi-crop-22: img('wiki/FarmCrop82.png'),
    sushi-crop-23: img('wiki/FarmCrop83.png'),
    mushroom-1: img('wiki/FarmCrop84.png'),
    mushroom-2: img('wiki/FarmCrop85.png'),
    mushroom-3: img('wiki/FarmCrop86.png'),
    mushroom-4: img('wiki/FarmCrop87.png'),
    mushroom-5: img('wiki/FarmCrop88.png'),
    mushroom-6: img('wiki/FarmCrop89.png'),
    mushroom-7: img('wiki/FarmCrop90.png'),
    mushroom-8: img('wiki/FarmCrop91.png'),
    mushroom-9: img('wiki/FarmCrop92.png'),
    mushroom-10: img('wiki/FarmCrop93.png'),
    mushroom-11: img('wiki/FarmCrop94.png'),
    mushroom-12: img('wiki/FarmCrop95.png'),
    mushroom-13: img('wiki/FarmCrop96.png'),
    mushroom-14: img('wiki/FarmCrop97.png'),
    mushroom-15: img('wiki/FarmCrop98.png'),
    mushroom-16: img('wiki/FarmCrop99.png'),
    mushroom-17: img('wiki/FarmCrop100.png'),
    mushroom-18: img('wiki/FarmCrop101.png'),
    mushroom-19: img('wiki/FarmCrop102.png'),
    mushroom-20: img('wiki/FarmCrop103.png'),
    mushroom-21: img('wiki/FarmCrop104.png'),
    mushroom-22: img('wiki/FarmCrop105.png'),
    mushroom-23: img('wiki/FarmCrop106.png'),
    glassy-bananas: img('wiki/FarmCrop107.png'),
    glassy-mango: img('wiki/FarmCrop108.png'),
    glassy-mushroom: img('wiki/FarmCrop109.png'),
    glassy-maki: img('wiki/FarmCrop110.png'),
    glassy-broccoli: img('wiki/FarmCrop111.png'),
    glassy-carrot: img('wiki/FarmCrop112.png'),
    glassy-tomato: img('wiki/FarmCrop113.png'),
    glassy-watermellon: img('wiki/FarmCrop114.png'),
    glassy-shrimp: img('wiki/FarmCrop115.png'),
    glassy-rose: img('wiki/FarmCrop116.png'),
    glassy-lettuce: img('wiki/FarmCrop117.png'),
    glassy-onigiri: img('wiki/FarmCrop118.png'),
    glassy-corn: img('wiki/FarmCrop119.png'),
    red-glassy-bananas: img('wiki/FarmCrop120.png'),
    red-glassy-mango: img('wiki/FarmCrop121.png'),
    red-glassy-broccoli: img('wiki/FarmCrop122.png'),
    red-glassy-carrot: img('wiki/FarmCrop123.png'),
    red-glassy-tomato: img('wiki/FarmCrop124.png'),
    red-glassy-watermelon: img('wiki/FarmCrop125.png'),
    red-glassy-shrimp: img('wiki/FarmCrop126.png'),
    red-glassy-rose: img('wiki/FarmCrop127.png'),
    red-glassy-onigiri: img('wiki/FarmCrop128.png'),
    red-glassy-corn: img('wiki/FarmCrop129.png'),
    green-glassy-bananas: img('wiki/FarmCrop130.png'),
    green-glassy-mango: img('wiki/FarmCrop131.png'),
    green-glassy-broccoli: img('wiki/FarmCrop132.png'),
    green-glassy-carrot: img('wiki/FarmCrop133.png'),
    green-glassy-tomato: img('wiki/FarmCrop134.png'),
    green-glassy-watermelon: img('wiki/FarmCrop135.png'),
    green-glassy-shrimp: img('wiki/FarmCrop136.png'),
    green-glassy-rose: img('wiki/FarmCrop137.png'),
    green-glassy-onigiri: img('wiki/FarmCrop138.png'),
    green-glassy-corn: img('wiki/FarmCrop139.png'),
    white-glassy-bananas: img('wiki/FarmCrop140.png'),
    white-glassy-mango: img('wiki/FarmCrop141.png'),
    white-glassy-broccoli: img('wiki/FarmCrop142.png'),
    white-glassy-carrot: img('wiki/FarmCrop143.png'),
    white-glassy-tomato: img('wiki/FarmCrop144.png'),
    white-glassy-watermelon: img('wiki/FarmCrop145.png'),
    white-glassy-shrimp: img('wiki/FarmCrop146.png'),
    white-glassy-rose: img('wiki/FarmCrop147.png'),
    white-glassy-onigiri: img('wiki/FarmCrop148.png'),
    white-glassy-corn: img('wiki/FarmCrop149.png'),
    purple-glassy-bananas: img('wiki/FarmCrop150.png'),
    purple-glassy-mango: img('wiki/FarmCrop151.png'),
    purple-glassy-broccoli: img('wiki/FarmCrop152.png'),
    purple-glassy-carrot: img('wiki/FarmCrop153.png'),
    purple-glassy-tomato: img('wiki/FarmCrop154.png'),
    purple-glassy-watermelon: img('wiki/FarmCrop155.png'),
    purple-glassy-shrimp: img('wiki/FarmCrop156.png'),
    purple-glassy-rose: img('wiki/FarmCrop157.png'),
    purple-glassy-onigiri: img('wiki/FarmCrop158.png'),
    purple-glassy-corn: img('wiki/FarmCrop159.png'),
);

$all-farming: map-merge($seed-gifs, $all-crops);