$gallery-slot: (
    gallery-slot-0: img('data/GalleryPod0.png'),
    gallery-slot-1: img('data/GalleryPod1.png'),
    gallery-slot-2: img('data/GalleryPod2.png'),
    gallery-slot-3: img('data/GalleryPod3.png'),
);

$gallery-podium: (
);

$all-gallery: map-merge($gallery-slot, $gallery-podium);
