$gaming-bits: (
    bits: img('wiki/Bits.png'),
    white-bits: img('wiki/Bits.png'),
    green-bits: img('wiki/Gaming_Bits_-_Green.png'),
    red-bits: img('wiki/Gaming_Bits_-_Red.png'),
    purple-bits: img('wiki/Gaming_Bits_-_Purple.png'),
    blue-bits: img('wiki/Gaming_Bits_-_Blue.png')
);

$gaming-imports: (
    little-sprinkler: img('gaming/GamingItem0.png'),
    gold-sprinkler: img('gaming/GamingItem0b.png'),
    dirty-shovel: img('gaming/GamingItem1.png'),
    autumn-squirrel: img('gaming/GamingItem2.png'),
    elegant-seashell: img('gaming/GamingItem3_12.png'),
    kitsune-roxie-active: img('gaming/GamingItem4.png'),
    kitsune-roxie-inactive: img('gaming/GamingItem4b.png'),
    bog-log: img('gaming/GamingItem5.png'),
    pong-controller: img('gaming/GamingItem6.png'),
    immortal-snail: img('gaming/GamingItem7.png')
);

$gaming-plants: (
    gaming-sprout: img('wiki/Gaming_Plant_0.gif'),
    gaming-fungi: img('wiki/Gaming_Plant_1.gif'),
    gaming-bonsai: img('wiki/Gaming_Plant_2.gif'),
    gaming-cactus: img('wiki/Gaming_Plant_3.gif'),
    gaming-blossom: img('wiki/Gaming_Plant_4.gif'),
    gaming-voraci: img('wiki/Gaming_Plant_5.gif'),
    gaming-berri-bush: img('wiki/Gaming_Plant_6.gif'),
    gaming-evergreen: img('wiki/Gaming_Plant_7.gif'),
    gaming-chemical: img('wiki/Gaming_Plant_8.gif')
);

$gaming-etc: (
    snail-envelope: img('customized/Gaming_Envelope.png')  //Cropped from 1x/font-585.png
);

$all-gaming: map-merge($gaming-bits, $gaming-imports);
$all-gaming: map-merge($all-gaming, $gaming-plants);
$all-gaming: map-merge($all-gaming, $gaming-etc);
