$gaming-bits: (
    white-bits: img('wiki/Bits.png'),
    green-bits: img('wiki/Gaming_Bits_-_Green.png'),
    red-bits: img('wiki/Gaming_Bits_-_Red.png'),
    purple-bits: img('wiki/Gaming_Bits_-_Purple.png'),
    blue-bits: img('wiki/Gaming_Bits_-_Blue.png')
);

$gaming-imports: ();

$gaming-plants: (
    sprout: img('wiki/Gaming_Plant_0.gif'),
    fungi: img('wiki/Gaming_Plant_1.gif'),
    bonsai: img('wiki/Gaming_Plant_2.gif'),
    cactus: img('wiki/Gaming_Plant_3.gif'),
    blossom: img('wiki/Gaming_Plant_4.gif'),
    voraci: img('wiki/Gaming_Plant_5.gif'),
    berri-bush: img('wiki/Gaming_Plant_6.gif'),
    evergreen: img('wiki/Gaming_Plant_7.gif'),
    chemical: img('wiki/Gaming_Plant_8.gif')
);


$all-gaming: map-merge($gaming-bits, $gaming-imports);
$all-gaming: map-merge($all-gaming, $gaming-plants);