$gem-shop: (
    gem-shop: img('Gem_Shop.png'),
    // Additional Aliases
    storage: img('wiki/Cosmic_Storage_Chest.png'),
    more-storage-space: img('wiki/Cosmic_Storage_Chest.png'),
    storage-chest-space: img('wiki/Cosmic_Storage_Chest.png'),

    // Normal Gem Shop stuff
    inventory-bag-u: img('wiki/Inventory_Bag_U.png'),
    storage-chest-90: img('wiki/Storage_Chest_90.png'),
    carry-capacity: img('wiki/Carry_Capacity.png'),
    food-slot: img('wiki/Food_Slot.png'),

    cosmic-storage-chest: img('wiki/Cosmic_Storage_Chest.png'),
    card-presets: img('wiki/Card_Presets.png'),
    daily-teleports: img('wiki/Daily_Teleports.png'),
    daily-minigame-plays: img('wiki/Daily_Minigame_Plays.png'),
    talent-point-reset-potion: img('wiki/Talent_Point_Reset_Potion.png'),
    star-talent-reset-potion: img('wiki/Star_Talent_Reset_Potion.png'),
    sub-class-swap-token: img('wiki/Sub_Class_Swap_Token.png'),
    post-office-box-reseto-magnifico: img('wiki/Post_Office_Box_Reseto_Magnifico.png'),
    newbie-card-pack: img('wiki/Newbie_Card_Pack.png'),
    ancient-card-pack: img('wiki/Ancient_Card_Pack.png'),
    eternal-card-pack: img('wiki/Eternal_Card_Pack.png'),
    galaxy-card-pack: img('wiki/Galaxy_Card_Pack.png'),
    extra-card-slot: img('wiki/Extra_Card_Slot.png'),
    dungeon-card-pack: img('wiki/Dungeon_Card_Pack.png'),
    cardifier-4-star: img('wiki/4_Star_Cardifier.png'),
    smolderin-card-pack: img('wiki/Smolderin_Card_Pack.png'),
    smol-arcade-balls: img('wiki/Smol_Arcade_Balls.png'),
    med-arcade-balls: img('wiki/Med_Arcade_Balls.png'),
    
    weekly-dungeon-boosters: img('wiki/Weekly_Dungeon_Boosters.png'),
    simple-key-chain: img('wiki/Simple_Key_Chain.png'),
    rustic-key-chain: img('wiki/Rustic_Key_Chain.png'),
    gilded-key-chain: img('wiki/Gilded_Key_Chain.png'),
    
    biggy-arcade-balls: img('wiki/Biggy_Arcade_Balls.png'),
    falloween-treat: img('wiki/Falloween_Treat.png'),
    dragonic-liquid-cauldron: img('wiki/Dragonic_Liquid_Cauldron.png'),
    cardifier-5-star: img('wiki/5_Star_Cardifier.png'),
    
    borzoi-topper: img('wiki/Borzoi_Topper.png'),
    trophie: img('wiki/Trophie.png'),
    gold-pocketwatch: img('wiki/Gold_Pocketwatch.png'),
    silver-pocketwatch: img('wiki/Silver_Pocketwatch.png'),
    
    hat-premiumifier: img('wiki/Hat_Premiumifier.png'),
    premium-str-stone: img('wiki/Premium_STR_Stone.png'),
    premium-agi-stone: img('wiki/Premium_AGI_Stone.png'),
    premium-wis-stone: img('wiki/Premium_WIS_Stone.png'),
    premium-luk-stone: img('wiki/Premium_LUK_Stone.png'),
    premium-bonus-swapper: img('wiki/Premium_Bonus_Swapper.png'),
    premium-stone-refunder: img('wiki/Premium_Stone_Refunder.png'),
    
    infinity-hammer: img('wiki/Infinity_Hammer.png'),
    brimstone-forge-slot: img('wiki/Brimstone_Forge_Slot.png'),
    
    ivory-bubble-cauldrons: img('wiki/Ivory_Bubble_Cauldrons.png'),
    bleach-liquid-cauldrons: img('wiki/Bleach_Liquid_Cauldrons.png'),
    obol-storage-space: img('wiki/Obol_Storage_Space.png'),
    quality-obol-stack: img('wiki/Quality_Obol_Stack.png'),
    marvelous-obol-stack: img('wiki/Marvelous_Obol_Stack.png'),
    sigil-supercharge: img('wiki/Sigil_Supercharge.png'),
    
    crystal-3d-printer: img('wiki/Crystal_3d_Printer.png'),
    more-sample-spaces: img('wiki/More_Sample_Spaces.png'),
    burning-bad-books: img('wiki/Burning_Bad_Books.png'),
    prayer-slots: img('wiki/Prayer_Slots.png'),
    zen-cogs: img('wiki/Zen_Cogs.png'),
    cog-inventory-space: img('wiki/Cog_Inventory_Space.png'),
    tower-building-slots: img('wiki/Tower_Building_Slots.png'),
    fluorescent-flaggies: img('wiki/Fluorescent_Flaggies.png'),
    
    royal-egg-cap: img('wiki/Royal_Egg_Cap.png'),
    richelin-kitchen: img('wiki/Richelin_Kitchen.png'),
    console-chip: img('wiki/Console_Chip.png'),
    mainframe-jewel: img('wiki/Mainframe_Jewel.png'),
    souped-up-tube: img('wiki/Souped_Up_Tube.png'),
    pet-storage: img('wiki/Pet_Storage.png'),
    fenceyard-space: img('wiki/Fenceyard_Space.png'),
    pet-egg: img('wiki/Pet_Egg.png'),
    
    miracle-chest: img('wiki/Miracle_Chest.png'),
    bottled-wind: img('wiki/Bottled_Wind.png'),
    chest-sluggo: img('wiki/Chest_Sluggo.png'),
    ancient-artifact: img('wiki/Ancient_Artifact.png'),
    divinity-sparkie: img('wiki/Divinity_Sparkie.png'),
    golden-sprinkler: img('wiki/Golden_Sprinkler.png'),
    gaming-fertilizer: img('wiki/Gaming_Fertilizer.png'),
    lava-sprouts: img('wiki/Lava_Sprouts.png'),
    
    plot-of-land: img('wiki/Plot_Of_Land.png'),
    pristine-charm: img('wiki/Pristine_Charm.png'),
    shroom-familiar: img('wiki/Shroom_Familiar.png'),
    sand-of-time: img('wiki/Sand_of_Time.png'),
    instagrow-generator: img('wiki/Instagrow_Generator.png'),
    life-refill: img('wiki/Life_Refill.png'),
    compost-bag: img('wiki/Compost_Bag.png'),
    summoner-stone: img('wiki/Summoner_Stone.png'),
    
    halloween-pumpkin: img('wiki/Halloween_Pumpkin.png'),
    pardoned-turkey: img('wiki/Pardoned_Turkey.png'),
    snowman-premium-helmet-: img('wiki/Snowman_%28Premium_Helmet%29.png'),
    smittys-bubble-blowing-hat: img('wiki/Smitty%27s_Bubble_Blowing_Hat.png'),
    bandit-bob-mask: img('wiki/Bandit_Bob_Mask.png'),
    hotdog-hero: img('wiki/Hotdog_Hero.png'),
    
    dungeon-loot-dice: img('wiki/Dungeon_Loot_Dice.png'),
);