@import "sailing";

$cosmic-storage-chest: img('data/InvStorage99.png');
$storage-chest-90: img('wiki/Storage_Chest_90.png');

$gem-shop: (
    gem-shop: img('Gem_Shop.png'),
    // Additional Aliases
    storage: $cosmic-storage-chest,
    storage-chest-space: $storage-chest-90,
    more-storage-space: $cosmic-storage-chest,

    // Normal Gem Shop stuff
    inventory-bag-u: img('data/InvBag21.png'),
    storage-chest-90: $storage-chest-90,
    carry-capacity: img('wiki/Carry_Capacity.png'),
    food-slot: img('wiki/Food_Slot.png'),

    cosmic-storage-chest: $cosmic-storage-chest,
    card-presets: img('wiki/Card_Presets.png'),
    daily-teleports: img('wiki/Daily_Teleports.png'),
    daily-minigame-plays: img('wiki/Daily_Minigame_Plays.png'),
    talent-point-reset-potion: img('wiki/Talent_Point_Reset_Potion.png'),
    star-talent-reset-potion: img('wiki/Star_Talent_Reset_Potion.png'),
    sub-class-swap-token: img('wiki/Sub_Class_Swap_Token.png'),
    post-office-box-reseto-magnifico: img('wiki/Post_Office_Box_Reseto_Magnifico.png'),
    newbie-card-pack: img('wiki/Newbie_Card_Pack.png'),
    ancient-card-pack: img('wiki/Ancient_Card_Pack.png'),
    eternal-card-pack: img('wiki/Eternal_Card_Pack.png'),
    galaxy-card-pack: img('wiki/Galaxy_Card_Pack.png'),
    dungeon-card-pack: img('wiki/Dungeon_Card_Pack.png'),
    smolderin-card-pack: img('wiki/Smolderin_Card_Pack.png'),
    spirit-card-pack: img('wiki/Spirit_Card_Pack.png'),
    extra-card-slot: img('wiki/Extra_Card_Slot.png'),
    cardifier-4-star: img('wiki/4_Star_Cardifier.png'),

    smol-arcade-balls: img('wiki/Smol_Arcade_Balls.png'),
    med-arcade-balls: img('wiki/Med_Arcade_Balls.png'),
    
    weekly-dungeon-boosters: img('wiki/Weekly_Dungeon_Boosters.png'),
    //key-chains in _equipment $equipment-keychains
    
    biggy-arcade-balls: img('wiki/Biggy_Arcade_Balls.png'),
    falloween-treat: img('wiki/Falloween_Treat.png'),
    cardifier-5-star: img('wiki/5_Star_Cardifier.png'),

    trophie: img('wiki/Trophie.png'),
    gold-pocketwatch: img('wiki/Gold_Pocketwatch.png'),
    silver-pocketwatch: img('wiki/Silver_Pocketwatch.png'),
    
    hat-premiumifier: img('data/Ht.png'),
    //premium stones in _equipment $equipment-stones
    
    infinity-hammer: img('wiki/Infinity_Hammer.png'),
    brimstone-forge-slot: img('wiki/Brimstone_Forge_Slot.png'),
    
    ivory-bubble-cauldrons: img('wiki/Ivory_Bubble_Cauldrons.png'),
    bleach-liquid-cauldrons: img('wiki/Bleach_Liquid_Cauldrons.png'),
    obol-storage-space: img('wiki/Obol_Storage_Space.png'),
    quality-obol-stack: img('wiki/Quality_Obol_Stack.png'),
    marvelous-obol-stack: img('wiki/Marvelous_Obol_Stack.png'),
    sigil-supercharge: img('wiki/Sigil_Supercharge.png'),
    
    crystal-3d-printer: img('wiki/Crystal_3d_Printer.png'),
    more-sample-spaces: img('wiki/More_Sample_Spaces.png'),
    burning-bad-books: img('wiki/Burning_Bad_Books.png'),
    prayer-slots: img('wiki/Prayer_Slots.png'),
    zen-cogs: img('wiki/Zen_Cogs.png'),
    cog-inventory-space: img('wiki/Cog_Inventory_Space.png'),
    tower-building-slots: img('wiki/Tower_Building_Slots.png'),
    fluorescent-flaggies: img('wiki/Fluorescent_Flaggies.png'),
    
    royal-egg-cap: img('wiki/Royal_Egg_Cap.png'),
    richelin-kitchen: img('wiki/Richelin_Kitchen.png'),
    console-chip: img('wiki/Console_Chip.png'),
    mainframe-jewel: img('wiki/Mainframe_Jewel.png'),
    souped-up-tube: img('wiki/Souped_Up_Tube.png'),
    pet-storage: img('wiki/Pet_Storage.png'),
    fenceyard-space: img('wiki/Fenceyard_Space.png'),
    pet-egg: img('wiki/Pet_Egg.png'),
    
    miracle-chest: map-get($chests, miracle-chest),
    bottled-wind: img('wiki/Bottled_Wind.png'),
    chest-sluggo: img('wiki/Chest_Sluggo.png'),
    ancient-artifact: img('wiki/Ancient_Artifact.png'),
    divinity-sparkie: img('wiki/Divinity_Sparkie.png'),
    golden-sprinkler: img('wiki/Golden_Sprinkler.png'),
    gaming-fertilizer: img('wiki/Gaming_Fertilizer.png'),
    lava-sprouts: img('wiki/Lava_Sprouts.png'),
    
    plot-of-land: img('wiki/Plot_Of_Land.png'),
    pristine-charm: img('wiki/Pristine_Charm.png'),
    shroom-familiar: img('wiki/Shroom_Familiar.png'),
    sand-of-time: img('wiki/Sand_of_Time.png'),
    instagrow-generator: img('wiki/Instagrow_Generator.png'),
    life-refill: img('wiki/Life_Refill.png'),
    compost-bag: img('wiki/Compost_Bag.png'),
    summoner-stone: img('wiki/Summoner_Stone.png'),
    
    dungeon-loot-dice: img('wiki/Dungeon_Loot_Dice.png'),

    two-hour-lantern: img('wiki/2_Hour_Lantern.png'),
    parallel-villagers: img('wiki/Parallel_Villagers.png'),
    parallel-villagers-the-explorer: img('wiki/Polonai.gif'),
    parallel-villagers-the-engineer: img('wiki/Kaipu.gif'),
    parallel-villagers-the-conjuror: img('wiki/Cosmos.gif'),
    parallel-villagers-the-measurer: img('wiki/Minau.gif'),
    resource-boost: img('wiki/Resource_Boost.png'),
    conjuror-pts: img('wiki/Conjuror_Pts.png'),
    opal: img('wiki/Opal.png'),

    //Limited FOMO Shop stuff
    equinox-pingy: img('data/GemP44.png'),
    rupie-slug: img('data/GemP38.png'),
    dragonic-liquid-cauldron: img('wiki/Dragonic_Liquid_Cauldron.png'),
    exalted-stamps: img('data/GemP39.png'),
    lifetime-tickets: img('data/GemP45.png'),
    single-entry: img('data/GemP46.png'),
);