$guild-bonus-map: (
    guild-gifts: img('data/Gbonus0.png'),
    stat-runes: img('data/Gbonus1.png'),
    rucksack: img('data/Gbonus2.png'),
    power-of-pow: img('data/Gbonus3.png'),
    rem-fighting: img('data/Gbonus4.png'),
    make-or-break: img('data/Gbonus5.png'),
    multi-tool: img('data/Gbonus6.png'),
    sleepy-skiller: img('data/Gbonus7.png'),
    coin-supercharger: img('data/Gbonus8.png'),
    bonus-gp-for-small-guilds: img('data/Gbonus9.png'),
    gold-charm: img('data/Gbonus10.png'),
    star-dazzle: img('data/Gbonus11.png'),
    c2-card-spotter: img('data/Gbonus12.png'),
    bestone: img('data/Gbonus13.png'),
    skilley-skillet: img('data/Gbonus14.png'),
    craps: img('data/Gbonus15.png'),
    anotha-one: img('data/Gbonus16.png'),
    wait-a-minute: img('data/Gbonus17.png')
);
