$guild-bonus-map: (
    guild-gifts: img('wiki/Guild_Gifts.png'),
    stat-runes: img('wiki/Stat_Runes.png'),
    rucksack: img('wiki/Rucksack.png'),
    power-of-pow: img('wiki/Power_of_Pow'),
    rem-fighting: img('wikiREM_Fighting'),
    make-or-break: img('wiki/Make_or_Break.png'),
    multi-tool: img('wiki/Multi_Tool.png'),
    skilley-skiller: img('wiki/Skilley_Skiller.png'),
    coin-supercharger: img('wiki/Coin_Supercharger.png'),
    bonus-gp-for-small-guilds: img('wiki/Bonus_GP_for_small_guilds.png'),
    gold-charm: img('wiki/Gold_Charm.png'),
    star-dazzle: img('wiki/Star_Dazzle.png'),
    c2-card-spotter: img('wiki/C2_Card_Spotter.png'),
    bestone: img('wiki/Bestone.png'),
    sleepy-skillet: img('wiki/Sleepy_Skillet.png'),
    craps: img('wiki/Craps.png'),
    anotha-one: img('wiki/Anotha_One.png'),
    wait-a-minute: img('wiki/Wait_A_Minute.png')
);
