$killroy-upgrades: (
    //Cropped from 1x/font-544.png
    killroy-timer: img('customized/killroy_upgrade_01.png'),
    killroy-talent-points: img('customized/killroy_upgrade_02.png'),
    killroy-skulls: img('customized/customized.png'),
    killroy-respawn: img('customized/killroy_upgrade_04.png'),
    killroy-dungeon-credits: img('customized/killroy_upgrade_05.png'),
    killroy-pearls: img('customized/killroy_upgrade_06.png'),
);

$killroy-etc: (
    killroy-skull: img('wiki/Killroy_Skull.png')
);

$killroy-skull-shop: (
    killroy-third-battle: img('wiki/Killroy_Skull_Shop_11.png'),
    killroy-artifact-chance: img('wiki/Killroy_Skull_Shop_12.png'),
    killroy-crop-evolution: img('wiki/Killroy_Skull_Shop_14.png'),
    killroy-jade: img('wiki/Killroy_Skull_Shop_15.png'),
);

$all-killroy: map-merge($killroy-upgrades, $killroy-etc);
$all-killroy: map-merge($all-killroy, $killroy-skull-shop);
