$nodes: (
	animal-farm: wiki("6/6b/Animal_Farm_Lab_Bonus.png"),
	wired-in: wiki("6/61/Wired_In_Lab_Bonus.png"),
	gilded-cyclical-tubing: wiki("9/9c/Gilded_Cyclical_Tubing_Lab_Bonus.png"),
	no-bubble-left-behind: wiki("7/75/No_Bubble_Left_Behind_Lab_Bonus.png"),
	killers-brightside: wiki("8/8c/Killer%27s_Brightside_Lab_Bonus.png"),
	shrine-world-tour: wiki("2/2d/Shrine_World_Tour_Lab_Bonus.png"),
	viaduct-of-the-gods: wiki("0/06/Viaduct_of_the_Gods_Lab_Bonus.png"),
	certified-stamp-book: wiki("2/29/Certified_Stamp_Book_Lab_Bonus.png"),
	spelunker-obol: wiki("3/33/Spelunker_Obol_Lab_Bonus.png"),
	fungi-finger-pocketer: wiki("7/78/Fungi_Finger_Pocketer_Lab_Bonus.png"),
	my-1st-chemistry-set: wiki("f/f2/My_1st_Chemistry_Set_Lab_Bonus.png"),
	unadulterated-banking-fury: wiki("c/cd/Unadulterated_Banking_Fury_Lab_Bonus.png"),
	sigils-of-olden-alchemy: wiki("a/af/Sigils_of_Olden_Alchemy_Lab_Bonus.png"),
	viral-connection: wiki("a/aa/Viral_Connection_Lab_Bonus.png"),
	artifact-attraction: wiki("5/5e/Artifact_Attraction_Lab_Bonus.png"),
	slab-sovereignty: wiki("6/6b/Slab_Sovereignty_Lab_Bonus.png"),
	spiritual-growth: wiki("9/9f/Spiritual_Growth_Lab_Bonus.png"),
	depot-studies-phd: wiki("f/fd/Depot_Studies_PhD_Lab_Bonus.png"),
);

$jewels: (
    amethyst-rhinestone: wiki("5/5e/Console_Jewel_Amethyst_Rhinestone.png"),
	purple-navette: wiki("a/aa/Console_Jewel_Purple_Navette.png"),
	purple-rhombol: wiki("e/e6/Console_Jewel_Purple_Rhombol.png"),
	sapphire-rhinestone: wiki("c/c6/Console_Jewel_Sapphire_Rhinestone.png"),
	sapphire-navette: wiki("4/43/Console_Jewel_Sapphire_Navette.png"),
	sapphire-rhombol: wiki("e/e9/Console_Jewel_Sapphire_Rhombol.png"),
	sapphire-pyramite: wiki("c/c0/Console_Jewel_Sapphire_Pyramite.png"),
	pyrite-rhinestone: wiki("6/67/Console_Jewel_Pyrite_Rhinestone.png"),
	pyrite-navette: wiki("b/b4/Console_Jewel_Pyrite_Navette.png"),
	pyrite-rhombol: wiki("a/a0/Console_Jewel_Pyrite_Rhombol.png"),
	pyrite-pyramite: wiki("2/26/Console_Jewel_Pyrite_Pyramite.png"),
	emerald-rhinestone: wiki("a/a9/Console_Jewel_Emerald_Rhinestone.png"),
	emerald-navette: wiki("4/47/Console_Jewel_Emerald_Navette.png"),
	emerald-rhombol: wiki("9/99/Console_Jewel_Emerald_Rhombol.png"),
	emerald-pyramite: wiki("1/15/Console_Jewel_Emerald_Pyramite.png"),
	emerald-ulthurite: wiki("f/f5/Console_Jewel_Emerald_Ulthurite.png"),
	black-diamond-rhinestone: wiki("f/f7/Console_Jewel_Black_Diamond_Rhinestone.png"),
	black-diamond-ulthurite: wiki("5/5b/Console_Jewel_Black_Diamond_Ulthurite.png"),
	pure-opal-rhinestone: wiki("4/41/Console_Jewel_Pure_Opal_Rhinestone.png"),
	pure-opal-navette: wiki("9/9a/Console_Jewel_Pure_Opal_Navette.png"),
	pure-opal-rhombol: wiki("f/f8/Console_Jewel_Pure_Opal_Rhombol.png"),
);

$chips: (
	grounded-nanochip: wiki("0/05/Lab_-_Grounded_Nanochip.png"),
	grounded-motherboard: wiki("4/49/Lab_-_Grounded_Motherboard.png"),
	grounded-software: wiki("b/bc/Lab_-_Grounded_Software.png"),
	grounded-processor: wiki("7/7e/Lab_-_Grounded_Processor.png"),
	potato-chip: wiki("0/0d/Lab_-_Potato_Chip.png"),
	conductive-nanochip: wiki("6/6e/Lab_-_Conductive_Nanochip.png"),
	conductive-motherboard: wiki("a/ab/Lab_-_Conductive_Motherboard.png"),
	conductive-software: wiki("5/54/Lab_-_Conductive_Software.png"),
	conductive-processor: wiki("d/da/Lab_-_Conductive_Processor.png"),
	chocolatey-chip: wiki("1/1a/Lab_-_Chocolatey_Chip.png"),
	galvanic-nanochip: wiki("4/41/Lab_-_Galvanic_Nanochip.png"),
	galvanic-motherboard: wiki("c/c6/Lab_-_Galvanic_Motherboard.png"),
	galvanic-software: wiki("d/db/Lab_-_Galvanic_Software.png"),
	galvanic-processor: wiki("f/f7/Lab_-_Galvanic_Processor.png"),
	wood-chip: wiki("3/35/Lab_-_Wood_Chip.png"),
	silkrode-nanochip: wiki("6/6e/Lab_-_Silkrode_Nanochip.png"),
	silkrode-motherboard: wiki("9/9e/Lab_-_Silkrode_Motherboard.png"),
	silkrode-software: wiki("1/1c/Lab_-_Silkrode_Software.png"),
	silkrode-processor: wiki("3/3d/Lab_-_Silkrode_Processor.png"),
	poker-chip: wiki("d/d8/Lab_-_Poker_Chip.png"),
	omega-nanochip: wiki("b/bc/Lab_-_Omega_Nanochip.png"),
	omega-motherboard: wiki("3/3b/Lab_-_Omega_Motherboard.png"),
);

$all-laboratory: map-merge($nodes, $jewels);
$all-laboratory: map-merge($all-laboratory, $chips);
