$nodes: (
	animal-farm: img('wiki/Animal_Farm_Lab_Bonus.png'),
	wired-in: img('wiki/Wired_In_Lab_Bonus.png'),
	gilded-cyclical-tubing: img('wiki/Gilded_Cyclical_Tubing_Lab_Bonus.png'),
	no-bubble-left-behind: img('wiki/No_Bubble_Left_Behind_Lab_Bonus.png'),
	killers-brightside: img('wiki/Killer%27s_Brightside_Lab_Bonus.png'),
	shrine-world-tour: img('wiki/Shrine_World_Tour_Lab_Bonus.png'),
	viaduct-of-the-gods: img('wiki/Viaduct_of_the_Gods_Lab_Bonus.png'),
	certified-stamp-book: img('wiki/Certified_Stamp_Book_Lab_Bonus.png'),
	spelunker-obol: img('wiki/Spelunker_Obol_Lab_Bonus.png'),
	fungi-finger-pocketer: img('wiki/Fungi_Finger_Pocketer_Lab_Bonus.png'),
	my-1st-chemistry-set: img('wiki/My_1st_Chemistry_Set_Lab_Bonus.png'),
	unadulterated-banking-fury: img('wiki/Unadulterated_Banking_Fury_Lab_Bonus.png'),
	sigils-of-olden-alchemy: img('wiki/Sigils_of_Olden_Alchemy_Lab_Bonus.png'),
	viral-connection: img('wiki/Viral_Connection_Lab_Bonus.png'),
	artifact-attraction: img('wiki/Artifact_Attraction_Lab_Bonus.png'),
	slab-sovereignty: img('wiki/Slab_Sovereignty_Lab_Bonus.png'),
	spiritual-growth: img('wiki/Spiritual_Growth_Lab_Bonus.png'),
	depot-studies-phd: img('wiki/Depot_Studies_PhD_Lab_Bonus.png'),
);

$jewels: (
    amethyst-rhinestone: img('data/ConsoleJwl0.png'),
	purple-navette: img('data/ConsoleJwl1.png'),
	purple-rhombol: img('data/ConsoleJwl2.png'),
	sapphire-rhinestone: img('data/ConsoleJwl3.png'),
	sapphire-navette: img('data/ConsoleJwl4.png'),
	sapphire-rhombol: img('data/ConsoleJwl5.png'),
	sapphire-pyramite: img('data/ConsoleJwl6.png'),
	pyrite-rhinestone: img('data/ConsoleJwl7.png'),
	pyrite-navette: img('data/ConsoleJwl8.png'),
	pyrite-rhombol: img('data/ConsoleJwl9.png'),
	pyrite-pyramite: img('data/ConsoleJwl10.png'),
	emerald-rhinestone: img('data/ConsoleJwl11.png'),
	emerald-navette: img('data/ConsoleJwl12.png'),
	emerald-rhombol: img('data/ConsoleJwl13.png'),
	emerald-pyramite: img('data/ConsoleJwl14.png'),
	emerald-ulthurite: img('data/ConsoleJwl15.png'),
	black-diamond-rhinestone: img('data/ConsoleJwl16.png'),
	black-diamond-ulthurite: img('data/ConsoleJwl17.png'),
	pure-opal-rhinestone: img('data/ConsoleJwl18.png'),
	pure-opal-navette: img('data/ConsoleJwl19.png'),
	pure-opal-rhombol: img('data/ConsoleJwl20.png'),
	deadly-wrath-jewel: img('data/ConsoleJwl21.png'),
	north-winds-jewel: img('data/ConsoleJwl22.png'),
	eternal-energy-jewel: img('data/ConsoleJwl23.png')
);

$chips: (
	grounded-nanochip: img('wiki/Lab_-_Grounded_Nanochip.png'),
	grounded-motherboard: img('wiki/Lab_-_Grounded_Motherboard.png'),
	grounded-software: img('wiki/Lab_-_Grounded_Software.png'),
	grounded-processor: img('wiki/Lab_-_Grounded_Processor.png'),
	potato-chip: img('wiki/Lab_-_Potato_Chip.png'),
	conductive-nanochip: img('wiki/Lab_-_Conductive_Nanochip.png'),
	conductive-motherboard: img('wiki/Lab_-_Conductive_Motherboard.png'),
	conductive-software: img('wiki/Lab_-_Conductive_Software.png'),
	conductive-processor: img('wiki/Lab_-_Conductive_Processor.png'),
	chocolatey-chip: img('wiki/Lab_-_Chocolatey_Chip.png'),
	galvanic-nanochip: img('wiki/Lab_-_Galvanic_Nanochip.png'),
	galvanic-motherboard: img('wiki/Lab_-_Galvanic_Motherboard.png'),
	galvanic-software: img('wiki/Lab_-_Galvanic_Software.png'),
	galvanic-processor: img('wiki/Lab_-_Galvanic_Processor.png'),
	wood-chip: img('wiki/Lab_-_Wood_Chip.png'),
	silkrode-nanochip: img('wiki/Lab_-_Silkrode_Nanochip.png'),
	silkrode-motherboard: img('wiki/Lab_-_Silkrode_Motherboard.png'),
	silkrode-software: img('wiki/Lab_-_Silkrode_Software.png'),
	silkrode-processor: img('wiki/Lab_-_Silkrode_Processor.png'),
	poker-chip: img('wiki/Lab_-_Poker_Chip.png'),
	omega-nanochip: img('wiki/Lab_-_Omega_Nanochip.png'),
	omega-motherboard: img('wiki/Lab_-_Omega_Motherboard.png'),
);

$all-laboratory: map-merge($nodes, $jewels);
$all-laboratory: map-merge($all-laboratory, $chips);
