$legend-talents: (
    legend-talents: img('extracted_sprites/Whallamus0.png'),
    legend-talent-0: img('data/LegendTalentIcon0.png'),
    legend-talent-1: img('data/LegendTalentIcon1.png'),
    legend-talent-2: img('data/LegendTalentIcon2.png'),
    legend-talent-3: img('data/LegendTalentIcon3.png'),
    legend-talent-4: img('data/LegendTalentIcon4.png'),
    legend-talent-5: img('data/LegendTalentIcon5.png'),
    legend-talent-6: img('data/LegendTalentIcon6.png'),
    legend-talent-7: img('data/LegendTalentIcon7.png'),
    legend-talent-8: img('data/LegendTalentIcon8.png'),
    legend-talent-9: img('data/LegendTalentIcon9.png'),
    legend-talent-10: img('data/LegendTalentIcon10.png'),
    legend-talent-11: img('data/LegendTalentIcon11.png'),
    legend-talent-12: img('data/LegendTalentIcon12.png'),
    legend-talent-13: img('data/LegendTalentIcon13.png'),
    legend-talent-14: img('data/LegendTalentIcon14.png'),
    legend-talent-15: img('data/LegendTalentIcon15.png'),
    legend-talent-16: img('data/LegendTalentIcon16.png'),
    legend-talent-17: img('data/LegendTalentIcon17.png'),
    legend-talent-18: img('data/LegendTalentIcon18.png'),
    legend-talent-19: img('data/LegendTalentIcon19.png'),
    legend-talent-20: img('data/LegendTalentIcon20.png'),
    legend-talent-21: img('data/LegendTalentIcon21.png'),
    legend-talent-22: img('data/LegendTalentIcon22.png'),
    legend-talent-23: img('data/LegendTalentIcon23.png'),
    legend-talent-24: img('data/LegendTalentIcon24.png'),
    legend-talent-25: img('data/LegendTalentIcon25.png'),
    legend-talent-26: img('data/LegendTalentIcon26.png'),
    legend-talent-27: img('data/LegendTalentIcon27.png'),
    legend-talent-28: img('data/LegendTalentIcon28.png'),
    legend-talent-29: img('data/LegendTalentIcon29.png'),
    legend-talent-30: img('data/LegendTalentIcon30.png'),
    legend-talent-31: img('data/LegendTalentIcon31.png'),
    legend-talent-32: img('data/LegendTalentIcon32.png'),
    legend-talent-33: img('data/LegendTalentIcon33.png'),
    legend-talent-34: img('data/LegendTalentIcon34.png'),
    legend-talent-35: img('data/LegendTalentIcon35.png'),
    legend-talent-36: img('data/LegendTalentIcon36.png'),
    legend-talent-37: img('data/LegendTalentIcon37.png'),
    legend-talent-38: img('data/LegendTalentIcon38.png'),
    legend-talent-39: img('data/LegendTalentIcon39.png'),
);

$all-legend-talents: $legend-talents;