$meals: (
	turkey-a-la-thank: img('wiki/Turkey_a_la_Thank.png'),
	egg: img('wiki/Egg.png'),
	salad: img('wiki/Salad.png'),
	pie: img('wiki/Pie.png'),
	frenk-fries: img('wiki/Frenk_Fries.png'),
	spaghetti: img('wiki/Spaghetti.png'),
	corn: img('wiki/Corn.png'),
	garlic-bread: img('wiki/Garlic_Bread.png'),
	garlicless-bread: img('wiki/Garlicless_Bread.png'),
	pizza: img('wiki/Pizza.png'),
	apple: img('wiki/Apple.png'),
	pancakes: img('wiki/Pancakes.png'),
	corndog: img('wiki/Corndog.png'),
	cabbage: img('wiki/Cabbage.png'),
	potato-pea-pastry: img('wiki/Potato_Pea_Pastry.png'),
	dango: img('wiki/Dango.png'),
	sourish-fish: img('wiki/Sourish_Fish.png'),
	octoplop: img('wiki/Octoplop.png'),
	croissant: img('wiki/Croissant.png'),
	canopy: img('wiki/Canopy.png'),
	cannoli: img('wiki/Cannoli.png'),
	cheese: img('wiki/Cheese.png'),
	sawdust: img('wiki/Sawdust.png'),
	eggplant: img('wiki/Eggplant.png'),
	cheesy-bread: img('wiki/Cheesy_Bread.png'),
	wild-boar: img('wiki/Wild_Boar.png'),
	donut: img('wiki/Donut.png'),
	riceball: img('wiki/Riceball.png'),
	cauliflower: img('wiki/Cauliflower.png'),
	durian-fruit: img('wiki/Durian_Fruit.png'),
	orange: img('wiki/Orange.png'),
	bunt-cake: img('wiki/Bunt_Cake.png'),
	chocolate-truffle: img('wiki/Chocolate_Truffle.png'),
	leek: img('wiki/Leek.png'),
	fortune-cookie: img('wiki/Fortune_Cookie.png'),
	pretzel: img('wiki/Pretzel.png'),
	sea-urchin: img('wiki/Sea_Urchin.png'),
	mashed-potato: img('wiki/Mashed_Potato.png'),
	mutton: img('wiki/Mutton.png'),
	wedding-cake: img('wiki/Wedding_Cake.png'),
	eel: img('wiki/Eel.png'),
	whipped-cocoa: img('wiki/Whipped_Cocoa.png'),
	onion: img('wiki/Onion.png'),
	soda: img('wiki/Soda.png'),
	sushi-roll: img('wiki/Sushi_Roll.png'),
	buncha-banana: img('wiki/Buncha_Banana.png'),
	pumpkin: img('wiki/Pumpkin.png'),
	cotton-candy: img('wiki/Cotton_Candy.png'),
	massive-fig: img('wiki/Massive_Fig.png'),
	head-chef-geustloaf: img('wiki/Head_Chef_Geustloaf.png'),
	kiwi-fruit: img('wiki/Kiwi_Fruit.png'),
	popped-corn: img('wiki/Popped_Corn.png'),
	double-cherry: img('wiki/Double_Cherry.png'),
	ratatouey: img('wiki/Ratatouey.png'),
	giant-tomato: img('wiki/Giant_Tomato.png'),
	wrath-grapes: img('wiki/Wrath_Grapes.png'),
	sausy-sausage: img('wiki/Sausy_Sausage.png'),
	seasoned-marrow: img('wiki/Seasoned_Marrow.png'),
	sticky-bun: img('wiki/Sticky_Bun.png'),
	frazzleberry: img('wiki/Frazzleberry.png'),
	misterloin-steak: img('wiki/Misterloin_Steak.png'),
	large-pohayoh: img('wiki/Large_Pohayoh.png'),
	bill-jack-pepper: img('wiki/Bill_Jack_Pepper.png'),
	burned-marshmallow: img('wiki/Burned_Marshmallow.png'),
	yumi-peachring: img('wiki/Yumi_Peachring.png'),
	plumpcakes: img('wiki/Plumpcakes.png'),
	nyanborgir: img('wiki/Nyanborgir.png')
);
