$meals: (
	turkey-a-la-thank-meal: img('wiki/Turkey_a_la_Thank.png'),
	egg-meal: img('wiki/Egg.png'),
	salad-meal: img('wiki/Salad.png'),
	pie-meal: img('wiki/Pie.png'),
	frenk-fries-meal: img('wiki/Frenk_Fries.png'),
	spaghetti-meal: img('wiki/Spaghetti.png'),
	corn-meal: img('wiki/Corn.png'),
	garlic-bread-meal: img('wiki/Garlic_Bread.png'),
	garlicless-bread-meal: img('wiki/Garlicless_Bread.png'),
	pizza-meal: img('wiki/Pizza.png'),
	apple-meal: img('wiki/Apple.png'),
	pancakes-meal: img('wiki/Pancakes.png'),
	corndog-meal: img('wiki/Corndog.png'),
	cabbage-meal: img('wiki/Cabbage.png'),
	potato-pea-pastry-meal: img('wiki/Potato_Pea_Pastry.png'),
	dango-meal: img('wiki/Dango.png'),
	sourish-fish-meal: img('wiki/Sourish_Fish.png'),
	octoplop-meal: img('wiki/Octoplop.png'),
	croissant-meal: img('wiki/Croissant.png'),
	canopy-meal: img('wiki/Canopy.png'),
	cannoli-meal: img('wiki/Cannoli.png'),
	cheese-meal: img('wiki/Cheese.png'),
	sawdust-meal: img('wiki/Sawdust.png'),
	eggplant-meal: img('wiki/Eggplant.png'),
	cheesy-bread-meal: img('wiki/Cheesy_Bread.png'),
	wild-boar-meal: img('wiki/Wild_Boar.png'),
	donut-meal: img('wiki/Donut.png'),
	riceball-meal: img('wiki/Riceball.png'),
	cauliflower-meal: img('wiki/Cauliflower.png'),
	durian-fruit-meal: img('wiki/Durian_Fruit.png'),
	orange-meal: img('wiki/Orange.png'),
	bunt-cake-meal: img('wiki/Bunt_Cake.png'),
	chocolate-truffle-meal: img('wiki/Chocolate_Truffle.png'),
	leek-meal: img('wiki/Leek.png'),
	fortune-cookie-meal: img('wiki/Fortune_Cookie.png'),
	pretzel-meal: img('wiki/Pretzel.png'),
	sea-urchin-meal: img('wiki/Sea_Urchin.png'),
	mashed-potato-meal: img('wiki/Mashed_Potato.png'),
	mutton-meal: img('wiki/Mutton.png'),
	wedding-cake-meal: img('wiki/Wedding_Cake.png'),
	eel-meal: img('wiki/Eel.png'),
	whipped-cocoa-meal: img('wiki/Whipped_Cocoa.png'),
	onion-meal: img('wiki/Onion.png'),
	soda-meal: img('wiki/Soda.png'),
	sushi-roll-meal: img('wiki/Sushi_Roll.png'),
	buncha-banana-meal: img('wiki/Buncha_Banana.png'),
	pumpkin-meal: img('wiki/Pumpkin.png'),
	cotton-candy-meal: img('wiki/Cotton_Candy.png'),
	massive-fig-meal: img('wiki/Massive_Fig.png'),
	head-chef-geustloaf-meal: img('wiki/Head_Chef_Geustloaf.png'),
	kiwi-fruit-meal: img('wiki/Kiwi_Fruit.png'),
	popped-corn-meal: img('wiki/Popped_Corn.png'),
	double-cherry-meal: img('wiki/Double_Cherry.png'),
	ratatouey-meal: img('wiki/Ratatouey.png'),
	giant-tomato-meal: img('wiki/Giant_Tomato.png'),
	wrath-grapes-meal: img('wiki/Wrath_Grapes.png'),
	sausy-sausage-meal: img('wiki/Sausy_Sausage.png'),
	seasoned-marrow-meal: img('wiki/Seasoned_Marrow.png'),
	sticky-bun-meal: img('wiki/Sticky_Bun.png'),
	frazzleberry-meal: img('wiki/Frazzleberry.png'),
	misterloin-steak-meal: img('wiki/Misterloin_Steak.png'),
	large-pohayoh-meal: img('wiki/Large_Pohayoh.png'),
	bill-jack-pepper-meal: img('wiki/Bill_Jack_Pepper.png'),
	burned-marshmallow-meal: img('wiki/Burned_Marshmallow.png'),
	yumi-peachring-meal: img('wiki/Yumi_Peachring.png'),
	plumpcakes-meal: img('wiki/Plumpcakes.png'),
	nyanborgir-meal: img('wiki/Nyanborgir.png')
);

$ribbons: (
    meal-ribbon-1: img('data/Ribbon0.png'),
    meal-ribbon-2: img('data/Ribbon1.png'),
    meal-ribbon-3: img('data/Ribbon2.png'),
    meal-ribbon-4: img('data/Ribbon3.png'),
    meal-ribbon-5: img('data/Ribbon4.png'),
    meal-ribbon-6: img('data/Ribbon5.png'),
    meal-ribbon-7: img('data/Ribbon6.png'),
    meal-ribbon-8: img('data/Ribbon7.png'),
    meal-ribbon-9: img('data/Ribbon8.png'),
    meal-ribbon-10: img('data/Ribbon9.png'),
    meal-ribbon-11: img('data/Ribbon10.png'),
    meal-ribbon-12: img('data/Ribbon11.png'),
    meal-ribbon-13: img('data/Ribbon12.png'),
    meal-ribbon-14: img('data/Ribbon13.png'),
    meal-ribbon-15: img('data/Ribbon14.png'),
    meal-ribbon-16: img('data/Ribbon15.png'),
    meal-ribbon-17: img('data/Ribbon16.png'),
    meal-ribbon-18: img('data/Ribbon17.png'),
    meal-ribbon-19: img('data/Ribbon18.png'),
    meal-ribbon-20: img('data/Ribbon19.png'),
);

$all-cooking: map-merge($meals, $ribbons);