$meals: (
	turkey-a-la-thank-meal:     img('data/CookingMB0.png'),
	egg-meal:                   img('data/CookingMB1.png'),
	salad-meal:                 img('data/CookingMB2.png'),
	pie-meal:                   img('data/CookingMB3.png'),
	frenk-fries-meal:           img('data/CookingMB4.png'),
	spaghetti-meal:             img('data/CookingMB5.png'),
	corn-meal:                  img('data/CookingMB6.png'),
	garlic-bread-meal:          img('data/CookingMB7.png'),
	garlicless-bread-meal:      img('data/CookingMB8.png'),
	pizza-meal:                 img('data/CookingMB9.png'),
	apple-meal:                 img('data/CookingMB10.png'),
	pancakes-meal:              img('data/CookingMB11.png'),
	corndog-meal:               img('data/CookingMB12.png'),
	cabbage-meal:               img('data/CookingMB13.png'),
	potato-pea-pastry-meal:     img('data/CookingMB14.png'),
	dango-meal:                 img('data/CookingMB15.png'),
	sourish-fish-meal:          img('data/CookingMB16.png'),
	octoplop-meal:              img('data/CookingMB17.png'),
	croissant-meal:             img('data/CookingMB18.png'),
	canopy-meal:                img('data/CookingMB19.png'),
	cannoli-meal:               img('data/CookingMB20.png'),
	cheese-meal:                img('data/CookingMB21.png'),
	sawdust-meal:               img('data/CookingMB22.png'),
	eggplant-meal:              img('data/CookingMB23.png'),
	cheesy-bread-meal:          img('data/CookingMB24.png'),
	wild-boar-meal:             img('data/CookingMB25.png'),
	donut-meal:                 img('data/CookingMB26.png'),
	riceball-meal:              img('data/CookingMB27.png'),
	cauliflower-meal:           img('data/CookingMB28.png'),
	durian-fruit-meal:          img('data/CookingMB29.png'),
	orange-meal:                img('data/CookingMB30.png'),
	bunt-cake-meal:             img('data/CookingMB31.png'),
	chocolate-truffle-meal:     img('data/CookingMB32.png'),
	leek-meal:                  img('data/CookingMB33.png'),
	fortune-cookie-meal:        img('data/CookingMB34.png'),
	pretzel-meal:               img('data/CookingMB35.png'),
	sea-urchin-meal:            img('data/CookingMB36.png'),
	mashed-potato-meal:         img('data/CookingMB37.png'),
	mutton-meal:                img('data/CookingMB38.png'),
	wedding-cake-meal:          img('data/CookingMB39.png'),
	eel-meal:                   img('data/CookingMB40.png'),
	whipped-cocoa-meal:         img('data/CookingMB41.png'),
	onion-meal:                 img('data/CookingMB42.png'),
	soda-meal:                  img('data/CookingMB43.png'),
	sushi-roll-meal:            img('data/CookingMB44.png'),
	buncha-banana-meal:         img('data/CookingMB45.png'),
	pumpkin-meal:               img('data/CookingMB46.png'),
	cotton-candy-meal:          img('data/CookingMB47.png'),
	massive-fig-meal:           img('data/CookingMB48.png'),
	head-chef-geustloaf-meal:   img('data/CookingMB49.png'),
	kiwi-fruit-meal:            img('data/CookingMB50.png'),
	popped-corn-meal:           img('data/CookingMB51.png'),
	double-cherry-meal:         img('data/CookingMB52.png'),
	ratatouey-meal:             img('data/CookingMB53.png'),
	giant-tomato-meal:          img('data/CookingMB54.png'),
	wrath-grapes-meal:          img('data/CookingMB55.png'),
	sausy-sausage-meal:         img('data/CookingMB56.png'),
	seasoned-marrow-meal:       img('data/CookingMB57.png'),
	sticky-bun-meal:            img('data/CookingMB58.png'),
	frazzleberry-meal:          img('data/CookingMB59.png'),
	misterloin-steak-meal:      img('data/CookingMB60.png'),
	large-pohayoh-meal:         img('data/CookingMB61.png'),
	bill-jack-pepper-meal:      img('data/CookingMB62.png'),
	burned-marshmallow-meal:    img('data/CookingMB63.png'),
	yumi-peachring-meal:        img('data/CookingMB64.png'),
	plumpcakes-meal:            img('data/CookingMB65.png'),
	nyanborgir-meal:            img('data/CookingMB66.png'),
	tempura-shrimp-meal:        img('data/CookingMB67.png'),
	woahtermelon-meal:          img('data/CookingMB68.png'),
	cookies-meal:               img('data/CookingMB69.png'),
	singing-seed-meal:          img('data/CookingMB70.png'),
);

$ribbons: (
    meal-ribbon-1: img('data/Ribbon0.png'),
    meal-ribbon-2: img('data/Ribbon1.png'),
    meal-ribbon-3: img('data/Ribbon2.png'),
    meal-ribbon-4: img('data/Ribbon3.png'),
    meal-ribbon-5: img('data/Ribbon4.png'),
    meal-ribbon-6: img('data/Ribbon5.png'),
    meal-ribbon-7: img('data/Ribbon6.png'),
    meal-ribbon-8: img('data/Ribbon7.png'),
    meal-ribbon-9: img('data/Ribbon8.png'),
    meal-ribbon-10: img('data/Ribbon9.png'),
    meal-ribbon-11: img('data/Ribbon10.png'),
    meal-ribbon-12: img('data/Ribbon11.png'),
    meal-ribbon-13: img('data/Ribbon12.png'),
    meal-ribbon-14: img('data/Ribbon13.png'),
    meal-ribbon-15: img('data/Ribbon14.png'),
    meal-ribbon-16: img('data/Ribbon15.png'),
    meal-ribbon-17: img('data/Ribbon16.png'),
    meal-ribbon-18: img('data/Ribbon17.png'),
    meal-ribbon-19: img('data/Ribbon18.png'),
    meal-ribbon-20: img('data/Ribbon19.png'),
    meal-ribbon-21: img('data/Ribbon20.png'),
    meal-ribbon-22: img('data/Ribbon21.png'),
    meal-ribbon-23: img('data/Ribbon22.png'),
);

$all-cooking: map-merge($meals, $ribbons);