$meritocracy: (
    meritocracy-1: img('data/MeritBon1.png'),
    meritocracy-2: img('data/MeritBon2.png'),
    meritocracy-3: img('data/MeritBon3.png'),
    meritocracy-4: img('data/MeritBon4.png'),
    meritocracy-5: img('data/MeritBon5.png'),
    meritocracy-6: img('data/MeritBon6.png'),
    meritocracy-7: img('data/MeritBon7.png'),
    meritocracy-8: img('data/MeritBon8.png'),
    meritocracy-9: img('data/MeritBon9.png'),
    meritocracy-10: img('data/MeritBon10.png'),
    meritocracy-11: img('data/MeritBon11.png'),
    meritocracy-12: img('data/MeritBon12.png'),
    meritocracy-13: img('data/MeritBon13.png'),
    meritocracy-14: img('data/MeritBon14.png'),
    meritocracy-15: img('data/MeritBon15.png'),
    meritocracy-16: img('data/MeritBon16.png'),
    meritocracy-17: img('data/MeritBon17.png'),
    meritocracy-18: img('data/MeritBon18.png'),
    meritocracy-19: img('data/MeritBon19.png'),
    meritocracy-20: img('data/MeritBon20.png'),
    meritocracy-21: img('data/MeritBon21.png'),
    meritocracy-22: img('data/MeritBon22.png'),
    meritocracy-23: img('data/MeritBon23.png'),
    meritocracy-24: img('data/MeritBon24.png'),
    meritocracy-25: img('data/MeritBon25.png'),
    meritocracy-26: img('data/MeritBon26.png'),
    meritocracy-27: img('data/MeritBon27.png'),
);
