$minigames: (
  basketball-upgrade-1: img('data/HoopShop0.png'),
  basketball-upgrade-2: img('data/HoopShop1.png'),
  basketball-upgrade-3: img('data/HoopShop2.png'),
  basketball-upgrade-4: img('data/HoopShop3.png'),
);

$all-minigames: $minigames