$owl-map: (
    the-great-horned-owl: img('wiki/Orion.gif'),
    feather-generation: img('wiki/Orion_Upgrade_1.png'),
    bonuses-of-orion: img('wiki/Orion_Upgrade_2.png'),
    feather-multiplier: img('wiki/Orion_Upgrade_3.png'),
    feather-cheapener: img('wiki/Orion_Upgrade_4.png'),
    feather-restart: img('wiki/Orion_Upgrade_5.png'),
    super-feather-production: img('wiki/Orion_Upgrade_6.png'),
    shiny-feathers: img('wiki/Orion_Upgrade_7.png'),
    super-feather-cheapener: img('wiki/Orion_Upgrade_8.png'),
    the-great-mega-reset: img('wiki/Orion_Upgrade_9.png'),
    drop-rate: img('wiki/Orion_DR.png'),
    megafeather-0: img('wiki/Megafeather_1.png'),
    megafeather-1: img('wiki/Megafeather_2.png'),
    megafeather-2: img('wiki/Megafeather_3.png'),
    megafeather-3: img('wiki/Megafeather_4.png'),
    megafeather-4: img('wiki/Megafeather_5.png'),
    megafeather-5: img('wiki/Megafeather_6.png'),
    megafeather-6: img('wiki/Megafeather_7.png'),
    megafeather-7: img('wiki/Megafeather_8.png'),
    megafeather-8: img('wiki/Megafeather_9.png'),
    megafeather-9: img('wiki/Megafeather_10.png'),
);
