$owl-map: (
    the-great-horned-owl: url('https://raw.githubusercontent.com/Morta1/IdleonToolbox/main/public/etc/Owl.png'),
    feather-generation: url('https://raw.githubusercontent.com/Morta1/IdleonToolbox/main/public/etc/Owl_0.png'),
    bonuses-of-orion: url('https://raw.githubusercontent.com/Morta1/IdleonToolbox/main/public/etc/Owl_1.png'),
    the-great-mega-reset: url('https://raw.githubusercontent.com/Morta1/IdleonToolbox/main/public/etc/Owl_8.png'),
    drop-rate: url('https://raw.githubusercontent.com/Morta1/IdleonToolbox/main/public/etc/Owlb_5.png'),
    megafeather-0: url('https://raw.githubusercontent.com/Morta1/IdleonToolbox/main/public/data/Feaz0.png'),
    megafeather-1: url('https://raw.githubusercontent.com/Morta1/IdleonToolbox/main/public/data/Feaz1.png'),
    megafeather-2: url('https://raw.githubusercontent.com/Morta1/IdleonToolbox/main/public/data/Feaz2.png'),
    megafeather-3: url('https://raw.githubusercontent.com/Morta1/IdleonToolbox/main/public/data/Feaz3.png'),
    megafeather-4: url('https://raw.githubusercontent.com/Morta1/IdleonToolbox/main/public/data/Feaz4.png'),
    megafeather-5: url('https://raw.githubusercontent.com/Morta1/IdleonToolbox/main/public/data/Feaz5.png'),
    megafeather-6: url('https://raw.githubusercontent.com/Morta1/IdleonToolbox/main/public/data/Feaz6.png'),
    megafeather-7: url('https://raw.githubusercontent.com/Morta1/IdleonToolbox/main/public/data/Feaz7.png'),
    megafeather-8: url('https://raw.githubusercontent.com/Morta1/IdleonToolbox/main/public/data/Feaz8.png'),
    megafeather-9: url('https://raw.githubusercontent.com/Morta1/IdleonToolbox/main/public/data/Feaz9.png'),
);