$owl-map: (
    the-great-horned-owl: wiki('9/99/Orion.gif'),
    feather-generation: wiki('b/ba/Orion_Upgrade_1.png'),
    bonuses-of-orion: wiki('3/33/Orion_Upgrade_2.png'),
    feather-multiplier: wiki('2/29/Orion_Upgrade_3.png'),
    feather-cheapener: wiki('6/6e/Orion_Upgrade_4.png'),
    feather-restart: wiki('6/6f/Orion_Upgrade_5.png'),
    super-feather-production: wiki('a/a2/Orion_Upgrade_6.png'),
    shiny-feathers: wiki('6/65/Orion_Upgrade_7.png'),
    super-feather-cheapener: wiki('a/a6/Orion_Upgrade_8.png'),
    the-great-mega-reset: wiki('4/4b/Orion_Upgrade_9.png'),
    drop-rate: url('https://raw.githubusercontent.com/Morta1/IdleonToolbox/main/public/etc/Owlb_5.png'),
    megafeather-0: wiki('3/37/Megafeather_1.png'),
    megafeather-1: wiki('d/d4/Megafeather_2.png'),
    megafeather-2: wiki('6/6f/Megafeather_3.png'),
    megafeather-3: wiki('1/11/Megafeather_4.png'),
    megafeather-4: wiki('4/40/Megafeather_5.png'),
    megafeather-5: wiki('d/d6/Megafeather_6.png'),
    megafeather-6: wiki('c/cf/Megafeather_7.png'),
    megafeather-7: wiki('0/0c/Megafeather_8.png'),
    megafeather-8: wiki('b/b7/Megafeather_9.png'),
    megafeather-9: wiki('8/8e/Megafeather_10.png'),
);
