$postoffice: (
    civil-war-memory: wiki("d/df/Fight_Shipment.png"),
    locally-sourced-organs: wiki("b/bc/Health_Shipment.png"),
    magician-starter-pack: wiki("1/1b/Mana_Shipment.png"),
    box-of-unwanted-stats: wiki("2/24/Utility_Shipment.png"),
    dwarven-supplies: wiki("6/66/Mine_Shipment.png"),
    blacksmith-box: wiki("5/55/Smith_Shipment.png"),
    taped-up-timber: wiki("0/0a/Chop_Shipment.png"),
    carepack-from-mum: wiki("7/73/Food_Shipment.png"),
    sealed-fishheads: wiki("b/b3/Fish_Shipment.png"),
    potion-package: wiki("6/68/Alchemy_Shipment.png"),
    bug-hunting-supplies: wiki("b/b5/Catching_Shipment.png"),
    non-predatory-loot-box: wiki("e/e1/Drop_Shipment.png"),
    deaths-storage-unit: wiki("6/65/DMG_Shipment.png"),
    utilitarian-capsule: wiki("c/c3/Utility2_Shipment.png"),
    lazzzy-lootcrate: wiki("e/ed/BigZ_Shipment.png"),
    science-spare-parts: wiki("0/07/Lab_Shipment.png"),
    trapping-lockbox: wiki("c/c2/Trap_Shipment.png"),
    construction-container: wiki("2/26/Cons_Shipment.png"),
    crate-of-the-creator: wiki("4/43/WSP_Shipment.png"),
    chefs-essentials: wiki("1/1e/Cooking_Shipment.png"),
    myriad-crate: wiki("9/90/Myriad_Shipment.png"),
    box-of-gosh: wiki("1/1f/Divine_Shipment.png"),
    gaming-lootcrate: wiki("1/1a/Gaming_Shipment.png"),
    scurvy-carrate: wiki("2/28/Scurvy_Shipment.png"),
);
