$postoffice: (
    civil-war-memory: img('wiki/Fight_Shipment.png'),
    locally-sourced-organs: img('wiki/Health_Shipment.png'),
    magician-starter-pack: img('wiki/Mana_Shipment.png'),
    box-of-unwanted-stats: img('wiki/Utility_Shipment.png'),
    dwarven-supplies: img('wiki/Mine_Shipment.png'),
    blacksmith-box: img('wiki/Smith_Shipment.png'),
    taped-up-timber: img('wiki/Chop_Shipment.png'),
    carepack-from-mum: img('wiki/Food_Shipment.png'),
    sealed-fishheads: img('wiki/Fish_Shipment.png'),
    potion-package: img('wiki/Alchemy_Shipment.png'),
    bug-hunting-supplies: img('wiki/Catching_Shipment.png'),
    non-predatory-loot-box: img('wiki/Drop_Shipment.png'),
    deaths-storage-unit: img('wiki/DMG_Shipment.png'),
    utilitarian-capsule: img('wiki/Utility2_Shipment.png'),
    lazzzy-lootcrate: img('wiki/BigZ_Shipment.png'),
    science-spare-parts: img('wiki/Lab_Shipment.png'),
    trapping-lockbox: img('wiki/Trap_Shipment.png'),
    construction-container: img('wiki/Cons_Shipment.png'),
    crate-of-the-creator: img('wiki/WSP_Shipment.png'),
    chefs-essentials: img('wiki/Cooking_Shipment.png'),
    myriad-crate: img('wiki/Myriad_Shipment.png'),
    box-of-gosh: img('wiki/Divine_Shipment.png'),
    gaming-lootcrate: img('wiki/Gaming_Shipment.png'),
    scurvy-carrate: img('wiki/Scurvy_Shipment.png'),
);
