$postoffice: (
    civil-war-memory-box: img('data/UIboxUpg0.png'),
    locally-sourced-organs: img('data/UIboxUpg1.png'),
    magician-starterpack: img('data/UIboxUpg2.png'),
    box-of-unwanted-stats: img('data/UIboxUpg3.png'),
    dwarven-supplies: img('data/UIboxUpg4.png'),
    blacksmith-box: img('data/UIboxUpg5.png'),
    taped-up-timber: img('data/UIboxUpg6.png'),
    carepack-from-mum: img('data/UIboxUpg7.png'),
    sealed-fishheads: img('data/UIboxUpg8.png'),
    potion-package: img('data/UIboxUpg9.png'),
    bug-hunting-supplies: img('data/UIboxUpg10.png'),
    non-predatory-loot-box: img('data/UIboxUpg11.png'),
    deaths-storage-unit: img('data/UIboxUpg12.png'),
    utilitarian-capsule: img('data/UIboxUpg13.png'),
    lazzzy-lootcrate: img('data/UIboxUpg14.png'),
    science-spare-parts: img('data/UIboxUpg15.png'),
    trapping-lockbox: img('data/UIboxUpg16.png'),
    construction-container: img('data/UIboxUpg17.png'),
    crate-of-the-creator: img('data/UIboxUpg18.png'),
    chefs-essentials: img('data/UIboxUpg19.png'),
    myriad-crate: img('data/UIboxUpg20.png'),
    scurvy-carrate: img('data/UIboxUpg21.png'),
    box-of-gosh: img('data/UIboxUpg22.png'),
    gaming-lootcrate: img('data/UIboxUpg23.png'),
);
