$research-grid: (
  research-grid-f6: img('customized/ResearchGridF6.png'),
  research-grid-f7: img('customized/ResearchGridF7.png'),

  research-grid-g4: img('customized/ResearchGridG4.png'),
  research-grid-g5: img('customized/ResearchGridG5.png'),
  research-grid-g6: img('customized/ResearchGridG6.png'),
  research-grid-g7: img('customized/ResearchGridG7.png'),
  research-grid-g8: img('customized/ResearchGridG8.png'),

  research-grid-h4: img('customized/ResearchGridH4.png'),
  research-grid-h5: img('customized/ResearchGridH5.png'),
  research-grid-h6: img('customized/ResearchGridH6.png'),
  research-grid-h7: img('customized/ResearchGridH7.png'),
  research-grid-h8: img('customized/ResearchGridH8.png'),
  research-grid-h9: img('customized/ResearchGridH9.png'),
  research-grid-h10: img('customized/ResearchGridH10.png'),

  research-grid-i3: img('customized/ResearchGridI3.png'),
  research-grid-i4: img('customized/ResearchGridI4.png'),
  research-grid-i5: img('customized/ResearchGridI5.png'),
  research-grid-i6: img('customized/ResearchGridI6.png'),
  research-grid-i7: img('customized/ResearchGridI7.png'),
  research-grid-i8: img('customized/ResearchGridI8.png'),
  research-grid-i9: img('customized/ResearchGridI9.png'),
  research-grid-i10: img('customized/ResearchGridI10.png'),

  research-grid-j3: img('customized/ResearchGridJ3.png'),
  research-grid-j4: img('customized/ResearchGridJ4.png'),
  research-grid-j5: img('customized/ResearchGridJ5.png'),
  research-grid-j6: img('customized/ResearchGridJ6.png'),
  research-grid-j7: img('customized/ResearchGridJ7.png'),
  research-grid-j8: img('customized/ResearchGridJ8.png'),
  research-grid-j9: img('customized/ResearchGridJ9.png'),
  research-grid-j10: img('customized/ResearchGridJ10.png'),

  research-grid-k4: img('customized/ResearchGridK4.png'),
  research-grid-k5: img('customized/ResearchGridK5.png'),
  research-grid-k6: img('customized/ResearchGridK6.png'),
  research-grid-k7: img('customized/ResearchGridK7.png'),
  research-grid-k8: img('customized/ResearchGridK8.png'),
  research-grid-k9: img('customized/ResearchGridK9.png'),
  research-grid-k10: img('customized/ResearchGridK10.png'),

  research-grid-l4: img('customized/ResearchGridL4.png'),
  research-grid-l5: img('customized/ResearchGridL5.png'),
  research-grid-l6: img('customized/ResearchGridL6.png'),
  research-grid-l7: img('customized/ResearchGridL7.png'),
  research-grid-l8: img('customized/ResearchGridL8.png'),
  research-grid-l9: img('customized/ResearchGridL9.png'),
  research-grid-l10: img('customized/ResearchGridL10.png'),
  research-grid-l11: img('customized/ResearchGridL11.png'),

  research-grid-m4: img('customized/ResearchGridM4.png'),
  research-grid-m5: img('customized/ResearchGridM5.png'),
  research-grid-m6: img('customized/ResearchGridM6.png'),
  research-grid-m7: img('customized/ResearchGridM7.png'),
  research-grid-m8: img('customized/ResearchGridM8.png'),
  research-grid-m9: img('customized/ResearchGridM9.png'),
  research-grid-m10: img('customized/ResearchGridM10.png'),

  research-grid-n4: img('customized/ResearchGridN4.png'),
  research-grid-n8: img('customized/ResearchGridN8.png'),

  research-grid-o8: img('customized/ResearchGridO8.png')
);

$research-observations: (
    observation-0: img('data/ResObj0.png'),
    observation-1: img('data/ResObj1.png'),
    observation-2: img('data/ResObj2.png'),
    observation-3: img('data/ResObj3.png'),
    observation-4: img('data/ResObj4.png'),
    observation-5: img('data/ResObj5.png'),
    observation-6: img('data/ResObj6.png'),
    observation-7: img('data/ResObj7.png'),
    observation-8: img('data/ResObj8.png'),
    observation-9: img('data/ResObj9.png'),
    observation-10: img('data/ResObj10.png'),
    observation-11: img('data/ResObj11.png'),
    observation-12: img('data/ResObj12.png'),
    observation-13: img('data/ResObj13.png'),
    observation-14: img('data/ResObj14.png'),
    observation-15: img('data/ResObj15.png'),
    observation-16: img('data/ResObj16.png'),
    observation-17: img('data/ResObj17.png'),
    observation-18: img('data/ResObj18.png'),
    observation-19: img('data/ResObj19.png'),
    observation-20: img('data/ResObj20.png'),
    observation-21: img('data/ResObj21.png'),
    observation-22: img('data/ResObj22.png'),
    observation-23: img('data/ResObj23.png'),
    observation-24: img('data/ResObj24.png'),
    observation-25: img('data/ResObj25.png'),
    observation-26: img('data/ResObj26.png'),
    observation-27: img('data/ResObj27.png'),
    observation-28: img('data/ResObj28.png'),
    observation-29: img('data/ResObj29.png'),
    observation-30: img('data/ResObj30.png'),
    observation-31: img('data/ResObj31.png'),
    observation-32: img('data/ResObj32.png'),
    observation-33: img('data/ResObj33.png'),
    observation-34: img('data/ResObj34.png'),
    observation-35: img('data/ResObj35.png'),
    observation-36: img('data/ResObj36.png'),
    observation-37: img('data/ResObj37.png'),
    observation-38: img('data/ResObj38.png'),
    observation-39: img('data/ResObj39.png'),
    observation-40: img('data/ResObj40.png'),
    observation-41: img('data/ResObj41.png'),
    observation-42: img('data/ResObj42.png'),
    observation-43: img('data/ResObj43.png'),
);

$research-posty-notes: (
    posty-note-0: img('data/ResPosty0.png'),
    posty-note-1: img('data/ResPosty1.png'),
    posty-note-2: img('data/ResPosty2.png'),
    posty-note-3: img('data/ResPosty3.png'),
    posty-note-4: img('data/ResPosty4.png'),
    posty-note-5: img('data/ResPosty5.png'),
    posty-note-6: img('data/ResPosty6.png'),
    posty-note-7: img('data/ResPosty7.png'),
    posty-note-8: img('data/ResPosty8.png'),
    posty-note-9: img('data/ResPosty9.png'),
    posty-note-10: img('data/ResPosty10.png'),
    posty-note-11: img('data/ResPosty11.png'),
    posty-note-12: img('data/ResPosty12.png'),
    posty-note-13: img('data/ResPosty13.png')
);

$all-research: (
  research: img('data/ClassIcons61.png')
);

$all-research: map-merge($all-research, $research-grid);
$all-research: map-merge($all-research, $research-observations);
$all-research: map-merge($all-research, $research-posty-notes);
