$research-grid: (
  research-grid-f6: img('customized/ResearchGridF6.png'),
  research-grid-f7: img('customized/ResearchGridF7.png'),

  research-grid-g4: img('customized/ResearchGridG4.png'),
  research-grid-g5: img('customized/ResearchGridG5.png'),
  research-grid-g6: img('customized/ResearchGridG6.png'),
  research-grid-g7: img('customized/ResearchGridG7.png'),
  research-grid-g8: img('customized/ResearchGridG8.png'),

  research-grid-h4: img('customized/ResearchGridH4.png'),
  research-grid-h5: img('customized/ResearchGridH5.png'),
  research-grid-h6: img('customized/ResearchGridH6.png'),
  research-grid-h7: img('customized/ResearchGridH7.png'),
  research-grid-h8: img('customized/ResearchGridH8.png'),
  research-grid-h9: img('customized/ResearchGridH9.png'),
  research-grid-h10: img('customized/ResearchGridH10.png'),

  research-grid-i3: img('customized/ResearchGridI3.png'),
  research-grid-i4: img('customized/ResearchGridI4.png'),
  research-grid-i5: img('customized/ResearchGridI5.png'),
  research-grid-i6: img('customized/ResearchGridI6.png'),
  research-grid-i7: img('customized/ResearchGridI7.png'),
  research-grid-i8: img('customized/ResearchGridI8.png'),
  research-grid-i9: img('customized/ResearchGridI9.png'),
  research-grid-i10: img('customized/ResearchGridI10.png'),

  research-grid-j3: img('customized/ResearchGridJ3.png'),
  research-grid-j4: img('customized/ResearchGridJ4.png'),
  research-grid-j5: img('customized/ResearchGridJ5.png'),
  research-grid-j6: img('customized/ResearchGridJ6.png'),
  research-grid-j7: img('customized/ResearchGridJ7.png'),
  research-grid-j8: img('customized/ResearchGridJ8.png'),
  research-grid-j9: img('customized/ResearchGridJ9.png'),
  research-grid-j10: img('customized/ResearchGridJ10.png'),

  research-grid-k4: img('customized/ResearchGridK4.png'),
  research-grid-k5: img('customized/ResearchGridK5.png'),
  research-grid-k6: img('customized/ResearchGridK6.png'),
  research-grid-k7: img('customized/ResearchGridK7.png'),
  research-grid-k8: img('customized/ResearchGridK8.png'),
  research-grid-k9: img('customized/ResearchGridK9.png'),
  research-grid-k10: img('customized/ResearchGridK10.png'),

  research-grid-l4: img('customized/ResearchGridL4.png'),
  research-grid-l5: img('customized/ResearchGridL5.png'),
  research-grid-l6: img('customized/ResearchGridL6.png'),
  research-grid-l7: img('customized/ResearchGridL7.png'),
  research-grid-l8: img('customized/ResearchGridL8.png'),
  research-grid-l9: img('customized/ResearchGridL9.png'),
  research-grid-l10: img('customized/ResearchGridL10.png'),
  research-grid-l11: img('customized/ResearchGridL11.png'),

  research-grid-m4: img('customized/ResearchGridM4.png'),
  research-grid-m5: img('customized/ResearchGridM5.png'),
  research-grid-m6: img('customized/ResearchGridM6.png'),
  research-grid-m7: img('customized/ResearchGridM7.png'),
  research-grid-m8: img('customized/ResearchGridM8.png'),
  research-grid-m9: img('customized/ResearchGridM9.png'),
  research-grid-m10: img('customized/ResearchGridM10.png'),

  research-grid-n4: img('customized/ResearchGridN4.png'),
  research-grid-n8: img('customized/ResearchGridN8.png'),

  research-grid-o8: img('customized/ResearchGridO8.png')
);

$all-research: (
  research: img('data/ClassIcons61.png')
);

$all-research: map-merge($all-research, $research-grid);