$rift: (
    trap-box-vacuum: wiki('a/af/Rift_Bonus_1.png'),
    infinite-stars: wiki("c/c0/Rift_Bonus_2.png"),
    skill-mastery: wiki('b/be/Rift_Bonus_3.png'),
    eclipse-skulls: wiki('8/82/Rift_Bonus_4.png'),
    stamp-mastery: wiki('e/ed/Rift_Bonus_5.png'),
    eldritch-artifact: wiki('0/06/Rift_Bonus_6.png'),
    vial-mastery: wiki('a/a9/Rift_Bonus_7.png'),
    construct-mastery: wiki('7/71/Rift_Bonus_8.png'),
    ruby-cards: wiki('9/9c/Rift_Bonus_9.png'),
    killroy-prime: wiki('2/25/Rift_Bonus_10.png'),
    sneaking-mastery: wiki('f/f4/Rift_Bonus_11.png')
);
