$rift: (
    trap-box-vacuum: img('wiki/Rift_Bonus_1.png'),
    infinite-stars: img('wiki/Rift_Bonus_2.png'),
    skill-mastery: img('wiki/Rift_Bonus_3.png'),
    eclipse-skulls: img('wiki/Rift_Bonus_4.png'),
    stamp-mastery: img('wiki/Rift_Bonus_5.png'),
    eldritch-artifact: img('wiki/Rift_Bonus_6.png'),
    vial-mastery: img('wiki/Rift_Bonus_7.png'),
    construct-mastery: img('wiki/Rift_Bonus_8.png'),
    ruby-cards: img('wiki/Rift_Bonus_9.png'),
    killroy-prime: img('wiki/Rift_Bonus_10.png'),
    sneaking-mastery: img('wiki/Rift_Bonus_11.png')
);
