$royal-armory-items: (
    orblet:                             img('data/Orblet.png'),
    parchment-of-enchantment:           img('data/RGenh.png'),
    parchment-of-cease-and-desist:      img('data/RGenhB.png'),
    leafy-marble:                       img('data/RGshard0.png'),
    sandy-marble:                       img('data/RGshard1.png'),
    frosty-marble:                      img('data/RGshard2.png'),
    sparkly-marble:                     img('data/RGshard3.png'),
    toasty-marble:                      img('data/RGshard4.png'),
    wispy-marble:                       img('data/RGshard5.png'),
);

$royal-armory-statues: (
    royal-statue-0: img('data/RoyalStatue0.png'),
    royal-statue-1: img('data/RoyalStatue1.png'),
    royal-statue-2: img('data/RoyalStatue2.png'),
    royal-statue-3: img('data/RoyalStatue3.png'),
    royal-statue-4: img('data/RoyalStatue4.png'),
    royal-statue-5: img('data/RoyalStatue5.png'),
    royal-statue-6: img('data/RoyalStatue6.png'),
);

// order is per in-game ordering, not RAupg's own file numbering - verified against first 27 upgrades - hopefully lava names these correctly down the road
$royal-armory-upgrades: (
    royal-armory-upgrade-0: img('data/RAupg30.png'),
    royal-armory-upgrade-1: img('data/RAupg46.png'),
    royal-armory-upgrade-2: img('data/RAupg58.png'),
    royal-armory-upgrade-3: img('data/RAupg31.png'),
    royal-armory-upgrade-4: img('data/RAupg9.png'),
    royal-armory-upgrade-5: img('data/RAupg41.png'),
    royal-armory-upgrade-6: img('data/RAupg70.png'),
    royal-armory-upgrade-7: img('data/RAupg37.png'),
    royal-armory-upgrade-8: img('data/RAupg78.png'),
    royal-armory-upgrade-9: img('data/RAupg35.png'),
    royal-armory-upgrade-10: img('data/RAupg27.png'),
    royal-armory-upgrade-11: img('data/RAupg71.png'),
    royal-armory-upgrade-12: img('data/RAupg20.png'),
    royal-armory-upgrade-13: img('data/RAupg60.png'),
    royal-armory-upgrade-14: img('data/RAupg32.png'),
    royal-armory-upgrade-15: img('data/RAupg19.png'),
    royal-armory-upgrade-16: img('data/RAupg79.png'),
    royal-armory-upgrade-17: img('data/RAupg2.png'),
    royal-armory-upgrade-18: img('data/RAupg61.png'),
    royal-armory-upgrade-19: img('data/RAupg57.png'),
    royal-armory-upgrade-20: img('data/RAupg23.png'),
    royal-armory-upgrade-21: img('data/RAupg0.png'),
    royal-armory-upgrade-22: img('data/RAupg47.png'),
    royal-armory-upgrade-23: img('data/RAupg10.png'),
    royal-armory-upgrade-24: img('data/RAupg80.png'),
    royal-armory-upgrade-25: img('data/RAupg28.png'),
    royal-armory-upgrade-26: img('data/RAupg21.png'),
    royal-armory-upgrade-27: img('data/RAupg68.png'),
    royal-armory-upgrade-28: img('data/RAupg73.png'),
    royal-armory-upgrade-29: img('data/RAupg24.png'),
    royal-armory-upgrade-30: img('data/RAupg50.png'),
    royal-armory-upgrade-31: img('data/RAupg56.png'),
    royal-armory-upgrade-32: img('data/RAupg38.png'),
    royal-armory-upgrade-33: img('data/RAupg81.png'),
    royal-armory-upgrade-34: img('data/RAupg42.png'),
    royal-armory-upgrade-35: img('data/RAupg43.png'),
    royal-armory-upgrade-36: img('data/RAupg3.png'),
    royal-armory-upgrade-37: img('data/RAupg62.png'),
    royal-armory-upgrade-38: img('data/RAupg18.png'),
    royal-armory-upgrade-39: img('data/RAupg11.png'),
    royal-armory-upgrade-40: img('data/RAupg52.png'),
    royal-armory-upgrade-41: img('data/RAupg36.png'),
    royal-armory-upgrade-42: img('data/RAupg29.png'),
    royal-armory-upgrade-43: img('data/RAupg72.png'),
    royal-armory-upgrade-44: img('data/RAupg22.png'),
    royal-armory-upgrade-45: img('data/RAupg76.png'),
    royal-armory-upgrade-46: img('data/RAupg44.png'),
    royal-armory-upgrade-47: img('data/RAupg69.png'),
    royal-armory-upgrade-48: img('data/RAupg48.png'),
    royal-armory-upgrade-49: img('data/RAupg74.png'),
    royal-armory-upgrade-50: img('data/RAupg25.png'),
    royal-armory-upgrade-51: img('data/RAupg17.png'),
    royal-armory-upgrade-52: img('data/RAupg33.png'),
    royal-armory-upgrade-53: img('data/RAupg39.png'),
    royal-armory-upgrade-54: img('data/RAupg4.png'),
    royal-armory-upgrade-55: img('data/RAupg63.png'),
    royal-armory-upgrade-56: img('data/RAupg12.png'),
    royal-armory-upgrade-57: img('data/RAupg75.png'),
    royal-armory-upgrade-58: img('data/RAupg26.png'),
    royal-armory-upgrade-59: img('data/RAupg77.png'),
    royal-armory-upgrade-60: img('data/RAupg53.png'),
    royal-armory-upgrade-61: img('data/RAupg49.png'),
    royal-armory-upgrade-62: img('data/RAupg40.png'),
    royal-armory-upgrade-63: img('data/RAupg1.png'),
    royal-armory-upgrade-64: img('data/RAupg51.png'),
    royal-armory-upgrade-65: img('data/RAupg82.png'),
    royal-armory-upgrade-66: img('data/RAupg59.png'),
    royal-armory-upgrade-67: img('data/RAupg45.png'),
    royal-armory-upgrade-68: img('data/RAupg55.png'),
);

$royal-armory-resources: (
    royal-armory-resource-0: img('data/RGres0.png'),
    royal-armory-resource-1: img('data/RGres1.png'),
    royal-armory-resource-2: img('data/RGres2.png'),
    royal-armory-resource-3: img('data/RGres3.png'),
    royal-armory-resource-4: img('data/RGres4.png'),
    royal-armory-resource-5: img('data/RGres5.png'),
    royal-armory-resource-10: img('data/RGres10.png'),
    royal-armory-resource-11: img('data/RGres11.png'),
    royal-armory-resource-12: img('data/RGres12.png'),
    royal-armory-resource-13: img('data/RGres13.png'),
    royal-armory-resource-14: img('data/RGres14.png'),
    royal-armory-resource-15: img('data/RGres15.png'),
    royal-armory-resource-20: img('data/RGres20.png'),
    royal-armory-resource-21: img('data/RGres21.png'),
    royal-armory-resource-22: img('data/RGres22.png'),
    royal-armory-resource-23: img('data/RGres23.png'),
    royal-armory-resource-24: img('data/RGres24.png'),
    royal-armory-resource-25: img('data/RGres25.png'),
    royal-armory-resource-26: img('data/RGres26.png'),
    royal-armory-resource-30: img('data/RGres30.png'),
    royal-armory-resource-31: img('data/RGres31.png'),
    royal-armory-resource-32: img('data/RGres32.png'),
    royal-armory-resource-33: img('data/RGres33.png'),
    royal-armory-resource-34: img('data/RGres34.png'),
    royal-armory-resource-35: img('data/RGres35.png'),
    royal-armory-resource-36: img('data/RGres36.png'),
    royal-armory-resource-37: img('data/RGres37.png'),

    royal-armory: img('extracted_sprites/OrbOfVerisimilitude.gif'),
);

$all-royal-armory: map-merge($royal-armory-items, $royal-armory-upgrades);
$all-royal-armory: map-merge($all-royal-armory, $royal-armory-resources);
$all-royal-armory: map-merge($all-royal-armory, $royal-armory-statues);
