$captains: (
	captain-0-idle: img('wiki/Captain_0_Idle.gif'),
	captain-0-walking: img('wiki/Captain_0_Walking.gif'),

	captain-1-idle: img('wiki/Captain_1_Idle.gif'),
	captain-1-walking: img('wiki/Captain_1_Walking.gif'),

	captain-2-idle: img('wiki/Captain_2_Idle.gif'),
	captain-2-walking: img('wiki/Captain_2_Walking.gif'),

	captain-3-idle: img('wiki/Captain_3_Idle.gif'),
	captain-3-walking: img('wiki/Captain_3_Walking.gif'),

	captain-4-idle: img('wiki/Captain_4_Idle.gif'),
	captain-4-walking: img('wiki/Captain_4_Walking.gif'),

	captain-5-idle: img('wiki/Captain_5_Idle.gif'),
	captain-5-walking: img('wiki/Captain_5_Walking.gif'),

	the-endercaptain-idle: img('wiki/The_Endercaptain_Idle.gif'),
	the-endercaptain-walking: img('wiki/The_Endercaptain_Walking.gif')
);

$boats: (
	sailing-ship-tier-1: img('wiki/Sailing_Ship_Tier_1.png'),
	sailing-ship-tier-2: img('wiki/Sailing_Ship_Tier_2.png'),
	sailing-ship-tier-3: img('wiki/Sailing_Ship_Tier_3.png'),
	sailing-ship-tier-4: img('wiki/Sailing_Ship_Tier_4.png'),
	sailing-ship-tier-5: img('wiki/Sailing_Ship_Tier_5.png'),
	sailing-ship-tier-6: img('wiki/Sailing_Ship_Tier_6.png'),
);

$effects: (
	boat-speed: img('wiki/Captain_Effect_0.png'),
	loot-value: img('wiki/Captain_Effect_1.png'),
	cloud-discover-rate: img('wiki/Captain_Effect_2.png'),
	artifact-find-chance: img('wiki/Captain_Effect_3.png'),
	rare-chest-chance: img('wiki/Captain_Effect_4.png')
);

$chests: (
	wood-chest: img('wiki/Sail_Chest_0.png'),
	iron-chest: img('wiki/Sail_Chest_1.png'),
	gilded-chest: img('wiki/Sail_Chest_2.png'),
	noble-chest: img('wiki/Sail_Chest_3.png'),
	occult-chest: img('wiki/Sail_Chest_4.png'),
	//miracle-chest: map-get($gem-shop, miracle-chest),
);

$treasures: (
    sailing-treasure-0: img('wiki/Sailing_Treasure_0.png'),  //Gold Bars

	sailing-treasure-1: img('wiki/Sailing_Treasure_1.png'),
	sailing-treasure-2: img('wiki/Sailing_Treasure_2.png'),

	sailing-treasure-3: img('wiki/Sailing_Treasure_3.png'),
	sailing-treasure-4: img('wiki/Sailing_Treasure_4.png'),

	sailing-treasure-5: img('wiki/Sailing_Treasure_5.png'),
	sailing-treasure-6: img('wiki/Sailing_Treasure_6.png'),

	sailing-treasure-7: img('wiki/Sailing_Treasure_7.png'),
	sailing-treasure-8: img('wiki/Sailing_Treasure_8.png'),

	sailing-treasure-9: img('wiki/Sailing_Treasure_9.png'),
	sailing-treasure-10: img('wiki/Sailing_Treasure_10.png'),

	sailing-treasure-11: img('wiki/Sailing_Treasure_11.png'),
	sailing-treasure-12: img('wiki/Sailing_Treasure_12.png'),

	sailing-treasure-13: img('wiki/Sailing_Treasure_13.png'),
	sailing-treasure-14: img('wiki/Sailing_Treasure_14.png'),

	sailing-treasure-15: img('wiki/Sailing_Treasure_15.png'),
	sailing-treasure-16: img('wiki/Sailing_Treasure_16.png'),

	sailing-treasure-17: img('wiki/Sailing_Treasure_17.png'),
	sailing-treasure-18: img('wiki/Sailing_Treasure_18.png'),

	sailing-treasure-19: img('wiki/Sailing_Treasure_19.png'),
	sailing-treasure-20: img('wiki/Sailing_Treasure_20.png'),

	sailing-treasure-21: img('wiki/Sailing_Treasure_21.png'),
	sailing-treasure-22: img('wiki/Sailing_Treasure_22.png'),

	sailing-treasure-23: img('wiki/Sailing_Treasure_23.png'),
	sailing-treasure-24: img('wiki/Sailing_Treasure_24.png'),

	sailing-treasure-25: img('wiki/Sailing_Treasure_25.png'),
	sailing-treasure-26: img('wiki/Sailing_Treasure_26.png'),

	sailing-treasure-27: img('wiki/Sailing_Treasure_27.png'),
	sailing-treasure-28: img('wiki/Sailing_Treasure_28.png'),

	sailing-treasure-29: img('wiki/Sailing_Treasure_29.png'),
	sailing-treasure-30: img('wiki/Sailing_Treasure_30.png')
);

$artifacts: (
	moai-head:          img('data/Arti0.png'),
	maneki-kat:         img('data/Arti1.png'),
	ruble-cuble:        img('data/Arti2.png'),
	fauxory-tusk:       img('data/Arti3.png'),
	gold-relic:         img('data/Arti4.png'),
	genie-lamp-sailing: img('data/Arti5.png'),
	silver-ankh:        img('data/Arti6.png'),
	emerald-relic:      img('data/Arti7.png'),
	fun-hippoete:       img('data/Arti8.png'),
	arrowhead:          img('data/Arti9.png'),
	x10-ad-tablet:      img('data/Arti10.png'),
	ashen-urn:          img('data/Arti11.png'),
	amberite:           img('data/Arti12.png'),
	triagulon:          img('data/Arti13.png'),
	billcye-tri:        img('data/Arti14.png'),
	frost-relic:        img('data/Arti15.png'),
	chilled-yarn:       img('data/Arti16.png'),
	causticolumn:       img('data/Arti17.png'),
	jade-rock:          img('data/Arti18.png'),
	dreamcatcher:       img('data/Arti19.png'),
	gummy-orb:          img('data/Arti20.png'),
	fury-relic:         img('data/Arti21.png'),
	cloud-urn:          img('data/Arti22.png'),
	weatherbook:        img('data/Arti23.png'),
	giants-eye:         img('data/Arti24.png'),
	crystal-steak:      img('data/Arti25.png'),
	trilobite-rock:     img('data/Arti26.png'),
	opera-mask:         img('data/Arti27.png'),
	socrates:           img('data/Arti28.png'),
	the-true-lantern:   img('data/Arti29.png'),
	the-onyx-lantern:   img('data/Arti30.png'),
	the-shim-lantern:   img('data/Arti31.png'),
	the-winz-lantern:   img('data/Arti32.png'),
	deathskull:         img('data/Arti33.png'),
	obsidian:           img('data/Arti34.png'),
	pointagon:          img('data/Arti35.png'),
	ender-pearl:        img('data/Arti36.png'),
);

$all-sailing: map-merge($captains, $captains);
$all-sailing: map-merge($all-sailing, $boats);
$all-sailing: map-merge($all-sailing, $effects);
$all-sailing: map-merge($all-sailing, $chests);
$all-sailing: map-merge($all-sailing, $treasures);
$all-sailing: map-merge($all-sailing, $artifacts);
