$sections-map: (
    //Banners
    banner-general: url('https://www.legendsofidleon.com/static/CharacterHorizontal2-580d154e754cdc4e59a0a30f781a3123.png'),
    banner-w1: wiki('1/10/BH_header.png' ),
    banner-w2: wiki('6/6a/YYD_header.png'),
    banner-w3: wiki('b/bc/FT_header.png' ),
    banner-w4: wiki('7/72/HN_header.png' ),
    banner-w5: wiki('7/7b/SP_header.png' ),
    banner-w6: wiki('1/1d/SV_header.png' ),

    //Sections needed for quick-links from Pinchy
    regular-candy: img('Candy_1hr.png'),
    variable-candy: img('Candy_Cosmic.png'),
    endangered-greenstacks: img('Greenstack.png'),
    greenstacks: img('Greenstack.png'),
    combat-levels: img('Family.png'),
    pinchy: img('Pinchy.gif'),
    cards: img('cards/Cards.png'),
    stamps: img('Stamps_Header.png'),
    bribes: img('Bribes.png'),
    pay2win: img('pay2win.png'),
    owl: img('Owl.gif'),
    kangaroo: img('Kangaroo.gif'),
    buildings: img('Construction_Table.gif'),
    sampling: img('3D_Printer.gif'),
    library: img('Library.png'),
    slab: img('Slab.png'),
    beanstalk: img('Beanstalk.png'),
    star-signs: img('Telescope.gif'),
    statues: img('Town_Marble.gif'),
    active: img('Auto.png'),
    sigils: img('Sigils.png'),
    achievements: img('Grasslands_Gary.gif'),
);