$sections-map: (
    pinchy: img('Pinchy.gif'),
    anvil-regular: url('https://cdn.discordapp.com/attachments/438216759120756737/681356159806210048/SceneryAnvilB1.gif?ex=6589045f&is=65768f5f&hm=13619ddb4d4ea2bbe419d75e59ecda7c6843049d375a7a80209f482a5b9a8a70&'),
    beginner-running: url('https://cdn.discordapp.com/attachments/860619164968288287/957665111928090735/running_Beginner.gif?ex=65918b23&is=657f1623&hm=96871f1cf20839e19d04b4fd87f36f562f831afeefc69302cc5f8dfe7f7a12a0&'),
    family: img('Family.png'),
    cards: img('cards/Cards.png'),
    stamps: img('Stamps_Header.png'),
    bribes: img('Bribes.png'),
    pay2win: img('pay2win.png'),
    owl: img('Owl.gif'),
    kangaroo: img('Kangaroo.gif'),
    buildings: img('Construction_Table.gif'),
    buildings: img('Construction_Table.gif'),
    sampling: img('3D_Printer.gif'),
    library: img('Library.png'),
    slab: img('Slab.png'),
    beanstalk: img('Beanstalk.png'),
);