$skill-icons: (
    mining: img('data/ClassIcons42.png'),
    smithing: img('data/ClassIcons43.png'),
    choppin: img('data/ClassIcons44.png'),
    fishing: img('data/ClassIcons45.png'),
    alchemy: img('data/ClassIcons46.png'),
    catching: img('data/ClassIcons47.png'),
    trapping: img('data/ClassIcons48.png'),
    construction: img('data/ClassIcons49.png'),
    worship: img('data/ClassIcons50.png'),
    cooking: img('data/ClassIcons51.png'),
    breeding: img('data/ClassIcons52.png'),
    laboratory: img('data/ClassIcons53.png'),
    sailing: img('data/ClassIcons54.png'),
    divinity: img('data/ClassIcons55.png'),
    gaming: img('data/ClassIcons56.png'),
    farming: img('data/ClassIcons57.png'),
    sneaking: img('data/ClassIcons58.png'),
    summoning: img('data/ClassIcons59.png'),
    spelunking: img('data/ClassIcons60.png'),
);
