$detection: (
	detection-high: wiki('3/3b/Sneaking_Detection_High.png'),
	detection-mid: wiki('0/08/Sneaking_Detection_Mid.png'),
	detection-low: wiki('9/99/Sneaking_Detection_Low.png'),
	detection-lowest: wiki('2/23/Sneaking_Detection_Lowest.png'),
);

$hats: (
	straw-hat: wiki('b/b2/Straw_Hat.png'),
	wig-bandana: wiki('a/ac/Wig_Bandana.png'),
	funky-hat: wiki('9/90/Funky_Hat.png'),
	reinforced-headband: wiki('7/76/Reinforced_Headband.png'),
	shogun-helmet: wiki('3/37/Shogun_Helmet.png'),
	gilded-headband: wiki('4/4e/Gilded_Headband.png'),
	bamboo-hat: wiki('b/bd/Bamboo_Hat.png'),
	festive-beast-mask: wiki('1/1a/Festive_Beast_Mask.png'),
	heiress-headdress: wiki('8/87/Heiress_Headdress.png'),
	spirited-mane: wiki('a/a0/Spirited_Mane.png'),
	fiery-mane: wiki('d/dd/Fiery_Mane.png'),
	guardian-mane: wiki('f/f7/Guardian_Mane.png'),
	fanned-blossomage: wiki('d/d8/Fanned_Blossomage.png'),
	dainty-brim: wiki('d/d2/Dainty_Brim.png'),
	charcoal-hat: wiki('8/86/Charcoal_Hat.png'),
);

$knowledge: (
	way-of-stealth: wiki('0/0a/Way_of_Stealth.png'),
	looting-ambition: wiki('e/ea/Looting_Ambition.png'),
	nunchaku-grip: wiki('9/9b/Nunchaku_Grip.png'),
	respect-for-the-art: wiki('7/7b/Respect_for_the_Art.png'),
	way-of-haste: wiki('9/90/Way_of_Haste.png'),
	mahjong-boosters: wiki('2/2a/Mahjong_Boosters.png'),
	kunai-knowledge: wiki('e/e1/Kunai_Knowledge.png'),
	currency-conduit: wiki('1/1a/Currency_Conduit.png'),
	glove-ingenuity: wiki('3/3b/Glove_Ingenuity.png'),
	charm-collector: wiki('5/59/Charm_Collector.png'),
	thick-skin: wiki('6/6a/Thick_Skin.png'),
	star-sweeping: wiki('a/a9/Star_Sweeping.png'),
	way-of-bargain: wiki('1/1a/Way_of_Bargain.png'),
	mastery-loot: wiki('3/3f/Mastery_Loot.png'),
	gemstone-pilfer: wiki('8/81/Gemstone_Pilfer.png'),
);

$emporium: (
	quick-ref-acces: wiki('d/df/Emporium_Quick_Ref_Access.png'),
	msa-expander-i: wiki('3/36/Emporium_MSA_Expander_I.png'),
    level-exemption: wiki('6/69/Emporium_Level_Exemption.png'),
	the-artifact-matrix: wiki('d/de/Emporium_The_Artifact_Matrix.png'),
	crop-deposit-scientist: wiki('9/98/Emporium_Crop_Depot_Scientist.png'),
	reinforced-science-pencil: wiki('1/1e/Emporium_Reinforced_Science_Pencil.png'),
	essence-confetti: wiki('f/f5/Emporium_Essence_Confetti.png'),
	gold-food-beanstalk: wiki('9/9d/Emporium_Gold_Food_Beanstalk.png'),
	jade-coin-magnetism: wiki('e/e1/Emporium_Jade_Coin_Magnetism.png'),
	science-pen: wiki('c/c2/Emporium_Science_Pen.png'),
	shrine-collective-bargaining-agreement: wiki('1/10/Emporium_Shrine_Collective_Bargaining_Agreement.png'),
	science-marker: wiki('f/f6/Emporium_Science_Marker.png'),
	msa-expander-ii: wiki('f/ff/Emporium_MSA_Expander_II.png'),
	no-meal-left-behind: wiki('8/8d/Emporium_No_Meal_Left_Behind.png'),
	science-featherpen: wiki('0/0f/Emporium_Science_Featherpen.png'),
	revenge-of-the-pickle: wiki('3/35/Emporium_Revenge_of_the_Pickle.png'),
	the-slab-matrix: wiki('9/99/Emporium_The_Slab_Matrix.png'),
	science-environmentally-sourced-pencil: wiki('8/8b/Emporium_Science_Environmentally_Sourced_Pencil.png'),
	msa-expander-iii: wiki('7/77/Emporium_MSA_Expander_III.png'),
	papa-blobs-quality-guarantee: wiki("5/59/Emporium_Papa_Blob's_Quality_Guarantee.png"),
    science-crayon: wiki('f/f7/Emporium_Science_Crayon.png'),
    supersized-gold-beanstacking: wiki('1/1b/Emporium_Supersized_Gold_Beanstacking.png'),
	charmed-im-sure: wiki('7/74/Emporium_Charmed%2C_I%27m_Sure.png'),
	deal-sweetening: wiki('6/6d/Emporium_Deal_Sweetening.png'),
	the-spirit-matrix: wiki('1/1f/Emporium_The_Spirit_Matrix.png'),
	the-crop-matrix: wiki('a/aa/Emporium_The_Crop_Matrix.png'),
	gaming-to-the-max: wiki('8/89/Emporium_Gaming_to_the_MAX.png'),
    chef-geustloafs-cutting-edge-philosophy: wiki("d/de/Emporium_Chef_Geustloaf's_Cutting_Edge_Philosophy.png"),
    sovereign-artifacts: wiki('f/f6/Emporium_Sovereign_Artifacts.png'),
	new-critter: wiki('b/ba/Emporium_New_Critter.png'),
	brighter-lighthouse-bulb: wiki('c/cd/Emporium_Brighter_Lighthouse_Bulb.png'),
	laboratory-bling: wiki('7/7a/Emporium_Laboratory_Bling.png'),
	science-paintbrush: wiki('4/48/Emporium_Science_Paintbrush.png'),
    ionized-sigils: wiki('1/19/Emporium_Ionized_Sigils.png'),
	the-endercaptain: wiki('a/a2/Emporium_The_Endercaptain.png'),
	mob-cosplay-craze: wiki('4/47/Emporium_Mob_Cosplay_Craze.png'),
	new-bribes: wiki('1/1c/Emporium_New_Bribes.png'),
	true-godly-blessings: wiki('d/d4/Emporium_True_Godly_Blessings.png'),
);

$weapons: (
	wood-nunchaku: wiki('c/c5/Wood_Nunchaku.png'),
	bamboo-nunchaku: wiki('3/37/Bamboo_Nunchaku.png'),
	charcoal-nunchaku: wiki('8/89/Charcoal_Nunchaku.png'),
	ignited-nunchaku: wiki('a/a5/Ignited_Nunchaku.png'),
	spiral-nunchaku: wiki('2/2e/Spiral_Nunchaku.png'),
	basic-kunai: wiki('4/47/Basic_Kunai.png'),
	jagged-kunai: wiki('1/19/Jagged_Kunai.png'),
	serrated-kunai: wiki('c/c2/Serrated_Kunai.png'),
	damascus-kunai: wiki('1/17/Damascus_Kunai.png'),
	leather-gloves: wiki('f/ff/Leather_Gloves.png'),
	chainmail-gloves: wiki('4/4a/Chainmail_Gloves.png'),
	thundergloves: wiki('a/a3/Thundergloves.png'),
);

$charms: (
	ninja-log: wiki('a/a9/Charm_Ninja_Log.png'),
	taunting-mark: wiki('6/6c/Charm_Taunting_Mark.png'),
	yellow-belt: wiki('4/4d/Charm_Yellow_Belt.png'),
	strange-comb: wiki('2/25/Charm_Strange_Comb.png'),
	silk-veil: wiki('1/1d/Charm_Silk_Veil.png'),
	meteorite: wiki('e/e9/Charm_Meteorite.png'),
	shiny-smoke: wiki('c/c0/Charm_Shiny_Smoke.png'),
	scroll-of-power: wiki('f/f6/Charm_Scroll_of_Power.png'),
	smoke-bomb: wiki('2/29/Charm_Smoke_Bomb.png'),
	gold-coin: wiki('b/be/Charm_Gold_Coin.png'),
	gold-eye: wiki('d/dd/Charm_Gold_Eye.png'),
	gold-coupon: wiki('2/2e/Charm_Gold_Coupon.png'),
	gold-scroll: wiki('3/37/Charm_Gold_Scroll.png'),
	blue-belt: wiki('c/c2/Charm_Blue_Belt.png'),
	green-belt: wiki('9/96/Charm_Green_Belt.png'),
	goodie-bag: wiki('3/31/Charm_Goodie_Bag.png'),
	lotus-flower: wiki('0/0d/Charm_Lotus_Flower.png'),
	rosaries: wiki('1/12/Charm_Rosaries.png'),
	gold-dagger: wiki('1/1e/Charm_Gold_Dagger.png'),
	black-belt: wiki('e/ec/Charm_Black_Belt.png'),
	gold-beads: wiki('3/36/Charm_Gold_Beads.png'),
	gold-star: wiki('d/de/Charm_Gold_Star.png'),
	gold-sai: wiki('7/79/Charm_Gold_Sai.png'),
	gold-envelope: wiki('f/f2/Charm_Gold_Envelope.png'),
	gold-q-mark: wiki('e/e2/Charm_Gold_Q_Mark.png'),
);

$pristine-charms: (
    sparkle-log: wiki('8/83/Charm_Sparkle_Log.png'),
	fruit-rolle: wiki('9/9f/Charm_Fruit_Rolle.png'),
	glowing-veil: wiki('6/6a/Charm_Glowing_Veil.png'),
	cotton-candy: wiki('b/b9/Charm_Cotton_Candy.png'),
	sugar-bomb: wiki('c/c4/Charm_Sugar_Bomb.png'),
	gumm-eye: wiki('1/12/Charm_Gumm_Eye.png'),
	bubblegum-law: wiki('5/5a/Charm_Bubblegum_Law.png'),
	sour-wowzer: wiki('9/94/Charm_Sour_Wowzer.png'),
	crystal-comb: wiki('d/d3/Charm_Crystal_Comb.png'),
	rock_candy: wiki('f/f8/Charm_Rock_Candy.png'),
	lollipop-law: wiki('c/c6/Charm_Lollipop_Law.png'),
	taffy-disc: wiki('9/90/Charm_Taffy_Disc.png'),
	stick-of-chew: wiki('1/1e/Charm_Stick_of_Chew.png'),
	treat-sack: wiki('e/ea/Charm_Treat_Sack.png'),
	gumm-stick: wiki('4/46/Charm_Gumm_Stick.png'),
	lolly-flower: wiki('3/3a/Charm_Lolly_Flower.png'),
	gumball-necklace: wiki('5/56/Charm_Gumball_Necklace.png'),
	liqorice-rolle: wiki('d/da/Charm_Liqorice_Rolle.png'),
);

$gemstones: (
    aquamarine: wiki('c/c3/Gem_Aquamarine.png'),
    emerald: wiki('8/8b/Gem_Emerald.png'),
    garnet: wiki('4/41/Gem_Garnet.png'),
    starite: wiki('a/a9/Gem_Starite.png'),
    topaz: wiki('5/5f/Gem_Topaz.png'),
    moissanite: wiki('6/60/Gem_Moissanite.png'),
);

$all-sneaking: map-merge($detection, $hats);
$all-sneaking: map-merge($all-sneaking, $knowledge);
$all-sneaking: map-merge($all-sneaking, $emporium);
$all-sneaking: map-merge($all-sneaking, $weapons);
$all-sneaking: map-merge($all-sneaking, $charms);
$all-sneaking: map-merge($all-sneaking, $pristine-charms);
$all-sneaking: map-merge($all-sneaking, $gemstones);
