$detection: (
	detection-high: img('wiki/Sneaking_Detection_High.png'),
	detection-mid: img('wiki/Sneaking_Detection_Mid.png'),
	detection-low: img('wiki/Sneaking_Detection_Low.png'),
	detection-lowest: img('wiki/Sneaking_Detection_Lowest.png'),
);

$hats: (
	straw-hat: img('wiki/Straw_Hat.png'),
	wig-bandana: img('wiki/Wig_Bandana.png'),
	funky-hat: img('wiki/Funky_Hat.png'),
	reinforced-headband: img('wiki/Reinforced_Headband.png'),
	shogun-helmet: img('wiki/Shogun_Helmet.png'),
	gilded-headband: img('wiki/Gilded_Headband.png'),
	bamboo-hat: img('wiki/Bamboo_Hat.png'),
	festive-beast-mask: img('wiki/Festive_Beast_Mask.png'),
	heiress-headdress: img('wiki/Heiress_Headdress.png'),
	spirited-mane: img('wiki/Spirited_Mane.png'),
	fiery-mane: img('wiki/Fiery_Mane.png'),
	guardian-mane: img('wiki/Guardian_Mane.png'),
	fanned-blossomage: img('wiki/Fanned_Blossomage.png'),
	dainty-brim: img('wiki/Dainty_Brim.png'),
	charcoal-hat: img('wiki/Charcoal_Hat.png'),
);

$knowledge: (
	way-of-stealth: img('wiki/Way_of_Stealth.png'),
	looting-ambition: img('wiki/Looting_Ambition.png'),
	nunchaku-grip: img('wiki/Nunchaku_Grip.png'),
	respect-for-the-art: img('wiki/Respect_for_the_Art.png'),
	way-of-haste: img('wiki/Way_of_Haste.png'),
	mahjong-boosters: img('wiki/Mahjong_Boosters.png'),
	kunai-knowledge: img('wiki/Kunai_Knowledge.png'),
	currency-conduit: img('wiki/Currency_Conduit.png'),
	glove-ingenuity: img('wiki/Glove_Ingenuity.png'),
	charm-collector: img('wiki/Charm_Collector.png'),
	thick-skin: img('wiki/Thick_Skin.png'),
	star-sweeping: img('wiki/Star_Sweeping.png'),
	way-of-bargain: img('wiki/Way_of_Bargain.png'),
	mastery-loot: img('wiki/Mastery_Loot.png'),
	gemstone-pilfer: img('wiki/Gemstone_Pilfer.png'),
);

$emporium: (
    /* Not in in-game order but source order. Just to make image maintenance easier */
	quick-ref-access: img('data/NjJupg0.png'),
	gold-food-beanstalk: img('data/NjJupg1.png'),
    supersized-gold-beanstacking: img('data/NjJupg2.png'),
	charmed-i-m-sure: img('data/NjJupg3.png'),
	mob-cosplay-craze: img('data/NjJupg4.png'),
    level-exemption: img('data/NjJupg5.png'),
	gaming-to-the-max: img('data/NjJupg6.png'),
	revenge-of-the-pickle: img('data/NjJupg7.png'),
	the-artifact-matrix: img('data/NjJupg8.png'),
	the-slab-matrix: img('data/NjJupg9.png'),
	the-spirit-matrix: img('data/NjJupg10.png'),
	the-crop-matrix: img('data/NjJupg11.png'),
	msa-expander-i: img('data/NjJupg12.png'),
	msa-expander-ii: img('data/NjJupg13.png'),
	msa-expander-iii: img('data/NjJupg14.png'),
	deal-sweetening: img('data/NjJupg15.png'),
	no-meal-left-behind: img('data/NjJupg16.png'),
	jade-coin-magnetism: img('data/NjJupg17.png'),
	essence-confetti: img('data/NjJupg18.png'),
	shrine-collective-bargaining-agreement: img('data/NjJupg19.png'),
	papa-blob-s-quality-guarantee: img('data/NjJupg20.png'),
    chef-geustloaf-s-cutting-edge-philosophy: img('data/NjJupg21.png'),
	crop-depot-scientist: img('data/NjJupg22.png'),
	science-environmentally-sourced-pencil: img('data/NjJupg23.png'),
	science-pen: img('data/NjJupg24.png'),
	science-marker: img('data/NjJupg25.png'),
	science-featherpen: img('data/NjJupg26.png'),
	reinforced-science-pencil: img('data/NjJupg27.png'),
    science-crayon: img('data/NjJupg28.png'),
	science-paintbrush: img('data/NjJupg29.png'),
	new-critter: img('data/NjJupg30.png'),
    ionized-sigils: img('data/NjJupg31.png'),
	the-endercaptain: img('data/NjJupg32.png'),
	true-godly-blessings: img('data/NjJupg33.png'),
	brighter-lighthouse-bulb: img('data/NjJupg34.png'),
    sovereign-artifacts: img('data/NjJupg35.png'),
	new-bribes: img('data/NjJupg36.png'),
	laboratory-bling: img('data/NjJupg37.png'),
	science-highlighter: img('data/NjJupg38.png'),
	emperor-season-pass: img('data/NjJupg39.png'),
    science-fancy-pen: img('data/NjJupg40.png'),
    palette-slot: img('data/NjJupg41.png'),
    another-gallery-podium: img('data/NjJupg42.png'),
    coral-conservationism: img('data/NjJupg43.png')
);

$weapons: (
	wood-nunchaku: img('wiki/Wood_Nunchaku.png'),
	bamboo-nunchaku: img('wiki/Bamboo_Nunchaku.png'),
	charcoal-nunchaku: img('wiki/Charcoal_Nunchaku.png'),
	ignited-nunchaku: img('wiki/Ignited_Nunchaku.png'),
	spiral-nunchaku: img('wiki/Spiral_Nunchaku.png'),
	basic-kunai: img('wiki/Basic_Kunai.png'),
	jagged-kunai: img('wiki/Jagged_Kunai.png'),
	serrated-kunai: img('wiki/Serrated_Kunai.png'),
	damascus-kunai: img('wiki/Damascus_Kunai.png'),
	leather-gloves: img('wiki/Leather_Gloves.png'),
	chainmail-gloves: img('wiki/Chainmail_Gloves.png'),
	thundergloves: img('wiki/Thundergloves.png'),
);

$charms: (
	sneaking-ninja-log: img('data/NjTr0.png'),
	sneaking-taunting-mark: img('data/NjTr1.png'),
	sneaking-yellow-belt: img('data/NjTr2.png'),
	sneaking-strange-comb: img('data/NjTr3.png'),
	sneaking-silk-veil: img('data/NjTr4.png'),
	sneaking-meteorite: img('data/NjTr5.png'),
	sneaking-shiny-smoke: img('data/NjTr6.png'),
	sneaking-scroll-of-power: img('data/NjTr7.png'),
	sneaking-smoke-bomb: img('data/NjTr8.png'),
	sneaking-gold-coin: img('data/NjTr9.png'),
	sneaking-gold-eye: img('data/NjTr10.png'),
	sneaking-gold-coupon: img('data/NjTr11.png'),
	sneaking-gold-scroll: img('data/NjTr12.png'),
	sneaking-blue-belt: img('data/NjTr13.png'),
	sneaking-green-belt: img('data/NjTr14.png'),
	sneaking-goodie-bag: img('data/NjTr15.png'),
	sneaking-lotus-flower: img('data/NjTr16.png'),
	sneaking-rosaries: img('data/NjTr17.png'),
	sneaking-gold-dagger: img('data/NjTr18.png'),
	sneaking-black-belt: img('data/NjTr19.png'),
	sneaking-gold-beads: img('data/NjTr20.png'),
	sneaking-gold-star: img('data/NjTr21.png'),
	sneaking-gold-sai: img('data/NjTr22.png'),
	sneaking-gold-envelope: img('data/NjTr23.png'),
	sneaking-gold-q-mark: img('data/NjTr24.png'),
);

$pristine-charms: (
    sparkle-log:        img('data/NjTrP0.png'),
	fruit-rolle:        img('data/NjTrP1.png'),
	glowing-veil:       img('data/NjTrP2.png'),
	cotton-candy-charm: img('data/NjTrP3.png'),
	sugar-bomb:         img('data/NjTrP4.png'),
	gumm-eye:           img('data/NjTrP5.png'),
	bubblegum-law:      img('data/NjTrP6.png'),
	sour-wowzer:        img('data/NjTrP7.png'),
	crystal-comb:       img('data/NjTrP8.png'),
	rock-candy:         img('data/NjTrP9.png'),
	lollipop-law:       img('data/NjTrP10.png'),
	taffy-disc:         img('data/NjTrP11.png'),
	stick-of-chew:      img('data/NjTrP12.png'),
	treat-sack:         img('data/NjTrP13.png'),
	gumm-stick:         img('data/NjTrP14.png'),
	lolly-flower:       img('data/NjTrP15.png'),
	gumball-necklace:   img('data/NjTrP16.png'),
	liqorice-rolle:     img('data/NjTrP17.png'),
	glimmerchain:       img('data/NjTrP18.png'),
	twinkle-taffy:      img('data/NjTrP19.png'),
	jellypick:          img('data/NjTrP20.png'),
    candy-cache:        img('data/NjTrP21.png'),
    mystery-fizz:       img('data/NjTrP22.png')
);

$gemstones: (
    aquamarine: img('data/NjGem0.png'),
    malachite:  img('data/NjGem1.png'),
    garnet:     img('data/NjGem2.png'),
    starite:    img('data/NjGem3.png'),
    topaz:      img('data/NjGem4.png'),
    moissanite: img('data/NjGem5.png'),
    emerald:    img('data/NjGem6.png'),
    firefrost:  img('data/NjGem7.png'),
);

$etc: (
    jade-coin: img('wiki/Jade_Coin.png')
);

$all-sneaking: map-merge($detection, $hats);
$all-sneaking: map-merge($all-sneaking, $knowledge);
$all-sneaking: map-merge($all-sneaking, $emporium);
$all-sneaking: map-merge($all-sneaking, $weapons);
$all-sneaking: map-merge($all-sneaking, $charms);
$all-sneaking: map-merge($all-sneaking, $pristine-charms);
$all-sneaking: map-merge($all-sneaking, $gemstones);
$all-sneaking: map-merge($all-sneaking, $etc);
