$detection: (
	detection-high: img('wiki/Sneaking_Detection_High.png'),
	detection-mid: img('wiki/Sneaking_Detection_Mid.png'),
	detection-low: img('wiki/Sneaking_Detection_Low.png'),
	detection-lowest: img('wiki/Sneaking_Detection_Lowest.png'),
);

$hats: (
	straw-hat: img('wiki/Straw_Hat.png'),
	wig-bandana: img('wiki/Wig_Bandana.png'),
	funky-hat: img('wiki/Funky_Hat.png'),
	reinforced-headband: img('wiki/Reinforced_Headband.png'),
	shogun-helmet: img('wiki/Shogun_Helmet.png'),
	gilded-headband: img('wiki/Gilded_Headband.png'),
	bamboo-hat: img('wiki/Bamboo_Hat.png'),
	festive-beast-mask: img('wiki/Festive_Beast_Mask.png'),
	heiress-headdress: img('wiki/Heiress_Headdress.png'),
	spirited-mane: img('wiki/Spirited_Mane.png'),
	fiery-mane: img('wiki/Fiery_Mane.png'),
	guardian-mane: img('wiki/Guardian_Mane.png'),
	fanned-blossomage: img('wiki/Fanned_Blossomage.png'),
	dainty-brim: img('wiki/Dainty_Brim.png'),
	charcoal-hat: img('wiki/Charcoal_Hat.png'),
);

$knowledge: (
	way-of-stealth: img('wiki/Way_of_Stealth.png'),
	looting-ambition: img('wiki/Looting_Ambition.png'),
	nunchaku-grip: img('wiki/Nunchaku_Grip.png'),
	respect-for-the-art: img('wiki/Respect_for_the_Art.png'),
	way-of-haste: img('wiki/Way_of_Haste.png'),
	mahjong-boosters: img('wiki/Mahjong_Boosters.png'),
	kunai-knowledge: img('wiki/Kunai_Knowledge.png'),
	currency-conduit: img('wiki/Currency_Conduit.png'),
	glove-ingenuity: img('wiki/Glove_Ingenuity.png'),
	charm-collector: img('wiki/Charm_Collector.png'),
	thick-skin: img('wiki/Thick_Skin.png'),
	star-sweeping: img('wiki/Star_Sweeping.png'),
	way-of-bargain: img('wiki/Way_of_Bargain.png'),
	mastery-loot: img('wiki/Mastery_Loot.png'),
	gemstone-pilfer: img('wiki/Gemstone_Pilfer.png'),
);

$emporium: (
	quick-ref-acces: img('wiki/Emporium_Quick_Ref_Access.png'),
	msa-expander-i: img('wiki/Emporium_MSA_Expander_I.png'),
    level-exemption: img('wiki/Emporium_Level_Exemption.png'),
	the-artifact-matrix: img('wiki/Emporium_The_Artifact_Matrix.png'),
	crop-deposit-scientist: img('wiki/Emporium_Crop_Depot_Scientist.png'),
	reinforced-science-pencil: img('wiki/Emporium_Reinforced_Science_Pencil.png'),
	essence-confetti: img('wiki/Emporium_Essence_Confetti.png'),
	gold-food-beanstalk: img('wiki/Emporium_Gold_Food_Beanstalk.png'),
	jade-coin-magnetism: img('wiki/Emporium_Jade_Coin_Magnetism.png'),
	science-pen: img('wiki/Emporium_Science_Pen.png'),
	shrine-collective-bargaining-agreement: img('wiki/Emporium_Shrine_Collective_Bargaining_Agreement.png'),
	science-marker: img('wiki/Emporium_Science_Marker.png'),
	msa-expander-ii: img('wiki/Emporium_MSA_Expander_II.png'),
	no-meal-left-behind: img('wiki/Emporium_No_Meal_Left_Behind.png'),
	science-featherpen: img('wiki/Emporium_Science_Featherpen.png'),
	revenge-of-the-pickle: img('wiki/Emporium_Revenge_of_the_Pickle.png'),
	the-slab-matrix: img('wiki/Emporium_The_Slab_Matrix.png'),
	science-environmentally-sourced-pencil: img('wiki/Emporium_Science_Environmentally_Sourced_Pencil.png'),
	msa-expander-iii: img('wiki/Emporium_MSA_Expander_III.png'),
	papa-blobs-quality-guarantee: img("wiki/Emporium_Papa_Blob's_Quality_Guarantee.png"),
    science-crayon: img('wiki/Emporium_Science_Crayon.png'),
    supersized-gold-beanstacking: img('wiki/Emporium_Supersized_Gold_Beanstacking.png'),
	charmed-im-sure: img('wiki/Emporium_Charmed%2C_I%27m_Sure.png'),
	deal-sweetening: img('wiki/Emporium_Deal_Sweetening.png'),
	the-spirit-matrix: img('wiki/Emporium_The_Spirit_Matrix.png'),
	the-crop-matrix: img('wiki/Emporium_The_Crop_Matrix.png'),
	gaming-to-the-max: img('wiki/Emporium_Gaming_to_the_MAX.png'),
    chef-geustloafs-cutting-edge-philosophy: img("wiki/Emporium_Chef_Geustloaf's_Cutting_Edge_Philosophy.png"),
    sovereign-artifacts: img('wiki/Emporium_Sovereign_Artifacts.png'),
	new-critter: img('wiki/Emporium_New_Critter.png'),
	brighter-lighthouse-bulb: img('wiki/Emporium_Brighter_Lighthouse_Bulb.png'),
	laboratory-bling: img('wiki/Emporium_Laboratory_Bling.png'),
	science-paintbrush: img('wiki/Emporium_Science_Paintbrush.png'),
    ionized-sigils: img('wiki/Emporium_Ionized_Sigils.png'),
	the-endercaptain: img('wiki/Emporium_The_Endercaptain.png'),
	mob-cosplay-craze: img('wiki/Emporium_Mob_Cosplay_Craze.png'),
	new-bribes: img('wiki/Emporium_New_Bribes.png'),
	true-godly-blessings: img('wiki/Emporium_True_Godly_Blessings.png'),
);

$weapons: (
	wood-nunchaku: img('wiki/Wood_Nunchaku.png'),
	bamboo-nunchaku: img('wiki/Bamboo_Nunchaku.png'),
	charcoal-nunchaku: img('wiki/Charcoal_Nunchaku.png'),
	ignited-nunchaku: img('wiki/Ignited_Nunchaku.png'),
	spiral-nunchaku: img('wiki/Spiral_Nunchaku.png'),
	basic-kunai: img('wiki/Basic_Kunai.png'),
	jagged-kunai: img('wiki/Jagged_Kunai.png'),
	serrated-kunai: img('wiki/Serrated_Kunai.png'),
	damascus-kunai: img('wiki/Damascus_Kunai.png'),
	leather-gloves: img('wiki/Leather_Gloves.png'),
	chainmail-gloves: img('wiki/Chainmail_Gloves.png'),
	thundergloves: img('wiki/Thundergloves.png'),
);

$charms: (
	ninja-log: img('wiki/Charm_Ninja_Log.png'),
	taunting-mark: img('wiki/Charm_Taunting_Mark.png'),
	yellow-belt: img('wiki/Charm_Yellow_Belt.png'),
	strange-comb: img('wiki/Charm_Strange_Comb.png'),
	silk-veil: img('wiki/Charm_Silk_Veil.png'),
	meteorite: img('wiki/Charm_Meteorite.png'),
	shiny-smoke: img('wiki/Charm_Shiny_Smoke.png'),
	scroll-of-power: img('wiki/Charm_Scroll_of_Power.png'),
	smoke-bomb: img('wiki/Charm_Smoke_Bomb.png'),
	gold-coin: img('wiki/Charm_Gold_Coin.png'),
	gold-eye: img('wiki/Charm_Gold_Eye.png'),
	gold-coupon: img('wiki/Charm_Gold_Coupon.png'),
	gold-scroll: img('wiki/Charm_Gold_Scroll.png'),
	blue-belt: img('wiki/Charm_Blue_Belt.png'),
	green-belt: img('wiki/Charm_Green_Belt.png'),
	goodie-bag: img('wiki/Charm_Goodie_Bag.png'),
	lotus-flower: img('wiki/Charm_Lotus_Flower.png'),
	rosaries: img('wiki/Charm_Rosaries.png'),
	gold-dagger: img('wiki/Charm_Gold_Dagger.png'),
	black-belt: img('wiki/Charm_Black_Belt.png'),
	gold-beads: img('wiki/Charm_Gold_Beads.png'),
	gold-star: img('wiki/Charm_Gold_Star.png'),
	gold-sai: img('wiki/Charm_Gold_Sai.png'),
	gold-envelope: img('wiki/Charm_Gold_Envelope.png'),
	gold-q-mark: img('wiki/Charm_Gold_Q_Mark.png'),
);

$pristine-charms: (
    sparkle-log: img('wiki/Charm_Sparkle_Log.png'),
	fruit-rolle: img('wiki/Charm_Fruit_Rolle.png'),
	glowing-veil: img('wiki/Charm_Glowing_Veil.png'),
	cotton-candy: img('wiki/Charm_Cotton_Candy.png'),
	sugar-bomb: img('wiki/Charm_Sugar_Bomb.png'),
	gumm-eye: img('wiki/Charm_Gumm_Eye.png'),
	bubblegum-law: img('wiki/Charm_Bubblegum_Law.png'),
	sour-wowzer: img('wiki/Charm_Sour_Wowzer.png'),
	crystal-comb: img('wiki/Charm_Crystal_Comb.png'),
	rock-candy: img('wiki/Charm_Rock_Candy.png'),
	lollipop-law: img('wiki/Charm_Lollipop_Law.png'),
	taffy-disc: img('wiki/Charm_Taffy_Disc.png'),
	stick-of-chew: img('wiki/Charm_Stick_of_Chew.png'),
	treat-sack: img('wiki/Charm_Treat_Sack.png'),
	gumm-stick: img('wiki/Charm_Gumm_Stick.png'),
	lolly-flower: img('wiki/Charm_Lolly_Flower.png'),
	gumball-necklace: img('wiki/Charm_Gumball_Necklace.png'),
	liqorice-rolle: img('wiki/Charm_Liqorice_Rolle.png'),
);

$gemstones: (
    aquamarine: img('wiki/Gem_Aquamarine.png'),
    emerald: img('wiki/Gem_Emerald.png'),
    garnet: img('wiki/Gem_Garnet.png'),
    starite: img('wiki/Gem_Starite.png'),
    topaz: img('wiki/Gem_Topaz.png'),
    moissanite: img('wiki/Gem_Moissanite.png'),
);

$all-sneaking: map-merge($detection, $hats);
$all-sneaking: map-merge($all-sneaking, $knowledge);
$all-sneaking: map-merge($all-sneaking, $emporium);
$all-sneaking: map-merge($all-sneaking, $weapons);
$all-sneaking: map-merge($all-sneaking, $charms);
$all-sneaking: map-merge($all-sneaking, $pristine-charms);
$all-sneaking: map-merge($all-sneaking, $gemstones);
