$starsigns: (
    //Chronus
    the-buff-guy: img('starsigns/the-buff-guy.png'),
    flexo-bendo: img('starsigns/flexo-bendo.png'),
    the-book-worm: img('starsigns/the-book-worm.png'),
    the-fuzzy-dice: img('starsigns/the-fuzzy-dice.png'),
    dwarfo-beardus: img('starsigns/dwarfo-beardus.png'),
    hipster-logger: img('starsigns/hipster-logger.png'),
    pie-seas: img('starsigns/pie-seas.png'),
    shoe-fly: img('starsigns/shoe-fly.png'),
    blue-hedgehog: img('starsigns/blue-hedgehog.png'),
    gum-drop: img('starsigns/gum-drop.png'),
    activelius: img('starsigns/activelius.png'),
    pack-mule: img('starsigns/pack-mule.png'),
    ned-kelly: img('starsigns/ned-kelly.png'),
    robinhood: img('starsigns/robinhood.png'),
    pirate-booty: img('starsigns/pirate-booty.png'),
    muscle-man: img('starsigns/muscle-man.png'),
    fast-frog: img('starsigns/fast-frog.png'),
    smart-stooge: img('starsigns/smart-stooge.png'),
    lucky-larry: img('starsigns/lucky-larry.png'),
    silly-snoozer: img('starsigns/silly-snoozer.png'),
    the-big-comatose: img('starsigns/the-big-comatose.png'),
    miniature-game: img('starsigns/miniature-game.png'),
    mount-eaterest: img('starsigns/mount-eaterest.png'),
    bob-build-guy: img('starsigns/bob-build-guy.png'),
    the-big-brain: img('starsigns/the-big-brain.png'),
    the-og-skiller: img('starsigns/the-og-skiller.png'),
    grim-reaper: img('starsigns/grim-reaper.png'),
    the-fallen-titan: img('starsigns/the-fallen-titan.png'),
    the-forsaken: img('starsigns/the-forsaken.png'),
    mr-no-sleep: img('starsigns/mr-no-sleep.png'),
    sir-savvy: img('starsigns/sir-savvy.png'),
    all-rounder: img('starsigns/all-rounder.png'),
    fatty-doodoo: img('starsigns/fatty-doodoo.png'),
    chronus-cosmos: img('starsigns/chronus-cosmos.png'),

    //Hydron
    all-rounderi: img('starsigns/all-rounderi.png'),
    centaurii: img('starsigns/centaurii.png'),
    murmollio: img('starsigns/murmollio.png'),
    strandissi: img('starsigns/strandissi.png'),
    agitagi: img('starsigns/agitagi.png'),
    wispommo: img('starsigns/wispommo.png'),
    lukiris: img('starsigns/lukiris.png'),
    pokaminni: img('starsigns/pokaminni.png'),
    gor-bowzor: img('starsigns/gor-bowzor.png'),
    hydron-cosmos: img('starsigns/hydron-cosmos.png'),
    trapezoidburg: img('starsigns/trapezoidburg.png'),
    sawsaw-salala: img('starsigns/sawsaw-salala.png'),
    preys-bea: img('starsigns/preys-bea.png'),
    cullingo: img('starsigns/cullingo.png'),
    gum-drop-major: img('starsigns/gum-drop-major.png'),
    grim-reaper-major: img('starsigns/grim-reaper-major.png'),
    sir-savvy-major: img('starsigns/sir-savvy-major.png'),
    the-bulwark: img('starsigns/the-bulwark.png'),
    big-brain-major: img('starsigns/big-brain-major.png'),
    the-fiesty: img('starsigns/the-fiesty.png'),
    the-overachiever: img('starsigns/the-overachiever.png'),
    comatose-major: img('starsigns/comatose-major.png'),
    s-snoozer-major: img('starsigns/s.-snoozer-major.png'),
    breedabilli: img('starsigns/breedabilli.png'),
    gordonius-major: img('starsigns/gordonius-major.png'),
    power-bowower: img('starsigns/power-bowower.png'),
    scienscion: img('starsigns/scienscion.png'),
    artifosho: img('starsigns/artifosho.png'),
    divividov: img('starsigns/divividov.png'),
    c-shanti-minor: img('starsigns/c.-shanti-minor.png'),

    //Seraph
    muscle-magnus: img('starsigns/muscle-magnus.png'),
    cropiovo-minor: img('starsigns/cropiovo-minor.png'),
    fabarmi: img('starsigns/fabarmi.png'),
    og-signalais: img('starsigns/og-signalais.png'),
    lightspeed-frog: img('starsigns/lightspeed-frog.png'),
    beanbie-major: img('starsigns/beanbie-major.png'),
    damarian-major: img('starsigns/damarian-major.png'),
    lotto-larrinald: img('starsigns/lotto-larrinald.png'),
    intellostooge: img('starsigns/intellostooge.png'),
    s-tealio: img('starsigns/s.-tealio.png'),
    sneekee-e-x: img('starsigns/sneekee-e.-x..png'),
    jadaciussi: img('starsigns/jadaciussi.png'),
    druipi-major: img('starsigns/druipi-major.png'),
    sumo-magno: img('starsigns/sumo-magno.png'),
    killian-maximus: img('starsigns/killian-maximus.png'),
    seraph-cosmos: img('starsigns/seraph-cosmos.png'),
    glimmer-of-beyond: img('starsigns/glimmer-of-beyond.png'),
);
