$starsigns: (
    pack-mule: img('starsigns/pack-mule.png'),
    grim-reaper: img('starsigns/grim-reaper.png'),
    the-og-skiller: img('starsigns/the-og-skiller.png'),
    mr-no-sleep: img('starsigns/mr-no-sleep.png'),
    grim-reaper-major: img('starsigns/grim-reaper-major.png'),
    breedabilli: img('starsigns/breedabilli.png'),
    seraph-cosmos: img('starsigns/seraph-cosmos.png'),
);
