$normal-statues: (
    normal-power-statue:        img('data/Statue1.png'),
    normal-speed-statue:        img('data/Statue2.png'),
    normal-mining-statue:       img('data/Statue3.png'),
    normal-feasty-statue:       img('data/Statue4.png'),
    normal-health-statue:       img('data/Statue5.png'),
    normal-kachow-statue:       img('data/Statue6.png'),
    normal-lumberbob-statue:    img('data/Statue7.png'),
    normal-thicc-skin-statue:   img('data/Statue8.png'),
    normal-oceanman-statue:     img('data/Statue9.png'),
    normal-ol-reliable-statue:  img('data/Statue10.png'),
    normal-exp-statue:          img('data/Statue11.png'),
    normal-anvil-statue:        img('data/Statue12.png'),
    normal-cauldron-statue:     img('data/Statue13.png'),
    normal-beholder-statue:     img('data/Statue14.png'),
    normal-bullseye-statue:     img('data/Statue15.png'),
    normal-box-statue:          img('data/Statue16.png'),
    normal-twosoul-statue:      img('data/Statue17.png'),
    normal-ehexpee-statue:      img('data/Statue18.png'),
    normal-seesaw-statue:       img('data/Statue19.png'),
    normal-pecunia-statue:      img('data/Statue20.png'),
    normal-mutton-statue:       img('data/Statue21.png'),
    normal-egg-statue:          img('data/Statue22.png'),
    normal-battleaxe-statue:    img('data/Statue23.png'),
    normal-spiral-statue:       img('data/Statue24.png'),
    normal-boat-statue:         img('data/Statue25.png'),
    normal-compost-statue:      img('data/Statue26.png'),
    normal-stealth-statue:      img('data/Statue27.png'),
    normal-essence-statue:      img('data/Statue28.png'),
    normal-villager-statue:     img('data/Statue29.png'),
    normal-dragon-statue:       img('data/Statue30.png'),
    normal-spelunky-statue:     img('data/Statue31.png'),
    normal-coral-statue:        img('data/Statue32.png'),
);

$gold-statues: (
    gold-power-statue:          img('data/StatueG1.png'),
    gold-speed-statue:          img('data/StatueG2.png'),
    gold-mining-statue:         img('data/StatueG3.png'),
    gold-feasty-statue:         img('data/StatueG4.png'),
    gold-health-statue:         img('data/StatueG5.png'),
    gold-kachow-statue:         img('data/StatueG6.png'),
    gold-lumberbob-statue:      img('data/StatueG7.png'),
    gold-thicc-skin-statue:     img('data/StatueG8.png'),
    gold-oceanman-statue:       img('data/StatueG9.png'),
    gold-ol-reliable-statue:    img('data/StatueG10.png'),
    gold-exp-statue:            img('data/StatueG11.png'),
    gold-anvil-statue:          img('data/StatueG12.png'),
    gold-cauldron-statue:       img('data/StatueG13.png'),
    gold-beholder-statue:       img('data/StatueG14.png'),
    gold-bullseye-statue:       img('data/StatueG15.png'),
    gold-box-statue:            img('data/StatueG16.png'),
    gold-twosoul-statue:        img('data/StatueG17.png'),
    gold-ehexpee-statue:        img('data/StatueG18.png'),
    gold-seesaw-statue:         img('data/StatueG19.png'),
    gold-pecunia-statue:        img('data/StatueG20.png'),
    gold-mutton-statue:         img('data/StatueG21.png'),
    gold-egg-statue:            img('data/StatueG22.png'),
    gold-battleaxe-statue:      img('data/StatueG23.png'),
    gold-spiral-statue:         img('data/StatueG24.png'),
    gold-boat-statue:           img('data/StatueG25.png'),
    gold-compost-statue:        img('data/StatueG26.png'),
    gold-stealth-statue:        img('data/StatueG27.png'),
    gold-essence-statue:        img('data/StatueG28.png'),
    gold-villager-statue:       img('data/StatueG29.png'),
    gold-dragon-statue:         img('data/StatueG30.png'),
    gold-spelunky-statue:       img('data/StatueG31.png'),
    gold-coral-statue:          img('data/StatueG32.png'),
);

$onyx-statues: (
    onyx-power-statue:          img('data/StatueO1.png'),
    onyx-speed-statue:          img('data/StatueO2.png'),
    onyx-mining-statue:         img('data/StatueO3.png'),
    onyx-feasty-statue:         img('data/StatueO4.png'),
    onyx-health-statue:         img('data/StatueO5.png'),
    onyx-kachow-statue:         img('data/StatueO6.png'),
    onyx-lumberbob-statue:      img('data/StatueO7.png'),
    onyx-thicc-skin-statue:     img('data/StatueO8.png'),
    onyx-oceanman-statue:       img('data/StatueO9.png'),
    onyx-ol-reliable-statue:    img('data/StatueO10.png'),
    onyx-exp-statue:            img('data/StatueO11.png'),
    onyx-anvil-statue:          img('data/StatueO12.png'),
    onyx-cauldron-statue:       img('data/StatueO13.png'),
    onyx-beholder-statue:       img('data/StatueO14.png'),
    onyx-bullseye-statue:       img('data/StatueO15.png'),
    onyx-box-statue:            img('data/StatueO16.png'),
    onyx-twosoul-statue:        img('data/StatueO17.png'),
    onyx-ehexpee-statue:        img('data/StatueO18.png'),
    onyx-seesaw-statue:         img('data/StatueO19.png'),
    onyx-pecunia-statue:        img('data/StatueO20.png'),
    onyx-mutton-statue:         img('data/StatueO21.png'),
    onyx-egg-statue:            img('data/StatueO22.png'),
    onyx-battleaxe-statue:      img('data/StatueO23.png'),
    onyx-spiral-statue:         img('data/StatueO24.png'),
    onyx-boat-statue:           img('data/StatueO25.png'),
    onyx-compost-statue:        img('data/StatueO26.png'),
    onyx-stealth-statue:        img('data/StatueO27.png'),
    onyx-essence-statue:        img('data/StatueO28.png'),
    onyx-villager-statue:       img('data/StatueO29.png'),
    onyx-dragon-statue:         img('data/StatueO30.png'),
    onyx-spelunky-statue:       img('data/StatueO31.png'),
    onyx-coral-statue:          img('data/StatueO32.png'),
);

$zenith-statues: (
    zenith-power-statue:        img('data/StatueZ1.png'),
    zenith-speed-statue:        img('data/StatueZ2.png'),
    zenith-mining-statue:       img('data/StatueZ3.png'),
    zenith-feasty-statue:       img('data/StatueZ4.png'),
    zenith-health-statue:       img('data/StatueZ5.png'),
    zenith-kachow-statue:       img('data/StatueZ6.png'),
    zenith-lumberbob-statue:    img('data/StatueZ7.png'),
    zenith-thicc-skin-statue:   img('data/StatueZ8.png'),
    zenith-oceanman-statue:     img('data/StatueZ9.png'),
    zenith-ol-reliable-statue:  img('data/StatueZ10.png'),
    zenith-exp-statue:          img('data/StatueZ11.png'),
    zenith-anvil-statue:        img('data/StatueZ12.png'),
    zenith-cauldron-statue:     img('data/StatueZ13.png'),
    zenith-beholder-statue:     img('data/StatueZ14.png'),
    zenith-bullseye-statue:     img('data/StatueZ15.png'),
    zenith-box-statue:          img('data/StatueZ16.png'),
    zenith-twosoul-statue:      img('data/StatueZ17.png'),
    zenith-ehexpee-statue:      img('data/StatueZ18.png'),
    zenith-seesaw-statue:       img('data/StatueZ19.png'),
    zenith-pecunia-statue:      img('data/StatueZ20.png'),
    zenith-mutton-statue:       img('data/StatueZ21.png'),
    zenith-egg-statue:          img('data/StatueZ22.png'),
    zenith-battleaxe-statue:    img('data/StatueZ23.png'),
    zenith-spiral-statue:       img('data/StatueZ24.png'),
    zenith-boat-statue:         img('data/StatueZ25.png'),
    zenith-compost-statue:      img('data/StatueZ26.png'),
    zenith-stealth-statue:      img('data/StatueZ27.png'),
    zenith-essence-statue:      img('data/StatueZ28.png'),
    zenith-villager-statue:     img('data/StatueZ29.png'),
    zenith-dragon-statue:       img('data/StatueZ30.png'),
    zenith-spelunky-statue:     img('data/StatueZ31.png'),
    zenith-coral-statue:        img('data/StatueZ32.png'),
);

$all-statues: map-merge($normal-statues, $gold-statues);
$all-statues: map-merge($all-statues, $onyx-statues);
$all-statues: map-merge($all-statues, $zenith-statues);
