$starsigns: (
    pack-mule: img('starsigns/pack-mule.png'),
    the-og-skiller: img('starsigns/the-og-skiller.png'),
    mr-no-sleep: img('starsigns/mr-no-sleep.png'),
    breedabilli: img('starsigns/breedabilli.png'),
    seraph-cosmos: img('starsigns/seraph-cosmos.png'),
);
