@import "gem-shop";

$inventory-bags: (
    inventory-bag-a: img('data/InvBag1.png'),
    inventory-bag-b: img('data/InvBag2.png'),
    inventory-bag-c: img('data/InvBag3.png'),
    inventory-bag-d: img('data/InvBag4.png'),
    inventory-bag-e: img('data/InvBag5.png'),
    inventory-bag-f: img('data/InvBag6.png'),
    inventory-bag-g: img('data/InvBag7.png'),
    inventory-bag-h: img('data/InvBag8.png'),
    inventory-bag-u: map-get($gem-shop, inventory-bag-u),
    inventory-bag-v: img('data/InvBag22.png'),
    inventory-bag-w: img('data/InvBag23.png'),
    inventory-bag-x: img('data/InvBag24.png'),
    inventory-bag-y: img('data/InvBag25.png'),
    inventory-bag-z: img('data/InvBag26.png'),
    snakeskinventory-bag: img('data/InvBag100.png'),
    totally-normal-and-not-fake-bag: img('data/InvBag101.png'),
    blunderbag: img('data/InvBag102.png'),
    sandy-satchel: img('data/InvBag103.png'),
    bummo-bag: img('data/InvBag104.png'),
    capitalist-case: img('data/InvBag105.png'),
    wealthy-wallet: img('data/InvBag106.png'),
    prosperous-pouch: img('data/InvBag107.png'),
    sack-of-success: img('data/InvBag108.png'),
    shivering-sack: img('data/InvBag109.png'),
    mamooth-hide-bag: img('data/InvBag110.png'),
    peeper-pouch: img('data/InvBag111.png'),
    x4th-anniversary-bag: img('data/InvBag112.png'),
    treasure-totebag: img('data/InvBag113.png'),
    rucksack-of-riches: img('data/InvBag114.png'),
    eternal-hunter-bag: img('customized/Eternal_Hunter_Bag.png'),  //Credit to Listix
    loot-luggage: img('data/InvBag115.png')
);

$storage-chests: (
    storage-chest-1:  img('data/InvStorage1.png'),
    storage-chest-2:  img('data/InvStorage2.png'),
    storage-chest-3:  img('data/InvStorage3.png'),
    storage-chest-4:  img('data/InvStorage4.png'),
    storage-chest-5:  img('data/InvStorage5.png'),
    storage-chest-6:  img('data/InvStorage6.png'),
    storage-chest-7:  img('data/InvStorage7.png'),
    storage-chest-8:  img('data/InvStorage8.png'),
    storage-chest-9:  img('data/InvStorage9.png'),
    storage-chest-10: img('data/InvStorage10.png'),
    storage-chest-11: img('data/InvStorage11.png'),
    storage-chest-12: img('data/InvStorage12.png'),
    storage-chest-13: img('data/InvStorage13.png'),
    storage-chest-14: img('data/InvStorage14.png'),
    storage-chest-15: img('data/InvStorage15.png'),
    storage-chest-16: img('data/InvStorage16.png'),
    storage-chest-17: img('data/InvStorage17.png'),
    storage-chest-18: img('data/InvStorage18.png'),
    storage-chest-19: img('data/InvStorage19.png'),
    storage-chest-20: img('data/InvStorage20.png'),
    storage-chest-21: img('data/InvStorage21.png'),
    storage-chest-22: img('data/InvStorage22.png'),
    storage-chest-23: img('data/InvStorage23.png'),
    storage-chest-24: img('data/InvStorage24.png'),
    storage-chest-25: img('data/InvStorage25.png'),
    storage-chest-26: img('data/InvStorage26.png'),
    storage-chest-27: img('data/InvStorage27.png'),
    storage-chest-28: img('data/InvStorage28.png'),
    storage-chest-29: img('data/InvStorage29.png'),
    storage-chest-30: img('data/InvStorage30.png'),
    cosmic-storage-chest: map-get($gem-shop, cosmic-storage-chest),
    //2025-11-13 could not find 90-99 images in data or graphics, use Wiki for now
    storage-chest-90:  map-get($gem-shop, storage-chest-90),
    storage-chest-91:  img('wiki/Storage_Chest_91.png'),
    storage-chest-92:  img('wiki/Storage_Chest_92.png'),
    storage-chest-93:  img('wiki/Storage_Chest_93.png'),
    storage-chest-94:  img('wiki/Storage_Chest_94.png'),
    storage-chest-95:  img('wiki/Storage_Chest_95.png'),
    storage-chest-96:  img('wiki/Storage_Chest_96.png'),
    storage-chest-97:  img('wiki/Storage_Chest_97.png'),
    storage-chest-98:  img('wiki/Storage_Chest_98.png'),
    storage-chest-99:  img('wiki/Storage_Chest_99.png'),
    storage-chest-99b: img('wiki/Storage_Chest_99B.png'),
    storage-chest-99c: img('wiki/Storage_Chest_99C.png'),
    cheesy-chest:           img('data/InvStorageC.png'),
    woodlin-chest:          img('data/InvStorageD.png'),
    dank-paypay-chest:      img('data/InvStorageF.png'),
    holiday-chest:          img('data/InvStorageH.png'),
    valenslime-chest:       img('data/InvStorageL.png'),
    ninja-chest:            img('data/InvStorageN.png'),
    gelatinous-chest:       img('data/InvStorageS.png'),
    buried-treasure-chest:  img('data/InvStorageZ.png'),

);

$all-storage-items: map-merge($inventory-bags, $storage-chests);
