$storage-items: (
    cosmic-storage-chest: img('wiki/Cosmic_Storage_Chest.png'),
    storage-chest-90: img('wiki/Storage_Chest_90.png'),
    storage-chest-91: img('wiki/Storage_Chest_91.png'),
    storage-chest-92: img('wiki/Storage_Chest_92.png'),
    storage-chest-93: img('wiki/Storage_Chest_93.png'),
    storage-chest-94: img('wiki/Storage_Chest_94.png'),
    storage-chest-95: img('wiki/Storage_Chest_95.png'),
    storage-chest-96: img('wiki/Storage_Chest_96.png'),
    storage-chest-97: img('wiki/Storage_Chest_97.png'),
    storage-chest-98: img('wiki/Storage_Chest_98.png'),
    storage-chest-99: img('wiki/Storage_Chest_99.png'),
    storage-chest-99b: img('wiki/Storage_Chest_99B.png'),
    storage-chest-99c: img('wiki/Storage_Chest_99C.png'),
)
