@import "gem-shop";

$inventory-bags: (
    inventory-bag-a: img('wiki/Inventory_Bag_A.png'),
    inventory-bag-b: img('wiki/Inventory_Bag_B.png'),
    inventory-bag-c: img('wiki/Inventory_Bag_C.png'),
    inventory-bag-d: img('wiki/Inventory_Bag_D.png'),
    inventory-bag-e: img('wiki/Inventory_Bag_E.png'),
    inventory-bag-f: img('wiki/Inventory_Bag_F.png'),
    inventory-bag-g: img('wiki/Inventory_Bag_G.png'),
    inventory-bag-h: img('wiki/Inventory_Bag_H.png'),
    inventory-bag-u: map-get($gem-shop, inventory-bag-u),
    inventory-bag-v: img('wiki/Inventory_Bag_V.png'),
    inventory-bag-w: img('wiki/Inventory_Bag_W.png'),
    inventory-bag-x: img('wiki/Inventory_Bag_X.png'),
    inventory-bag-y: img('wiki/Inventory_Bag_Y.png'),
    inventory-bag-z: img('wiki/Inventory_Bag_Z.png'),
    snakeskinventory-bag: img('wiki/Snakeskinventory_Bag.png'),
    totally-normal-and-not-fake-bag: img('wiki/Totally_Normal_and_not_fake_Bag.png'),
    blunderbag: img('wiki/Blunderbag.png'),
    sandy-satchel: img('wiki/Sandy_Satchel.png'),
    bummo-bag: img('wiki/Bummo_Bag.png'),
    capitalist-case: img('wiki/Capitalist_Case.png'),
    wealthy-wallet: img('wiki/Wealthy_Wallet.png'),
    prosperous-pouch: img('wiki/Prosperous_Pouch.png'),
    sack-of-success: img('wiki/Sack_of_Success.png'),
    shivering-sack: img('wiki/Shivering_Sack.png'),
    mamooth-hide-bag: img('wiki/Mamooth_Hide_Bag.png'),
    peeper-pouch: img('wiki/Peeper_Pouch.png'),
    fourth-anniversary-bag: img('data/InvBag112.png'),
    treasure-totebag: img('data/InvBag113.png'),
    rucksack-of-riches: img('data/InvBag114.png'),
    eternal-hunter-bag: img('customized/Eternal_Hunter_Bag.png'),  //Credit to Listix
);

$storage-chests: (
    storage-chest-1: img('wiki/Storage_Chest_1.png'),
    storage-chest-2: img('wiki/Storage_Chest_2.png'),
    storage-chest-3: img('wiki/Storage_Chest_3.png'),
    storage-chest-4: img('wiki/Storage_Chest_4.png'),
    storage-chest-5: img('wiki/Storage_Chest_5.png'),
    storage-chest-6: img('wiki/Storage_Chest_6.png'),
    storage-chest-7: img('wiki/Storage_Chest_7.png'),
    storage-chest-8: img('wiki/Storage_Chest_8.png'),
    storage-chest-9: img('wiki/Storage_Chest_9.png'),
    storage-chest-10: img('wiki/Storage_Chest_10.png'),
    storage-chest-11: img('wiki/Storage_Chest_11.png'),
    storage-chest-12: img('wiki/Storage_Chest_12.png'),
    storage-chest-13: img('wiki/Storage_Chest_13.png'),
    storage-chest-14: img('wiki/Storage_Chest_14.png'),
    storage-chest-15: img('wiki/Storage_Chest_15.png'),
    storage-chest-16: img('wiki/Storage_Chest_16.png'),
    storage-chest-17: img('wiki/Storage_Chest_17.png'),
    storage-chest-18: img('wiki/Storage_Chest_18.png'),
    storage-chest-19: img('wiki/Storage_Chest_19.png'),
    storage-chest-20: img('wiki/Storage_Chest_20.png'),
    storage-chest-21: img('wiki/Storage_Chest_21.png'),
    storage-chest-22: img('wiki/Storage_Chest_22.png'),
    storage-chest-23: img('wiki/Storage_Chest_23.png'),
    storage-chest-24: img('wiki/Storage_Chest_24.png'),
    storage-chest-25: img('wiki/Storage_Chest_25.png'),
    storage-chest-26: img('wiki/Storage_Chest_26.png'),
    storage-chest-27: img('wiki/Storage_Chest_27.png'),
    storage-chest-28: img('wiki/Storage_Chest_28.png'),
    dank-paypay-chest: img('wiki/Dank_Paypay_Chest.png'),
    gelatinous-chest: img('wiki/Gelatinous_Chest.png'),
    cheesy-chest: img('wiki/Cheesy_Chest.png'),
    woodlin-chest: img('wiki/Woodlin_Chest.png'),
    ninja-chest: img('wiki/Ninja_Chest.png'),
    holiday-chest: img('data/InvStorageH.png'),
    valenslime-chest: img('data/InvStorageL.png'),
    cosmic-storage-chest: map-get($gem-shop, cosmic-storage-chest),
    buried-treasure-chest: img('wiki/Buried_Treasure_Chest.png'),
    storage-chest-90: map-get($gem-shop, storage-chest-90),
    storage-chest-91: img('wiki/Storage_Chest_91.png'),
    storage-chest-92: img('wiki/Storage_Chest_92.png'),
    storage-chest-93: img('wiki/Storage_Chest_93.png'),
    storage-chest-94: img('wiki/Storage_Chest_94.png'),
    storage-chest-95: img('wiki/Storage_Chest_95.png'),
    storage-chest-96: img('wiki/Storage_Chest_96.png'),
    storage-chest-97: img('wiki/Storage_Chest_97.png'),
    storage-chest-98: img('wiki/Storage_Chest_98.png'),
    storage-chest-99: img('wiki/Storage_Chest_99.png'),
    storage-chest-99b: img('wiki/Storage_Chest_99B.png'),
    storage-chest-99c: img('wiki/Storage_Chest_99C.png'),
);

$all-storage-items: map-merge($inventory-bags, $storage-chests);
