$summoning-familiars: (
    familiar-slime: img('wiki/Summoning_Familiar_1.png'),
    familiar-vrumbi: img('wiki/Summoning_Familiar_2.png'),
    familiar-bloomy: img('wiki/Summoning_Familiar_3.png'),
    familiar-tonka: img('wiki/Summoning_Familiar_4.png'),
    familiar-regalis: img('wiki/Summoning_Familiar_5.png'),
);

$summoning-stones: (
    white-essence-stone: img('wiki/Summoning_Essence_White.png'),
    green-essence-stone: img('wiki/Summoning_Essence_Green.png'),
    yellow-essence-stone: img('wiki/Summoning_Essence_Yellow.png'),
    blue-essence-stone: img('wiki/Summoning_Essence_Blue.png'),
    purple-essence-stone: img('wiki/Summoning_Essence_Purple.png'),
    red-essence-stone: img('wiki/Summoning_Essence_Red.png'),
    cyan-essence-stone: img('wiki/Summoning_Essence_Cyan.png'),
);

$summoning-essences: (
    white-essence: img('wiki/Summoning_Item_1.png'),
    green-essence: img('wiki/Summoning_Item_2.png'),
    yellow-essence: img('wiki/Summoning_Item_3.png'),
    blue-essence: img('wiki/Summoning_Item_4.png'),
    purple-essence: img('wiki/Summoning_Item_5.png'),
    red-essence: img('wiki/Summoning_Item_6.png'),
    cyan-essence: img('wiki/Summoning_Item_7.png'),
);

$summoning-upgrades: (
    white-upgrade-1: img('wiki/Summoning_Upgrade_W_1.png'),
    white-upgrade-2: img('wiki/Summoning_Upgrade_W_2.png'),
    white-upgrade-3: img('wiki/Summoning_Upgrade_W_3.png'),
    white-upgrade-4: img('wiki/Summoning_Upgrade_W_4.png'),
    white-upgrade-5: img('wiki/Summoning_Upgrade_W_5.png'),
    white-upgrade-6: img('wiki/Summoning_Upgrade_W_6.png'),
    white-upgrade-7: img('wiki/Summoning_Upgrade_W_7.png'),
    white-upgrade-8: img('wiki/Summoning_Upgrade_W_8.png'),
    white-upgrade-9: img('wiki/Summoning_Upgrade_W_9.png'),
    white-upgrade-10: img('wiki/Summoning_Upgrade_W_10.png'),
    green-upgrade-1: img('wiki/Summoning_Upgrade_G_1.png'),
    green-upgrade-2: img('wiki/Summoning_Upgrade_G_2.png'),
    green-upgrade-3: img('wiki/Summoning_Upgrade_G_3.png'),
    green-upgrade-4: img('wiki/Summoning_Upgrade_G_4.png'),
    green-upgrade-5: img('wiki/Summoning_Upgrade_G_5.png'),
    green-upgrade-6: img('wiki/Summoning_Upgrade_G_6.png'),
    green-upgrade-7: img('wiki/Summoning_Upgrade_G_7.png'),
    green-upgrade-8: img('wiki/Summoning_Upgrade_G_8.png'),
    green-upgrade-9: img('wiki/Summoning_Upgrade_G_9.png'),
    yellow-upgrade-1: img('wiki/Summoning_Upgrade_Y_1.png'),
    yellow-upgrade-2: img('wiki/Summoning_Upgrade_Y_2.png'),
    yellow-upgrade-3: img('wiki/Summoning_Upgrade_Y_3.png'),
    yellow-upgrade-4: img('wiki/Summoning_Upgrade_Y_4.png'),
    yellow-upgrade-5: img('wiki/Summoning_Upgrade_Y_5.png'),
    yellow-upgrade-6: img('wiki/Summoning_Upgrade_Y_6.png'),
    yellow-upgrade-7: img('wiki/Summoning_Upgrade_Y_7.png'),
    yellow-upgrade-8: img('wiki/Summoning_Upgrade_Y_8.png'),
    yellow-upgrade-9: img('wiki/Summoning_Upgrade_Y_9.png'),
    yellow-upgrade-10: img('wiki/Summoning_Upgrade_Y_10.png'),
    blue-upgrade-1: img('wiki/Summoning_Upgrade_B_1.png'),
    blue-upgrade-2: img('wiki/Summoning_Upgrade_B_2.png'),
    blue-upgrade-3: img('wiki/Summoning_Upgrade_B_3.png'),
    blue-upgrade-4: img('wiki/Summoning_Upgrade_B_4.png'),
    blue-upgrade-5: img('wiki/Summoning_Upgrade_B_5.png'),
    blue-upgrade-6: img('wiki/Summoning_Upgrade_B_6.png'),
    blue-upgrade-7: img('wiki/Summoning_Upgrade_B_7.png'),
    blue-upgrade-8: img('wiki/Summoning_Upgrade_B_8.png'),
    blue-upgrade-9: img('wiki/Summoning_Upgrade_B_9.png'),
    blue-upgrade-10: img('wiki/Summoning_Upgrade_B_10.png'),
    purple-upgrade-1: img('wiki/Summoning_Upgrade_P_1.png'),
    purple-upgrade-2: img('wiki/Summoning_Upgrade_P_2.png'),
    purple-upgrade-3: img('wiki/Summoning_Upgrade_P_3.png'),
    purple-upgrade-4: img('wiki/Summoning_Upgrade_P_4.png'),
    purple-upgrade-5: img('wiki/Summoning_Upgrade_P_5.png'),
    purple-upgrade-6: img('wiki/Summoning_Upgrade_P_6.png'),
    purple-upgrade-7: img('wiki/Summoning_Upgrade_P_7.png'),
    purple-upgrade-8: img('wiki/Summoning_Upgrade_P_8.png'),
    red-upgrade-1: img('wiki/Summoning_Upgrade_R_1.png'),
    red-upgrade-2: img('wiki/Summoning_Upgrade_R_2.png'),
    red-upgrade-3: img('wiki/Summoning_Upgrade_R_3.png'),
    red-upgrade-4: img('wiki/Summoning_Upgrade_R_4.png'),
    red-upgrade-5: img('wiki/Summoning_Upgrade_R_5.png'),
    red-upgrade-6: img('wiki/Summoning_Upgrade_R_6.png'),
    red-upgrade-7: img('wiki/Summoning_Upgrade_R_7.png'),
    red-upgrade-8: img('wiki/Summoning_Upgrade_R_8.png'),
    red-upgrade-9: img('wiki/Summoning_Upgrade_R_9.png'),
    cyan-upgrade-1: img('wiki/Summoning_Upgrade_C_1.png'),
    cyan-upgrade-2: img('wiki/Summoning_Upgrade_C_2.png'),
    cyan-upgrade-3: img('wiki/Summoning_Upgrade_C_3.png'),
    cyan-upgrade-4: img('wiki/Summoning_Upgrade_C_4.png'),
    cyan-upgrade-5: img('wiki/Summoning_Upgrade_C_5.png'),
    cyan-upgrade-6: img('wiki/Summoning_Upgrade_C_6.png'),
    cyan-upgrade-7: img('wiki/Summoning_Upgrade_C_7.png'),
    cyan-upgrade-8: img('wiki/Summoning_Upgrade_C_8.png'),
    cyan-upgrade-9: img('wiki/Summoning_Upgrade_C_9.png'),
    cyan-upgrade-10: img('wiki/Summoning_Upgrade_C_10.png'),
    cyan-upgrade-11: img('wiki/Summoning_Upgrade_C_11.png'),
    cyan-upgrade-12: img('wiki/Summoning_Upgrade_C_12.png'),
    cyan-upgrade-13: img('wiki/Summoning_Upgrade_C_13.png'),
    endless-summoning: img('wiki/Summoning_Upgrade_C_13.png'),
);

$summoning-etc: (
    summoning-table: img('Summoning_Table.png')
);

$all-summoning: map-merge($summoning-familiars, $summoning-stones);
$all-summoning: map-merge($all-summoning, $summoning-essences);
$all-summoning: map-merge($all-summoning, $summoning-upgrades);
$all-summoning: map-merge($all-summoning, $summoning-etc);
