$summoning-familiars: (
    familiar-slime: wiki('3/38/Summoning_Familiar_1.png'),
    familiar-vrumbi: wiki('c/c3/Summoning_Familiar_2.png'),
    familiar-bloomy: wiki('9/92/Summoning_Familiar_3.png'),
    familiar-tonka: wiki('f/f5/Summoning_Familiar_4.png'),
    familiar-regalis: wiki('e/e9/Summoning_Familiar_5.png'),
);

$summoning-stones: (
    white-essence-stone: wiki('9/91/Summoning_Essence_White.png'),
    green-essence-stone: wiki('6/63/Summoning_Essence_Green.png'),
    yellow-essence-stone: wiki('a/a0/Summoning_Essence_Yellow.png'),
    blue-essence-stone: wiki('2/29/Summoning_Essence_Blue.png'),
    purple-essence-stone: wiki('6/6e/Summoning_Essence_Purple.png'),
    red-essence-stone: wiki(''),
    cyan-essence-stone: wiki(''),
);

$summoning-essences: (
    white-essence: wiki('1/18/Summoning_Item_1.png'),
    green-essence: wiki('6/6a/Summoning_Item_2.png'),
    yellow-essence: wiki('7/78/Summoning_Item_3.png'),
    blue-essence: wiki('6/6b/Summoning_Item_4.png'),
    purple-essence: wiki('6/6c/Summoning_Item_5.png'),
    red-essence: wiki(''),
    cyan-essence: wiki(''),
);

$summoning-upgrades: ();

$all-summoning: map-merge($summoning-familiars, $summoning-stones);
$all-summoning: map-merge($all-summoning, $summoning-essences);
$all-summoning: map-merge($all-summoning, $summoning-upgrades);