$summoning-familiars: (
    familiar-slime:   img('data/SummMob0.png'),
    familiar-sparkie: img('data/SummMob1.png'),
    familiar-regalis: img('data/SummMob2.png'),
    familiar-bloomy:  img('data/SummMob3.png'),
    familiar-vrumbi:  img('data/SummMob4.png'),
    familiar-tonka:   img('data/SummMob5.png'),
    familiar-guardio: img('data/SummMob6.png'),
    familiar-muddah:  img('data/SummMob7.png'),
);

$summoning-stones: (
    white-summoning-stone:  img('extracted_sprites/SummoningStone0.png'),
    green-summoning-stone:  img('extracted_sprites/SummoningStone1.png'),
    yellow-summoning-stone: img('extracted_sprites/SummoningStone2.png'),
    blue-summoning-stone:   img('extracted_sprites/SummoningStone3.png'),
    purple-summoning-stone: img('extracted_sprites/SummoningStone4.png'),
    red-summoning-stone:    img('extracted_sprites/SummoningStone5.png'),
    cyan-summoning-stone:   img('extracted_sprites/SummoningStone6.png'),
    teal-summoning-stone:   img('data/SummC8.png'),  //TODO: Replace with extracted sprite once available
);

$summoning-essences: (
    white-essence: img('data/W6item6_x1.png'),
    green-essence: img('data/W6item7_x1.png'),
    yellow-essence: img('data/W6item8_x1.png'),
    blue-essence: img('data/W6item9_x1.png'),
    purple-essence: img('data/W6item10_x1.png'),
    //red-essence: img(''),  //might be available in a sprite sheet somewhere?
    //cyan-essence: img(''),  //might be available in a sprite sheet somewhere?
);

$summoning-upgrades: (
    summoning-upgrade-0: img('data/SumUpgIc0.png'),
    summoning-upgrade-1: img('data/SumUpgIc1.png'),
    summoning-upgrade-2: img('data/SumUpgIc2.png'),
    summoning-upgrade-3: img('data/SumUpgIc3.png'),
    summoning-upgrade-4: img('data/SumUpgIc4.png'),
    summoning-upgrade-5: img('data/SumUpgIc5.png'),
    summoning-upgrade-6: img('data/SumUpgIc6.png'),
    summoning-upgrade-7: img('data/SumUpgIc7.png'),
    summoning-upgrade-8: img('data/SumUpgIc8.png'),
    summoning-upgrade-9: img('data/SumUpgIc9.png'),
    summoning-upgrade-10: img('data/SumUpgIc10.png'),
    summoning-upgrade-11: img('data/SumUpgIc11.png'),
    summoning-upgrade-12: img('data/SumUpgIc12.png'),
    summoning-upgrade-13: img('data/SumUpgIc13.png'),
    summoning-upgrade-14: img('data/SumUpgIc14.png'),
    summoning-upgrade-15: img('data/SumUpgIc15.png'),
    summoning-upgrade-16: img('data/SumUpgIc16.png'),
    summoning-upgrade-17: img('data/SumUpgIc17.png'),
    summoning-upgrade-18: img('data/SumUpgIc18.png'),
    summoning-upgrade-19: img('data/SumUpgIc19.png'),
    summoning-upgrade-20: img('data/SumUpgIc20.png'),
    summoning-upgrade-21: img('data/SumUpgIc21.png'),
    summoning-upgrade-22: img('data/SumUpgIc22.png'),
    summoning-upgrade-23: img('data/SumUpgIc23.png'),
    summoning-upgrade-24: img('data/SumUpgIc24.png'),
    summoning-upgrade-25: img('data/SumUpgIc25.png'),
    summoning-upgrade-26: img('data/SumUpgIc26.png'),
    summoning-upgrade-27: img('data/SumUpgIc27.png'),
    summoning-upgrade-28: img('data/SumUpgIc28.png'),
    summoning-upgrade-29: img('data/SumUpgIc29.png'),
    summoning-upgrade-30: img('data/SumUpgIc30.png'),
    summoning-upgrade-31: img('data/SumUpgIc31.png'),
    summoning-upgrade-32: img('data/SumUpgIc32.png'),
    summoning-upgrade-33: img('data/SumUpgIc33.png'),
    summoning-upgrade-34: img('data/SumUpgIc34.png'),
    summoning-upgrade-35: img('data/SumUpgIc35.png'),
    summoning-upgrade-36: img('data/SumUpgIc36.png'),
    summoning-upgrade-37: img('data/SumUpgIc37.png'),
    summoning-upgrade-38: img('data/SumUpgIc38.png'),
    summoning-upgrade-39: img('data/SumUpgIc39.png'),
    summoning-upgrade-40: img('data/SumUpgIc40.png'),
    summoning-upgrade-41: img('data/SumUpgIc41.png'),
    summoning-upgrade-42: img('data/SumUpgIc42.png'),
    summoning-upgrade-43: img('data/SumUpgIc43.png'),
    summoning-upgrade-44: img('data/SumUpgIc44.png'),
    summoning-upgrade-45: img('data/SumUpgIc45.png'),
    summoning-upgrade-46: img('data/SumUpgIc46.png'),
    summoning-upgrade-47: img('data/SumUpgIc47.png'),
    summoning-upgrade-48: img('data/SumUpgIc48.png'),
    summoning-upgrade-49: img('data/SumUpgIc49.png'),
    summoning-upgrade-50: img('data/SumUpgIc50.png'),
    summoning-upgrade-51: img('data/SumUpgIc51.png'),
    summoning-upgrade-52: img('data/SumUpgIc52.png'),
    summoning-upgrade-53: img('data/SumUpgIc53.png'),
    summoning-upgrade-54: img('data/SumUpgIc54.png'),
    summoning-upgrade-55: img('data/SumUpgIc55.png'),
    summoning-upgrade-56: img('data/SumUpgIc56.png'),
    summoning-upgrade-57: img('data/SumUpgIc57.png'),
    summoning-upgrade-58: img('data/SumUpgIc58.png'),
    summoning-upgrade-59: img('data/SumUpgIc59.png'),
    summoning-upgrade-60: img('data/SumUpgIc60.png'),
    summoning-upgrade-61: img('data/SumUpgIc61.png'),
    summoning-upgrade-62: img('data/SumUpgIc62.png'),
    summoning-upgrade-63: img('data/SumUpgIc63.png'),
    summoning-upgrade-64: img('data/SumUpgIc64.png'),
    summoning-upgrade-65: img('data/SumUpgIc65.png'),
    summoning-upgrade-66: img('data/SumUpgIc66.png'),
    summoning-upgrade-67: img('data/SumUpgIc67.png'),
    summoning-upgrade-68: img('data/SumUpgIc68.png'),
    summoning-upgrade-69: img('data/SumUpgIc69.png'),
    summoning-upgrade-70: img('data/SumUpgIc70.png'),
    endless-summoning: img('data/SumUpgIc70.png'),  //so I can be lazy and not look up its number each time
    summoning-upgrade-71: img('data/SumUpgIc71.png'),
    summoning-upgrade-72: img('data/SumUpgIc72.png'),
    summoning-upgrade-73: img('data/SumUpgIc73.png'),
    summoning-upgrade-74: img('data/SumUpgIc74.png'),
    summoning-upgrade-75: img('data/SumUpgIc75.png'),
    summoning-upgrade-76: img('data/SumUpgIc76.png'),
    summoning-upgrade-77: img('data/SumUpgIc77.png'),
    summoning-upgrade-78: img('data/SumUpgIc78.png'),
    summoning-upgrade-79: img('data/SumUpgIc79.png'),
    summoning-upgrade-80: img('data/SumUpgIc80.png'),
    summoning-upgrade-81: img('data/SumUpgIc81.png'),
);

$summoning-bonuses: (
    summoning-amber: img('data/CaveAmber0.png'),
    summoning-jade: img('wiki/Jade_Coin.png'),
    summoning-monument-afk: img('wiki/Monument_AFK.png'),
    summoning-spelunking-pow: img('data/CaveTool0.png'),
    summoning-ballot: img('wiki/Voter_Slime.gif'),
    summoning-village-exp: img('wiki/Opal.png'),
    summoning-class-exp: img('data/VoteBon15.png'),
    summoning-stamp: img('data/EventShopBuy1.png'),
    summoning-afk: img('data/VaultUpg23.png'),
    summoning-all-stat: img('data/VoteBon2.png'),
    summoning-total-dmg: img('data/VoteBon0.png'),
    summoning-skill-eff: img('data/VoteBon7.png'),
);

$summoning-etc: (
    summoning-table: img('Summoning_Table.png')
);

$all-summoning: map-merge($summoning-familiars, $summoning-stones);
$all-summoning: map-merge($all-summoning, $summoning-essences);
$all-summoning: map-merge($all-summoning, $summoning-upgrades);
$all-summoning: map-merge($all-summoning, $summoning-bonuses);
$all-summoning: map-merge($all-summoning, $summoning-etc);
