$sushi-dishes: (
  sushi-0: img('data/Sushi0.png'),
  sushi-1: img('data/Sushi1.png'),
  sushi-2: img('data/Sushi2.png'),
  sushi-3: img('data/Sushi3.png'),
  sushi-4: img('data/Sushi4.png'),
  sushi-5: img('data/Sushi5.png'),
  sushi-6: img('data/Sushi6.png'),
  sushi-7: img('data/Sushi7.png'),
  sushi-8: img('data/Sushi8.png'),
  sushi-9: img('data/Sushi9.png'),
  sushi-10: img('data/Sushi10.png'),
  sushi-11: img('data/Sushi11.png'),
  sushi-12: img('data/Sushi12.png'),
  sushi-13: img('data/Sushi13.png'),
  sushi-14: img('data/Sushi14.png'),
  sushi-15: img('data/Sushi15.png'),
  sushi-16: img('data/Sushi16.png'),
  sushi-17: img('data/Sushi17.png'),
  sushi-18: img('data/Sushi18.png'),
  sushi-19: img('data/Sushi19.png'),
  sushi-20: img('data/Sushi20.png'),
  sushi-21: img('data/Sushi21.png'),
  sushi-22: img('data/Sushi22.png'),
  sushi-23: img('data/Sushi23.png'),
  sushi-24: img('data/Sushi24.png'),
  sushi-25: img('data/Sushi25.png'),
  sushi-26: img('data/Sushi26.png'),
  sushi-27: img('data/Sushi27.png'),
  sushi-28: img('data/Sushi28.png'),
  sushi-29: img('data/Sushi29.png'),
  sushi-30: img('data/Sushi30.png'),
  sushi-31: img('data/Sushi31.png'),
  sushi-32: img('data/Sushi32.png'),
  sushi-33: img('data/Sushi33.png'),
  sushi-34: img('data/Sushi34.png'),
  sushi-35: img('data/Sushi35.png'),
  sushi-36: img('data/Sushi36.png'),
  sushi-37: img('data/Sushi37.png'),
  sushi-38: img('data/Sushi38.png'),
  sushi-39: img('data/Sushi39.png'),
  sushi-40: img('data/Sushi40.png'),
  sushi-41: img('data/Sushi41.png'),
  sushi-42: img('data/Sushi42.png'),
  sushi-43: img('data/Sushi43.png'),
  sushi-44: img('data/Sushi44.png'),
  sushi-45: img('data/Sushi45.png'),
  sushi-46: img('data/Sushi46.png'),
  sushi-47: img('data/Sushi47.png'),
  sushi-48: img('data/Sushi48.png'),
  sushi-49: img('data/Sushi49.png'),
  sushi-50: img('data/Sushi50.png'),
  sushi-51: img('data/Sushi51.png'),
  sushi-52: img('data/Sushi52.png'),
  sushi-53: img('data/Sushi53.png'),
  sushi-54: img('data/Sushi54.png'),
  sushi-55: img('data/Sushi55.png'),
  sushi-56: img('data/Sushi56.png'),
  sushi-57: img('data/Sushi57.png'),
  sushi-58: img('data/Sushi58.png'),
  sushi-59: img('data/Sushi59.png'),
  sushi-60: img('data/Sushi60.png'),
  sushi-61: img('data/Sushi61.png'),
  sushi-62: img('data/Sushi62.png')
);

$sushi-upgrades: (
  sushi-upg-0: img('data/SushiUpg0.png'),
  sushi-upg-1: img('data/SushiUpg1.png'),
  sushi-upg-2: img('data/SushiUpg2.png'),
  sushi-upg-3: img('data/SushiUpg3.png'),
  sushi-upg-4: img('data/SushiUpg4.png'),
  sushi-upg-5: img('data/SushiUpg5.png'),
  sushi-upg-6: img('data/SushiUpg6.png'),
  sushi-upg-7: img('data/SushiUpg7.png'),
  sushi-upg-8: img('data/SushiUpg8.png'),
  sushi-upg-9: img('data/SushiUpg9.png'),
  sushi-upg-10: img('data/SushiUpg10.png'),
  sushi-upg-11: img('data/SushiUpg11.png'),
  sushi-upg-12: img('data/SushiUpg12.png'),
  sushi-upg-13: img('data/SushiUpg13.png'),
  sushi-upg-14: img('data/SushiUpg14.png'),
  sushi-upg-15: img('data/SushiUpg15.png'),
  sushi-upg-16: img('data/SushiUpg16.png'),
  sushi-upg-17: img('data/SushiUpg17.png'),
  sushi-upg-18: img('data/SushiUpg18.png'),
  sushi-upg-19: img('data/SushiUpg19.png'),
  sushi-upg-20: img('data/SushiUpg20.png'),
  sushi-upg-21: img('data/SushiUpg21.png'),
  sushi-upg-22: img('data/SushiUpg22.png'),
  sushi-upg-23: img('data/SushiUpg23.png'),
  sushi-upg-24: img('data/SushiUpg24.png'),
  sushi-upg-25: img('data/SushiUpg25.png'),
  sushi-upg-26: img('data/SushiUpg26.png'),
  sushi-upg-27: img('data/SushiUpg27.png'),
  sushi-upg-28: img('data/SushiUpg28.png'),
  sushi-upg-29: img('data/SushiUpg29.png'),
  sushi-upg-30: img('data/SushiUpg30.png'),
  sushi-upg-31: img('data/SushiUpg31.png'),
  sushi-upg-32: img('data/SushiUpg32.png'),
  sushi-upg-33: img('data/SushiUpg33.png'),
  sushi-upg-34: img('data/SushiUpg34.png'),
  sushi-upg-35: img('data/SushiUpg35.png'),
  sushi-upg-36: img('data/SushiUpg36.png'),
  sushi-upg-37: img('data/SushiUpg37.png'),
  sushi-upg-38: img('data/SushiUpg38.png'),
  sushi-upg-39: img('data/SushiUpg39.png'),
  sushi-upg-40: img('data/SushiUpg40.png'),
  sushi-upg-41: img('data/SushiUpg41.png'),
  sushi-upg-42: img('data/SushiUpg42.png'),
  sushi-upg-43: img('data/SushiUpg43.png'),
  sushi-upg-44: img('data/SushiUpg44.png')
);

$sushi-station-misc: (
  sushi-station: img('data/Sushi62.png')
);

$all-sushi-station: map-merge($sushi-dishes, $sushi-upgrades);
$all-sushi-station: map-merge($all-sushi-station, $sushi-station-misc);
