$talents: (
// Warrior

power-strike: wiki('b/be/Power_Strike.png'),
whirl: wiki('6/60/Whirl.png'),
health-overdrive: wiki('0/00/Health_Overdrive.png'),
double-strike: wiki('6/65/Double_Strike.png'),
firmly-grasp-it: wiki('3/3d/Firmly_Grasp_It.png'),
strength-in-numbers: wiki('e/e9/Strength_In_Numbers.png'),
stress-tested-garb: wiki('9/96/%27Str%27Ess_Tested_Garb.png'),
carry-a-big-stick: wiki('b/bb/Carry_A_Big_Stick.png'),
absolute-unit: wiki('6/61/Absolute_Unit.png'),
haungry-for-gold: wiki('e/e2/Haungry_For_Gold.png'),
big-pick: wiki('b/be/Big_Pick.png'),
copper-collector: wiki('b/b3/Copper_Collector.png'),
motherlode-miner: wiki('b/bd/Motherlode_Miner.png'),
tool-proficiency: wiki('7/78/Tool_Proficiency.png'),
tempestuous-emotions: wiki('9/9e/Tempestuous_Emotions.png'),
brute-efficiency: wiki('6/6a/Brute_Efficiency.png'),
meat-shank: wiki('0/00/Meat_Shank.png'),
critikill: wiki('e/ec/Critikill.png'),
idle-brawling: wiki('d/dd/Idle_Brawling.png'),
idle-skilling: wiki('0/08/Idle_Skilling.png'),

// Barbarian

bear-swipe: wiki('7/78/Bear_Swipe.png'),
axe-hurl: wiki('8/86/Axe_Hurl.png'),
mocking-shout: wiki('d/d5/Mocking_Shout.png'),
no-pain-no-gain: wiki('3/38/No_Pain_No_Gain.png'),
monster-decimator: wiki('5/57/Monster_Decimator.png'),
apocalypse-zow: wiki('4/4f/Apocalypse_Zow.png'),
fistful-of-obol: wiki('5/55/Fistful_Of_Obol.png'),
strongest-statues: wiki('3/37/Strongest_Statues.png'),
str-summore: wiki('6/67/STR_Summore.png'),
beefy-bottles: wiki('e/e9/Beefy_Bottles.png'),
worming-undercover: wiki('9/9f/Worming_Undercover.png'),
bobbin-bobbers: wiki('3/30/Bobbin%27_Bobbers.png'),
all-fish-diet: wiki('5/5a/All_Fish_Diet.png'),
catching-some-zzz-s: wiki('1/11/Catching_Some_Zzz%27S.png'),
back-to-basics: wiki('6/60/Back_To_Basics.png'),

// Squire

shockwave-slash: wiki('0/0a/Shockwave_Slash.png'),
daggerang: wiki('9/91/Daggerang.png'),
bricky-skin: wiki('6/6b/Bricky_Skin.png'),
mastery-up: wiki('0/0b/Mastery_Up.png'),
balanced-spirit: wiki('9/92/Balanced_Spirit.png'),
precision-power: wiki('8/8d/Precision_Power.png'),
//fistful-of-obol: wiki('5/55/Fistful_Of_Obol.png'),
shieldiest-statues: wiki('7/74/Shieldiest_Statues.png'),
//str-summore: wiki('6/67/STR_Summore.png'),
blocky-bottles: wiki('6/6d/Blocky_Bottles.png'),
refinery-throttle: wiki('d/d8/Refinery_Throttle.png'),
redox-rates: wiki('b/b2/Redox_Rates.png'),
sharper-saws: wiki('1/1e/Sharper_Saws.png'),
super-samples: wiki('7/78/Super_Samples.png'),
//back-to-basics: wiki('6/60/Back_To_Basics.png'),

// Blood Berserker

fired-up: wiki('3/31/Fired_Up.png'),
combustion: wiki('a/a4/Combustion.png'),
serrated-swipe: wiki('6/6a/Serrated_Swipe.png'),
ember-bear: wiki('8/81/Ember_Bear.png'),
ferocity-strike: wiki('6/60/Ferocity_Strike.png'),
tough-steaks: wiki('4/4a/Tough_Steaks.png'),
charred-skulls: wiki('6/61/Charred_Skulls.png'),
skill-strengthen: wiki('c/c3/Skill_Strengthen.png'),
overblown-testosterone: wiki('f/f1/Overblown_Testosterone.png'),
the-family-guy: wiki('7/7f/The_Family_Guy.png'),
taste-test: wiki('e/e7/Taste_Test.png'),
apocalypse-chow: wiki('1/17/Apocalypse_Chow.png'),
waiting-to-cool: wiki('9/95/Waiting_To_Cool.png'),
overflowing-ladle: wiki('9/90/Overflowing_Ladle.png'),
symbols-of-beyond-r: wiki('7/71/Symbols_Of_Beyond_~r.png'),

// Divine Knight

knightly-disciple: wiki('2/26/Knightly_Disciple.png'),
mega-mongorang: wiki('6/61/Mega_Mongorang.png'),
divine-intervention: wiki('2/28/Divine_Intervention.png'),
orb-of-remembrance: wiki('5/5b/Orb_Of_Remembrance.png'),
imbued-shockwaves: wiki('3/31/Imbued_Shockwaves.png'),
gamer-strength: wiki('5/50/Gamer_Strength.png'),
//charred-skulls: wiki('6/61/Charred_Skulls.png'),
//skill-strengthen: wiki('c/c3/Skill_Strengthen.png'),
//overblown-testosterone: wiki('f/f1/Overblown_Testosterone.png'),
//the-family-guy: wiki('7/7f/The_Family_Guy.png'),
undying-passion: wiki('c/c6/Undying_Passion.png'),
one-thousand-hours-played: wiki('4/49/1000_Hours_Played.png'),
bitty-litty: wiki('e/e9/Bitty_Litty.png'),
king-of-the-remembered: wiki('d/d1/King_Of_The_Remembered.png'),
//symbols-of-beyond-r: wiki('7/71/Symbols_Of_Beyond_~r.png'),

// Archer

piercing-arrow: wiki('a/ac/Piercing_Arrow.png'),
kung-fu-kick: wiki('3/3d/Kung_Fu_Kick.png'),
hema-overdrive: wiki('3/36/Hema_Overdrive.png'),
strafe: wiki('a/af/Strafe.png'),
have-another: wiki('9/9b/Have_Another%21.png'),
veins-of-the-infernal: wiki('4/4b/Veins_Of_The_Infernal.png'),
garb-of-unaging-quality: wiki('f/f1/Garb_Of_Un%27Agi%27Ng_Quality.png'),
high-polymer-limbs: wiki('f/f4/High_Polymer_Limbs.png'),
sanic-speed: wiki('3/36/Sanic_Speed.png'),
robbinghood: wiki('8/8f/Robbinghood.png'),
smeltin-erryday: wiki('e/ed/Smeltin%27_Erryday.png'),
acme-anvil: wiki('8/8f/Acme_Anvil.png'),
yea-i-already-know: wiki('8/8d/Yea_I_Already_Know.png'),
godly-creation: wiki('5/57/Godly_Creation.png'),
focused-soul: wiki('f/fb/Focused_Soul.png'),
elusive-efficiency: wiki('6/62/Elusive_Efficiency.png'),
featherweight: wiki('f/fd/Featherweight.png'),
i-see-you: wiki('8/8e/I_See_You.png'),
idle-shooting: wiki('3/31/Idle_Shooting.png'),
broken-time: wiki('0/07/Broken_Time.png'),

// Bowman

homing-arrows: wiki('5/5a/Homing_Arrows.png'),
magic-shortbow: wiki('4/48/Magic_Shortbow.png'),
flax-instastring: wiki('5/5c/Flax_Instastring.png'),
extendo-rangeo: wiki('c/ca/Extendo_Rangeo.png'),
woah-that-was-fast: wiki('c/c6/Woah%2C_That_Was_Fast%21.png'),
speedna: wiki('9/95/Speedna.png'),
shoeful-of-obol: wiki('9/91/Shoeful_Of_Obol.png'),
shwifty-statues: wiki('9/93/Shwifty_Statues.png'),
agi-again: wiki('d/d0/AGI_Again.png'),
velocity-vessels: wiki('1/14/Velocity_Vessels.png'),
teleki-net-ic-logs: wiki('d/da/Teleki%27Net%27Ic_Logs.png'),
briar-patch-runner: wiki('9/96/Briar_Patch_Runner.png'),
bug-enthusiast: wiki('1/1e/Bug_Enthusiast.png'),
sunset-on-the-hives: wiki('9/91/Sunset_On_The_Hives.png'),
previous-points: wiki('1/15/Previous_Points.png'),

// Hunter

three-sixty-noscope: wiki('6/6e/360_Noscope.png'),
bear-trap: wiki('9/92/Bear_Trap.png'),
uwu-rawrrr: wiki('d/da/Uwu_Rawrrr.png'),
stop-right-there: wiki('4/4a/Stop_Right_There.png'),
have-another-again: wiki('c/cd/Have_Another..._Again%21.png'),
looty-mc-shooty: wiki('8/8c/Looty_Mc_Shooty.png'),
//shoeful-of-obol: wiki('9/91/Shoeful_Of_Obol.png'),
straightshot-statues: wiki('9/9d/Straightshot_Statues.png'),
//agi-again: wiki('d/d0/AGI_Again.png'),
visibility-vessels: wiki('8/8a/Visibility_Vessels.png'),
eagle-eye: wiki('d/d5/Eagle_Eye.png'),
invasive-species: wiki('e/e6/Invasive_Species.png'),
shroom-bait: wiki('6/66/Shroom_Bait.png'),
reflective-eyesight: wiki('1/19/Reflective_Eyesight.png'),
//previous-points: wiki('1/15/Previous_Points.png'),

// Siege Breaker

cannonball: wiki('f/fa/Cannonball.png'),
suppressing-fire: wiki('7/78/Suppressing_Fire.png'),
firebomb: wiki('b/b0/Firebomb.png'),
pirate-flag: wiki('1/19/Pirate_Flag.png'),
plunder-ye-deceased: wiki('3/36/Plunder_Ye_Deceased.png'),
crew-rowing-strength: wiki('e/e4/Crew_Rowing_Strength.png'),
stacked-skulls: wiki('c/ce/Stacked_Skulls.png'),
skill-ambidexterity: wiki('2/2a/Skill_Ambidexterity.png'),
adaptation-revelation: wiki('0/06/Adaptation_Revelation.png'),
//the-family-guy: wiki('7/7f/The_Family_Guy.png'),
unending-loot-search: wiki('b/b4/Unending_Loot_Search.png'),
expertly-sailed: wiki('2/2f/Expertly_Sailed.png'),
captain-peptalk: wiki('1/1d/Captain_Peptalk.png'),
archlord-of-the-pirates: wiki('6/64/Archlord_Of_The_Pirates.png'),
symbols-of-beyond-g: wiki('f/fc/Symbols_Of_Beyond_~g.png'),

// Beast Master

ballista: wiki('d/d5/Ballista.png'),
boar-rush: wiki('4/42/Boar_Rush.png'),
whale-wallop: wiki('8/8c/Whale_Wallop.png'),
nacho-party: wiki('5/50/Nacho_Party.png'),
have-yet-anotha-one: wiki('9/91/Have_Yet_Anotha_One.png'),
animalistic-ferocity: wiki('9/97/Animalistic_Ferocity.png'),
//stacked-skulls: wiki('c/ce/Stacked_Skulls.png'),
//skill-ambidexterity: wiki('2/2a/Skill_Ambidexterity.png'),
//adaptation-revelation: wiki('0/06/Adaptation_Revelation.png'),
//the-family-guy: wiki('7/7f/The_Family_Guy.png'),
arena-spirit: wiki('6/6c/Arena_Spirit.png'),
i-dream-of-peace-and-egg: wiki('3/38/I_Dream_Of_Peace_And_Egg.png'),
shining-beacon-of-egg: wiki('3/3f/Shining_Beacon_Of_Egg.png'),
curviture-of-the-paw: wiki('f/fa/Curviture_Of_The_Paw.png'),
//symbols-of-beyond-g: wiki('f/fc/Symbols_Of_Beyond_~g.png'),

// Mage

energy-bolt: wiki('8/8b/Energy_Bolt.png'),
mini-fireball: wiki('9/95/Mini_Fireball.png'),
mana-overdrive: wiki('7/7c/Mana_Overdrive.png'),
teleport: wiki('e/e8/Teleport.png'),
youre-next: wiki('c/c3/You%27re_Next.png'),
knowledge-is-power: wiki('0/04/Knowledge_Is_Power.png'),
untwisted-robes: wiki('4/40/Unt%27Wis%27Ted_Robes.png'),
power-overwhelming: wiki('6/6b/Power_Overwhelming.png'),
free-meal: wiki('6/6e/Free_Meal.png'),
individual-insight: wiki('8/83/Individual_Insight.png'),
log-on-logs: wiki('c/cb/Log_On_Logs.png'),
leaf-thief: wiki('8/83/Leaf_Thief.png'),
deforesting-all-doubt: wiki('1/18/Deforesting_All_Doubt.png'),
inner-peace: wiki('d/d6/Inner_Peace.png'),
choppin-it-up-ez: wiki('d/dc/Choppin_It_Up_Ez.png'),
smart-efficiency: wiki('3/3d/Smart_Efficiency.png'),
overclocked-energy: wiki('f/fd/Overclocked_Energy.png'),
farsight: wiki('1/14/Farsight.png'),
idle-casting: wiki('4/45/Idle_Casting.png'),
active-afk-er: wiki('d/da/Active_Afk%27Er.png'),

// Shaman

crazy-concoctions: wiki('1/18/Crazy_Concoctions.png'),
auspicious-aura: wiki('1/1a/Auspicious_Aura.png'),
sizzling-skull: wiki('8/8d/Sizzling_Skull.png'),
tenteyecle: wiki('9/98/Tenteyecle.png'),
instant-invincibility: wiki('3/31/Instant_Invincibility.png'),
virile-vials: wiki('1/1c/Virile_Vials.png'),
occult-obols: wiki('3/36/Occult_Obols.png'),
stupendous-statues: wiki('f/f2/Stupendous_Statues.png'),
wis-wumbo: wiki('5/59/WIS_Wumbo.png'),
fantasia-flasks: wiki('3/3a/Fantasia_Flasks.png'),
cranium-cooking: wiki('2/28/Cranium_Cooking.png'),
busy-brewin: wiki('c/c4/Busy_Brewin%27.png'),
bubble-breakthrough: wiki('a/a8/Bubble_Breakthrough.png'),
sharing-some-smarts: wiki('3/39/Sharing_Some_Smarts.png'),
earlier-education: wiki('a/aa/Earlier_Education.png'),

// Wizard

ice-shards: wiki('c/ce/Ice_Shards.png'),
floor-is-lava: wiki('4/42/Floor_Is_Lava.png'),
tornado: wiki('4/40/Tornado.png'),
speedy-book: wiki('c/c6/Speedy_Book.png'),
mana-is-life: wiki('0/05/Mana_Is_Life.png'),
paperwork-great: wiki('1/14/Paperwork%2C_Great....png'),
//occult-obols: wiki('3/36/Occult_Obols.png'),
staring-statues: wiki('4/46/Staring_Statues.png'),
//wis-wumbo: wiki('5/59/WIS_Wumbo.png'),
fuscia-flasks: wiki('2/28/Fuscia_Flasks.png'),
charge-syphon: wiki('2/2c/Charge_Syphon.png'),
sooouls: wiki('f/f1/Sooouls.png'),
bless-up: wiki('e/eb/Bless_Up.png'),
nearby-outlet: wiki('f/f3/Nearby_Outlet.png'),
//earlier-education: wiki('a/aa/Earlier_Education.png'),

// Bubonic Conjuror

chemical-warfare: wiki('b/b8/Chemical_Warfare.png'),
flatulent-spirit: wiki('f/f6/Flatulent_Spirit.png'),
tampered-injection: wiki('6/6d/Tampered_Injection.png'),
plague-stricken: wiki('e/e4/Plague_Stricken.png'),
raise-dead: wiki('0/0e/Raise_Dead.png'),
wired-in-power: wiki('8/8b/Wired_In_Power.png'),
memorial-skulls: wiki('2/29/Memorial_Skulls.png'),
skill-wiz: wiki('9/91/Skill_Wiz.png'),
utmost-intellect: wiki('2/23/Utmost_Intellect.png'),
//the-family-guy: wiki('7/7f/The_Family_Guy.png'),
purple-tube: wiki('a/ac/Purple_Tube.png'),
green-tube: wiki('8/87/Green_Tube.png'),
essence-transferral: wiki('5/58/Essence_Transferral.png'),
upload-squared: wiki('0/02/Upload_Squared.png'),
symbols-of-beyond-p: wiki('1/1f/Symbols_Of_Beyond_~p.png'),

// Elemental Sorcerer

meteor-shower: wiki('c/cf/Meteor_Shower.png'),
lightning-barrage: wiki('1/1d/Lightning_Barrage.png'),
radiant-chainbolt: wiki('1/10/Radiant_Chainbolt.png'),
dimensional-wormhole: wiki('e/e2/Dimensional_Wormhole.png'),
chaotic-force: wiki('8/8d/Chaotic_Force.png'),
believer-strength: wiki('c/c1/Believer_Strength.png'),
//memorial-skulls: wiki('2/29/Memorial_Skulls.png'),
//skill-wiz: wiki('9/91/Skill_Wiz.png'),
//utmost-intellect: wiki('2/23/Utmost_Intellect.png'),
//the-family-guy: wiki('7/7f/The_Family_Guy.png'),
polytheism: wiki('9/96/Polytheism.png'),
shared-beliefs: wiki('c/c3/Shared_Beliefs.png'),
gods-chosen-children: wiki('8/85/Gods_Chosen_Children.png'),
wormhole-emperor: wiki('a/af/Wormhole_Emperor.png'),
//symbols-of-beyond-p: wiki('1/1f/Symbols_Of_Beyond_~p.png'),

// Beginner

health-booster: wiki('d/d5/Health_Booster.png'),
mana-booster: wiki('7/7c/Mana_Booster.png'),
star-player: wiki('2/21/Star_Player.png'),
bucklered-up: wiki('3/30/Bucklered_Up.png'),
sharpened-axe: wiki('0/0a/Sharpened_Axe.png'),
fist-of-rage: wiki('f/ff/Fist_of_Rage.png'),
quickness-boots: wiki('b/bd/Quickness_Boots.png'),
book-of-the-wise: wiki('9/92/Book_Of_The_Wise.png'),
lucky-clover: wiki('b/be/Lucky_Clover.png'),
gilded-sword: wiki('a/a6/Gilded_Sword.png'),
happy-dude: wiki('7/76/Happy_Dude.png'),

// Journeyman

indiana-attack: wiki('b/ba/Indiana_Attack.png'),
breakin-the-bank: wiki('9/99/Breakin%27_The_Bank.png'),
supernova-player: wiki('0/04/Supernova_Player.png'),
two-punch-man: wiki('9/9b/Two_Punch_Man.png'),
gimme-gimme: wiki('8/84/Gimme_Gimme.png'),
lucky-hit: wiki('2/26/Lucky_Hit.png'),
flukey-fabrics: wiki('5/51/F%27Luk%27Ey_Fabrics.png'),
chaching: wiki('9/93/Chaching%21.png'),
lucky-horseshoe: wiki('d/d7/Lucky_Horseshoe.png'),
curse-of-mr-looty-booty: wiki('f/f8/Curse_Of_Mr_Looty_Booty.png'),
its-your-birthday: wiki('2/20/Its_Your_Birthday%21.png'),
cmon-out-crystals: wiki('5/53/Cmon_Out_Crystals.png'),
reroll-pls: wiki('c/cc/Reroll_Pls.png'),
cards-galore: wiki('8/88/Cards_Galore.png'),
rares-everywhere: wiki('b/bf/Rares_Everywhere%21.png'),
//happy-dude: wiki('7/76/Happy_Dude.png'),
knucklebuster: wiki('8/8d/Knucklebuster.png'),
feather-flight: wiki('f/fd/Featherweight.png'),
extra-bags: wiki('b/b4/Extra_Bags.png'),
sleepin-on-the-job: wiki('5/58/Sleepin%27_On_The_Job.png'),

// Maestro

coin-toss: wiki('7/79/Coin_Toss.png'),
skillage-damage: wiki('5/5f/Skillage_Damage.png'),
printer-go-brrr: wiki('9/91/Printer_Go_Brrr.png'),
triple-jab: wiki('5/58/Triple_Jab.png'),
one-step-ahead: wiki('4/48/One_Step_Ahead.png'),
lucky-charms: wiki('a/ac/Lucky_Charms.png'),
clever-clover-obols: wiki('4/47/Clever_Clover_Obols.png'),
skilliest-statue: wiki('a/a5/Skilliest_Statue.png'),
bliss-n-chips: wiki('3/32/Bliss_N_Chips.png'),
colloquial-containers: wiki('0/02/Colloquial_Containers.png'),
maestro-transfusion: wiki('8/8c/Maestro_Transfusion.png'),
crystal-countdown: wiki('2/2b/Crystal_Countdown.png'),
left-hand-of-learning: wiki('3/3d/Left_Hand_of_Learning.png'),
right-hand-of-action: wiki('b/b6/Right_Hand_of_Action.png'),
jman-was-better: wiki('d/dd/Jman_Was_Better.png'),

// Voidwalker

void-trial-rerun: wiki('e/e3/Void_Trial_Rerun.png'),
void-radius: wiki('7/74/Void_Radius.png'),
bossing-vain: wiki('c/c0/Bossing_Vain.png'),
quad-jab: wiki('e/ed/Quad_Jab.png'),
enhancement-eclipse: wiki('4/41/Enhancement_Eclipse.png'),
power-orb: wiki('6/69/Power_Orb.png'),
eternal-str: wiki('8/80/Eternal_Str.png'),
eternal-agi: wiki('2/2e/Eternal_Agi.png'),
eternal-wis: wiki('a/ad/Eternal_Wis.png'),
eternal-luk: wiki('7/74/Eternal_Luk.png'),
exp-cultivation: wiki('5/53/Exp_Cultivation.png'),
voodoo-statufication: wiki('7/78/Voodoo_Statufication.png'),
species-epoch: wiki('3/36/Species_Epoch.png'),
master-of-the-system: wiki('1/1b/Master_Of_The_System.png'),
blood-marrow: wiki('8/82/Blood_Marrow.png'),

// Special

bored-to-death: wiki('d/db/Bored_To_Death.png'),
beginner-best-class: wiki('d/de/Beginner_Best_Class.png'),
studious-quester: wiki('7/77/Studious_Quester.png'),
quest-chungus: wiki('9/9b/Quest_Chungus.png'),
crystals-4-dayys: wiki('2/2e/Crystals_4_Dayys.png'),
will-of-the-eldest: wiki('f/f4/Will_Of_The_Eldest.png'),
tick-tock: wiki('0/00/Tick_Tock.png'),
stonks: wiki('7/72/Stonks%21.png'),
roll-da-dice: wiki('c/c1/Roll_Da_Dice.png'),
attacks-on-simmer: wiki('a/a2/Attacks_On_Simmer.png'),
toilet-paper-postage: wiki('2/2c/Toilet_Paper_Postage.png'),
exp-converter: wiki('6/6c/Exp_Converter.png'),
goblet-of-hemoglobin: wiki('1/14/Goblet_Of_Hemoglobin.png'),

just-exp: wiki('d/d8/Just_EXP.png'),
frothy-malk: wiki('f/fe/Frothy_Malk.png'),
convert-better-darnit: wiki('d/d9/Convert_Better%2C_Darnit%21.png'),
pulsation: wiki('6/67/Pulsation.png'),
cardiovascular: wiki('0/00/Cardiovascular%21.png'),
milkyway-candies: wiki('6/6f/Milkyway_Candies.png'),
telekinetic-storage: wiki('4/4e/Telekinetic_Storage.png'),
printer-sampling: wiki('c/cf/Printer_Sampling.png'),
supersource: wiki('d/d8/Supersource.png'),
action-frenzy: wiki('7/73/Action_Frenzy.png'),
dungeonic-damage: wiki('8/8b/Dungeonic_Damage.png'),
shrine-architect: wiki('0/01/Shrine_Architect.png'),
mega-crit: wiki('6/69/Mega_Crit.png'),

tiptoe-quickness: wiki('8/88/Tiptoe_Quickness.png'),
ubercharged-health: wiki('d/de/Ubercharged_Health.png'),
coins-for-charon: wiki('f/f1/Coins_For_Charon.png'),
american-tipper: wiki('0/0c/American_Tipper.png'),
overaccurate-crit: wiki('b/b9/Overaccurate_Crit.png'),
filthy-damage: wiki('6/6f/Filthy_Damage.png'),
rando-event-looty: wiki('e/e5/Rando_Event_Looty.png'),
spice-spillage: wiki('6/6f/Spice_Spillage.png'),
stat-overload: wiki('b/b6/Stat_Overload.png'),
dummy-thicc-stats: wiki('4/42/Dummy_Thicc_Stats.png'),

monolithialism: wiki('7/7a/Monolithialism.png'),
boss-battle-spillover: wiki('d/d3/Boss_Battle_Spillover.png'),
dreamer-damage: wiki('f/f1/Dreamer_Damage.png'),

guild-gifts: wiki('9/9e/Guild_Gifts.png'),
stat-runes: wiki('1/19/Stat_Runes.png'),
gold-charm: wiki('0/00/Gold_Charm.png'),
rucksack: wiki('b/b2/Rucksack.png'),
bonus-gp-for-small-guilds: wiki('0/00/Bonus_GP_for_small_guilds.png'),
star-dazzle: wiki('c/cb/Star_Dazzle.png'),
power-of-pow: wiki('0/06/Power_of_Pow.png'),
multi-tool: wiki('c/ce/Multi_Tool.png'),
c2-card-spotter: wiki('7/78/C2_Card_Spotter.png'),
craps: wiki('3/38/Craps.png'),
rem-fighting: wiki('2/2a/REM_Fighting.png'),
sleepy-skiller: wiki('5/59/Sleepy_Skiller.png'),
bestone: wiki('1/1b/Bestone.png'),
anotha-one: wiki('3/34/Anotha_One.png'),
make-or-break: wiki('e/ed/Make_or_Break.png'),
coin-supercharger: wiki('1/18/Coin_Supercharger.png'),
wait-a-minute: wiki('3/33/Wait_A_Minute.png'),
wait-a-minute-2: wiki('b/b7/Wait_A_Minute_2.png'),
);
