$talents: (
// Warrior

power-strike: img('wiki/Power_Strike.png'),
whirl: img('wiki/Whirl.png'),
health-overdrive: img('wiki/Health_Overdrive.png'),
double-strike: img('wiki/Double_Strike.png'),
firmly-grasp-it: img('wiki/Firmly_Grasp_It.png'),
strength-in-numbers: img('wiki/Strength_In_Numbers.png'),
stress-tested-garb: img('wiki/%27Str%27Ess_Tested_Garb.png'),
carry-a-big-stick: img('wiki/Carry_A_Big_Stick.png'),
absolute-unit: img('wiki/Absolute_Unit.png'),
haungry-for-gold: img('wiki/Haungry_For_Gold.png'),
big-pick: img('wiki/Big_Pick.png'),
copper-collector: img('wiki/Copper_Collector.png'),
motherlode-miner: img('wiki/Motherlode_Miner.png'),
tool-proficiency: img('wiki/Tool_Proficiency.png'),
tempestuous-emotions: img('wiki/Tempestuous_Emotions.png'),
brute-efficiency: img('wiki/Brute_Efficiency.png'),
meat-shank: img('wiki/Meat_Shank.png'),
critikill: img('wiki/Critikill.png'),
idle-brawling: img('wiki/Idle_Brawling.png'),
idle-skilling: img('wiki/Idle_Skilling.png'),

// Barbarian

bear-swipe: img('wiki/Bear_Swipe.png'),
axe-hurl: img('wiki/Axe_Hurl.png'),
mocking-shout: img('wiki/Mocking_Shout.png'),
no-pain-no-gain: img('wiki/No_Pain_No_Gain.png'),
monster-decimator: img('wiki/Monster_Decimator.png'),
apocalypse-zow: img('wiki/Apocalypse_Zow.png'),
fistful-of-obol: img('wiki/Fistful_Of_Obol.png'),
strongest-statues: img('wiki/Strongest_Statues.png'),
str-summore: img('wiki/STR_Summore.png'),
beefy-bottles: img('wiki/Beefy_Bottles.png'),
worming-undercover: img('wiki/Worming_Undercover.png'),
bobbin-bobbers: img('wiki/Bobbin%27_Bobbers.png'),
all-fish-diet: img('wiki/All_Fish_Diet.png'),
catching-some-zzzs: img('wiki/Catching_Some_Zzz%27S.png'),
back-to-basics: img('wiki/Back_To_Basics.png'),

// Squire

shockwave-slash: img('wiki/Shockwave_Slash.png'),
daggerang: img('wiki/Daggerang.png'),
bricky-skin: img('wiki/Bricky_Skin.png'),
mastery-up: img('wiki/Mastery_Up.png'),
balanced-spirit: img('wiki/Balanced_Spirit.png'),
precision-power: img('wiki/Precision_Power.png'),
//fistful-of-obol: img('wiki/Fistful_Of_Obol.png'),
shieldiest-statues: img('wiki/Shieldiest_Statues.png'),
//str-summore: img('wiki/STR_Summore.png'),
blocky-bottles: img('wiki/Blocky_Bottles.png'),
refinery-throttle: img('wiki/Refinery_Throttle.png'),
redox-rates: img('wiki/Redox_Rates.png'),
sharper-saws: img('wiki/Sharper_Saws.png'),
super-samples: img('wiki/Super_Samples.png'),
//back-to-basics: img('wiki/Back_To_Basics.png'),

// Blood Berserker

fired-up: img('wiki/Fired_Up.png'),
combustion: img('wiki/Combustion.png'),
serrated-swipe: img('wiki/Serrated_Swipe.png'),
ember-bear: img('wiki/Ember_Bear.png'),
ferocity-strike: img('wiki/Ferocity_Strike.png'),
tough-steaks: img('wiki/Tough_Steaks.png'),
charred-skulls: img('wiki/Charred_Skulls.png'),
skill-strengthen: img('wiki/Skill_Strengthen.png'),
overblown-testosterone: img('wiki/Overblown_Testosterone.png'),
the-family-guy: img('wiki/The_Family_Guy.png'),
taste-test: img('wiki/Taste_Test.png'),
apocalypse-chow: img('wiki/Apocalypse_Chow.png'),
waiting-to-cool: img('wiki/Waiting_To_Cool.png'),
overflowing-ladle: img('wiki/Overflowing_Ladle.png'),
symbols-of-beyond-r: img('wiki/Symbols_Of_Beyond_~r.png'),

// Divine Knight

knightly-disciple: img('wiki/Knightly_Disciple.png'),
mega-mongorang: img('wiki/Mega_Mongorang.png'),
divine-intervention: img('wiki/Divine_Intervention.png'),
orb-of-remembrance: img('wiki/Orb_Of_Remembrance.png'),
imbued-shockwaves: img('wiki/Imbued_Shockwaves.png'),
gamer-strength: img('wiki/Gamer_Strength.png'),
//charred-skulls: img('wiki/Charred_Skulls.png'),
//skill-strengthen: img('wiki/Skill_Strengthen.png'),
//overblown-testosterone: img('wiki/Overblown_Testosterone.png'),
//the-family-guy: img('wiki/The_Family_Guy.png'),
undying-passion: img('wiki/Undying_Passion.png'),
one-thousand-hours-played: img('wiki/1000_Hours_Played.png'),
bitty-litty: img('wiki/Bitty_Litty.png'),
king-of-the-remembered: img('wiki/King_Of_The_Remembered.png'),
//symbols-of-beyond-r: img('wiki/Symbols_Of_Beyond_~r.png'),

// Archer

piercing-arrow: img('wiki/Piercing_Arrow.png'),
kung-fu-kick: img('wiki/Kung_Fu_Kick.png'),
hema-overdrive: img('wiki/Hema_Overdrive.png'),
strafe: img('wiki/Strafe.png'),
have-another: img('wiki/Have_Another%21.png'),
veins-of-the-infernal: img('wiki/Veins_Of_The_Infernal.png'),
garb-of-unaging-quality: img('wiki/Garb_Of_Un%27Agi%27Ng_Quality.png'),
high-polymer-limbs: img('wiki/High_Polymer_Limbs.png'),
sanic-speed: img('wiki/Sanic_Speed.png'),
robbinghood: img('wiki/Robbinghood.png'),
smeltin-erryday: img('wiki/Smeltin%27_Erryday.png'),
acme-anvil: img('wiki/Acme_Anvil.png'),
yea-i-already-know: img('wiki/Yea_I_Already_Know.png'),
godly-creation: img('wiki/Godly_Creation.png'),
focused-soul: img('wiki/Focused_Soul.png'),
elusive-efficiency: img('wiki/Elusive_Efficiency.png'),
featherweight: img('wiki/Featherweight.png'),
i-see-you: img('wiki/I_See_You.png'),
idle-shooting: img('wiki/Idle_Shooting.png'),
broken-time: img('wiki/Broken_Time.png'),

// Bowman

homing-arrows: img('wiki/Homing_Arrows.png'),
magic-shortbow: img('wiki/Magic_Shortbow.png'),
flax-instastring: img('wiki/Flax_Instastring.png'),
extendo-rangeo: img('wiki/Extendo_Rangeo.png'),
woah-that-was-fast: img('wiki/Woah%2C_That_Was_Fast%21.png'),
speedna: img('wiki/Speedna.png'),
shoeful-of-obol: img('wiki/Shoeful_Of_Obol.png'),
shwifty-statues: img('wiki/Shwifty_Statues.png'),
agi-again: img('wiki/AGI_Again.png'),
velocity-vessels: img('wiki/Velocity_Vessels.png'),
teleki-net-ic-logs: img('wiki/Teleki%27Net%27Ic_Logs.png'),
briar-patch-runner: img('wiki/Briar_Patch_Runner.png'),
bug-enthusiast: img('wiki/Bug_Enthusiast.png'),
sunset-on-the-hives: img('wiki/Sunset_On_The_Hives.png'),
previous-points: img('wiki/Previous_Points.png'),

// Hunter

three-sixty-noscope: img('wiki/360_Noscope.png'),
bear-trap: img('wiki/Bear_Trap.png'),
uwu-rawrrr: img('wiki/Uwu_Rawrrr.png'),
stop-right-there: img('wiki/Stop_Right_There.png'),
have-another-again: img('wiki/Have_Another..._Again%21.png'),
looty-mc-shooty: img('wiki/Looty_Mc_Shooty.png'),
//shoeful-of-obol: img('wiki/Shoeful_Of_Obol.png'),
straightshot-statues: img('wiki/Straightshot_Statues.png'),
//agi-again: img('wiki/AGI_Again.png'),
visibility-vessels: img('wiki/Visibility_Vessels.png'),
eagle-eye: img('wiki/Eagle_Eye.png'),
invasive-species: img('wiki/Invasive_Species.png'),
shroom-bait: img('wiki/Shroom_Bait.png'),
reflective-eyesight: img('wiki/Reflective_Eyesight.png'),
//previous-points: img('wiki/Previous_Points.png'),

// Siege Breaker

cannonball: img('wiki/Cannonball.png'),
suppressing-fire: img('wiki/Suppressing_Fire.png'),
firebomb: img('wiki/Firebomb.png'),
pirate-flag: img('wiki/Pirate_Flag.png'),
plunder-ye-deceased: img('wiki/Plunder_Ye_Deceased.png'),
crew-rowing-strength: img('wiki/Crew_Rowing_Strength.png'),
stacked-skulls: img('wiki/Stacked_Skulls.png'),
skill-ambidexterity: img('wiki/Skill_Ambidexterity.png'),
adaptation-revelation: img('wiki/Adaptation_Revelation.png'),
//the-family-guy: img('wiki/The_Family_Guy.png'),
unending-loot-search: img('wiki/Unending_Loot_Search.png'),
expertly-sailed: img('wiki/Expertly_Sailed.png'),
captain-peptalk: img('wiki/Captain_Peptalk.png'),
archlord-of-the-pirates: img('wiki/Archlord_Of_The_Pirates.png'),
symbols-of-beyond-g: img('wiki/Symbols_Of_Beyond_~g.png'),

// Beast Master

ballista: img('wiki/Ballista.png'),
boar-rush: img('wiki/Boar_Rush.png'),
whale-wallop: img('wiki/Whale_Wallop.png'),
nacho-party: img('wiki/Nacho_Party.png'),
have-yet-anotha-one: img('wiki/Have_Yet_Anotha_One.png'),
animalistic-ferocity: img('wiki/Animalistic_Ferocity.png'),
//stacked-skulls: img('wiki/Stacked_Skulls.png'),
//skill-ambidexterity: img('wiki/Skill_Ambidexterity.png'),
//adaptation-revelation: img('wiki/Adaptation_Revelation.png'),
//the-family-guy: img('wiki/The_Family_Guy.png'),
arena-spirit: img('wiki/Arena_Spirit.png'),
i-dream-of-peace-and-egg: img('wiki/I_Dream_Of_Peace_And_Egg.png'),
shining-beacon-of-egg: img('wiki/Shining_Beacon_Of_Egg.png'),
curviture-of-the-paw: img('wiki/Curviture_Of_The_Paw.png'),
//symbols-of-beyond-g: img('wiki/Symbols_Of_Beyond_~g.png'),

// Mage

energy-bolt: img('wiki/Energy_Bolt.png'),
mini-fireball: img('wiki/Mini_Fireball.png'),
mana-overdrive: img('wiki/Mana_Overdrive.png'),
teleport: img('wiki/Teleport.png'),
youre-next: img('wiki/You%27re_Next.png'),
knowledge-is-power: img('wiki/Knowledge_Is_Power.png'),
untwisted-robes: img('wiki/Unt%27Wis%27Ted_Robes.png'),
power-overwhelming: img('wiki/Power_Overwhelming.png'),
free-meal: img('wiki/Free_Meal.png'),
individual-insight: img('wiki/Individual_Insight.png'),
log-on-logs: img('wiki/Log_On_Logs.png'),
leaf-thief: img('wiki/Leaf_Thief.png'),
deforesting-all-doubt: img('wiki/Deforesting_All_Doubt.png'),
inner-peace: img('wiki/Inner_Peace.png'),
choppin-it-up-ez: img('wiki/Choppin_It_Up_Ez.png'),
smart-efficiency: img('wiki/Smart_Efficiency.png'),
overclocked-energy: img('wiki/Overclocked_Energy.png'),
farsight: img('wiki/Farsight.png'),
idle-casting: img('wiki/Idle_Casting.png'),
active-afk-er: img('wiki/Active_Afk%27Er.png'),

// Shaman

crazy-concoctions: img('wiki/Crazy_Concoctions.png'),
auspicious-aura: img('wiki/Auspicious_Aura.png'),
sizzling-skull: img('wiki/Sizzling_Skull.png'),
tenteyecle: img('wiki/Tenteyecle.png'),
instant-invincibility: img('wiki/Instant_Invincibility.png'),
virile-vials: img('wiki/Virile_Vials.png'),
occult-obols: img('wiki/Occult_Obols.png'),
stupendous-statues: img('wiki/Stupendous_Statues.png'),
wis-wumbo: img('wiki/WIS_Wumbo.png'),
fantasia-flasks: img('wiki/Fantasia_Flasks.png'),
cranium-cooking: img('wiki/Cranium_Cooking.png'),
busy-brewin: img('wiki/Busy_Brewin%27.png'),
bubble-breakthrough: img('wiki/Bubble_Breakthrough.png'),
sharing-some-smarts: img('wiki/Sharing_Some_Smarts.png'),
earlier-education: img('wiki/Earlier_Education.png'),

// Wizard

ice-shards: img('wiki/Ice_Shards.png'),
floor-is-lava: img('wiki/Floor_Is_Lava.png'),
tornado: img('wiki/Tornado.png'),
speedy-book: img('wiki/Speedy_Book.png'),
mana-is-life: img('wiki/Mana_Is_Life.png'),
paperwork-great: img('wiki/Paperwork%2C_Great....png'),
//occult-obols: img('wiki/Occult_Obols.png'),
staring-statues: img('wiki/Staring_Statues.png'),
//wis-wumbo: img('wiki/WIS_Wumbo.png'),
fuscia-flasks: img('wiki/Fuscia_Flasks.png'),
charge-syphon: img('wiki/Charge_Syphon.png'),
sooouls: img('wiki/Sooouls.png'),
bless-up: img('wiki/Bless_Up.png'),
nearby-outlet: img('wiki/Nearby_Outlet.png'),
//earlier-education: img('wiki/Earlier_Education.png'),

// Bubonic Conjuror

chemical-warfare: img('wiki/Chemical_Warfare.png'),
flatulent-spirit: img('wiki/Flatulent_Spirit.png'),
tampered-injection: img('wiki/Tampered_Injection.png'),
plague-stricken: img('wiki/Plague_Stricken.png'),
raise-dead: img('wiki/Raise_Dead.png'),
wired-in-power: img('wiki/Wired_In_Power.png'),
memorial-skulls: img('wiki/Memorial_Skulls.png'),
skill-wiz: img('wiki/Skill_Wiz.png'),
utmost-intellect: img('wiki/Utmost_Intellect.png'),
//the-family-guy: img('wiki/The_Family_Guy.png'),
purple-tube: img('wiki/Purple_Tube.png'),
green-tube: img('wiki/Green_Tube.png'),
essence-transferral: img('wiki/Essence_Transferral.png'),
upload-squared: img('wiki/Upload_Squared.png'),
symbols-of-beyond-p: img('wiki/Symbols_Of_Beyond_~p.png'),

// Elemental Sorcerer

meteor-shower: img('wiki/Meteor_Shower.png'),
lightning-barrage: img('wiki/Lightning_Barrage.png'),
radiant-chainbolt: img('wiki/Radiant_Chainbolt.png'),
dimensional-wormhole: img('wiki/Dimensional_Wormhole.png'),
chaotic-force: img('wiki/Chaotic_Force.png'),
believer-strength: img('wiki/Believer_Strength.png'),
//memorial-skulls: img('wiki/Memorial_Skulls.png'),
//skill-wiz: img('wiki/Skill_Wiz.png'),
//utmost-intellect: img('wiki/Utmost_Intellect.png'),
//the-family-guy: img('wiki/The_Family_Guy.png'),
polytheism: img('wiki/Polytheism.png'),
shared-beliefs: img('wiki/Shared_Beliefs.png'),
gods-chosen-children: img('wiki/Gods_Chosen_Children.png'),
wormhole-emperor: img('wiki/Wormhole_Emperor.png'),
//symbols-of-beyond-p: img('wiki/Symbols_Of_Beyond_~p.png'),

// Beginner

health-booster: img('wiki/Health_Booster.png'),
mana-booster: img('wiki/Mana_Booster.png'),
star-player: img('wiki/Star_Player.png'),
bucklered-up: img('wiki/Bucklered_Up.png'),
sharpened-axe: img('wiki/Sharpened_Axe.png'),
fist-of-rage: img('wiki/Fist_of_Rage.png'),
quickness-boots: img('wiki/Quickness_Boots.png'),
book-of-the-wise: img('wiki/Book_Of_The_Wise.png'),
lucky-clover: img('wiki/Lucky_Clover.png'),
gilded-sword: img('wiki/Gilded_Sword.png'),
happy-dude: img('wiki/Happy_Dude.png'),

// Journeyman

indiana-attack: img('wiki/Indiana_Attack.png'),
breakin-the-bank: img('wiki/Breakin%27_The_Bank.png'),
supernova-player: img('wiki/Supernova_Player.png'),
two-punch-man: img('wiki/Two_Punch_Man.png'),
gimme-gimme: img('wiki/Gimme_Gimme.png'),
lucky-hit: img('wiki/Lucky_Hit.png'),
flukey-fabrics: img('wiki/F%27Luk%27Ey_Fabrics.png'),
chaching: img('wiki/Chaching%21.png'),
lucky-horseshoe: img('wiki/Lucky_Horseshoe.png'),
curse-of-mr-looty-booty: img('wiki/Curse_Of_Mr_Looty_Booty.png'),
its-your-birthday: img('wiki/Its_Your_Birthday%21.png'),
cmon-out-crystals: img('wiki/Cmon_Out_Crystals.png'),
reroll-pls: img('wiki/Reroll_Pls.png'),
cards-galore: img('wiki/Cards_Galore.png'),
rares-everywhere: img('wiki/Rares_Everywhere%21.png'),
//happy-dude: img('wiki/Happy_Dude.png'),
knucklebuster: img('wiki/Knucklebuster.png'),
feather-flight: img('wiki/Featherweight.png'),
extra-bags: img('wiki/Extra_Bags.png'),
sleepin-on-the-job: img('wiki/Sleepin%27_On_The_Job.png'),

// Maestro

coin-toss: img('wiki/Coin_Toss.png'),
skillage-damage: img('wiki/Skillage_Damage.png'),
printer-go-brrr: img('wiki/Printer_Go_Brrr.png'),
triple-jab: img('wiki/Triple_Jab.png'),
one-step-ahead: img('wiki/One_Step_Ahead.png'),
lucky-charms: img('wiki/Lucky_Charms.png'),
clever-clover-obols: img('wiki/Clever_Clover_Obols.png'),
skilliest-statue: img('wiki/Skilliest_Statue.png'),
bliss-n-chips: img('wiki/Bliss_N_Chips.png'),
colloquial-containers: img('wiki/Colloquial_Containers.png'),
maestro-transfusion: img('wiki/Maestro_Transfusion.png'),
crystal-countdown: img('wiki/Crystal_Countdown.png'),
left-hand-of-learning: img('wiki/Left_Hand_of_Learning.png'),
right-hand-of-action: img('wiki/Right_Hand_of_Action.png'),
jman-was-better: img('wiki/Jman_Was_Better.png'),

// Voidwalker

void-trial-rerun: img('wiki/Void_Trial_Rerun.png'),
void-radius: img('wiki/Void_Radius.png'),
bossing-vain: img('wiki/Bossing_Vain.png'),
quad-jab: img('wiki/Quad_Jab.png'),
enhancement-eclipse: img('wiki/Enhancement_Eclipse.png'),
power-orb: img('wiki/Power_Orb.png'),
eternal-str: img('wiki/Eternal_Str.png'),
eternal-agi: img('wiki/Eternal_Agi.png'),
eternal-wis: img('wiki/Eternal_Wis.png'),
eternal-luk: img('wiki/Eternal_Luk.png'),
exp-cultivation: img('wiki/Exp_Cultivation.png'),
voodoo-statufication: img('wiki/Voodoo_Statufication.png'),
species-epoch: img('wiki/Species_Epoch.png'),
master-of-the-system: img('wiki/Master_Of_The_System.png'),
blood-marrow: img('wiki/Blood_Marrow.png'),

// Special

bored-to-death: img('wiki/Bored_To_Death.png'),
beginner-best-class: img('wiki/Beginner_Best_Class.png'),
studious-quester: img('wiki/Studious_Quester.png'),
quest-chungus: img('wiki/Quest_Chungus.png'),
crystals-4-dayys: img('wiki/Crystals_4_Dayys.png'),
will-of-the-eldest: img('wiki/Will_Of_The_Eldest.png'),
tick-tock: img('wiki/Tick_Tock.png'),
stonks: img('wiki/Stonks%21.png'),
roll-da-dice: img('wiki/Roll_Da_Dice.png'),
attacks-on-simmer: img('wiki/Attacks_On_Simmer.png'),
toilet-paper-postage: img('wiki/Toilet_Paper_Postage.png'),
exp-converter: img('wiki/Exp_Converter.png'),
goblet-of-hemoglobin: img('wiki/Goblet_Of_Hemoglobin.png'),

just-exp: img('wiki/Just_EXP.png'),
frothy-malk: img('wiki/Frothy_Malk.png'),
convert-better-darnit: img('wiki/Convert_Better%2C_Darnit%21.png'),
pulsation: img('wiki/Pulsation.png'),
cardiovascular: img('wiki/Cardiovascular%21.png'),
milkyway-candies: img('wiki/Milkyway_Candies.png'),
telekinetic-storage: img('wiki/Telekinetic_Storage.png'),
printer-sampling: img('wiki/Printer_Sampling.png'),
supersource: img('wiki/Supersource.png'),
action-frenzy: img('wiki/Action_Frenzy.png'),
dungeonic-damage: img('wiki/Dungeonic_Damage.png'),
shrine-architect: img('wiki/Shrine_Architect.png'),
mega-crit: img('wiki/Mega_Crit.png'),

tiptoe-quickness: img('wiki/Tiptoe_Quickness.png'),
ubercharged-health: img('wiki/Ubercharged_Health.png'),
coins-for-charon: img('wiki/Coins_For_Charon.png'),
american-tipper: img('wiki/American_Tipper.png'),
overaccurate-crit: img('wiki/Overaccurate_Crit.png'),
filthy-damage: img('wiki/Filthy_Damage.png'),
rando-event-looty: img('wiki/Rando_Event_Looty.png'),
spice-spillage: img('wiki/Spice_Spillage.png'),
stat-overload: img('wiki/Stat_Overload.png'),
dummy-thicc-stats: img('wiki/Dummy_Thicc_Stats.png'),

monolithialism: img('wiki/Monolithialism.png'),
boss-battle-spillover: img('wiki/Boss_Battle_Spillover.png'),
dreamer-damage: img('wiki/Dreamer_Damage.png'),

guild-gifts: img('wiki/Guild_Gifts.png'),
stat-runes: img('wiki/Stat_Runes.png'),
gold-charm: img('wiki/Gold_Charm.png'),
rucksack: img('wiki/Rucksack.png'),
bonus-gp-for-small-guilds: img('wiki/Bonus_GP_for_small_guilds.png'),
star-dazzle: img('wiki/Star_Dazzle.png'),
power-of-pow: img('wiki/Power_of_Pow.png'),
multi-tool: img('wiki/Multi_Tool.png'),
c2-card-spotter: img('wiki/C2_Card_Spotter.png'),
craps: img('wiki/Craps.png'),
rem-fighting: img('wiki/REM_Fighting.png'),
sleepy-skiller: img('wiki/Sleepy_Skiller.png'),
bestone: img('wiki/Bestone.png'),
anotha-one: img('wiki/Anotha_One.png'),
make-or-break: img('wiki/Make_or_Break.png'),
coin-supercharger: img('wiki/Coin_Supercharger.png'),
wait-a-minute: img('wiki/Wait_A_Minute.png'),
wait-a-minute-2: img('wiki/Wait_A_Minute_2.png'),
);
