$tesseract-upgrades: (
    tesseract-upgrade--1: img('customized/Blank.png'),
    tesseract-upgrade-0: img('data/ArcaneUpg0.png'),
    tesseract-upgrade-1: img('data/ArcaneUpg1.png'),
    tesseract-upgrade-2: img('data/ArcaneUpg2.png'),
    tesseract-upgrade-3: img('data/ArcaneUpg3.png'),
    tesseract-upgrade-4: img('data/ArcaneUpg4.png'),
    tesseract-upgrade-5: img('data/ArcaneUpg5.png'),
    tesseract-upgrade-6: img('data/ArcaneUpg6.png'),
    tesseract-upgrade-7: img('data/ArcaneUpg7.png'),
    tesseract-upgrade-8: img('data/ArcaneUpg8.png'),
    tesseract-upgrade-9: img('data/ArcaneUpg9.png'),
    tesseract-upgrade-10: img('data/ArcaneUpg10.png'),
    tesseract-upgrade-11: img('data/ArcaneUpg11.png'),
    tesseract-upgrade-12: img('data/ArcaneUpg12.png'),
    tesseract-upgrade-13: img('data/ArcaneUpg13.png'),
    tesseract-upgrade-14: img('data/ArcaneUpg14.png'),
    tesseract-upgrade-15: img('data/ArcaneUpg15.png'),
    tesseract-upgrade-16: img('data/ArcaneUpg16.png'),
    tesseract-upgrade-17: img('data/ArcaneUpg17.png'),
    tesseract-upgrade-18: img('data/ArcaneUpg18.png'),
    tesseract-upgrade-19: img('data/ArcaneUpg19.png'),
    tesseract-upgrade-20: img('data/ArcaneUpg20.png'),
    tesseract-upgrade-21: img('data/ArcaneUpg21.png'),
    tesseract-upgrade-22: img('data/ArcaneUpg22.png'),
    tesseract-upgrade-23: img('data/ArcaneUpg23.png'),
    tesseract-upgrade-24: img('data/ArcaneUpg24.png'),
    tesseract-upgrade-25: img('data/ArcaneUpg25.png'),
    tesseract-upgrade-26: img('data/ArcaneUpg26.png'),
    tesseract-upgrade-27: img('data/ArcaneUpg27.png'),
    tesseract-upgrade-28: img('data/ArcaneUpg28.png'),
    tesseract-upgrade-29: img('data/ArcaneUpg29.png'),
    tesseract-upgrade-30: img('data/ArcaneUpg30.png'),
    tesseract-upgrade-31: img('data/ArcaneUpg31.png'),
    tesseract-upgrade-32: img('data/ArcaneUpg32.png'),
    tesseract-upgrade-33: img('data/ArcaneUpg33.png'),
    tesseract-upgrade-34: img('data/ArcaneUpg34.png'),
    tesseract-upgrade-35: img('data/ArcaneUpg35.png'),
    tesseract-upgrade-36: img('data/ArcaneUpg36.png'),
    tesseract-upgrade-37: img('data/ArcaneUpg37.png'),
    tesseract-upgrade-38: img('data/ArcaneUpg38.png'),
    tesseract-upgrade-39: img('data/ArcaneUpg39.png'),
    tesseract-upgrade-40: img('data/ArcaneUpg40.png'),
    tesseract-upgrade-41: img('data/ArcaneUpg41.png'),
    tesseract-upgrade-42: img('data/ArcaneUpg42.png'),
    tesseract-upgrade-43: img('data/ArcaneUpg43.png'),
    tesseract-upgrade-44: img('data/ArcaneUpg44.png'),
    tesseract-upgrade-45: img('data/ArcaneUpg45.png'),
    tesseract-upgrade-46: img('data/ArcaneUpg46.png'),
    tesseract-upgrade-47: img('data/ArcaneUpg47.png'),
    tesseract-upgrade-48: img('data/ArcaneUpg48.png'),
    tesseract-upgrade-49: img('data/ArcaneUpg49.png'),
    tesseract-upgrade-50: img('data/ArcaneUpg50.png'),
    tesseract-upgrade-51: img('data/ArcaneUpg51.png'),
    tesseract-upgrade-52: img('data/ArcaneUpg52.png'),
    tesseract-upgrade-53: img('data/ArcaneUpg53.png'),
    tesseract-upgrade-54: img('data/ArcaneUpg54.png'),
    tesseract-upgrade-55: img('data/ArcaneUpg55.png'),
    tesseract-upgrade-56: img('data/ArcaneUpg56.png'),
    tesseract-upgrade-57: img('data/ArcaneUpg57.png'),
    tesseract-upgrade-58: img('data/ArcaneUpg58.png'),
);

$tesseract-tachyons: (
    tesseract-tachyon-0:    img('data/Tach0_x1.png'),
    singulon:               img('data/Tach0_x1.png'),
    tesseract-tachyon-1:    img('data/Tach1_x1.png'),
    doubulon:               img('data/Tach1_x1.png'),
    tesseract-tachyon-2:    img('data/Tach2_x1.png'),
    verdon:                 img('data/Tach2_x1.png'),
    tesseract-tachyon-3:    img('data/Tach3_x1.png'),
    bludon:                 img('data/Tach3_x1.png'),
    tesseract-tachyon-4:    img('data/Tach4_x1.png'),
    massivon:               img('data/Tach4_x1.png'),
    tesseract-tachyon-5:    img('data/Tach5_x1.png'),
    aurion:                 img('data/Tach5_x1.png'),
);

$tesseract-equipment: (
    arcanist-staff: img('data/EquipmentWandsArc0.png'),
    arcanist-cultist-ring: img('data/EquipmentRingsArc0.png'),
);

$tesseract-etc: (
    arcane-crystal-0:       img('data/ArcCry_0.png'),
    arcane-crystal-0a:      img('data/ArcCrya0.png'),
    arcane-crystal-0b:      img('data/ArcCryb0.png'),
    arcane-crystal-1:       img('data/ArcCry_1.png'),
    arcane-crystal-1a:      img('data/ArcCrya1.png'),
    arcane-crystal-1b:      img('data/ArcCryb1.png'),
    arcane-crystal-2:       img('data/ArcCry_2.png'),
    arcane-crystal-2a:      img('data/ArcCrya2.png'),
    arcane-crystal-2b:      img('data/ArcCryb2.png'),
    arcane-crystal-3:       img('data/ArcCry_3.png'),
    arcane-crystal-3a:      img('data/ArcCrya3.png'),
    arcane-crystal-3b:      img('data/ArcCryb3.png'),
    arcane-crystal-4:       img('data/ArcCry_4.png'),
    arcane-crystal-4a:      img('data/ArcCrya4.png'),
    arcane-crystal-4b:      img('data/ArcCryb4.png'),
    arcane-crystal-5:       img('data/ArcCry_5.png'),
    arcane-crystal-5a:      img('data/ArcCrya5.png'),
    arcane-crystal-5b:      img('data/ArcCryb5.png'),

    the-tesseract: img('customized/Tesseract.gif'),
);

$all-tesseract: map-merge($tesseract-upgrades, $tesseract-tachyons);
$all-tesseract: map-merge($all-tesseract, $tesseract-equipment);
$all-tesseract: map-merge($all-tesseract, $tesseract-etc);
