$ui-quick-ref: (
    quick-ref-anvil:        img('data/UIquickref1.png'),
    quick-ref-storage:      img('data/UIquickref2.png'),
    quick-ref-stamps:       img('data/UIquickref3.png'),
    quick-ref-tasks:        img('data/UIquickref4.png'),
    quick-ref-obols:        img('data/UIquickref5.png'),
    quick-ref-alchemy:      img('data/UIquickref6.png'),
    quick-ref-orion:        img('data/UIquickref7.png'),
    quick-ref-arcade:       img('data/UIquickref8.png'),
    quick-ref-construction: img('data/UIquickref9.png'),
    quick-ref-gaming:       img('data/UIquickref10.png'),
    quick-ref-printer:      img('data/UIquickref11.png'),
    quick-ref-sneaking:     img('data/UIquickref12.png'),
    quick-ref-spelunking:   img('data/UIquickref13.png'),
);

$ui-misc: (
    placeholder: img('tbd.png'),
    empty-forge-slot: img('Empty_Forge_Slot.png'),
    forge-upgrades: img('Forge_Upgrades.png'),
    talent-preset-1: img('Preset.png'),
    printer-blue: img('UI/printer-blue.png'),
    printer-yellow: img('UI/printer-yellow.png'),
    printer-purple: img('UI/printer-purple.png'),
    star0: img('wiki/Star0.png'),
    star1: img('wiki/Star1.png'),
    star2: img('wiki/Star2.png'),
    star3: img('wiki/Star3.png'),
    star4: img('wiki/Star4.png'),
    star5: img('wiki/Star5.png'),
    damage: img('wiki/Attack_Icon.png'),
    //snake-skin: img('wiki/Snake_Skin.png'),
    gems: img('Gem_Shop.png'),
    coins: img('wiki/Coins.gif'),
    greenstack: img('wiki/Greenstack.png'),
    ui-talents: img('UI/UIbuttons2.png'),
    ui-inventory-bag-0: img('data/UIinventoryTabs1.png'),
    coming-soon: img('wiki/Coming_Soon.png'),
    multi: img('data/multi_z.png'),
);

$all-ui: map-merge($ui-quick-ref, $ui-misc);
