$ui-map: (
    placeholder: img('tbd.png'),
    empty-forge-slot: img('Empty_Forge_Slot.png'),
    forge-upgrades: img('Forge_Upgrades.png'),
    talent-preset-1: img('Preset.png'),
    printer-blue: img('UI/printer-blue.png'),
    printer-yellow: img('UI/printer-yellow.png'),
    printer-purple: img('UI/printer-purple.png'),
    star0: img('wiki/Star0.png'),
    star1: img('wiki/Star1.png'),
    star2: img('wiki/Star2.png'),
    star3: img('wiki/Star3.png'),
    star4: img('wiki/Star4.png'),
    star5: img('wiki/Star5.png'),
    damage: img('wiki/Attack_Icon.png'),
    vial-l1: img('Alchemy_Vial-level-1.png'),
    vial-l4: img('Alchemy_Vial-level-4.png'),
    vial-max: img('Alchemy_Vial-level-13.png'),
    //snake-skin: img('wiki/Snake_Skin.png'),
    gems: img('Gem_Shop.png'),
    coins: img('wiki/Coins.gif'),
    greenstack: img('Greenstack.png'),
);