$vault-upgrades: (
    vault-upgrade--1: img('customized/Blank.png'),
    vault-upgrade-0:  img('data/VaultUpg0.png'),
    vault-upgrade-1:  img('data/VaultUpg1.png'),
    vault-upgrade-2:  img('data/VaultUpg2.png'),
    vault-upgrade-3:  img('data/VaultUpg3.png'),
    vault-upgrade-4:  img('data/VaultUpg4.png'),
    vault-upgrade-5:  img('data/VaultUpg5.png'),
    vault-upgrade-6:  img('data/VaultUpg6.png'),
    vault-upgrade-7:  img('data/VaultUpg7.png'),
    vault-upgrade-8:  img('data/VaultUpg8.png'),
    vault-upgrade-9:  img('data/VaultUpg9.png'),
    vault-upgrade-10: img('data/VaultUpg10.png'),
    vault-upgrade-11: img('data/VaultUpg11.png'),
    vault-upgrade-12: img('data/VaultUpg12.png'),
    vault-upgrade-13: img('data/VaultUpg13.png'),
    vault-upgrade-14: img('data/VaultUpg14.png'),
    vault-upgrade-15: img('data/VaultUpg15.png'),
    vault-upgrade-16: img('data/VaultUpg16.png'),
    vault-upgrade-17: img('data/VaultUpg17.png'),
    vault-upgrade-18: img('data/VaultUpg18.png'),
    vault-upgrade-19: img('data/VaultUpg19.png'),
    vault-upgrade-20: img('data/VaultUpg20.png'),
    vault-upgrade-21: img('data/VaultUpg21.png'),
    vault-upgrade-22: img('data/VaultUpg22.png'),
    vault-upgrade-23: img('data/VaultUpg23.png'),
    vault-upgrade-24: img('data/VaultUpg24.png'),
    vault-upgrade-25: img('data/VaultUpg25.png'),
    vault-upgrade-26: img('data/VaultUpg26.png'),
    vault-upgrade-27: img('data/VaultUpg27.png'),
    vault-upgrade-28: img('data/VaultUpg28.png'),
    vault-upgrade-29: img('data/VaultUpg29.png'),
    vault-upgrade-30: img('data/VaultUpg30.png'),
    vault-upgrade-31: img('data/VaultUpg31.png'),
    vault-upgrade-32: img('data/VaultUpg32.png'),  //Vault Mastery I
    vault-upgrade-33: img('data/VaultUpg33.png'),
    vault-upgrade-34: img('data/VaultUpg34.png'),
    vault-upgrade-35: img('data/VaultUpg35.png'),
    vault-upgrade-36: img('data/VaultUpg36.png'),
    vault-upgrade-37: img('data/VaultUpg37.png'),
    vault-upgrade-38: img('data/VaultUpg38.png'),
    vault-upgrade-39: img('data/VaultUpg39.png'),
    vault-upgrade-40: img('data/VaultUpg40.png'),
    vault-upgrade-41: img('data/VaultUpg41.png'),
    vault-upgrade-42: img('data/VaultUpg42.png'),
    vault-upgrade-43: img('data/VaultUpg43.png'),
    vault-upgrade-44: img('data/VaultUpg44.png'),
    vault-upgrade-45: img('data/VaultUpg45.png'),
    vault-upgrade-46: img('data/VaultUpg46.png'),
    vault-upgrade-47: img('data/VaultUpg47.png'),
    vault-upgrade-48: img('data/VaultUpg48.png'),
    vault-upgrade-49: img('data/VaultUpg49.png'),
    vault-upgrade-50: img('data/VaultUpg50.png'),
    vault-upgrade-51: img('data/VaultUpg51.png'),
    vault-upgrade-52: img('data/VaultUpg52.png'),
    vault-upgrade-53: img('data/VaultUpg53.png'),
    vault-upgrade-54: img('data/VaultUpg54.png'),
    vault-upgrade-55: img('data/VaultUpg55.png'),
    vault-upgrade-56: img('data/VaultUpg56.png'),
    vault-upgrade-57: img('data/VaultUpg57.png'),
    vault-upgrade-58: img('data/VaultUpg58.png'),
    vault-upgrade-59: img('data/VaultUpg59.png'),
    vault-upgrade-60: img('data/VaultUpg60.png'),
    vault-upgrade-61: img('data/VaultUpg61.png'),  //Vault Mastery II
    vault-upgrade-62: img('data/VaultUpg62.png'),
    vault-upgrade-63: img('data/VaultUpg63.png'),
    vault-upgrade-64: img('data/VaultUpg64.png'),
    vault-upgrade-65: img('data/VaultUpg65.png'),
    vault-upgrade-66: img('data/VaultUpg66.png'),
    vault-upgrade-67: img('data/VaultUpg67.png'),
    vault-upgrade-68: img('data/VaultUpg68.png'),
    vault-upgrade-69: img('data/VaultUpg69.png'),
    vault-upgrade-70: img('data/VaultUpg70.png'),
    vault-upgrade-71: img('data/VaultUpg71.png'),
    vault-upgrade-72: img('data/VaultUpg72.png'),
    vault-upgrade-73: img('data/VaultUpg73.png'),
    vault-upgrade-74: img('data/VaultUpg74.png'),
    vault-upgrade-75: img('data/VaultUpg75.png'),
    vault-upgrade-76: img('data/VaultUpg76.png'),
    vault-upgrade-77: img('data/VaultUpg77.png'),
    vault-upgrade-78: img('data/VaultUpg78.png'),
    vault-upgrade-79: img('data/VaultUpg79.png'),
    vault-upgrade-80: img('data/VaultUpg80.png'),
    vault-upgrade-81: img('data/VaultUpg81.png'),
    vault-upgrade-82: img('data/VaultUpg82.png'),
    vault-upgrade-83: img('data/VaultUpg83.png'),
    vault-upgrade-84: img('data/VaultUpg84.png'),
    vault-upgrade-85: img('data/VaultUpg85.png'),
    vault-upgrade-86: img('data/VaultUpg86.png'),
    vault-upgrade-87: img('data/VaultUpg87.png'),
    vault-upgrade-88: img('data/VaultUpg88.png'),
    vault-upgrade-89: img('data/VaultUpg89.png'), // Vault Mastery 3
);

$vault-etc: (
);

$all-vault: map-merge($vault-upgrades, $vault-etc);
