@function img($name)
	$static-base: '/static/imgs/'
	@return url($static-base + $name)

@function wiki($name)
	$static-base: 'https://idleon.wiki/wiki/images/'
	@return url($static-base + $name)

@import "bubbles"
@import "classes"
@import "construction"
@import "gem-shop"
@import "worship"
@import "skill-icons"
@import "slab-items"
@import "talents"
@import "vials"
@import "world-contents"

$card-border-thick: 4px
$card-padding: 30px
$card-radius: $card-padding + $card-border-thick
$body-bg: #38444d
$thumb-color: #66bb6a

$gems:         img('Gem_Shop.png')
$coins:        img('wiki/Coins.gif')
$greenstack:   img('Greenstack.png')

$p2w-player: img('P2W_Player.png')
$vial-l1:      img('Alchemy_Vial-level-1.png')
$vial-l4:      img('Alchemy_Vial-level-4.png')
$vial-max:     img('Alchemy_Vial-level-13.png')
$snake-skin:   img('wiki/Snake_Skin.png')
$empty-forge-slot: img('Empty_Forge_Slot.png')
$forge-upgrades: img('Forge_Upgrades.png')
$talent-preset-1: img('Preset.png')
$collider-toggle: img('Collider_Toggle.png')

$star0: img('wiki/Star0.png')
$star1: img('wiki/Star1.png')
$star2: img('wiki/Star2.png')
$star3: img('wiki/Star3.png')
$star4: img('wiki/Star4.png')
$star5: img('wiki/Star5.png')

$damage: img('wiki/Attack_Icon.png')