$weekly-boss-actions: (
    //Cropped from 1x/font-220.png
    weekly-boss-action-a: img('customized/weekly_bosses_Req_Icon_a.png'),
    weekly-boss-action-b: img('customized/weekly_bosses_Req_Icon_b.png'),
    weekly-boss-action-c: img('customized/weekly_bosses_Req_Icon_c.png'),
    weekly-boss-action-d: img('customized/weekly_bosses_Req_Icon_d.png'),
    weekly-boss-action-e: img('customized/weekly_bosses_Req_Icon_e.png'),
    weekly-boss-action-f: img('customized/weekly_bosses_Req_Icon_f.png'),
    weekly-boss-action-g: img('customized/weekly_bosses_Req_Icon_g.png'),
    weekly-boss-action-h: img('customized/weekly_bosses_Req_Icon_h.png'),
    weekly-boss-action-i: img('customized/weekly_bosses_Req_Icon_i.png'),
    weekly-boss-action-j: img('customized/weekly_bosses_Req_Icon_j.png'),
    weekly-boss-action-k: img('customized/weekly_bosses_Req_Icon_k.png'),
    weekly-boss-action-l: img('customized/weekly_bosses_Req_Icon_l.png'),
    weekly-boss-action-m: img('customized/weekly_bosses_Req_Icon_m.png'),
    weekly-boss-action-n: img('customized/weekly_bosses_Req_Icon_n.png'),
    weekly-boss-action-o: img('customized/weekly_bosses_Req_Icon_o.png'),
    weekly-boss-action-p: img('customized/weekly_bosses_Req_Icon_p.png'),
    weekly-boss-action-q: img('customized/weekly_bosses_Req_Icon_q.png'),
    weekly-boss-action-r: img('customized/weekly_bosses_Req_Icon_r.png'),
    weekly-boss-action-s: img('customized/weekly_bosses_Req_Icon_s.png'),
    weekly-boss-action-t: img('customized/weekly_bosses_Req_Icon_t.png'),
    weekly-boss-action-u: img('customized/weekly_bosses_Req_Icon_u.png'),
    weekly-boss-action-v: img('customized/weekly_bosses_Req_Icon_v.png'),
    weekly-boss-action-w: img('customized/weekly_bosses_Req_Icon_w.png'),
    weekly-boss-action-x: img('customized/weekly_bosses_Req_Icon_x.png'),
    weekly-boss-action-y: img('customized/weekly_bosses_Req_Icon_y.png'),
    weekly-boss-action-z: img('customized/weekly_bosses_Req_Icon_z.png'),
);

$weekly_boss_targets: ();

$all-weekly-boss-map: map-merge($weekly-boss-actions, $weekly_boss_targets);