// World 1

$forge: img('wiki/Forge.gif')
$anvil: img('wiki/Anvil.gif')
$scripticus: img('wiki/Scripticus.gif')
$dog: img('wiki/Dog_Idle.gif')
$town-marble: img('wiki/Town_Marble.gif')
$mr-pigibank: img('wiki/Mr_Pigibank.gif')
$grasslands-gary: img('wiki/Grasslands_Gary.gif')
$storage-chest: img('wiki/Storage_Chest.gif')
$blunder-hills-vend: img('wiki/Blunder_Hills_Vend.gif')
$builder-bird: img('wiki/Builder_Bird.gif')
$desert-portal: img('wiki/Desert_Portal.gif')
$dog: img('wiki/Dog_Idle.gif')
$woodsman: img('wiki/Woodsman.gif')
$oak-tree: img('wiki/Oak_Tree.png')
$dewdrop-colosseum-sprite: img('wiki/Dewdrop_Colosseum_Sprite.png')
$picnic-stowaway: img('wiki/Picnic_Stowaway.gif')
$hamish: img('wiki/Hamish.gif')
$rocklyte: img('wiki/Rocklyte.gif')
$toadstall: img('wiki/Toadstall.gif')
$grandfrog-s-gazebo-entrance: img('wiki/Grandfrog%27s_Gazebo_Entrance.png')
$promotheus: img('wiki/Promotheus.gif')
$birch-tree: img('wiki/Birch_Tree.png')
$stiltzcho: img('wiki/Stiltzcho.gif')
$funguy: img('wiki/Funguy.gif')
$jungle-tree: img('wiki/Jungle_Tree.png')
$bushlyte: img('wiki/Bushlyte.gif')
$spike-trap: img('wiki/Spike_Trap.gif')
$goblin-gorfest-totem: img('wiki/Goblin_Gorfest_Totem.gif')
$dog-bone-npc: img('wiki/Dog_Bone_%28NPC%29.gif')
$obol-altar: img('wiki/Obol_Altar.gif')
$tiki-chief: img('wiki/Tiki_Chief.gif')
$encroaching-forest-villas-vendor: img('wiki/Encroaching_Forest_Villas_Vendor.gif')
$papua-piggea: img('wiki/Papua_Piggea.gif')
$forest-tree: img('wiki/Forest_Tree.png')
$acorn-assault-totem: img('wiki/Acorn_Assault_Totem.gif')
$sprout: img('wiki/Sprout.gif')
$stump-tree: img('wiki/Stump_Tree.png')
$dazey: img('wiki/Dazey.gif')
$owlio: img('wiki/Owlio.png')
$telescope: img('wiki/Telescope.gif')
$copper-node: img('wiki/Copper_Vein.png')
$forge: img('wiki/Forge.gif')
$glumlee: img('wiki/Glumlee.gif')
$iron-node: img('wiki/Iron_Vein.png')
$gold-node: img('wiki/Gold_Vein.png')
$krunk: img('wiki/Krunk.gif')
$mutton: img('wiki/Mutton.gif')
$platinum-node: img('wiki/Platinum_Vein.png')
$dementia-node: img('wiki/Dementia_Vein.png')
$void-node: img('wiki/Void_Vein.png')
$lustre-node: img('wiki/Lustre_Vein.png')
$starfire-node: img('wiki/Starfire_Vein.png')
$dreadlo-node: img('wiki/Dreadlo_Vein.png')
$keymaster: img('wiki/Keymaster.gif')
$toilet-tree: img('wiki/Toilet_Tree.png')
$tp-pete: img('wiki/TP_Pete.gif')
$mousey: img('wiki/Mousey.png')

// World 2

$alchemy-cauldron: img('wiki/Alchemy_Cauldron.gif')
$yum-yum-grotto-vendor: img('wiki/Yum_Yum_Grotto_Vendor.gif')
$obol-altar: img('wiki/Obol_Altar.gif')
$postboy-pablob: img('wiki/Postboy_Pablob.gif')
$cowbo-jones: img('wiki/Cowbo_Jones.gif')
$storage-chest: img('wiki/Storage_Chest.gif')
$desert-davey: img('wiki/Desert_Davey.gif')
$killroy: img('wiki/Killroy.gif')
$walupiggy: img('wiki/Walupiggy.gif')

$fishing-spot: img('wiki/Fishing_Spot.gif')
$fishing-rack: img('wiki/Fishing_Rack.gif')
$whattso: img('wiki/Whattso.gif')
$crabbo: img('wiki/Crabbo.png')
$scubidew: img('wiki/Scubidew.gif')
$fishpaste97: img('wiki/Fishpaste97.gif')
$faraway-piers-vendor: img('wiki/Faraway_Piers_Vendor.gif')
$omar-da-ogar: img('wiki/Omar_da_Ogar.gif')
$big-fishing-spot: img('wiki/Medium_Fishing_Spot.gif')
$island-expeditions-board: img('wiki/Island_Expeditions_Board.gif')
$island-expeditions-boat: img('wiki/Island_Expeditions_Boat.gif')

$fly-nest: img('wiki/Fly_Nest.png')
$sandstone-colosseum-sprite: img('wiki/Sandstone_Colosseum_Sprite.png')
$centurion: img('wiki/Centurion.gif')
$snake-jar: img('wiki/Snake_Jar.gif')
$fishing-spot: img('wiki/Fishing_Spot.gif')
$palm-tree: img('wiki/Palm_Tree.png')
$platinum-node: img('wiki/Platinum_Vein.png')
$void-node: img('wiki/Void_Vein.png')
$bandit-bob: img('wiki/Bandit_Bob.gif')
$butterfly-bar: img('wiki/Butterfly_Bar.png')
$mimic: img('wiki/Mimic_Idle.gif')
$gangster-gus: img('wiki/Gangster_Gus.gif')
$crypt-of-snakenhotep-entrance: img('wiki/Crypt_of_Snakenhotep_Entrance.png')
$speccius: img('wiki/Speccius.gif')
$palm-tree: img('wiki/Palm_Tree.png')
$xxx-cattleprod-xxx: img('wiki/XxX_Cattleprod_XxX.gif')
$goldric: img('wiki/Goldric.gif')
$sentient-bowl: img('wiki/Sentient_Bowl.png')
$mashed-potato: img('wiki/Mashed_Potato_Idle.gif')
$carpetiem: img('wiki/Carpetiem.gif')
$scorpie: img('wiki/Scorpie.png')
$loominadi: img('wiki/Loominadi.gif')
$grocery-bag: img('wiki/Grocery_Bag.png')
$wakawaka-war-totem: img('wiki/Wakawaka_War_Totem.gif')
$wellington: img('wiki/Wellington.gif')
$djonnut: img('wiki/Djonnut.gif')
$cactolyte: img('wiki/Cactolyte.gif')
$dung-beat: img('wiki/Dung_Beat.png')

// World 3

$lord-of-the-hunt: img('wiki/Lord_of_the_Hunt.gif')
$construction-table: img('wiki/Construction_Table.gif')
$refinery: img('wiki/Refinery.gif')
$printer: img('wiki/3D_Printer.png')
$talent-book-library: img('wiki/Talent_Book_Library.png')
$death-note: img('wiki/Death_Note.png')
$salt-lick: img('wiki/Salt_Lick.png')
$auto-arm: img('wiki/Auto_Arm.gif')
$ez-totem: img('wiki/EZ_Totem.gif')
$critter-drone: img('wiki/Critter_Drone.gif')
$frostbite-towndra-vendor: img('wiki/Frostbite_Towndra_Vendor.gif')
$storage-chest: img('wiki/Storage_Chest.gif')
$prayer-stone: img('wiki/Prayer_Stone.gif')
$iceland-irwin: img('wiki/Iceland_Irwin.gif')
$hoggindaz: img('wiki/Hoggindaz.gif')
$carpenter-cardinal: img('wiki/Carpenter_Cardinal.gif')
$worldo: img('wiki/Worldo.gif')
$frostbite-towndra-vendor: img('wiki/Frostbite_Towndra_Vendor.gif')
$saharan-foal: img('wiki/Saharan_Foal.png')
$lonely-hunter: img('wiki/Lonely_Hunter.gif')
$chillsnap-colosseum-sprite: img('wiki/Chillsnap_Colosseum_Sprite.png')
$pingy: img('wiki/Pingy.png')
$snouts: img('wiki/Snouts.gif')
$shuvelle: img('wiki/Shuvelle.gif')
$snowden: img('wiki/Snowden.png')
$frosty-firefight-totem: img('wiki/Frosty_Firefight_Totem.gif')
$yondergreen: img('wiki/Yondergreen.gif')
$bunny: img('wiki/Bunny.png')
$wispy-tree: img('wiki/Wispy_Tree.png')
$crystalswine: img('wiki/Crystalswine.gif')
$bill-brr: img('wiki/Bill_Brr.gif')
$icicle-nest: img('wiki/Icicle_Nest.png')
$bellows: img('wiki/Bellows.gif')
$honker: img('wiki/Honker.png')

$equinox-valley-mirror: img('wiki/Equinox_Valley_Mirror.gif')

// World 4

$gobo: img('wiki/Gobo.gif')
$outer-world-town-vendor: img('wiki/Outer_World_Town_Vendor.gif')
$egg-nest: img('wiki/Egg_Nest.gif')
$laboratory-mainframe: img('wiki/Laboratory_Mainframe.gif')
$cooking-table: img('wiki/Cooking_Table.gif')
$cooking-menu: img('wiki/Cooking_Menu.gif')
$nebula-neddy: img('wiki/Nebula_Neddy.gif')
$architect-toucan: img('wiki/Architect_Toucan.gif')
$astro-colosseum-sprite: img('wiki/Astro_Colosseum_Sprite.png')
$oinkin: img('wiki/Oinkin.gif')
$alien-tree: img('wiki/Alien_Tree.png')
$eliteus: img('wiki/Eliteus.gif')
$clash-of-cans-totem: img('wiki/Clash_of_Cans_Totem.gif')
$royal-worm: img('wiki/Royal_Worm.gif')
$bee-hive: img('wiki/Bee_Hive.png')
$capital-p: img('wiki/Capital_P.gif')
$blobbo: img('wiki/Blobbo.gif')
$blobfish: img('wiki/Blobfish.png')
$cubed-tree: img('wiki/Cubed_Tree.png')
$fairy-hovel: img('wiki/Fairy_Hovel.png')
$rift-ripper: img('wiki/Rift_Ripper.gif')
$monolith: img('wiki/Monolith.gif')
$nebulyte: img('wiki/Nebulyte.gif')

// World 5

$muhmuguh: img('wiki/Muhmuguh.gif')
$magma-rivertown-vendor: img('wiki/Magma_Rivertown_Vendor.gif')
$the-slab: img('wiki/The_Slab_Icon.png')
$lava-larry: img('wiki/Lava_Larry.gif')
$slargon: img('wiki/Slargon.gif')
$maple-tree: img('wiki/Maple_Tree.png')
$pirate-porkchop: img('wiki/Pirate_Porkchop.gif')
$scarab-nest: img('wiki/Scarab_Nest.png')
$dandelioli-tree: img('wiki/Dandelioli_Tree.png')
$mote-hovel: img('wiki/Mote_Hovel.png')
$citric-conflict-totem: img('wiki/Citric_Conflict_Totem.gif')
$poigu: img('wiki/Poigu.gif')
$tired-mole: img('wiki/Tired_Mole.gif')

// World 6

$spirit-village-vendor: img('wiki/Spirit_Village_Vendor.gif')
$lafu-shi: img('wiki/Lafu_Shi.gif')
$farming-skill-icon: img('wiki/Farming_Skill_Icon.png')
$jade-vendor: img('wiki/Jade_Vendor.gif')
$emporium-quick-ref-access: img('wiki/Emporium_Quick_Ref_Access.png')
$summoning-skill-icon: img('wiki/Summoning_Skill_Icon.png')

// Monsters
// W1

$green-mushroom: img('wiki/Green_Mushroom_Idle.gif')
$frog: img('wiki/Frog_Idle.gif')
$bored-bean: img('wiki/Bored_Bean_Idle.gif')
$red-mushroom: img('wiki/Red_Mushroom_Idle.gif')
$slime: img('wiki/Slime_Idle.gif')
$froge: img('wiki/Froge.png')
$baby-boa: img('wiki/Baby_Boa_Idle.gif')
$carrotman: img('wiki/Carrotman_Idle.gif')
$glublin: img('wiki/Glublin_Idle.gif')
$wode-board: img('wiki/Wode_Board_Idle.gif')
$gigafrog: img('wiki/Gigafrog_Idle.gif')
$walking-stick: img('wiki/Walking_Stick_Idle.gif')
$nutto: img('wiki/Nutto_Idle.gif')
$wood-mushroom: img('wiki/Wood_Mushroom_Idle.gif')
$poop: img('wiki/Poop_Idle.gif')
$rat: img('wiki/Rat_Idle.gif')
$boop: img('wiki/Boop_Idle.gif')
$crystal-carrot: img('wiki/Crystal_Carrot_Idle.gif')
$w1-w3-crystals: img('W1-W3-Crystals.gif')

$dr-defecaus: img('wiki/Dr_Defecaus_Idle.gif')
$baba-yaga: img('wiki/Baba_Yaga_Idle.gif')
$amarok: img('wiki/Amarok_%28boss%29.png')


// W2

$sandy-pot: img('wiki/Sandy_Pot_Idle.gif')
$mimic: img('wiki/Mimic_Idle.gif')
$crabcake: img('wiki/Crabcake_Idle.gif')
$mafioso: img('wiki/Mafioso_Idle.gif')
$sand-castle: img('wiki/Sand_Castle_Idle.gif')
$pincermin: img('wiki/Pincermin_Idle.gif')
$mashed-potato: img('wiki/Mashed_Potato_Idle.gif')
$tyson: img('wiki/Tyson_Idle.gif')
$moonmoon: img('wiki/Moonmoon_Idle.gif')
$sand-giant: img('wiki/Sand_Giant_Idle.gif')
$snelbie: img('wiki/Snelbie_Idle.gif')
$crystal-crabal: img('wiki/Crystal_Crabal_Idle.gif')

$biggie-hours: img('wiki/Biggie_Hours_Idle.gif')
$king-doot: img('wiki/King_Doot_Idle.gif')
$efaunt-boss: img('wiki/Efaunt_%28boss%29.png')

// W3

$sheepie: img('wiki/Sheepie_Idle.gif')
$frost-flake: img('wiki/Frost_Flake_Idle.gif')
$sir-stache: img('wiki/Sir_Stache_Idle.gif')
$bloque: img('wiki/Bloque_Idle.gif')
$mamooth: img('wiki/Mamooth_Idle.gif')
$snowman: img('wiki/Snowman_Idle.gif')
$penguin: img('wiki/Penguin_Idle.gif')
$thermister: img('wiki/Thermister_Idle.gif')
$quenchie: img('wiki/Quenchie_Idle.gif')
$cryosnake: img('wiki/Cryosnake_Idle.gif')
$bop-box: img('wiki/Bop_Box_Idle.gif')
$neyeptune: img('wiki/Neyeptune_Idle.gif')
$dedotated-ram: img('wiki/Dedotated_Ram_Idle.gif')
$bloodbone: img('wiki/Bloodbone_Idle.gif')
$crystal-cattle: img('wiki/Crystal_Cattle_Idle.gif')

$chizoar: img('wiki/Chizoar_%28boss%29.png')

// W4

$purp-mushroom: img('wiki/Purp_Mushroom_Idle.gif')
$mutated-mush: img('wiki/Mutated_Mush_Idle.gif')
$tv: img('wiki/TV_Idle.gif')
$donut: img('wiki/Donut_Idle.gif')
$demon-genie: img('wiki/Demon_Genie_Idle.gif')
$soda-can: img('wiki/Soda_Can_Idle.gif')
$flying-worm: img('wiki/Flying_Worm_Idle.gif')
$gelatinous-cuboid: img('wiki/Gelatinous_Cuboid_Idle.gif')
$choccie: img('wiki/Choccie_Idle.gif')
$biggole-wurm: img('wiki/Biggole_Wurm_Idle.gif')
$clammie: img('wiki/Clammie_Idle.gif')
$octodar: img('wiki/Octodar_Idle.gif')
$flombeige: img('wiki/Flombeige_Idle.gif')
$stilted-seeker: img('wiki/Stilted_Seeker_Idle.gif')
$rift-monsters: img('wiki/Rift_Spooker_Idle.gif')
$crystal-custard: img('wiki/Crystal_Custard_Idle.gif')

$massive-troll: img('wiki/Massive_Troll_%28boss%29.png')

// W5

$suggma: img('wiki/Suggma_Idle.gif')
$maccie: img('wiki/Maccie_Idle.gif')
$mister-brightside: img('wiki/Mister_Brightside_Idle.gif')
$cheese-nub: img('wiki/Cheese_Nub_Idle.gif')
$stiltmole: img('wiki/Stiltmole_Idle.gif')
$molti: img('wiki/Molti_Idle.gif')
$purgatory-stalker: img('wiki/Purgatory_Stalker_Idle.gif')
$citringe: img('wiki/Citringe_Idle.gif')
$lampar: img('wiki/Lampar_Idle.gif')
$fire-spirit: img('wiki/Fire_Spirit_Idle.gif')
$biggole-mole: img('wiki/Biggole_Mole_Idle.gif')
$crawler: img('wiki/Crawler_Idle.gif')
$tremor-wurm: img('wiki/Tremor_Wurm_Idle.gif')
$crystal-capybara: img('wiki/Crystal_Capybara_Idle.gif')

$kattlecruk-boss: img('wiki/Kattlecruk_%28boss%29.png')

// W6

$sprout-spirit: img('wiki/Sprout_Spirit_Idle.gif')
$ricecake: img('wiki/Ricecake_Idle.gif')
$river-spirit: img('wiki/River_Spirit_Idle.gif')
$baby-troll: img('wiki/Baby_Troll_Idle.gif')
$woodlin-spirit: img('wiki/Woodlin_Spirit_Idle.gif')
$bamboo-spirit: img('wiki/Bamboo_Spirit_Idle.gif')
$lantern-spirit: img('wiki/Lantern_Spirit_Idle.gif')
$mama-troll: img('wiki/Mama_Troll_Idle.gif')
$leek-spirit: img('wiki/Leek_Spirit_Idle.gif')
$ceramic-spirit: img('wiki/Ceramic_Spirit_Idle.gif')
$skydoggie-spirit: img('wiki/Skydoggie_Spirit_Idle.gif')
$royal-egg: img('wiki/Royal_Egg_Idle.gif')
$minichief-spirit: img('wiki/Minichief_Spirit_Idle.gif')
$samurai-guardian: img('wiki/Samurai_Guardian_Idle.gif')
$crystal-candalight: img('wiki/Crystal_Candalight_Idle.gif')

// W6 cards

$sprout-spirit-card: img('wiki/Sprout_Spirit_Card.png')
$ricecake-card: img('wiki/Ricecake_Card.png')
$river-spirit-card: wiki('/f/f1/River_Spirit_Card.png')
$baby-troll-card: img('wiki/Baby_Troll_Card.png')
$woodlin-spirit-card: img('wiki/Woodlin_Spirit_Card.png')
$bamboo-spirit-card: img('wiki/Bamboo_Spirit_Card.png')
$lantern-spirit-card: img('wiki/Lantern_Spirit_Card.png')
$mama-troll-card: img('wiki/Mama_Troll_Card.png')
$leek-spirit-card: img('wiki/Leek_Spirit_Card.png')
$ceramic-spirit-card: img('wiki/Ceramic_Spirit_Card.png')
$skydoggie-spirit-card: img('wiki/Skydoggie_Spirit_Card.png')
$royal-egg-card: img('wiki/Royal_Egg_Card.png')
$minichief-spirit-card: img('wiki/Minichief_Spirit_Card.png')
$samurai-guardian-card: img('wiki/Samurai_Guardian_Card.png')
