$prayers: (
    big-brain-time: img('wiki/Big_Brain_Time.png'),
    skilled-dimwit: img('wiki/Skilled_Dimwit.png'),
    unending-energy: img('wiki/Unending_Energy.png'),
    shiny-snitch: img('wiki/Shiny_Snitch.png'),
    zerg-rushogen: img('wiki/Zerg_Rushogen.png'),
    tachion-of-the-titans: img('wiki/Tachion_of_the_Titans.png'),
    balance-of-precision: img('wiki/Balance_of_Precision.png'),
    midas-minded: img('wiki/Midas_Minded.png'),
    jawbreaker: img('wiki/Jawbreaker.png'),
    the-royal-sampler: img('wiki/The_Royal_Sampler.png'),
    antifun-spirit: img('wiki/Antifun_Spirit.png'),
    circular-criticals: img('wiki/Circular_Criticals.png'),
    ruck-sack: img('wiki/Ruck_Sack.png'),
    fibers-of-absence: img('wiki/Fibers_of_Absence.png'),
    vacuous-tissue: img('wiki/Vacuous_Tissue.png'),
    beefy-for-real: img('wiki/Beefy_For_Real.png'),
    balance-of-pain: img('wiki/Balance_of_Pain.png'),
    balance-of-proficiency: img('wiki/Balance_of_Proficiency.png'),
    glitterbug: img('wiki/Glitterbug.png')
);

$totems: (
    goblin-gorfest-totem: img('wiki/Goblin_Gorfest_Totem.gif'),
    acorn-assault-totem: img('wiki/Acorn_Assault_Totem.gif'),
    wakawaka-war-totem: img('wiki/Wakawaka_War_Totem.gif'),
    ez-totem: img('wiki/EZ_Totem.gif'),
    frosty-firefight-totem: img('wiki/Frosty_Firefight_Totem.gif'),
    clash-of-cans-totem: img('wiki/Clash_of_Cans_Totem.gif'),
    citric-conflict-totem: img('wiki/Citric_Conflict_Totem.gif'),
    breezy-battle-totem: img('wiki/Breezy_Battle_Totem.gif')
);

$skulls: (
    normal-skull: img('wiki/Status_Skull0.png'),
    copper-skull: img('wiki/Status_Skull1.png'),
    iron-skull: img('wiki/Status_Skull2.png'),
    gold-skull: img('wiki/Status_Skull3.png'),
    platinum-skull: img('wiki/Status_Skull4.png'),
    dementia-skull: img('wiki/Status_Skull5.png'),
    lava-skull: img('wiki/Status_Skull6.png'),
    eclipse-skull: img('wiki/Rift_Bonus_4.png')
);

$all-worship: map-merge($prayers, $totems);
$all-worship: map-merge($all-worship, $skulls);