//Master, don't put anything else before this lol
@import "vars";

//General
@import "world-contents";
@import "slab-items";
@import "sections";
@import "skill-icons";
@import "classes";
@import "talents";
@import "grimoire";
@import "compass";
@import "gem-shop";
@import "storage-items";
@import "boss-keys";
@import "starsigns";
@import "cards";
@import "achievements";
@import "merits";
@import "companions";
@import "ui";
@import "event-shop";

//W1
@import "upgrade_vault";
@import "bribes";
@import "owl";

//W2
@import "alchemy";
@import "arcade";
@import "postoffice";
@import "kangaroo";
@import "ballot";
@import "killroy";
@import "islands";
@import "weekly_bosses";

//W3
@import "construction";
@import "worship";
@import "equinox";

//W4
@import "breeding";
@import "rift";
@import "meals";
@import "laboratory";

//W5
@import "slab-items";
@import "divinity";
@import "sailing";
@import "gaming";
@import "caverns";

//W6
@import "sneaking";
@import "farming";
@import "summoning";

$id-map: map-merge($all-world-contents, $all-slab);
$id-map: map-merge($sections-map, $id-map);
$id-map: map-merge($skill-icons, $id-map);
$id-map: map-merge($all-storage-items, $id-map);
$id-map: map-merge($character-classes, $id-map);
$id-map: map-merge($breeding-map, $id-map);
$id-map: map-merge($bribes-map, $id-map);
$id-map: map-merge($boss-keys, $id-map);
$id-map: map-merge($all-cards, $id-map);
$id-map: map-merge($rift, $id-map);
$id-map: map-merge($equinox, $id-map);
$id-map: map-merge($all-cooking, $id-map);
$id-map: map-merge($talents, $id-map);
$id-map: map-merge($divinity-map, $id-map);
$id-map: map-merge($all-sailing, $id-map);
$id-map: map-merge($all-laboratory, $id-map);
$id-map: map-merge($all-sneaking, $id-map);
$id-map: map-merge($starsigns, $id-map);
$id-map: map-merge($all-alchemy, $id-map);
$id-map: map-merge($achievements, $id-map);
$id-map: map-merge($arcade, $id-map);
$id-map: map-merge($all-construction, $id-map);
$id-map: map-merge($all-worship, $id-map);
$id-map: map-merge($gem-shop, $id-map);
$id-map: map-merge($merits, $id-map);
$id-map: map-merge($postoffice, $id-map);
$id-map: map-merge($owl-map, $id-map);
$id-map: map-merge($companions-map, $id-map);
$id-map: map-merge($all-gaming, $id-map);
$id-map: map-merge($kangaroo-map, $id-map);
$id-map: map-merge($all-farming, $id-map);
$id-map: map-merge($all-summoning, $id-map);
$id-map: map-merge($ballot, $id-map);
$id-map: map-merge($ui-map, $id-map);
$id-map: map-merge($all-islands, $id-map);
$id-map: map-merge($all-killroy, $id-map);
$id-map: map-merge($all-weekly-boss-map, $id-map);
$id-map: map-merge($all-caverns, $id-map);
$id-map: map-merge($event-shop, $id-map);
$id-map: map-merge($all-grimoire, $id-map);
$id-map: map-merge($all-vault, $id-map);
$id-map: map-merge($all-compass, $id-map);



@each $class, $link in $id-map {
	.#{$class}:not(.lazy)::before, .resource-#{$class}:not(.lazy) {
		background-image: $link;
	}
}
