//Master, don't put anything else before this lol
@import "vars";

//General
@import "world-contents";
@import "slab-items";
@import "sections";
@import "skill-icons";
@import "classes";
@import "talents";
@import "gem-shop";
@import "storage-items";
@import "boss-keys";
@import "starsigns";
@import "cards";
@import "achievements";
@import "merits";
@import "companions";
@import "ui";
@import "event-shop";
@import "guild";

$id-map: map-merge($all-world-contents, $all-slab);
$id-map: map-merge($id-map, $sections-map);
$id-map: map-merge($id-map, $skill-icons);
$id-map: map-merge($id-map, $character-classes);
$id-map: map-merge($id-map, $talents);
$id-map: map-merge($id-map, $gem-shop);
$id-map: map-merge($id-map, $all-storage-items);
$id-map: map-merge($id-map, $boss-keys);
$id-map: map-merge($id-map, $starsigns);
$id-map: map-merge($id-map, $all-cards);
$id-map: map-merge($id-map, $achievements);
$id-map: map-merge($id-map, $merits);
$id-map: map-merge($id-map, $companions-map);
$id-map: map-merge($id-map, $ui-map);
$id-map: map-merge($id-map, $event-shop);
$id-map: map-merge($id-map, $guild-bonus-map);

//Master Classes
@import "grimoire";
@import "compass";
@import "tesseract";

$id-map: map-merge($id-map, $all-grimoire);
$id-map: map-merge($id-map, $all-compass);
$id-map: map-merge($id-map, $all-tesseract);

//W1
@import "upgrade_vault";
@import "bribes";
@import "owl";
@import "statues";

$id-map: map-merge($id-map, $all-vault);
$id-map: map-merge($id-map, $bribes-map);
$id-map: map-merge($id-map, $owl-map);
$id-map: map-merge($id-map, $all-statues);

//W2
@import "alchemy";
@import "arcade";
@import "postoffice";
@import "kangaroo";
@import "ballot";
@import "killroy";
@import "islands";
@import "weekly_bosses";

$id-map: map-merge($id-map, $all-alchemy);
$id-map: map-merge($id-map, $arcade);
$id-map: map-merge($id-map, $postoffice);
$id-map: map-merge($id-map, $kangaroo-map);
$id-map: map-merge($id-map, $ballot);
$id-map: map-merge($id-map, $all-islands);
$id-map: map-merge($id-map, $all-killroy);
$id-map: map-merge($id-map, $all-weekly-boss-map);

//W3
@import "construction";
@import "worship";
@import "equinox";

$id-map: map-merge($id-map, $all-construction);
$id-map: map-merge($id-map, $all-worship);
$id-map: map-merge($id-map, $equinox);

//W4
@import "breeding";
@import "rift";
@import "meals";
@import "laboratory";

$id-map: map-merge($id-map, $breeding-map);
$id-map: map-merge($id-map, $rift);
$id-map: map-merge($id-map, $all-cooking);
$id-map: map-merge($id-map, $all-laboratory);

//W5
@import "divinity";
@import "sailing";
@import "gaming";
@import "caverns";

$id-map: map-merge($id-map, $divinity-map);
$id-map: map-merge($id-map, $all-sailing);
$id-map: map-merge($id-map, $all-gaming);
$id-map: map-merge($id-map, $all-caverns);

//W6
@import "sneaking";
@import "farming";
@import "summoning";

$id-map: map-merge($id-map, $all-sneaking);
$id-map: map-merge($id-map, $all-farming);
$id-map: map-merge($id-map, $all-summoning);


@each $class, $link in $id-map {
	.#{$class}:not(.lazy)::before, .resource-#{$class}:not(.lazy) {
		background-image: $link;
	}
}
