@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap&family=Rubik:ital,wght@0,300..900;1,300..900&family=Roboto:wght@100;400;500&display=swap');
@import 'vars';

@font-face {
    font-family: 'Space Mono';
    src: url(../fonts/SpaceMono-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@property --table-edge-bg-from {
    syntax: '<color>';
    initial-value: rgba(255, 255, 255, 1);
    inherits: false;
}

@property --table-edge-bg-to {
    syntax: '<color>';
    initial-value: rgba(255, 255, 255, 0);
    inherits: false;
}

@function fg-subheading-dark-mode($h) {
    @return hsla($h, 25%, 65%, 100%);
}

:root,
:root.dark-mode {
    --fg: white;
    --fg-shadow: 1px 1px black;
    --bg: hsla(206deg, 16%, 26%, 1);

    --fg-em: hsla(0deg, 2%, 82%, 1);
    --fg-link: hsla(195deg, 100%, 50%, 1);
    --fg-link-visited: hsla(271deg, 100%, 77%, 1);
    --fg-title: goldenrod;

    --border: 1px solid gray;
    --arrow-border: #c8cac8;

    --fg-error: hsla(0deg, 81%, 26%, 1);
    --bg-error: hsla(0deg, 75%, 78%, 1);
    --border-error: 1px solid darkred;

    --fg-subheading: goldenrod;
    --fg-subheading-progress: hsl(49, 100%, 50%);
    --fg-subheading-finished: hsl(150, 100%, 50%);
    --bg-subheading: hsla(0deg, 0%, 100%, 0.1);
    --border-subheading: hsla(0deg, 100%, 100%, 0.3);
    --fg-goal-complete: goldenrod;

    --fg-advice-group: white;

    --bg-scrollbar-thumb: gray;
    --scrollbar-thumb-color: rgba(255, 255, 255, 0.7);

    --fg-show-more: white;
    --fg-note: #fde5c0;
    --bg-note: rgba(215, 178, 84, 0.62);

    --fg-last-update: white;
    --bg-last-update: rgba(0, 0, 0, 0.7);

    --bg-header-json: #8e6c19;
    --bg-header-public: var(--bg-pinchy);

    --fg-subheading-alpha: 100%;

    --pinchy-bg-banner: none;
    --pinchy-fg-banner: var(--fg-title);
    --pinchy-fg-banner-shadow: 5px 5px hsl(41, 27%, 28%);

    --pinchy-fg-subheading: fg-subheading-dark-mode(41deg);
    --pinchy-bg-subheading: none;

    --pinchy-fg-advice-group: var(--fg-advice-group);
    --pinchy-bg-advice-group-odd: hsl(71.54deg 13.68% 37.25%);
    --pinchy-bg-advice-group-even: hsl(70deg 15.38% 30.59%);
    --pinchy-progress-color: var(--progress-color);

    --general-bg-banner: none;
    --general-fg-banner: hsl(0, 74%, 49%);
    --general-fg-banner-shadow: 5px 5px hsl(0, 27%, 28%);

    --general-fg-subheading: fg-subheading-dark-mode(15deg);
    --general-bg-subheading: none;

    --general-fg-advice-group: var(--fg-advice-group);
    --general-bg-advice-group-odd: hsl(15deg 18.78% 44.08%);
    --general-bg-advice-group-even: hsl(15deg 21.16% 54.09%);
    --general-progress-color: var(--progress-color);

    --master-classes-fg-subheading: fg-subheading-dark-mode(120deg);
    --master-classes-bg-subheading: none;

    --master-classes-fg-advice-group: var(--fg-advice-group);
    --master-classes-bg-advice-group-odd: hsl(173.79deg 15.18% 37.45%);
    --master-classes-bg-advice-group-even: hsl(148.75deg 20.34% 53.73%);
    --master-classes-progress-color: var(--progress-color);

    --blunder-hills-fg-subheading: fg-subheading-dark-mode(120deg);
    --blunder-hills-bg-subheading: none;

    --blunder-hills-fg-advice-group: var(--fg-advice-group);
    --blunder-hills-bg-advice-group-odd: hsl(173.79deg 15.18% 37.45%);
    --blunder-hills-bg-advice-group-even: hsl(148.75deg 20.34% 53.73%);
    --blunder-hills-progress-color: var(--progress-color);

    --yum-yum-desert-fg-subheading: fg-subheading-dark-mode(50deg);
    --yum-yum-desert-bg-subheading: none;

    --yum-yum-desert-fg-advice-group: var(--fg-advice-group);
    --yum-yum-desert-bg-advice-group-odd: hsl(93.33deg 4.43% 39.8%);
    --yum-yum-desert-bg-advice-group-even: hsl(60deg 9.45% 49.8%);
    --yum-yum-desert-progress-color: var(--progress-color);

    --frostbite-tundra-fg-subheading: fg-subheading-dark-mode(200deg);
    --frostbite-tundra-bg-subheading: none;

    --frostbite-tundra-fg-advice-group: var(--fg-advice-group);
    --frostbite-tundra-bg-advice-group-odd: hsl(202.29deg 17.77% 38.63%);
    --frostbite-tundra-bg-advice-group-even: hsl(201.7deg 18.58% 49.61%);
    --frostbite-tundra-progress-color: var(--progress-color);

    --hyperion-nebula-fg-subheading: fg-subheading-dark-mode(247deg);
    --hyperion-nebula-bg-subheading: none;

    --hyperion-nebula-fg-advice-group: var(--fg-advice-group);
    --hyperion-nebula-bg-advice-group-odd: hsl(268deg 25% 48%);
    --hyperion-nebula-bg-advice-group-even: hsl(265deg 24% 34%);
    --hyperion-nebula-progress-color: var(--progress-color);

    --smolderin-plateau-fg-subheading: fg-subheading-dark-mode(15deg);
    --smolderin-plateau-bg-subheading: none;

    --smolderin-plateau-fg-advice-group: var(--fg-advice-group);
    --smolderin-plateau-bg-advice-group-odd: hsl(15deg 25% 48%);
    --smolderin-plateau-bg-advice-group-even: hsl(15deg 24% 34%);
    --smolderin-plateau-progress-color: var(--progress-color);

    --caverns-fg-subheading: fg-subheading-dark-mode(165deg);
    --caverns-bg-subheading: none;

    --caverns-fg-advice-group: var(--fg-advice-group);
    --caverns-bg-advice-group-odd: hsl(15deg, 25%, 48%);
    --caverns-bg-advice-group-even: hsl(15deg, 24%, 34%);
    --caverns-progress-color: var(--progress-color);

    --spirited-valley-fg-subheading: fg-subheading-dark-mode(165deg);
    --spirited-valley-bg-subheading: none;

    --spirited-valley-fg-advice-group: var(--fg-advice-group);
    --spirited-valley-bg-advice-group-odd: hsl(178deg, 25%, 48%);
    --spirited-valley-bg-advice-group-even: hsl(161deg, 24%, 34%);
    --spirited-valley-progress-color: var(--progress-color);

    --banner-display-light: none;
    --banner-display-dark: block;
    --banner-padding: 0;

    --progress-color: hsla(0deg, 0%, 0%, 0.3);
    --progress-box-bg: hsla(0deg, 0%, 0%, 0.2);
}

:root:not(.light-mode) {
    #backgrounds {
        display: none;
    }
}

@function fg-subheading-light-mode($h) {
    @return hsla($h, 25%, 20%, 1);
}

@function fg-progress-bar-light-mode($h) {
    @return hsla($h, 50%, 50%, 0.6);
}

@function bg-advice-group-light-mode($h) {
    @return hsla($h, 50%, 80%, 0.9);
}

@function bg-section-light-mode($h) {
    @return hsla($h, 0%, 100%, 0.87);
}

:root.light-mode {
    --fg: black;
    --fg-shadow: none;
    --fg-shadow-progress: none;
    --bg: none;

    --fg-em: black;
    --fg-title: green;

    --arrow-border: #7d7d7d;
    --bg-transparent: #fffd;

    --bg-aside: white;
    --bg-link: transparent;
    --bg-link-visited: transparent;

    --fg-subheading: white;
    --fg-subheading-progress: hsla(49deg, 100%, 30%, 100%);
    --fg-subheading-finished: hsla(120deg, 100%, 30%, 100%);
    --border-subheading: hsla(0deg, 100%, 0%, 0.3);
    --fg-goal-complete: hsla(43, 74%, 49%, 100%);

    --fg-advice-group: black;

    --pinchy-bg-banner: #000b;
    --pinchy-fg-banner: hsla(43.94deg 93.41% 59.54%);
    --pinchy-fg-banner-shadow: 2px 2px black;

    --pinchy-fg-subheading: #{fg-subheading-light-mode(41deg)};
    --pinchy-bg-subheading: #{bg-advice-group-light-mode(50deg)};

    --pinchy-fg-advice-group: var(--fg-advice-group);
    --pinchy-bg-advice-group-odd: #{bg-advice-group-light-mode(50deg)};
    --pinchy-bg-advice-group-even: #{bg-advice-group-light-mode(50deg)};
    --pinchy-progress-color: #{fg-progress-bar-light-mode(50deg)};

    --general-bg-banner: #000b;
    --general-fg-banner: hsl(0, 93%, 59%);
    --general-fg-banner-shadow: 2px 2px black;

    --general-fg-subheading: #{fg-subheading-light-mode(15deg)};
    --general-bg-subheading: #{bg-advice-group-light-mode(0deg)};

    --general-fg-advice-group: var(--fg-advice-group);
    --general-bg-advice-group-odd: #{bg-advice-group-light-mode(0deg)};
    --general-bg-advice-group-even: #{bg-advice-group-light-mode(0deg)};
    --general-progress-color: #{fg-progress-bar-light-mode(0deg)};

    --master-classes-fg-subheading: #{fg-subheading-light-mode(15deg)};
    --master-classes-bg-subheading: #{bg-advice-group-light-mode(24deg)};

    --master-classes-fg-advice-group: var(--fg-advice-group);
    --master-classes-bg-advice-group-odd: #{bg-advice-group-light-mode(24deg)};
    --master-classes-bg-advice-group-even: #{bg-advice-group-light-mode(24deg)};
    --master-classes-progress-color: #{fg-progress-bar-light-mode(24deg)};

    --blunder-hills-fg-subheading: #{fg-subheading-light-mode(120deg)};
    --blunder-hills-bg-subheading: #{bg-advice-group-light-mode(117deg)};

    --blunder-hills-fg-advice-group: var(--fg-advice-group);
    --blunder-hills-bg-advice-group-odd: #{bg-advice-group-light-mode(117deg)};
    --blunder-hills-bg-advice-group-even: #{bg-advice-group-light-mode(117deg)};
    --blunder-hills-progress-color: #{fg-progress-bar-light-mode(117deg)};

    --yum-yum-desert-fg-subheading: #{fg-subheading-light-mode(50deg)};
    --yum-yum-desert-bg-subheading: #{bg-advice-group-light-mode(57deg)};

    --yum-yum-desert-fg-advice-group: var(--fg-advice-group);
    --yum-yum-desert-bg-advice-group-odd: #{bg-advice-group-light-mode(57deg)};
    --yum-yum-desert-bg-advice-group-even: #{bg-advice-group-light-mode(57deg)};
    --yum-yum-desert-progress-color: #{fg-progress-bar-light-mode(57deg)};

    --frostbite-tundra-fg-subheading: #{fg-subheading-light-mode(200deg)};
    --frostbite-tundra-bg-subheading: #{bg-advice-group-light-mode(220deg)};

    --frostbite-tundra-fg-advice-group: var(--fg-advice-group);
    --frostbite-tundra-bg-advice-group-odd: #{bg-advice-group-light-mode(220deg)};
    --frostbite-tundra-bg-advice-group-even: #{bg-advice-group-light-mode(220deg)};
    --frostbite-tundra-progress-color: #{fg-progress-bar-light-mode(220deg)};

    --hyperion-nebula-fg-subheading: #{fg-subheading-light-mode(247deg)};
    --hyperion-nebula-bg-subheading: #{bg-advice-group-light-mode(280deg)};

    --hyperion-nebula-fg-advice-group: var(--fg-advice-group);
    --hyperion-nebula-bg-advice-group-odd: #{bg-advice-group-light-mode(280deg)};
    --hyperion-nebula-bg-advice-group-even: #{bg-advice-group-light-mode(280deg)};
    --hyperion-nebula-progress-color: #{fg-progress-bar-light-mode(280deg)};

    --smolderin-plateau-fg-subheading: #{fg-subheading-light-mode(15deg)};
    --smolderin-plateau-bg-subheading: #{bg-advice-group-light-mode(24deg)};

    --smolderin-plateau-fg-advice-group: var(--fg-advice-group);
    --smolderin-plateau-bg-advice-group-odd: #{bg-advice-group-light-mode(24deg)};
    --smolderin-plateau-bg-advice-group-even: #{bg-advice-group-light-mode(24deg)};
    --smolderin-plateau-progress-color: #{fg-progress-bar-light-mode(24deg)};

    --caverns-fg-subheading: #{fg-subheading-light-mode(15deg)};
    --caverns-bg-subheading: #{bg-advice-group-light-mode(15deg)};

    --caverns-fg-advice-group: var(--fg-advice-group);
    --caverns-bg-advice-group-odd: #{bg-advice-group-light-mode(15deg)};
    --caverns-bg-advice-group-even: #{bg-advice-group-light-mode(15deg)};
    --caverns-progress-color: #{fg-progress-bar-light-mode(15deg)};

    --spirited-valley-fg-subheading: #{fg-subheading-light-mode(165deg)};
    --spirited-valley-bg-subheading: #{bg-advice-group-light-mode(84.57deg)};

    --spirited-valley-fg-advice-group: var(--fg-advice-group);
    --spirited-valley-bg-advice-group-odd: #{bg-advice-group-light-mode(84.57deg)};
    --spirited-valley-bg-advice-group-even: #{bg-advice-group-light-mode(84.57deg)};
    --spirited-valley-progress-color: #{fg-progress-bar-light-mode(84.57deg)};

    --scrollbar-thumb-color: rgba(0, 0, 0, 0.4);

    --fg-show-more: black;
    --fg-note: #70590c;
    --bg-note: hsl(43, 62%, 59%);

    --fg-last-update: white;
    --bg-last-update: var(--bg-nav);

    --bg-header-json: hsl(58.41deg 84.96% 26.08%);
    --bg-header-public: #033f00b0;

    --progress-color: hsla(0deg, 0%, 0%, 0.4);
    --progress-box-bg: hsla(0deg, 0%, 50%, 0.2);

    .advice-group ul.table::before,
    .advice-group ul.table::after {
        display: none !important;
    }

    --banner-display-light: block;
    --banner-display-dark: none;
    --banner-padding: 1em 0;

    .banner {
        backdrop-filter: blur(4px);
    }
}

$worlds: (
    "pinchy",
    "general",
    "master-classes",
    "blunder-hills",
    "yum-yum-desert",
    "frostbite-tundra",
    "hyperion-nebula",
    "smolderin-plateau",
    "caverns",
    "spirited-valley"
);

a {
    color: var(--fg-link);
    background-color: var(--bg-link);
    text-decoration: underline;
}

a:visited {
    color: var(--fg-link-visited);
    background-color: var(--bg-link-visited);
}

li {
    margin-left: 0;
    padding: 0;
}

textarea {
    resize: none;
    width: 400px;
    height: 50px;
}

h1, strong {
    color: var(--fg-title);
}

.error {
    display: flex;
    justify-content: center;
    padding: 20px;
    color: var(--fg-error);
    background-color: var(--bg-error);
    border: var(--border-error);
    width: 100%;
}

.toggler {
    cursor: pointer;

    &:hover {
        filter: brightness(130%);
        transition: filter .2s ease-in;

        .light-mode & {
            filter: brightness(70%);
        }
    }
}

/* Used on both worlds and sections */
.collapse-wrapper {
    display: grid;
    grid-template-rows: 1fr;
    transition: grid-template-rows 0.5s ease;

    &.folded {
        grid-template-rows: 0fr;
    }

}

.hidden { display: none !important; }
.hidden-unrated { display: none !important; }
.hidden-optional { display: none !important; }
.hidden-completed { display: none !important; }
.hidden-informational { display: none !important; }
.hidden-overwhelming { display: none !important; }
.hidden-children-hidden { display: none !important; }


#veil {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
    background-color: hsla(0deg, 0%, 0%, 0);
    transition: background-color .5s linear,
                z-index .5s linear;

    &.sidebar-open {
        right: 0;
        z-index: 97;
        background-color: hsla(0deg, 0%, 0%, 0.7);
        transition: background-color .5s linear,
                    z-index 0s linear;
    }
}

body {
    display: flex;
    flex-direction: column;
    background: center / contain repeat img('backgrounds/sewers.png');
    color: var(--fg);
    height: 100%;
    max-height: 100vh;
    align-items: stretch;

    .container-fluid {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        overflow-y: auto;

        .main-wrapper {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 120em; /*1920px*/

            header {
                font-family: "Rubik", sans-serif;
                font-optical-sizing: auto;
                padding: 10px 20px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                row-gap: 1em;
                column-gap: 1em;

                color: var(--fg-last-update);

                &.json { background-color: var(--bg-header-json); }
                &.public { background-color:var(--bg-header-public); }

                * {
                    display: flex;
                    align-items: center;
                }

                #data-source-name {
                    color: #a5c2ff;
                    &:visited {
                        color: #e6a5ff;
                    }
                }

                #update-time {
                    position: relative;
                    width: fit-content;

                    &.stale {
                        #elapsed:before {
                            content: '⚠️';
                            left: -2.2rem;
                            position: absolute;
                            transform: translateY(-7%);
                            font-size: 1.5rem;
                        }
                    }

                    #elapsed {
                        font-family: 'Kode Mono', sans-serif;
                        position: relative;
                    }
                    #last-update {
                        position: absolute;
                        display: inline-block;
                        right: 0;
                        top: 1.7rem;
                        z-index: 1;
                        visibility: hidden;
                        width: max-content;
                        background-color: var(--bg-last-update);
                        border-radius: 10px;
                        padding: 10px;

                        text-align: center;
                        color: var(--fg-last-update);
                        line-height: 1.6em;
                    }
                    &:hover #last-update {
                        visibility: visible;
                    }
                }
            }

            main {
                display: flex;
                flex-direction: column;

                article {
                    font-family: 'Kode Mono', sans-serif;
                    font-variant-ligatures: none;
                    text-shadow: var(--fg-shadow);

                    .banner {
                        display: flex;
                        justify-content: center;
                        padding: var(--banner-padding);

                        img {
                            @media (max-width: 600px) {
                                max-width: 95%;
                                height: fit-content;
                            }
                            &.light {
                                display: var(--banner-display-light);
                                height: 50px;
                            }
                            &.dark {
                                display: var(--banner-display-dark);
                                width: 100%;
                            }
                        }
                    }

                    .world-content {
                        display: flex;
                        flex-direction: column;
                        row-gap: 20px;
                    }

                    &.world-content, .sections {
                        row-gap: 0;
                    }

                    .sections {
                        overflow: hidden;

                        section {
                            display: flex;
                            flex-direction: column;

                            font-family: 'Kode Mono', sans-serif;
                            font-weight: 700;
                            font-variant-ligatures: none;
                            text-shadow: var(--fg-shadow);

                            .subheading {
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                column-gap: 20px;
                                padding: 20px;

                                img {
                                    max-width: 80px;
                                    min-width: 80px;
                                    height: 80px;
                                    object-fit: contain;
                                }

                                .heading-wrapper {
                                    width: 100%;
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: space-between;
                                    @media (max-width: 600px) {
                                        flex-direction: column;
                                        row-gap: 10px;
                                    }
                                    span {
                                        color: var(--fg-subheading);
                                        &:nth-child(2) {
                                            display: flex;
                                            align-items: center;
                                        }

                                        .tier-progress {
                                            color: var(--fg-subheading-progress);
                                            text-shadow: var(--fg-shadow-progress);

                                            &.finished {
                                                color: var(--fg-subheading-finished);
                                            }
                                        }
                                    }
                                }
                            }

                            ul {
                                list-style-type: none;
                                padding: 0;
                            }

                            .advice-section {
                                overflow: hidden;

                                &.folded {
                                    display: none;
                                }

                                & > li {
                                    display: grid;
                                    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
                                    row-gap: 10px;
                                    column-gap: 10px;
                                    padding: 10px;

                                    @media(max-width: 600px) {
                                        grid-template-columns: 100%;
                                    }
                                }

                                .note {
                                    color: var(--fg-note);
                                    background-color: rgba(215, 178, 84, 100%);
                                    margin: 0;
                                }

                                .advice-group {
                                    display: flex;
                                    flex-direction: column;
                                    row-gap: 5px;

                                    width: 100%;
                                    max-height: 420px;

                                    padding: 20px;
                                    border-radius: 20px;

                                    color: var(--fg);

                                    #cards & > span {
                                        display: flex;
                                        align-items: center;
                                        column-gap: 7px;

                                        &::before {
                                            display: block;
                                            content: '';
                                            height: 40px;
                                            min-width: 40px;

                                            background-size: contain;
                                            background-position: center;
                                            background-repeat: no-repeat;
                                        }
                                    }

                                    .table {
                                        --advice-icon-width: 40px;
                                        --advice-icon-gap: 7px;
                                        --col-gap: 10px;

                                        width: 100%;
                                        position: relative;
                                        display: grid;
                                        grid-template-columns: 1fr repeat(4, auto);
                                        column-gap: var(--col-gap);
                                        row-gap: 5px;
                                        overflow-y: auto;
                                        scrollbar-width: auto;
                                        scrollbar-color: var(--scrollbar-thumb-color) transparent;

                                        & > *:not(.progress-bar) {
                                            z-index: 1;
                                        }

                                        &::before, &::after {
                                            z-index: 2;
                                            position: sticky;
                                            display: block;
                                            content: '';
                                            height: 20px;
                                            width: 100%;
                                            grid-column: 1 / span 5;
                                            transition: --table-edge-bg-to .5s ease-in-out;
                                        }

                                        &::before {
                                            top: 0;
                                            background: linear-gradient(to top, transparent, var(--table-edge-bg-to));
                                        }

                                        &::after {
                                            bottom: 0;
                                            background: linear-gradient(to bottom, transparent, var(--table-edge-bg-to));
                                        }

                                        &::-webkit-scrollbar-thumb {
                                            background-color: var(--scrollbar-thumb-color);
                                        }

                                        .advice-title {
                                            grid-column: 1 / span 5;
                                            background: hsla(0deg, 0%, 0%, 0.4);
                                            padding: 5px 10px;

                                            strong {
                                                color: white;
                                            }

                                        }
                                        .advice {
                                            display: flex;
                                            position: relative;
                                            align-items: center;
                                            word-break: break-word;
                                            padding: 3px;

                                            &::before {
                                                display: block;
                                                content: '';
                                                height: 40px;
                                            }
                                            .progress-box, .progress-bar {
                                                display: block;
                                                z-index: 0;
                                            }
                                            .progress-box {
                                                position: absolute;
                                                left: 0;
                                                height: 100%;
                                                width: 100%;
                                                z-index: -1;
                                                background: var(--progress-box-bg);

                                                .progress-bar {
                                                    height: 100%;
                                                }
                                                &.gilded {
                                                    border: 1px solid rgba(255, 217, 0, 0.4);
                                                    box-shadow: 0 0 5px 0 inset gold;
                                                }
                                            }
                                        }

                                        .advice::before, .resource {
                                            min-width: var(--advice-icon-width);

                                            background-size: contain;
                                            background-position: center;
                                            background-repeat: no-repeat;
                                        }

                                        .arrow {
                                            height: 0;
                                            width: 0;
                                            border-top: 5px solid transparent;
                                            border-left: 10px solid var(--arrow-border);
                                            border-bottom: 5px solid transparent;
                                            margin: auto 0;
                                        }

                                        .goal {
                                            padding-right: 20px;
                                            &.gilded {
                                                color: var(--fg-goal-complete);
                                                font-size: 1.9em;
                                            }
                                        }

                                        li, li a {
                                            display: inline-flex;
                                            align-items: center;
                                            column-gap: var(--advice-icon-gap);

                                            a {
                                                color: var(--fg);
                                            }
                                        }
                                    }
                                }

                                .show-more {
                                    color: var(--fg-show-more);
                                    display: none;
                                    text-align: center;
                                    background: hsla(0deg, 0%, 100%, 0.4);
                                    margin: 0 10px 10px;
                                    padding: 20px 0;
                                    cursor: pointer;
                                    border-radius: 20px;

                                    &:hover {
                                        background: hsla(0, 0%, 15%, 0.5);
                                    }
                                }
                            }
                        }
                    }
                }

                @each $world in ("pinchy") {
                    ##{$world} {
                        .banner {
                            text-align: center;
                            font-size: 3em;
                            color: var(--#{$world}-fg-banner);
                            padding: 20px;
                            text-shadow: var(--#{$world}-fg-banner-shadow);
                        }
                    }
                }

                @each $world in $worlds {
                    ##{$world} {
                        .table {
                            scrollbar-color: var(--#{$world}-progress-color) transparent;
                        }

                        .progress-box .progress-bar {
                            background: var(--#{$world}-progress-color);
                        }

                        .subheading {
                            background: var(--#{$world}-bg-subheading);

                            .heading-wrapper > span {
                                color: var(--#{$world}-fg-subheading);
                            }
                        }

                        .advice-group {
                            color: var(--#{$world}-fg-advice-group);

                            @each $oddity in ("odd", "even") {
                                &:nth-child(#{$oddity}) {
                                    background-color: var(--#{$world}-bg-advice-group-#{$oddity});

                                    .table::before, .table::after {
                                        --table-edge-bg-to: var(--#{$world}-bg-advice-group-#{$oddity});
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        #buttons-floating {
            position: absolute;
            bottom: 10px;
            right: 10px;
            z-index: 96;

            display: flex;
            flex-direction: row;
            gap: 5px;

            @media (max-width: 600px) {
                flex-direction: column;
                bottom: calc((var(--nav-height) + var(--nav-padding) * 2) + 10px);
            }

            #scroll-to-top, #expand-collapse {
                height: 40px;
                width: 40px;

                display: flex;
                justify-content: center;
                align-items: center;

                border-radius: 50%;
                background-color: teal;

            }

            #expand-collapse::before,
            #expand-collapse::after,
            #scroll-to-top::before {
                content: '';
                height: 10px;
                width: 10px;
                border-top: 2px solid white;
                border-left: 2px solid white;
            }

            #scroll-to-top::before {
                transform: rotate(45deg) translateY(15%) translateX(15%);
            }

            #expand-collapse {
                background-color: #a22a45;
                flex-direction: column-reverse;
                &.closed {
                    flex-direction: column;
                }
                &::after {
                    transform: rotate(-135deg) translateY(2px) translateX(2px);
                }
                &::before {
                    transform: rotate(45deg) translateY(2px) translateX(2px);
                }
            }
        }

        footer {
            font-family: "Open Sans", sans-serif;
            color: oldlace;
            width: 100%;
            margin-top: auto; /*always sticks to the bottom of the page*/
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    }
}

#obtained-greenstacks img {
    filter: saturate(3);
}

#endangered-greenstacks img {
    filter: hue-rotate(-50deg) saturate(3);
}

#missed-greenstacks img {
    filter: hue-rotate(-110deg) saturate(3);
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--bg-scrollbar-thumb);
    border-radius: 10px;
}

@media (max-width: 600px) {
    body .container-fluid .main-wrapper header {
        flex-direction: column;
        #update-time {
            width: unset;

            #elapsed {
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
            #last-update {
                right: unset;
            }
        }
        * {
            flex-direction: column;
            align-items: center;
        }
        #data-source-text {
            display: none;
        }
    }

    .main {
        padding: 0;
    }

    article {
        .banner {
            overflow-x: hidden;
        }

        section {
            .subheading, .advice-group {
                padding-left: 5vw;
                padding-right: 5vw;
            }

            .subheading {
                font-size: 0.8em;

                img {
                    min-width: 60px;
                    height: 60px;
                }
            }

            .advice-group {
                width: 100%;
                font-size: 0.8em;
            }
        }
    }

    footer {
        flex-direction: column;
    }

    ::-webkit-scrollbar {
        width: 0.5vw;
    }
}
@keyframes to-center {
    0% {
        right: 12.5%;
        transform: translateX(12.5%);
    }
    5% {
        right: 25%;
        transform: translateX(25%);
    }
    10% {
        right: 37.5%;
        transform: translateX(37.5%);
    }
    15% {
        right: 50%;
        transform: translateX(50%);
    }
    90% {
        right: 50%;
        transform: translateX(50%);
    }
    95% {
        right: 25%;
        transform: translateX(25%);
    }
    100% {
        right: 0;
        transform: translateX(0%);
    }
}
@keyframes shake {
    0%   { transform: translate(calc(12.5% + 1px), 1px)  rotate(0deg)  scale(110%); position: absolute; right: 12.5%; }
    5%   { transform: translate(calc(25% + -1px), -2px)  rotate(-3deg) scale(130%); position: absolute; right: 25%;   }
    10%  { transform: translate(calc(37.5% + -3px), 0px) rotate(3deg)  scale(170%); position: absolute; right: 37.5%; }
    15%  { transform: translate(calc(50% + 3px), 2px)    rotate(0deg)  scale(200%); position: absolute; right: 50%;   }
    20%  { transform: translate(calc(50% + 1px), -1px)   rotate(3deg)  scale(200%); position: absolute; right: 50%;   }
    25%  { transform: translate(calc(50% + -1px), 2px)   rotate(-3deg) scale(200%); position: absolute; right: 50%;   }
    30%  { transform: translate(calc(50% + -3px), 1px)   rotate(0deg)  scale(200%); position: absolute; right: 50%;   }
    35%  { transform: translate(calc(50% + 3px), 1px)    rotate(-3deg) scale(200%); position: absolute; right: 50%;   }
    40%  { transform: translate(calc(50% + -1px), -1px)  rotate(3deg)  scale(200%); position: absolute; right: 50%;   }
    45%  { transform: translate(calc(50% + 1px), 2px)    rotate(0deg)  scale(200%); position: absolute; right: 50%;   }
    50%  { transform: translate(calc(50% + 1px), -2px)   rotate(-3deg) scale(200%); position: absolute; right: 50%;   }
    55%  { transform: translate(calc(50% + 1px), 1px)    rotate(0deg)  scale(200%); position: absolute; right: 50%;   }
    60%  { transform: translate(calc(50% + -1px), -2px)  rotate(-3deg) scale(200%); position: absolute; right: 50%;   }
    65%  { transform: translate(calc(50% + -3px), 0px)   rotate(3deg)  scale(200%); position: absolute; right: 50%;   }
    70%  { transform: translate(calc(50% + 3px), 2px)    rotate(0deg)  scale(200%); position: absolute; right: 50%;   }
    75%  { transform: translate(calc(50% + 1px), -1px)   rotate(3deg)  scale(200%); position: absolute; right: 50%;   }
    80%  { transform: translate(calc(50% + -1px), 2px)   rotate(-3deg) scale(200%); position: absolute; right: 50%;   }
    85%  { transform: translate(calc(50% + -3px), 1px)   rotate(0deg)  scale(200%); position: absolute; right: 50%;   }
    90%  { transform: translate(calc(50% + 3px), 1px)    rotate(-3deg) scale(200%); position: absolute; right: 37.5%; }
    95%  { transform: translate(calc(25% + -1px), -1px)  rotate(3deg)  scale(150%); position: absolute; right: 25%;   }
    100% { transform: translate(calc(1px), -2px)         rotate(-3deg) scale(100%); position: absolute; right: 12.5%; }
}