name: tests.yml
on: push

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install Venv
      run: |
        python3 -m venv .venv
        source .venv/bin/activate
        pip install --upgrade pip setuptools wheel
        pip install -r mysite/requirements.txt

    - name: Run Tests
      working-directory: mysite
      run: |
        source ../.venv/bin/activate
        make test
